/*
*   Metstudio Default Skin File
*/

//Kuler https://kuler.adobe.com/Firenze-color-theme-24198/edit/?copy=true

$color0:#fff0a5;
$color1:#ffb03b;
$color2:#b64926;
$color3:#8e2800;
$color5:#468966;

/*  Colors  */

$logo-color:#1B432E;

$theme-color:$logo-color;
$theme-path: "../scss/themes/metastudio/";

$page-background:"images/Leonardo_polyhedra.jpg";

/*$theme-color:#3b8050;*/

