{% extends "error_base.html" %}

{% block error_title %} 403 - Forbidden {% endblock %}

{% block error_body_text %}
	<br/>
	<!-- <h2>Sorry, the group you are trying to access is Private!</h2> -->
	<h2>Permission Denied!</h2>
	<br/>
	<h4>
			{% if site.SITE_NAME == "NROER" %}
				<small>
				Please check the URL or navigate back to:
				<blockquote>
					<a href="{% url 'repository' 'home' %}"> Repository </a> | 
					<a href="{% url 'nroer_groups' 'home' 'Partners' %}"> Partners </a> | 
					<a href="{% url 'nroer_groups' 'home' 'Groups' %}"> Groups </a>
				</blockquote>
				</small>
			{% else %}
				You do not have permission to access the link/URL you requested.<br/>
				<a href="javascript:history.back()">Go back</a> or visit our <a href="{% url 'landing_page' %}">homepage</a>
			{% endif %}
	</h4>
{% endblock %}
