# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.py[co]


# C extensions
*.so


# Distribution / packaging / Packages
.Python
env/
bin
build
develop-eggs
dist
eggs
*.egg
*.egg-info
lib/
lib64/
parts
sdist
var
*.egg-info/
.installed.cfg
*.egg


# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Unit test / coverage reports
htmlcov/
.tox
.coverage
.cache
nosetests.xml
coverage.xml


# IDE cruft
.idea


# Translations
*.mo
*.po


# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject


# Django stuff:
*.log
*.pot


# Sphinx documentation
docs/_build/


# emacs tags
TAGS


# Temporary cache files
.sass-cache


stupid_authz_impls
.DS_Store
.gitmodules~


# others / gstudio
local/
include/
rcs-repo/
bower_components/
mathjax/
*.db
*~
wikidata/
*local_settings.py
*server_settings.py
img/
media/


# dlkit
dlkit
dlkit_runtime
qbank-lite