
# deps for Rapidsms
Django>=1.5,<1.6
RapidSMS==0.16.0
#South==0.7.6

#other deps
django-mongokit
django-registration
django-ratings
django-pagination
django-notification
python-magic
pillow
ox
django-passwords
South==0.8.4
django-extensions==1.3.3
django-reversion==1.8.0
gunicorn
markdown
