<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GNOWSYS Node Description Framework </title>
    <link href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.css" rel="stylesheet"> 
    <style>.content {padding-top: 80px;}</style>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <h1><a href="/" class="brand">NDF: Node Description
          Framework</a> </h1>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
<hr>
<center>Powered by Python, Django, MongoDB, GNOWSYS</center>
  </body>
</html>

