{% extends "gstudio_mdb/base.html" %}

{% block page_header %}
  <div class="page-header">
    <h1>{{ node.title }}</h1>
  </div>
{% endblock %}

{% block content %}
  <p>{{ node.description }}<p>
  <p>created by {{ node.author }} {{ node.created_at }}</p>
  <hr>
  <h2>Comments</h2>
  {% if node.comments %}
    {% for comment in node.comments %}

       <p>by <strong>{{ comment.author }}</strong> <small>on {{ comment.created_at }}</small></p>
    <p>  {{ comment.body }} </p></br>
    {% endfor %}
       {% else %}
       <p> No comments posted.  Be the first to comment!</p>

  {% endif %}

       <h2>Add a comment</h2>
       <form action="." method="post">
	 {% include "gstudio_mdb/_forms.html" %}
	 <div class="actions">
	   <input type="submit" class="btn primary" value="comment">
	 </div>
       </form>


{% endblock %}
