/*
*   application.scss - Metstudio app layout stylsheet
*
*   Use this stylesheet for placements, positioning and sizing of elements
*/
@import url("css.css");
/* line 8, ../scss/application.scss */
html, body {
  height: 100%;
}

/* line 12, ../scss/application.scss */
nav h1 img {
  /* Logo */
  height: 1.8rem;
  margin-right: 5px;
}

/* line 17, ../scss/application.scss */
nav h1 a {
  color: white !important;
}

/* line 21, ../scss/application.scss */
body > header {
  position: relative;
}

/* line 26, ../scss/application.scss */
.workspace {
  min-height: 100%;
  margin-bottom: -100px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 34, ../scss/application.scss */
.workspace:after {
  content: "";
  display: block;
  height: 100px;
}

/* line 44, ../scss/application.scss */
body > footer {
  border-top: 6px solid #008759;
  background-color: #222;
  color: #888;
  padding: 20px 0;
  position: relative;
}
/* line 52, ../scss/application.scss */
body > footer a {
  color: #bbb;
}

/* line 58, ../scss/application.scss */
.coll-arrows {
  cursor: pointer;
  display: block;
  padding: 0.5rem;
}
/* line 63, ../scss/application.scss */
.coll-arrows:hover {
  background-color: #D3D3D3;
}

/*************************** 1. Foundation CSS overrides ***********************/
/* Foundation hacks */
/* line 73, ../scss/application.scss */
input[type="checkbox"] + label, input[type="radio"] + label {
  margin: inherit !important;
}

/* Sections */
/* line 82, ../scss/application.scss */
main > aside {
  margin-bottom: 0.5rem;
}

/* line 85, ../scss/application.scss */
main > aside header {
  margin-top: 1rem;
}

/* line 88, ../scss/application.scss */
main > aside a {
  color: #008759;
}

/* line 91, ../scss/application.scss */
main > aside a:hover {
  color: inherit;
}

/* line 95, ../scss/application.scss */
h2:not(.subheader) {
  color: #222;
  font-family: "Georgia Serif", Serif;
  margin: 0;
}

/* line 100, ../scss/application.scss */
h3 {
  font-size: 1.4rem;
}

/* line 104, ../scss/application.scss */
p {
  font-size: 0.9rem;
  line-height: 1.5;
}

/* Off canvas navigation */
/* line 109, ../scss/application.scss */
aside.left-off-canvas-menu {
  background-color: #222;
  color: white;
}

/* line 113, ../scss/application.scss */
a#toggle-shelf {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: black;
  z-index: 10;
}

/* line 120, ../scss/application.scss */
a#toggle-shelf:hover {
  color: black;
}

/* line 123, ../scss/application.scss */
a#toggle-shelf i {
  font-size: 30px;
}

/* line 127, ../scss/application.scss */
.inner-wrap > aside h4 {
  color: white;
  padding: 10px;
}

/* Should be in Foundation */
/* Effects */
/* line 137, ../scss/application.scss */
.drop-shadow {
  -webkit-box-shadow: 2px 2px 4px 1px #333;
  box-shadow: 2px 2px 4px 1px #333;
}

/* line 141, ../scss/application.scss */
.rounded {
  border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* line 145, ../scss/application.scss */
.transition-opacity {
  transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
}

/* Card block */
/* line 153, ../scss/application.scss */
.card > * {
  position: relative;
  background-color: white;
  margin: 2px;
  padding: 10px;
  border: 1px solid #eaeaea;
  display: block;
  color: inherit !important;
  -webkit-box-shadow: 2px 2px 4px 1px #ddd;
  box-shadow: 2px 2px 4px 1px #ddd;
  opacity: 0.8;
  transition: opacity .5s ease-in ease-in;
  -moz-transition: opacity .5s ease-in;
  -webkit-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
}
/* line 169, ../scss/application.scss */
.card > *:hover {
  border: 1px solid #ddd;
  opacity: 1;
}
/* line 173, ../scss/application.scss */
.card > * > i {
  position: absolute;
  top: -12px;
  right: 20px;
  font-size: 4rem;
  color: #eee;
  opacity: 0.4;
}

/* Create card */
/* line 184, ../scss/application.scss */
.create.card > * {
  background-color: #999;
  opacity: 1;
}
/* line 188, ../scss/application.scss */
.create.card > *:hover {
  background-color: #008759;
}

/* line 194, ../scss/application.scss */
.create.card h4 {
  color: white;
}
/* line 197, ../scss/application.scss */
.create.card .button {
  border: 1px solid #00ba7b;
  opacity: 0.5;
}
/* line 201, ../scss/application.scss */
.create.card label {
  color: white;
}
/* line 204, ../scss/application.scss */
.create.card .switch label {
  color: inherit;
}

/* Content Tabs */
/* line 212, ../scss/application.scss */
article .tabs i {
  margin-right: 5px;
  font-size: 1.3rem;
}
/* line 216, ../scss/application.scss */
article .tabs dd.active a {
  color: #222;
  background-color: inherit;
}
/* line 220, ../scss/application.scss */
article .tabs dd a {
  color: #aaa;
  background-color: inherit;
  padding: 0.5rem;
  padding-left: 1rem;
}
/* line 225, ../scss/application.scss */
article .tabs dd a:hover {
  background-color: inherit;
  color: #999;
}

/* line 232, ../scss/application.scss */
.tabs-content > .content {
  padding-top: 0;
}

/* Default card */
/* line 237, ../scss/application.scss */
.card > :hover .label {
  opacity: 1;
}

/* line 242, ../scss/application.scss */
.card header {
  margin-bottom: 0;
}
/* line 245, ../scss/application.scss */
.card .label {
  opacity: 0.5;
}
/* line 248, ../scss/application.scss */
.card h4 {
  font-weight: bold;
  font-size: 1rem;
}
/* line 252, ../scss/application.scss */
.card p {
  font-size: 0.9rem;
}
/* line 255, ../scss/application.scss */
.card .th {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: none;
}
/* line 261, ../scss/application.scss */
.card .th:hover {
  width: 150px;
  height: 150px;
}
/* line 265, ../scss/application.scss */
.card .th img {
  width: 100%;
}
/* line 269, ../scss/application.scss */
.card section {
  background-color: #ddd;
}
/* line 272, ../scss/application.scss */
.card .button {
  opacity: 0.1;
}

/* line 278, ../scss/application.scss */
.gallery .card .th {
  display: block;
}

/* line 282, ../scss/application.scss */
.card > *:hover .button {
  opacity: 1;
  transition: opacity .5s ease-in ease-in;
  -moz-transition: opacity .5s ease-in;
  -webkit-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
}

/* Inline label list */
/* line 291, ../scss/application.scss */
.label {
  font-weight: bold;
  color: orange;
  background-color: inherit;
  border: 1px dotted orange;
  display: inline-block;
}
/* line 296, ../scss/application.scss */
.label:hover {
  background-color: orange;
  color: white;
}

/* line 303, ../scss/application.scss */
.label-list {
  display: inline-block;
  text-align: left;
}

/*************************** 2. Custom CSS overrides ***********************/
/* line 313, ../scss/application.scss */
main aside {
  padding-top: 1rem;
}
/* line 315, ../scss/application.scss */
main aside.fade {
  opacity: 0.8;
}

/* line 321, ../scss/application.scss */
aside > section {
  margin: inherit !important;
  margin-bottom: 5px;
  padding-bottom: 3rem;
}
/* line 325, ../scss/application.scss */
aside > section > div {
  padding: 15px;
}

/* line 331, ../scss/application.scss */
aside .meta i {
  color: #ccc;
}

/* line 332, ../scss/application.scss */
aside:hover .meta i {
  color: black;
}

/* line 334, ../scss/application.scss */
main .button {
  background-color: #008759;
}
/* line 336, ../scss/application.scss */
main .button:hover {
  background-color: #00ba7b;
}

/* Content area */
/* line 343, ../scss/application.scss */
article {
  margin-top: 0.5rem;
  padding-bottom: 4rem;
  background-color: white;
}
/* line 347, ../scss/application.scss */
article header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem !important;
}
/* line 351, ../scss/application.scss */
article footer {
  border-top: 1px dotted #ddd;
}
/* line 354, ../scss/application.scss */
article .breadcrumbs {
  display: none;
  background-color: #eee;
}

/* line 362, ../scss/application.scss */
pre {
  width: 92%;
  overflow: auto;
  margin: 2rem 0;
  border: 1px solid #eee;
  border-left: 1rem solid #eee;
  font: lighter 1.2rem/2rem Monaco;
  background: url("/static/ndf/images/pre.png");
  background-size: 1px 4rem;
  padding-left: 0.5rem;
  font-family: monospace;
}

/* line 375, ../scss/application.scss */
textarea {
  min-height: 6rem;
}

/*
.orgitdown textarea{
	min-height: 15rem!important;
}
#content{
	min-height: 10rem;

}
*/
/* line 387, ../scss/application.scss */
#content > p:first-of-type {
  font-size: 120%;
  line-height: 1.4;
  color: #222;
}

/*************************** 3. Custom CSS Below ***********************/
/* line 394, ../scss/application.scss */
.user {
  color: inherit;
}

/* line 397, ../scss/application.scss */
.user {
  color: inherit;
}

/* line 400, ../scss/application.scss */
.user i {
  padding: 0.2em 0.5em;
  margin-right: 0.4em;
  color: white;
  background-color: #ddd;
  opacity: 0.8;
}

/* line 407, ../scss/application.scss */
.user:hover i {
  opacity: 1;
}

/* line 411, ../scss/application.scss */
a.node {
  display: block;
}

/* line 415, ../scss/application.scss */
a.app {
  overflow: hidden;
}

/* line 418, ../scss/application.scss */
a.app i {
  font-size: 15px;
  color: white;
  margin-right: 8px;
}

/* line 423, ../scss/application.scss */
.button.edit {
  margin-bottom: 0;
}

/* Sidebar Search Results */
/* line 428, ../scss/application.scss */
main .search {
  margin: 0;
}

/* line 431, ../scss/application.scss */
main .search div > * {
  margin: 0;
}

/* line 434, ../scss/application.scss */
#search-results {
  list-style: none;
  margin: 0;
}

/* line 441, ../scss/application.scss */
#search-results a {
  background-color: black;
  padding: 0.5rem;
  display: block;
}

/* line 446, ../scss/application.scss */
#search-results a:hover {
  background-color: #444;
}

/************ Forms **************/
/* Node edit */
/* line 453, ../scss/application.scss */
input.node-title {
  font-size: 3rem;
  height: 4rem;
  display: inline-block;
}

/* view-graph in node_details_base.html */
/* line 460, ../scss/application.scss */
.graph-height {
  height: 70%;
}

/* Splash Page */
/* line 465, ../scss/application.scss */
#splash {
  background-image: url("http://farm3.staticflickr.com/2517/3677733159_2e2c7bec4b_b.jpg");
}

/* line 468, ../scss/application.scss */
#splash > img {
  position: absolute;
}

/****************** CUSTOM *********************/
