/* Foundation hacks */
.row{
	max-width:inherit;/* Expand to full browser width instead of 960px */
}
.top-bar input{	/* Issue filed at github */
	height:auto;
	padding-top:.35rem;
	padding-bottom:.35rem;
}
nav.top-bar .has-dropdown .button{ /* Needs testing */
	top:0;
}

/* Card block */
li.card a{
	margin:2px;
	padding:5px;
	border: 1px solid #eaeaea;
	display: block;
}
li.card a:hover{
	border: 1px solid #ddd;
}
