/*************************** 1. Foundation CSS overrides ***********************/

/* Foundation hacks */
.row{
	max-width:inherit;/* Expand to full browser width instead of 960px */
}
.top-bar input{	/* Issue filed at github */
	height:auto;
	padding-top:.35rem;
	padding-bottom:.35rem;
}
nav.top-bar .has-dropdown .button{ /* Needs testing */
	top:0;
}

p{
	margin-bottom: 1.25rem;
}

/* End Foundation hacks */

/* Theme */
.top-bar{
	background-color: #1d293f;
}
.top-bar-section li:not(.has-form) a:not(.button){
	background-color: #1d293f;
}
.top-bar-section li:not(.has-form) a:not(.button):hover{
	background-color: #253544;
}
.top-bar-section .has-form{
	background-color: #1d293f;
}

/*************************** 2. Custom CSS overrides ***********************/

main>aside{
	padding-top: 1rem;
}
aside>section{
	margin-bottom:5px;
	border: 1px solid #e0e0e0;
	background-color: #f9f9f9;
	
}

aside>section>div{
	padding: 15px;
}

pre{
	width:92%;
	overflow: auto;
	margin 2rem 0;
	border: 1px solid #eee;
	border-left: 1rem solid #eee;
	font: lighter 1.2rem/2rem Monaco;
	background: url('/static/ndf/images/pre.png');
	background-size:1px 4rem;
	padding-left:0.5rem;
}

/*************************** 3. Custom CSS Below ***********************/






/* Card block */
li.card a{
	margin:2px;
	padding:5px;
	border: 1px solid #eaeaea;
	display: block;
}
li.card a:hover{
	border: 1px solid #ddd;
}
