/*************************** 1. Foundation CSS overrides ***********************/

/* Foundation hacks */

.row{
	max-width:inherit;/* Expand to full browser width instead of 960px */
}
.top-bar input{	/* Issue filed at github */
	height:auto;
	padding-top:.35rem;
	padding-bottom:.35rem;
}
nav.top-bar .has-dropdown .button{ /* Needs testing */
	top:0;
}

p{
	margin-bottom: 1.25rem;
}

input[type="checkbox"] + label, input[type="radio"] + label{
	margin: inherit!important;
}


/* Theme */
header{
}
.top-bar,.top-bar-section ul,body>header{
	background-color: #222;
}
.top-bar-section li:not(.has-form) a{
	background-color: #222!important;
}
.top-bar-section .has-form{
	background-color: #222;
}


.top-bar-section a.app.active-menu{
	/* Active App */
	background-color: #008759!important;
	font-weight: bold;
	color:white;
	opacity:1;
	border-bottom: 1px solid gray;
	margin-bottom: -1px;
}
.top-bar-section a.app:hover{
	color:white;
	opacity:1;
}
.top-bar-section a.app{ 
	/* Apps */
	opacity:0.7;
	background-color: inherit;
	top:0;
}
.top-bar-section li.group a.active-menu{ 
	/* Active group */
	background-color: #154534!important;
	font-weight: bold!important;
}
.top-bar-section li:not(.has-form) a:hover{
	/* Top bar hover */
	background-color: #008759!important;
}

main>aside{
	margin-bottom: 0.5rem;
}
main>aside header{
	margin-top: 1rem;
}
main>aside a{
	color: #008759;
}
main>aside a:hover{
	color: inherit;
}

h2{
	color: black;
	margin-top:1rem;
	padding-bottom: 8px;
}

/* Off canvas navigation */
aside.left-off-canvas-menu{
	background-color: #222;
}
a.right-off-canvas-toggle{
	color: black;
	position: absolute;
	z-index: 1000;
	right: 10px;
	top:28px;
}
a.right-off-canvas-toggle:hover{
	color: white;
}
a.right-off-canvas-toggle i{
	font-size: 30px;
}

.inner-wrap>aside h4{
	color: white;
	padding:10px;
}

/* Content Tabs */
header .tabs{
}
.tabs i{
	margin-right: 5px;
	font-size: 1.3rem;
}
header .tabs dd a{
	background-color: inherit ;
	color: white;
	padding-top: 0.5rem;
	padding-bottom: 0.8rem;
}
header .tabs dd a:hover{
	background-color: #008759 ;
}
header .tabs dd.active a{
	background-color: #008759;
}

/* Should be in Foundation */

/* Card block */
.card>*{
	position: relative;
	background-color: white;
	margin:2px;
	padding:10px;
	border: 1px solid #eaeaea;
	display: block;
	color:inherit!important;
	-webkit-box-shadow: 2px 2px 4px 1px #ddd;
	box-shadow: 2px 2px 4px 1px #ddd;
	opacity:0.8;
	transition: opacity .5s ease-in ease-in;
	-moz-transition: opacity .5s ease-in;
	-webkit-transition: opacity .5s ease-in;
	-o-transition: opacity .5s ease-in;

}
.card>*:hover{
	border: 1px solid #ddd;
	opacity:1;
}
/* Create card */
.create.card>*{
	background-color: #999;
	opacity:1;
}
.create.card>*:hover{
	background-color: #008759;
}
.create.card h4{
	color:white;
}
.create.card .button{
	border:1px solid #00ba7b;
}
.create.card label{
	color:white;
}
.create.card .switch label{
	color:inherit;
}

/* Default card */
.card header{
	text-align: center;
}
.card h4{
	word-break:break-all;
	font-weight: bold;
}
.card .th{
	margin:30px auto;
	width:80px;
	height: 80px;
	overflow: hidden;
	display: block;

}
.card .th:hover{
	width: 150px;
	height: 150px;
}
.card .th img{
	width: 100%;
}
.card section{
	background-color: #ddd;
}
.card .button{
	opacity:0.1;
}
.card.create .button{
	opacity:0.5;
}
.card>*:hover .button{
	opacity:1;
	transition: opacity .5s ease-in ease-in;
	-moz-transition: opacity .5s ease-in;
	-webkit-transition: opacity .5s ease-in;
	-o-transition: opacity .5s ease-in;
}
/* Card icons */
.card>*>i{
	position: absolute;
	top: -12px;
	right: 20px;
	font-size: 4rem;
	color:#eee;
	opacity: 0.4;
}
/* Inline label list */
.label{
	background-color: #aaa;
	border-left:1px solid #999;
}
.label:hover{
	background-color: #999;
}

.label-list{
	text-align: left;
}

.card .label{
	opacity:0.5;
}
.card>:hover .label{
	opacity:1;
}

/*************************** 2. Custom CSS overrides ***********************/

main>aside{
	padding-top: 1rem;
}
aside>section{
	margin:inherit!important;
	margin-bottom:5px;
	background-color: #003b27;
	-webkit-box-shadow: 2px 2px 4px 1px #bbb;
	box-shadow: 2px 2px 4px 1px #bbb;
	color:white;
}

aside>section>div{
	padding: 15px;
}

aside>section h3,aside>section h4,aside>section h5 {
	color:white;
}

main .button{
	background-color:#008759 ;
}
main .button:hover{
	background-color:#00ba7b ;
}

/* Content area */
article{
	margin-top: 1rem;
	background-color: #f5f5f5;
	border:solid 1px #ddd;
	padding-bottom: 20px; 
}

article>header{
	/* Using http://www.colorzilla.com/gradient-editor/ */
	background: #003b27; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #003b27 0%, #005700 49%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#003b27), color-stop(49%,#005700)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #003b27 0%,#005700 49%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #003b27 0%,#005700 49%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #003b27 0%,#005700 49%); /* IE10+ */
	background: linear-gradient(135deg, #003b27 0%,#005700 49%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003b27', endColorstr='#005700',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	border-bottom: 4px solid #008759;
	color:white;
	margin-bottom:2rem!important;
}

article>header h2{
	color: white;
	margin-top:1rem;
	padding-bottom: 8px;
	background-color: rgba(0,0,0,0.2);
}

pre{
	width:92%;
	overflow: auto;
	margin 2rem 0;
	border: 1px solid #eee;
	border-left: 1rem solid #eee;
	font: lighter 1.2rem/2rem Monaco;
	background: url('/static/ndf/images/pre.png');
	background-size:1px 4rem;
	padding-left:0.5rem;
}

textarea{
	min-height: 6rem;
}

/*************************** 3. Custom CSS Below ***********************/


.user i{
	padding: 0.2em 0.5em;
	margin-right:0.4em;
	color:white;
	background-color:#ddd;
}

a.node{
	display:block;
}

a.app{
	overflow: hidden;
}
a.app i{
	font-size:15px;
	color:white;
	margin-right:8px;
}


