/*************************** 1. Foundation CSS overrides ***********************/

/* Foundation hacks */

.row{
	max-width:inherit;/* Expand to full browser width instead of 960px */
}
.top-bar input{	/* Issue filed at github */
	height:auto;
	padding-top:.35rem;
	padding-bottom:.35rem;
}
nav.top-bar .has-dropdown .button{ /* Needs testing */
	top:0;
}

p{
	margin-bottom: 1.25rem;
}

input[type="checkbox"] + label, input[type="radio"] + label{
	margin: inherit!important;
}


/* Theme */
header{
}
.top-bar,.top-bar-section ul,header{
	background-color: #222;
}
.top-bar-section li:not(.has-form) a{
	background-color: #222!important;
}
.top-bar-section .has-form{
	background-color: #222;
}


.top-bar-section a.app.active-menu{
	/* Active App */
	background-color: #008759!important;
	font-weight: bold;
	color:white;
	opacity:1;
	border-bottom: 1px solid gray;
	margin-bottom: -1px;
}
.top-bar-section a.app:hover{
	color:white;
	opacity:1;
}
.top-bar-section a.app{ 
	/* Apps */
	opacity:0.7;
	background-color: inherit;
	top:0;
}
.top-bar-section li.group a.active-menu{ 
	/* Active group */
	background-color: #154534!important;
	font-weight: bold!important;
}
.top-bar-section li:not(.has-form) a:hover{
	/* Top bar hover */
	background-color: #008759!important;
}

main>aside{
	margin-bottom: 0.5rem;
}
main>aside a{
	color: #008759;
}
main>aside a:hover{
	color: inherit;
}

h2{
	color: black;
	margin-top:1rem;
	padding-bottom: 8px;
}

/* Off canvas navigation */
aside.left-off-canvas-menu{
	background-color: #222;
}
a.right-off-canvas-toggle{
	color: black;
	position: absolute;
	z-index: 1000;
	right: 10px;
	top:20px;
}
a.right-off-canvas-toggle i{
	font-size: 30px;
}
.inner-wrap>aside h4{
	color: white;
	padding:10px;
}

/*************************** 2. Custom CSS overrides ***********************/

main>aside{
	padding-top: 1rem;
}
aside>section{
	margin:inherit!important;
	margin-bottom:5px;
	background-color: #003b27;
	-webkit-box-shadow: 2px 2px 4px 1px #bbb;
	box-shadow: 2px 2px 4px 1px #bbb;
	color:white;
}

aside>section>div{
	padding: 15px;
}

aside>section h3,aside>section h4,aside>section h5 {
	color:white;
}

main .button{
	background-color:#008759 ;
}
main .button:hover{
	background-color:#00ba7b ;
}

/* Content area */
article{
	margin-top: 1rem;
	background-color: #f9f9f9;
	border:solid 1px #ddd;
	padding-bottom: 20px; 
}

main header{
	/* Using http://www.colorzilla.com/gradient-editor/ */
	background: #003b27; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #003b27 0%, #005700 49%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#003b27), color-stop(49%,#005700)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #003b27 0%,#005700 49%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #003b27 0%,#005700 49%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #003b27 0%,#005700 49%); /* IE10+ */
	background: linear-gradient(135deg, #003b27 0%,#005700 49%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003b27', endColorstr='#005700',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	border-bottom: 4px solid #008759;
	color:white;
	margin-bottom:2rem!important;
}

main header h2{
	color: white;
	margin-top:1rem;
	padding-bottom: 8px;
	background-color: rgba(0,0,0,0.2);
}

pre{
	width:92%;
	overflow: auto;
	margin 2rem 0;
	border: 1px solid #eee;
	border-left: 1rem solid #eee;
	font: lighter 1.2rem/2rem Monaco;
	background: url('/static/ndf/images/pre.png');
	background-size:1px 4rem;
	padding-left:0.5rem;
}

/*************************** 3. Custom CSS Below ***********************/


a.user i{
	padding: 2px 5px;
	margin-right:6px;
	color:white;
	background-color:#ddd;
}

a.node{
	display:block;
}

a.app{
	overflow: hidden;
}
a.app i{
	font-size:15px;
	color:white;
	margin-right:8px;
}


/* Card block */
li.card a{
	background-color: white;
	margin:2px;
	padding:5px;
	border: 1px solid #eaeaea;
	display: block;
	color:inherit;
	-webkit-box-shadow: 2px 2px 4px 1px #ddd;
	box-shadow: 2px 2px 4px 1px #ddd;
	opacity:0.8;
}
li.card a:hover{
	border: 1px solid #ddd;
	opacity:1;
}
