/* Open Sans @font-face */

/* BEGIN Regular */
@font-face {

	font-family: 'Open Sans';
	src: url('/static/ndf/bower_components/open-sans-fontface/fonts/Regular/OpenSans-Regular.eot');
	src: url('/static/ndf/bower_components/open-sans-fontface/fonts/Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
	url('/static/ndf/bower_components/open-sans-fontface/fonts/Regular/OpenSans-Regular.woff') format('woff'),
	url('/static/ndf/bower_components/open-sans-fontface/fonts/Regular/OpenSans-Regular.ttf') format('truetype'),
	url('/static/ndf/bower_components/open-sans-fontface/fonts/Regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
	
}
/* END Regular */
