:root {
  --primary-theme: #713558;
}


.vjs-skin-colors-clix {
  color: #fff;
}
.vjs-skin-colors-clix .vjs-control-bar {
  background-color: hsla(316, 88%, 26%, 1);
}
.vjs-skin-colors-clix .vjs-big-play-button{
  text-align: center;
  position: absolute;
  left: 40%;
  top: 50%;
}
.vjs-skin-colors-clix .vjs-big-play-button,
.vjs-skin-colors-clix .vjs-menu-content {
  background-color: var(--primary-theme);
}
.vjs-skin-colors-clix .vjs-load-progress {
  background-color: var(--primary-theme);
}
.vjs-skin-colors-clix .vjs-play-progress {
  background-color: var(--primary-theme);
}
.vjs-skin-colors-clix .vjs-slider {
  background-color: var(--primary-theme);
}
.vjs-skin-colors-clix .vjs-volume-level {
  background-color: var(--primary-theme);
}
.vjs-skin-colors-clix .vjs-big-play-button,
.vjs-skin-colors-clix .vjs-big-play-button:focus,
.vjs-skin-colors-clix:hover .vjs-big-play-button {
  border-color: #fff;
}
.vjs-skin-colors-clix:hover .vjs-big-play-button {
  background: radial-gradient(var(--primary-theme), var(--primary-theme));
}
.vjs-skin-colors-clix .vjs-menu-button ul li {
  background-color: rgba(var(--primary-theme), 3);
  color: #fff;
  font-family: 'open_sansregular', Arial, sans-serif;
}
.vjs-skin-colors-clix .vjs-menu-button ul li.vjs-selected {
  background: radial-gradient(var(--primary-theme), var(--primary-theme));
  color: #fff;
}
.vjs-skin-colors-clix .vjs-menu-button ul li:focus,
.vjs-skin-colors-clix .vjs-menu-button ul li:hover,
.vjs-skin-colors-clix .vjs-menu-button ul li.vjs-selected:focus,
.vjs-skin-colors-clix .vjs-menu-button ul li.vjs-selected:hover {
  background: radial-gradient(var(--primary-theme), var(--primary-theme));
}
.vjs-skin-colors-clix .vjs-menu-button ul li:active,
.vjs-skin-colors-clix .vjs-menu-button ul li.vjs-selected:active {
  background: radial-gradient(var(--primary-theme), var(--primary-theme));
}

::cue {
  font-size: 1.5em;
  line-height: 1.8;
}
io