/*
*   CLIx Default Skin File
*/

//Kuler https://kuler.adobe.com/Firenze-color-theme-24198/edit/?copy=true

//$color0:#fff0a5;
//$color1:#ffb03b;
//$color2:#b64926;
//$color3:#8e2800;
//$color5:#468966;

/*  Colors  */

//$logo-color:#1c5c31;

//$theme-color:#6153ae; /* Something dark */
//$highlight-color:#FF980D; /* Something bright */

$primary-blue: #2e3f51;
$secondary-blue: #acd4fa;
$tertiary-blue: #719dc7;
$primary-orange: #ce7869;
$secondary-orange: #ffc14e;
$primary-black: #222;
$secondary-black: #aaa;
$theme-orange: #ffb732;
$theme-pink: #700052;
