{% extends "ndf/gbase.html" %}
{% load i18n %}

{% block title %} {{lesson_node.name}}  {% endblock %}

{% load ndf_tags %}

{% block body_content %}

<style type="text/css">
  .disabled , .disabled i {
    color:grey !important;
  }
</style>
<div class="activity_player_secondary_header activity_player_header">
        <div class="header_icon_block back_button">
            <a href="{% url 'course_content' group_id  %}"><i class="fa fa-angle-left header_icon"></i></a>
        </div>
        <div class="header_title header_text_block">
            {{group_name}}
        </div>
        <div class="new_note header_text_block">
            <a href="{% url 'page_create_edit' group_name %}?course_event_id={{group_id}}&blog_type=True">
                <i class="fa fa-edit header_icon"></i>&nbsp;
                WRITE A NEW NOTE
            </a>
        </div>
        <div class="pagination prev_button header_text_block">
            
              <a {% if resource_prev_id %} href="{% url 'activity_player_detail' group_id lesson_node.pk resource_prev_id %}" {% else %} class = "disabled"{% endif %}> 
                  <i class="fa fa-angle-left header_icon"></i> PREV
              </a>
            
        </div>
        <div class="pagination page_count header_text_block">
            {{resource_index|add:'1'}} OF {{lesson_node.collection_set|length}}
        </div>
        <div class="pagination page_count header_text_block">
              <a {% if resource_next_id %}  href="{% url 'activity_player_detail' group_id lesson_node.pk resource_next_id %}" {% else %} class = "disabled" {% endif %}>
                  NEXT <i class="fa fa-angle-right header_icon"></i>
              </a>
            
        </div>
</div>

<div class="row activity_sheet">
    <div class="small-12 columns">
        <div class="course_editor ">
          <div class="small-2 columns">
            <div class="course_tree">
              <div class="lesson-title" title="{{lesson_node.name}}">
                  <b>{{lesson_node.name}}</b>
              </div>
              <div class="activity-title">
              {% for each in unit_resources_list_of_dict %}
                 <li  {% if each.pk == node.pk %} class="active" {% endif %}> <a href="{% url 'activity_player_detail' group_id lesson_node.pk each.pk %}">{{each.name}}</a></li>
              {% endfor %}
              </div>
              </div>
          </div>
          <div class="small-9 columns">
            <div class="course_editor_section">
              <div class="input_links row">
              {% for each in node.relation_set %}
                {% if "has_help" in each %}
                  <button type="button" class="orange-button student-page right"> Student Help</button>
                {% endif %}
                {% if "has_admin_page" in each %}
                  <button type="button" class="orange-button admin-page right"> Teacher's Help</button>
                {% endif  %}
              {% endfor %}
              {% if node.player_discussion_enable %}
                <button type="button" class="orange-button discuss right"> Discuss</button>
              {% endif %}
              <button type="button" class="orange-button translate right"> Translate</button>

              </div>
              <div class="activity_page_rendered">
                {# {{node.content|safe}} #}
                {% include "ndf/node_ajax_content.html" with node=node  hide_breadcrumbs=True %}
              </div>

                {% if node.player_discussion_enable %}
                  {% get_thread_node node.pk as thread_node %}  
                    {% if thread_node %}
                        {% get_disc_replies thread_node group_id global_disc_all_replies as all_replies %}
                        {% get_node thread_node as thread_node_obj %}
                        {% include 'ndf/in-line-texteditor.html' with node=thread_node_obj var_name="content_org" ckeditor_toolbar="BasicToolbar" %}
                    {% else %}
                        {% get_disc_replies node.pk group_id global_disc_all_replies as all_replies %}
                        {% include 'ndf/in-line-texteditor.html' with var_name="content_org" ckeditor_toolbar="BasicToolbar" %}
                    {% endif %}
                {% endif %}
              
              <div id="info-page-area">
                
              </div>
            </div>
          </div>
        </div>
      </div>
</div>             

<script type="text/javascript">
  $(".admin-page").click(function(event){
          $.ajax({
                      type: "POST",
                      url: "{% url 'get_info_pages' group_id %}",
                      datatype: "html",
                      data:{
                        'csrfmiddlewaretoken': "{{csrf_token}}",
                        'node_id':'{{node.pk}}',
                        'page_type':'has_admin_page'

                      },
                        success: function(data) {
                        // $('#info-page-area').html(data);
                        parent = $("#info-page-area");
                        parent.html(data);
                        $('html,body').animate({scrollTop: $("#info-page-area").offset().top},'slow');
                      }
                    });
      });
  
  $(".student-page").click(function(event){
          $.ajax({
                      type: "POST",
                      url: "{% url 'get_info_pages' group_id %}",
                      datatype: "html",
                      data:{
                        'csrfmiddlewaretoken': "{{csrf_token}}",
                        'node_id':'{{node.pk}}',
                        'page_type':'has_help'

                      },
                        success: function(data) {
                        // $('#info-page-area').html(data);
                        parent = $("#info-page-area");
                        parent.html(data);
                        $('html,body').animate({scrollTop: $("#info-page-area").offset().top},'slow');

                      }
                    });
      });
  
  $(".discuss").click(function(event){
          $('html,body').animate({
                    scrollTop: $(".create-discussion").offset().top},
                    'slow');
      });
  
  $("#create-discussion").click(function(event){
           setTimeout(function(){  $('html,body').animate({
                    scrollTop: $(".post-btn-div").offset().top},
                    'slow'); }, 1000);
          
      });
  
</script>
{% endblock %}
