{% load ndf_tags %}
{% load i18n %}
<!-- ///////////////////////////////////////////////////////////////////////////////////////// -->

{% block title %}{% endblock %}

<!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
{% block head %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title></title>
    <link rel="stylesheet" href="index.css" type="text/css">
    <!-- Load Aloha Editor css and js -->
    <link rel="stylesheet" href="/static/ndf/bower_components/aloha-editor/src/css/aloha.css" type="text/css">
    <script src="/static/ndf/bower_components/aloha-editor/src/lib/vendor/jquery-1.7.2.js"></script>

    <script src="/static/ndf/bower_components/aloha-editor/src/lib/require.js"></script>
    <script src="/static/ndf/bower_components/aloha-editor/src/lib/aloha.js"
      data-aloha-plugins="common/ui,common/table,common/format,common/highlighteditables, common/characterpicker, common/link"></script>
{% endblock %}

{% block body_content %}
 {% if node_id %}
    <div id="main">
      <textarea id="{{node_id}}" class="small-12 columns" name="{{var_name}}" placeholder="{{var_placeholder}}" value="{{var_value}}">{{var_value}}</textarea>
    </div>

<script type="text/javascript">
        Aloha.ready( function() {
        Aloha.jQuery("#{{node_id}}").aloha();
	
    });
    </script>
{% else %}
   <div id="main">
     <textarea id="orgitdown_{{var_name}}" class="small-12 columns orgedit" name="{{var_name}}" placeholder="{{var_placeholder}}" value="{{var_value}}">{{var_value}}</textarea>
    </div>

<script type="text/javascript">
        Aloha.ready( function() {
        Aloha.jQuery("#orgitdown_{{var_name}}").aloha();
	
    });
    </script>
{% endif %}

{% endblock%}

