{% load i18n %}
{% load ndf_tags %}
{% check_is_gstaff group_id request.user as is_gstaff %}
{% block head %}
    <style type="text/css">
    .right-btn, .left-btn{
        /*float: left;*/
        /*margin-left: 1rem;*/
        width: 40%;
        font-size: 0.85em !important;
        margin-top: 0.1rem !important;
        text-align: center;
    }

</style>
{% endblock %}
   

    <div class="row overlay-head">
        {% if edit or not asset_obj.name %}
            <a class="right close-reveal-modal reveal-modal-overlay" aria-label="Close">&#215;</a>
        {% endif %}
        <div class="small-9 columns">
            {% if not edit and asset_obj.name %}
                {% if asset_obj.created_by == request.user.id or is_gstaff %}

                <p class="left">{{asset_obj.name}}</p>



                {% if asset_obj.tags %}
                    {% for tag in asset_obj.tags %}
                            <small><label class="tag-ele">
                        <a href="{% url 'tag_info' group_id tag %}">{{tag}} </a></label></small>
                    {% endfor %} 
                {% else %}
                    <i><small><label>{% trans "No tags defined yet!" %}</label></small></i>
                {% endif %}
                

               <i><p style="color: gray">{{asset_obj.content|safe|striptags}} </p></i>      

                {% endif %}
            {% else %}
                <h3 class="left overlay-title">&nbsp;{% if not asset_obj %} Add a new {% else %} Edit {% endif %} asset</h3>
                <button type="button" class="right blue-white-button save-asset" data-asset_id='{{asset_obj.pk}}'>Save Asset</button>
            {% endif %}
        </div>
        {% if not edit and asset_obj %}
            <div class="small-3 columns">
                <span data-dropdown="asset-settings-drop" aria-controls="asset-settings-drop" aria-expanded="false" class="fi-pencil large right">
                    
                </span>
                <ul id="asset-settings-drop" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
                <li> <a class="createAsset" data-asset_id='{{asset_obj.pk}}'>Edit</a></li>
                <li><a class="edit-metadata">Edit Metadata</a></li>
                <li>
                    {% if asset_obj %}
                        {% get_relation_node asset_obj.pk  'has_assetcontent' as asset_cont_grel %}
                        {% if not asset_cont_grel %}
                        <a class="delete-asset">Delete Asset</a>
                        {% endif  %}
                    {% endif  %}
                </li>
            </div>
        {% endif%}
    </div>
    <hr/>
        <div class="row">
            <div class="small-12 medium-6 large-6 columns">
                <label>
                    {% if edit or not asset_obj %}
                       Asset name *
                       <input type="text" placeholder="" class="required" id = "asset-name" name="asset_name" value="{% if asset_obj %} {{asset_obj.name}}{% endif %}"/>
                    {% endif %}

                </label>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-12 large-12 columns">
                    <label>
                        {% if edit or not asset_obj %}
                            Asset description *
                            </label>
                            <textarea rows="4" cols="2" class="small-12 columns" placeholder="Enter Description" id="asset-descid" value=''>{% if asset_obj %} {{asset_obj.content|safe|striptags}}{% endif %}</textarea>
                            {% include 'ndf/widget_tags.html' with node=asset_obj %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            <select class="asset-lang" name="lan" id="asset_lang" >
                                {% for language in languages %}
                                {% if asset_obj.language.0 == language.code  %}
                                    <option selected data-sub-lang="{{ language.name }}" data-sub-code="{{ language.code }}">
                                    {{language.name}}
                                {%  else %}
                                    <option data-sub-lang="{{ language.name }}" data-sub-code="{{ language.code }}">
                                      {{ language.name }}
                                    </option>
                                {% endif %}
                                {% endfor %}
                            </select>

                {% endif %}

            </div>
        </div>
    


    <div class="asset-content-area"{% if not asset_obj %} style="display:none"{% endif %}>
        {% if not edit %}
        <div class="row">
            {% if asset_obj.created_by == request.user.id or is_gstaff %}
        </div>

        <div class="name-desc-asset-cont-area hide">

            <div class="row">
                <div class="small-8 medium-6 large-6 columns">
                    <label>Enter File Name *
                        <input type="text" placeholder="Enter File name" class="required" id = "asset_content_name" name="" style="padding-bottom: 10px;margin-bottom: 31px;"/>
                    </label>
                    <form class="dropzone" id ="docPost" enctype="multipart/form-data" method="post" action="{% url 'add_assetcontent' group_id %}" style="margin-left: -13px;width: 429px;" >
                        <input type="file" id="docFile" class="asset_content_upload" placeholder="" name=""/>
                    </form>

                </div>
                <div class="small-8 medium-6 large-6 columns">
                <label>Enter File Description *<br/>
                    <textarea rows="6" cols="2" class="small-12 columns" placeholder="Enter File Description" id="asset_content_desc"></textarea>
                </label>
                    <button type="button" class="orange-button right" id="upload_asset" onclick="save_form()" style="margin-right: -3px;">Upload</button>

                </div>
            </div>

        </div>
        <!--<button type="button" class="right orange-button save-asset" onclick="save_asset_cont_data()">Save Asset</button>-->
        <input type="hidden" name="context_name" value="{{title}}">
        <input type="hidden" class ="asset_obj_val" name="asset_obj_name" data-asset-obj-val="">

        <button type="button" class="orange-button add-asset-content right">Add Files</button>
        {% if asset_content_list.grel_id %}
        <div class="row">
            <button type="button" class="orange-button delete-asset-content right" title="Click on the checkbox on the files below to Delete">Delete Files</button>
        </div>
        {% endif %}
        {% endif %}

        <hr/>


        <div class="row">
        {% for each in asset_content_list.grel_node %}
            {% if  'DELETED' != each.status %}
            <div class="small-12 medium-6 large-3 columns">

                <div class="asset_tile">
                    <div class="asset_preview">
                    <a href="{% url 'assetcontent_detail' group_id asset_obj.pk each.pk %}" title="{{each.name}}">
                        {% if each.if_file.mid.relurl and 'video' not in each.if_file.mime_type %}
                        <img src="{{MEDIA_URL}}{{each.if_file.mid.relurl}}">
                        {% elif  each.if_file.thumbnail.relurl %}
                        <img src="{{MEDIA_URL}}{{each.if_file.thumbnail.relurl}}">
                        {% else %}
                        <img src="/static/ndf/images/asset_thumbnail.png">
                        {% endif %}
                    </div>
                    <div class="asset_text">
                        <div class="asset_title" style="color: #2e3f51">{{each.name|truncatechars:35}}
                        {% if user.is_authenticated  and not group_object.edit_policy == "NON_EDITABLE"  or gstaff_access %}
                        <input type="checkbox" class="filenode" name="filenode" value="{{each.pk}}" style="margin-top:6px; margin-right: 2px; float:right;" class="asset_content_checkbox">
                        {% endif %}
                        <div class="asset_desc">{{each.content|truncatechars:35}}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        </div>
        <hr />
        <div class="row">
          {% if node %}
           &nbsp; {% include "ndf/asset_content_detail.html" with node=node %}
        {%  endif %}
        </div>
    </div>
    <div class="row asset-comments-section">
      <div class="columns small-10 " id="view-discussion">
            <!-- discussion content area -->
            {% get_thread_node asset_obj.pk as thread_node %}
            {% if thread_node and "QuizItemEvent" not in asset_obj.member_of_names_list %}
                {% get_disc_replies thread_node group_id global_disc_all_replies as all_replies %}
                {% get_node thread_node as thread_node_obj %}
                {% include 'ndf/in-line-texteditor.html' with node=thread_node_obj var_name="content_org" allow_to_comment=True ckeditor_toolbar="BasicToolbar" %}
            {% endif %}

            <!-- END of discussion content area -->
      </div>
    </div>
    {% endif %}


<script type="text/javascript">

    $(".add-asset-content").click(function(){
        alert("close")
        $(".asset-content-area").removeClass("hide")
        $(".name-desc-asset-cont-area").removeClass("hide")

        $("#upload_asset").removeClass("hide")
    });

    $(".delete-asset-content").click(function(){
        var checked = $('.filenode:checked').length;
        if (checked > 0){

            if (confirm("Do you want to delete selected files?.") == true) {
                coll_arr = []
                $('.filenode:checked').each(function() {
                    coll_arr.push($(this).val());
                });

                $.ajax({
                          type: "POST",
                          data:{
                                'csrfmiddlewaretoken': "{{csrf_token}}",
                                'delete_files_list' : coll_arr,
                                'delete_asset_content' : 'True'
                            },
                          url: "{% url 'delete_asset' group_id %}",
                          datatype: "html",
                          success: function(data) {
                            {% if asset_obj %}
                                location.href = "{% url 'asset_detail' group_id asset_obj.pk %}";
                            {% endif %}
                        }
                    });

                }
        }
        else{
            alert("Choose atleast one file");
        }


    });
    $(".delete-asset").click(function(){
        
        $.ajax({
                  type: "POST",
                  data:{
                        'csrfmiddlewaretoken': "{{csrf_token}}",
                        'delete_asset':'True',
                        'asset_id':'{{asset_obj.pk}}',
                        'asset_id':'{{asset_obj.pk}}',
                        'group_id':'{{group_id}}',
                    },
                  url: "{% url 'delete_asset' group_id %}",
                  datatype: "html",
                  success: function(data) {
                        location.href = "{% url 'asset_list' group_id  %}";
                }
            });

    });

    // $('.save-asset').attr('disabled',true);
    $('#upload_asset').attr('disabled',true);

    $('#asset_content_name').keyup(function(){
        if($(this).val().length !=0 )
            $('#upload_asset').attr('disabled', false);
        else
            $('#upload_asset').attr('disabled',true);
    })

    // $('#asset-name').keyup(function(){
    //     if($(this).val().length !=0 && $('#asset-descid').val().length !=0)
    //         $('.save-asset').attr('disabled', false);
    //     else
    //         $('.save-asset').attr('disabled',true);
    // })

    // $('#asset-descid').keyup(function(){
    //     if($(this).val().length !=0 &&  $('#asset-name').val().length !=0)
    //         $('.save-asset').attr('disabled', false);
    //     else
    //         $('.save-asset').attr('disabled',true);
    // })
    $( ".save-asset" ).click(function(event) {
        updateAllTags();
        var tagsStr = tags.value.trim();
        if(checkTag())
        {
            $("input:hidden[name='tags']").val($("input:hidden[name='tags']").val() + ', ' + tagsStr);
        }
        else if(tagsStr)
        {
            event.preventDefault();
        }
        sel_tags = $("input:hidden[name='tags']").val()
        sel_asset_lang =  $('#asset_lang').find(':selected').attr('data-sub-code');
        asset_name = $("#asset-name").val();
        asset_description = $("#asset-descid").val();
        var asset_id = $(this).attr('data-asset_id');
        console.log(asset_description)
        console.log(asset_name)
        if (asset_name != '' && asset_description != ''){
            // asset_objective =  $('#asset_objectivesid').find(':selected').attr('value');
            $.ajax({
                  type: "POST",
                  data:{
                        'csrfmiddlewaretoken': "{{csrf_token}}",
                        "asset_name":asset_name,
                        "asset_description":asset_description,
                        "node_id": asset_id,
                        "sel_tags":sel_tags,
                        "sel_asset_lang":sel_asset_lang
                        // "asset_objective":asset_objective
                    },
                  url: "{% url 'create_edit_asset' group_id %}",
                  datatype: "html",
                  success: function(data) {
                    // $('#addAsset').html(data);
                    // $('#addAsset').foundation('reveal', 'open');
                    $('.save-asset').css('display', 'none')
                    $('.asset-content-area').css('display', 'block')
                    $('.asset_obj_val').attr('data-asset-obj-val',data);
                }
            });

        }
        else{
            console.log("else")
            console.log(asset_name)
            console.log(asset_description)
            event.preventDefault()
        }
        $('#addAsset').foundation('reveal', 'close');
        location.reload()
    });

</script>
<script type="text/javascript">
  var form = document.getElementById('docPost');
  var fileSelect = document.getElementById('docFile');
  // var uploadButton = document.getElementById('submitpostid');
        function save_form(event) {
        $.blockUI();
        assetval = $('.asset_obj_val').attr('data-asset-obj-val');
        asset_cont_name = $('#asset_content_name').val();
        asset_cont_desc = $('#asset_content_desc').val();
        // Update button text.
        // uploadButton.innerHTML = 'Uploading...';

        // Get the selected files from the input.
        var files = fileSelect.files;

        // Create a new FormData object.
        var formData = new FormData();

        // Loop through each of the selected files.
        for (var i = 0; i < files.length; i++) {
          var file = files[i];

          // // Check the file type.
          // if (!file.type.match('image.*')) {  continue; }

          // Add the file to the request.
          formData.append('filehive', file, file.name);
        }

        // appending csrfmiddlewaretoken and user-id
        formData.append('csrfmiddlewaretoken', '{{csrf_token}}');
        formData.append('asset_cont_name',asset_cont_name);
        formData.append('asset_cont_desc',asset_cont_desc);
        formData.append('user','{{request.user.id}}');
        if(!"{{asset_obj}}"){
            formData.append('asset_obj',assetval);
        }
        else{
            formData.append('asset_obj','{{asset_obj}}');
        }
        // Set up the request.
        xhr = new XMLHttpRequest();

        // Open the connection.
        xhr.open('POST', "{% url 'add_assetcontent' group_id %}", true);

        // Set up a handler for when the request finishes sucessfully.
        xhr.onload = function () {
          if (xhr.status === 200)
          {
            // File(s) uploaded.
           // if file is not uploaded sucessfully
            if(xhr.responseText == "UploadError")
            {
               alert("Error occurred");
            }
            // check if image is not in the list, add it.
            else if(xhr.responseText )
            {
              $.unblockUI();
              location.reload();

            }

            uploadButton.innerHTML = 'Upload';

            // updating metadata of files, if file is uploaded sucessfully
            // if(xhr.responseText != "UploadError")
            // {
            //   // alert('xhr.responseText != "UploadError"');
            // }
          }
          else
          {
            $.unblockUI();
            alert('An error occurred!');
          }
        };

        // Send the Data.
        xhr.send(formData);
      }

$( ".edit-metadata" ).click(function(event) {
    $.ajax({
              type: "POST",
              data:{
                    'csrfmiddlewaretoken': "{{csrf_token}}",
                    "node_id":'{{asset_obj}}',
                },
              url: "{% url 'get_metadata_page' group_id  %}",
              datatype: "html",
              success: function(data) {
              $('#addAsset').foundation('reveal', 'open');
              $('#addAsset').html(data);
            }
        });
});
</script>
