<!-- orgitdown! -->
<script type="text/javascript" src="/static/ndf/orgitdown/jquery.orgitdown-foundation.js"></script>
<!-- orgitdown! toolbar settings -->
<script type="text/javascript" src="/static/ndf/orgitdown/skins/gstudio/set.js"></script>
<!-- orgitdown! skin -->
<link rel="stylesheet" type="text/css" href="/static/ndf/orgitdown/skins/gstudio/style.css" />

<textarea id="orgitdown_{{var_name}}" class="small-12 columns" name="{{var_name}}" placeholder="{{var_placeholder}}">{{var_value}}</textarea>

<script>
  $("#orgitdown_{{var_name}}").orgitdown(mySettings);
</script>
