<!-- orgitdown! -->
<script type="text/javascript" src="/static/ndf/orgitdown/jquery.orgitdown.js"></script>
<!-- orgitdown! toolbar settings -->
<script type="text/javascript" src="/static/ndf/orgitdown/sets/org/set.js"></script>
<!-- orgitdown! toolbar skin -->
<link rel="stylesheet" type="text/css" href="/static/ndf/orgitdown/sets/org/style.css" />
<!-- orgitdown! skin -->
<link rel="stylesheet" type="text/css" href="/static/ndf/orgitdown/skins/orgitdown/style.css" />

<textarea id="orgitdown_{{var_name}}" name="{{var_name}}" placeholder="{{var_placeholder}}...">{{var_value}}</textarea>

<script>
  <!-- $(document).ready(function() { -->
  <!--   // Must be there to display org-editor shortcuts -->
  $("#orgitdown_{{var_name}}").orgitdown(mySettings);
  <!-- }); -->
</script>
