{% extends "ndf/base.html" %}

<script type = "text/javascript" src = "/static/ndf/js/jquery2.js">
</script>

{% block body_content %} 

<h3>Advanced Search</h3>

<form name="search_form" method="GET" action="{% url 'advanced_search_results' groupid %}">
	{% csrf_token %}
	Enter the value to be searched:
	<input type="text" name="search_text" id="search_text">
	<!--<input type="button" name="subButton" id="subButton" value="Submit" /> -->
	<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
		<li>
			<h5> Select groups: </h5>
			<select multiple id="Groups" name="Groups" style="height:100px" >
				<option value='all'>All Groups</option>
				{% for gr in allGroups %}
				<option value='{{ gr }}'> {{ gr }} </option>
				{% endfor %}
			</select>
		</li>

		<li>
			<h5> Select authors: </h5>
			<select multiple id="Users" name="Users" style="height:100px" >
				<option value='all'>All Authors</option>
				{% for us in allUsers %}
				<option value='{{ us }}'> {{ us }} </option>
				{% endfor %}
			</select>
		</li>

		<li>
			<h5> Select categories: </h5>
			<select multiple id="GSystems" name="GSystems" style="height:100px" >
				{% for gs in allGSystems %}
				<option value='{{ gs }}'> {{ gs }} </option>
				{% endfor %}
			</select>
		</li>
		<li>
			<h5> Select attributes: <img src="/static/ndf/images/refresh.png" style="cursor:pointer" height="20px" width="20px" id="refreshAttr" alt="refresh"></img></h5>
			<select multiple id="attribs" name="attribs" style="height:100px">

			</select>
		</li>
	</ul>
	<input type="submit" name="subButton2" id="subButton2" value="Submit" />
</form>
<div id="results">

</div>
<script type="text/javascript">
	var GSystem_name = [];
	$('#refreshAttr').click(function() {

			temp = String($("#GSystems").val());
			alert(temp);

			//GSystem_name = temp.split(',');
			alert(GSystem_name.length);
			//GSystem_name = jQuery.parseJSON(GSystem_name);
			alert(GSystem_name);

			$.ajax({
			      type: "GET",
			      url: "{% url 'get_attributes' groupid %}",
			      datatype: "json",
			      data: {
			      	GSystem: temp,
			      	csrfmiddlewaretoken: '{{ csrf_token }}',
			      },
			      success: function(data) {
			      	//alert("name:"+GSystem_name);
					//json = jQuery.parseJSON(data);
					//alert("done: ", GSystem_name);
					parsed = $.parseJSON(data);
					//alert(parsed[0]);
					options_to_add = "<option value='all'>All attributes</option>";
					for (i=0; i<parsed.length; i++) {
						options_to_add += "<option value='" + parsed[i] + "'>" + parsed[i] + "</option>";
					}
					//alert(options_to_add);
					$("#attribs").html(options_to_add);
				  }
			});
	});

	$('#Groups').change(function(){
		Group_names = $("#Groups").val();
		alert(Group_names);

		$.ajax({
		      type: "GET",
		      url: "{% url 'get_users' groupid %}",
		      datatype: "json",
		      data: {
		      	Groups:Group_names,
		      	csrfmiddlewaretoken: '{{ csrf_token }}'
		      },
		      success: function(data) {
				parsed = $.parseJSON(data);
				options_to_add = "<option value='all'>All authors</option>";
				for (i=0; i<parsed.length; i++) {
					options_to_add += "<option value='" + parsed[i] + "'>" + parsed[i] + "</option>";
				}
				$("#Users").html(options_to_add);
			  }
		});
	});
	//$("#attribs").change(function() {
	//	alert($("#attribs").val());
	//});
</script>

{% endblock %}