{% extends "ndf/base.html" %}
{% load i18n %}
{% load ndf_tags %}

{% block title %}
  {{" Group Members "}}
{% endblock %}


{% block style %}
  .heading{
    font-size: 28px;
    font-weight: bold
  }
 .sub-heading{
    font-size: 18px;
    font-weight: bold
  }

{% endblock %}

{% block body_content %}

<ul>
<div class = heading> Group Member Activities  </div><br>
{% for x in data %}
   	<li>{{x.name}} : {{x.count}}</li>
  	<br>
  	<b class = sub-heading>FORUMS :</b> {{x.forums|length}}
  	<br><br>
  	<ul>
  		{% for content in x.forums %}
  			<li>
  				{{content.name}}
  			</li>
  		{% endfor %}
  	</ul>
  	<br>
  	<b class = sub-heading>THREADS :</b> {{x.threads|length}}
  	<br><br>
  	<ul>
  		{% for content in x.threads %}
  			<li>
  				{{content.name}}
  			</li>
  		{% endfor %}
  	</ul>
  	<br>
  	<b class = sub-heading>REPLIES :</b> {{x.replies|length}}
  	<br><br>
  	<ul>
  		{% for content in x.replies %}
  			<li>
  				{{content.name}}
  			</li>
  		{% endfor %}
  	</ul>
  	<br>
  	<b class = sub-headingclass = sub-heading>FILES :</b> {{x.files|length}}
  	<br><br>
  	<ul>
  		{% for content in x.files %}
  			<li>
  				{{content.name}}
  			</li>
  		{% endfor %}
  	</ul>
  	<br>
  	<b class = sub-heading>PAGES :</b> {{x.pages|length}}
  	<ul>
  		{% for content in x.pages %}
  			<li>
  				{{content.name}}
  			</li>
  		{% endfor %}
  	</ul>
  	<br>
{% endfor %}
</ul>

{% endblock %}
