{% extends "ndf/base.html" %}
{% load i18n %}
{% load ndf_tags %}

{% block body_content %}


<strong>ACTIVE USERS</strong>
<ul>
{% for x in data.active_users %}
   	<li>{{x.name}} : {{x.activities}}</li>
{% endfor %}
</ul>

<strong>Total Activities : {{data.total_activities}}</strong>
<br><br>
<strong>Forum : {{data.forums}}</strong>
<br><br>
<strong>Pages : {{data.pages}}</strong>
<br><br>
<strong>Threads : {{data.threads}}</strong>
<br><br>
<strong>Replies : {{data.replies}}</strong>
<br><br>
<strong>Files : {{data.files}}</strong>
<br><br>
<strong>Courses : ___</strong>
<br><br>
<strong>Announced Courses : ___</strong>
<br><br>
<strong>Recent Created/Edited Forums : {{data.recent.forums}}</strong>
<br><br>
<strong>Recent Created/Edited Pages : {{data.recent.pages}}</strong>
<br><br>
<strong>Recent Created/Edited Threads : {{data.recent.threads}}</strong>
<br><br>
<strong>Recent Created/Edited Replies : {{data.recent.replies}}</strong>
<br><br>
<strong>Recent Created/Edited Files : {{data.recent.files}}</strong>
<br><br>
<strong>Recent Created/Edited Courses : ___</strong>
<br><br>
<strong>Recent Created/Edited Announced Courses : ___</strong>

{% endblock %}