{% extends "ndf/base.html" %}
{% load i18n %}
{% load ndf_tags %}

{% block body_content %}


<strong>Total Sessions : {{data.num_of_sessions}}</strong>
<br><br>
<strong>Latest Activity : {{data.latest_activity}}</strong>
<br><br>
<strong>Total Activities : {{data.total_activities}}</strong>
<br><br>
<strong>Avg session duration : {{data.avg_session_duration}}</strong>
<br><br>
<strong>Pages Created : {{data.num_of_pages}}</strong>
<br><br>
<strong>Files Uploaded : {{data.num_of_files}}</strong>
<br><br>
<strong>Tasks Created : {{data.num_of_tasks}}</strong>
<br><br>
<strong>Forums Created : {{data.num_of_forums_created}}</strong>
<br><br>
<strong>Threads Created : {{data.num_of_threads_created}}</strong>
<br><br>
<strong>Replies to Posts : {{data.num_of_replies}}</strong>
<br><br>

{% endblock %}