{% load ndf_tags %}
{% load i18n %}

<style type="text/css">
    .text-center {
        text-align: center;
    }

    .width_s_no {
        width: 5%;
    }
    
    .counter {
        font-weight: bold;
        text-align: right;
    }

    .margin-0r {
        margin: 0 !important;
    }

</style>

<link rel="stylesheet" href="/static/ndf/bower_components/foundation/css/normalize.css"> 
<div class="row">
  <div class="large-9 large-centered columns text-center">
    <h3>{{enrollment_details.College}}</h3>
  </div>
</div>

<div class="row">
  <div class="large-9 large-centered columns text-center">
    <h4>{% trans "Course Code: " %}{{enrollment_details.Course}}</h4>
  </div>
</div>

<div class="row">
  <div class="large-9 large-centered columns text-center">
    <h6>{% trans "Enrollment Completed On: " %}{{enrollment_details.CompletedOn|date:"d-M-Y"}}</h6>
  </div>
</div>
{% if approval_nodes %}
<table>
    <thead>
    <tr>
        <th class="width_s_no counter">{% trans "S. #" %}</th>
        <th class="text-center">{% trans "Approve/Reject" %}<br><input type="checkbox" class="margin-0r checkAllStudents"></th>
        {% for col in enrollment_columns %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    </thead>

    <tbody>
    {% regroup approval_nodes|dictsort:"Name" by Name as approval_nodes_sort_by_name %}
    {% for sn in approval_nodes_sort_by_name %}
    <tr>
        <td class="width_s_no counter">{{forloop.counter}}.</td>
        <td class="text-center"><input type="checkbox" class="margin-0r approveStudent" id="{{sn.list.0|get_dict_item:'_id'}}"></td>
        {% for col in enrollment_columns %}
        <td class="width_{{col}}">{{sn.list.0|get_dict_item:col}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<input type="hidden" id="enrollment_id" value="{{enrollment_details.pk}}">
<input type="hidden" id="course_id" value="{{enrollment_details.CourseId}}">

<div class="row">
    <div class="medium-2 columns">
        <input type="button" class="button small radius expand btnApproval" value="Approve">
    </div>
    <div class="medium-2 columns end">
        <input type="button" class="button small radius expand btnApproval" value="Reject">
    </div>
</div>


<script type="text/javascript">
  $(document).foundation();

  $('#loading-image')
  .bind('ajaxStart', function(){
    $(this).show();
  }).
  bind('ajaxStop', function(){
    $(this).hide();
  });
</script>