{% load ndf_tags %}
{% load i18n %}

<style type="text/css">
    .text-center {
        text-align: center;
    }

    .counter {
        font-weight: bold;
        text-align: right;
    }

    .margin-0r {
        margin: 0 !important;
    }
    tr {
    cursor: pointer;
    }
    .selected{
      background-color: skyblue !important;
    }
</style>

{% if approval_nodes %}
<table align="center" id="table_data" class="display" cellspacing="0">
    <caption><h4><b>{{enrollment_details.College}}</b></h4><h5>{% trans "Course Code: " %}<b>{{enrollment_details.Course}}</b></h5><h6>{% trans "Enrollment Completed On: " %}<b>{{enrollment_details.CompletedOn|date:"d-M-Y"}}</b></h6></caption>
    <thead>
    <tr>
        <th class="text-center">{% trans "Sr. #" %}</th>
        {% for col in enrollment_columns %}
        <th>{{col}}</th>
        {% endfor %}
    </tr>
    </thead>

    <tbody>
    {% regroup approval_nodes|dictsort:"Name" by Name as approval_nodes_sort_by_name %}
    {% for sn in approval_nodes_sort_by_name %}
    <tr id="{{sn.list.0|get_dict_item:'_id'}}">
        <td class="text-center">{{forloop.counter}}.</td>
        {% for col in enrollment_columns %}
        <td>{{sn.list.0|get_dict_item:col}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<input type="hidden" id="enrollment_id" value="{{enrollment_details.pk}}">
<input type="hidden" id="course_id" value="{{enrollment_details.CourseId}}">

<div class="row">
    <div class="medium-2 columns">
        <input type="button" class="button small radius expand btnApproval" value="Approve">
    </div>
    <div class="medium-2 columns end">
        <input type="button" class="button small radius expand btnApproval" value="Reject">
    </div>
</div>

<script type="text/javascript">

  $(document).ready( function () {
    $('#table_data').DataTable();

    $('#table_data tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    });
 
  });

  $(document).foundation();

  $('#loading-image')
  .bind('ajaxStart', function(){
    $(this).show();
  }).
  bind('ajaxStop', function(){
    $(this).hide();
  });

</script>