{% load i18n %}
{% load ndf_tags %}
{% check_is_gstaff group_id request.user as is_gstaff %}
{% user_access_policy groupid request.user as user_access_priv %}

  {% if first_arg and second_arg and third_arg %}  
        <a href="{% url url_name first_arg second_arg third_arg %}" title="{{each_asset.name}}" > 
   {% elif first_arg and second_arg  %}
        <a href="{% url url_name first_arg second_arg  %}" title="{{each_asset.name}}">
   {% endif %}
    {% if not no_asset %}
        {% get_relation_value each_asset.pk 'has_assetcontent' as grel_asstcontent %}
    {% endif %}
      <div class="small-12 medium-3 large-3 columns ">
        <div class="asset_tile">
            <div class="asset_preview">

              {% if not no_asset %}
                {% if grel_asstcontent.grel_id %}
                {% for each_asset_rel_set in each_asset.relation_set %}
                    {% for k,v in each_asset_rel_set.items %}
                        {% if k == "has_assetcontent" and v|length >= 4  %}
                        <section class="photos-{{each_asset.pk}} photos">
                            {% for each in v %}
                                {% if forloop.counter <= 4 %}
                                {% get_node each as asst_cont_obj %}
                                    {%  if asst_cont_obj.if_file.mid.relurl %}
                                        <img src="/media/{{asst_cont_obj.if_file.mid.relurl}}" style="width='width()' height='height()'" alt="{{asst_cont_obj.name}}">
                                    {% elif "audio" in asst_cont_obj.if_file.mime_type %}
                                        <img src="/static/ndf/images/audio.png"/>
                                    {% elif "video" in asst_cont_obj.if_file.mime_type %}
                                        <img src="/static/ndf/images/file.png"/>
                                    {% else %}
                                        <img src="/static/ndf/images/file.png"/>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                         <br>
                        </section>
                        {% endif %}
                        {% if k == "has_assetcontent" and v|length == 1  %}
                             <section class="photos-{{each_asset.pk}} photos-1">
                            {% for each in v %}                                
                                {% get_node each as asst_cont_obj %}
                                    {%  if asst_cont_obj.if_file.thumbnail.relurl %}
                                        <img src="/media/{{asst_cont_obj.if_file.thumbnail.relurl}}" style="width='width()' height='height()'" alt="{{asst_cont_obj.name}}">
                                    {% elif "audio" in asst_cont_obj.if_file.mime_type %}
                                        <img src="/static/ndf/images/audio.png"/>
                                    {% else %}
                                        <img src="/static/ndf/images/file.png"/>
                                    {% endif %}
                            {% endfor %}
                        </section>
                        {% endif %}
                        {% if k == "has_assetcontent" and v|length == 2  %}
                             <section class="photos-{{each_asset.pk}} photos-02">
                            {% for each in v %}
                                {% if forloop.counter <= 2 %}
                                {% get_node each as asst_cont_obj %}
                                    {%  if asst_cont_obj.if_file.mid.relurl %}
                                        <img src="/media/{{asst_cont_obj.if_file.mid.relurl}}"  alt="{{asst_cont_obj.name}}">
                                    {% elif "audio" in asst_cont_obj.if_file.mime_type %}
                                        <img src="/static/ndf/images/audio.png"/>
                                    {% else %}
                                        <img src="/static/ndf/images/file.png"/>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </section>
                        {% endif %}
                        {% if k == "has_assetcontent" and v|length == 3  %}
                             <section class="photos-{{each_asset.pk}} photos-03">
                            {% for each in v %}
                                {% if forloop.counter <= 3 %}
                                {% get_node each as asst_cont_obj %}
                                    {%  if asst_cont_obj.if_file.mid.relurl %}
                                        <img src="/media/{{asst_cont_obj.if_file.mid.relurl}}"  alt="{{asst_cont_obj.name}}">
                                    {% elif "audio" in asst_cont_obj.if_file.mime_type %}
                                        <img src="/static/ndf/images/audio.png"/>
                                    {% else %}
                                        <img src="/static/ndf/images/file.png"/>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </section>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% else %}
                <section class="photos-{{each_asset.pk}} photos-1">
                   <img src="/static/ndf/images/asset.png">
               </section>
                {% endif %}
            {% else %}
                {% if each_asset.if_file.mid.relurl and 'video' not in each_asset.if_file.mime_type %}
                    <img src="{{MEDIA_URL}}{{each_asset.if_file.mid.relurl}}"/>
                    {% elif  each_asset.if_file.thumbnail.relurl %}
                    <img src="{{MEDIA_URL}}{{each_asset.if_file.thumbnail.relurl}}"/>
                    {% elif  'audio' in each_asset.if_file.mime_type %}
                    <img src="/static/ndf/images/audio.png"/>
                    {% elif if_activities %}
                        <img src="/static/ndf/images/resource.png"/>
                    {% else %}
                        <img src="/static/ndf/images/file.png"/>
                {% endif %}
            {% endif %}
            </div>
            <div class="asset_text">
                <div class="asset_title" title="{% firstof each_asset.altnames each_asset.name %}">{% firstof each_asset.altnames|truncatechars:25  each_asset.name|truncatechars:25 %}
                  </a>
                    <a class="crossPublish-{{each_asset.pk}} right" title="Click to Cross Publish this files" style="margin: -2px 1px 0px 2px; float:right; font-size: 20px;"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                  {% if not no_checkbox %}
                    {% if user.is_authenticated  and not group_object.edit_policy == "NON_EDITABLE"  or gstaff_access %}
                                <input type="checkbox" class="select-chkbox" name="filenode" value="{{each_asset.pk}}" style="margin-top:6px; margin-right: 2px; float:right;" class="asset_content_checkbox" />
                    {% endif %}
                    {% endif %}

                    <div class="asset_desc">{{each_asset.content|striptags|truncatechars:25}}</div>
                </div>
            </div>
        </div>
    </div>
    {% include 'ndf/widget_cross_publish.html' with node=each_asset %}

    
