{% load i18n %}
{% load ndf_tags %}
{% user_access_policy groupid request.user as user_access_priv %}
{% check_is_gstaff groupid request.user as is_gstaff %}



<div class="elibrary-actions">
<!--     <button type="button" class="orange-button">
        <i class="fi-filter"> </i>
        Filter
    </button>

 -->    
    {% include 'ndf/widget_user_access_modal.html' %}
        <div class="row">
        {% if user.is_authenticated  %}
            {% if title == "raw material" and is_gstaff %}
                <button type="button" class="right orange-button createAsset">
                    <i class="fi-plus"> </i>{% trans "Add Resource" %} 
                </button>
            {% endif %}
            {% if title == "gallery"  %}
                <button {% if user_access_priv == "allow" %} type="button" class="right orange-button createAsset" {% else %} class=" right orange-button user_not_enrolled" {% endif %}>
                    <i class="fi-plus"> </i>{% trans "Add Folder" %} 
                </button>
            {% endif %}
            {% if title == "asset_list"  %}
                <button type="button" class="right orange-button createAsset">
                    <i class="fi-plus"> </i>{% trans "Add Asset" %} 
                </button>
            {% endif %}
        
        {% endif %}
        </div>
</div>
<div class="row listing-row">
  {% for each_asset in asset_nodes %}
    
    {% include 'ndf/asset_card.html' with url_name="asset_detail" first_arg=group_id second_arg=each_asset.pk each=each_asset %}    
  {% endfor %}
</div>

{% if title == "gallery" %}
{% include 'ndf/pagination.html' with urlname="course_gallery_paged" first_arg=group_id page_info=assets_page_info %}
{% elif title == "raw material" %}
{% include 'ndf/pagination.html' with urlname="course_raw_material_paged" first_arg=group_id page_info=assets_page_info %}
{% elif title == "asset_list"  %}
{% include 'ndf/pagination.html' with urlname="course_assets_paged" first_arg=group_id page_info=assets_page_info %}
{% endif %}
<script type="text/javascript">
   $( ".createAsset" ).click(function() {
                   var asset_id = $(this).attr('data-asset_id');
                   $.ajax({
                             type: "GET",
                             url: "{% url 'add_asset' group_id %}",
                             data: {
                               node_id: asset_id,
                               "title" : '{{title}}'
                             },
                             datatype: "html",
                             success: function(data) {
                               $('#addAsset').foundation('reveal', 'open');
                               $('#addAsset').html(data);
                           }
                     });
           });
function getRandomSize(min, max) {
  return Math.round(Math.random() * (max - min) + min);
}
{% comment %}
var allImages1 = "";

{% for k,v in thumbnails_dict.items %} 
    alert("{{k}}")
    {% for each in v %}
        var width = getRandomSize(208, 218);
        var height =  getRandomSize(240, 220);
        allImagesfor+"_"+"{{k}}" = allImagesfor+"_"+"{{k}}" +  '<img src="/media/{{each}}" style="width='+width+' height='+height+'" alt="pretty kitty">';
    {% endfor %}
{% endfor %}
{% for k,v in thumbnails_dict.items %}
    alert(allImagesfor+"_"+"{{k}}");
{% endfor %}
{% endcomment %}
</script> 
