{% load i18n %}
{% load ndf_tags %}
{% user_access_policy groupid request.user as user_access_priv %}
{% check_is_gstaff groupid request.user as is_gstaff %}



<div class="elibrary-actions">
<!--     <button type="button" class="orange-button">
        <i class="fi-filter"> </i>
        Filter
    </button>

 -->    
    {% include 'ndf/widget_user_access_modal.html' %}
        <div class="row">
        {% if user.is_authenticated  %}
            {% if title == "raw material" and is_gstaff %}
                <button type="button" class="right orange-button createAsset">
                    <i class="fi-plus"> </i>{% trans "Add Resource" %} 
                </button>
            {% endif %}
            {% if title == "gallery"  %}
                <button {% if user_access_priv == "allow" %} type="button" class="right orange-button createAsset" {% else %} class=" right orange-button user_not_enrolled" {% endif %}>
                    <i class="fi-plus"> </i>{% trans "Add Folder" %} 
                </button>
            {% endif %}
            {% if title == "asset_list"  %}
                <button type="button" class="right orange-button createAsset">
                    <i class="fi-plus"> </i>{% trans "Add Asset" %} 
                </button>
            {% endif %}
        
        {% endif %}
        </div>
</div>
<div class="row listing-row"> 
      {% for each_asset in asset_nodes %}
      {% get_relation_value each_asset.pk 'has_assetcontent' as grel_asstcontent %}

      <a href="{% url 'asset_detail' group_id each_asset.pk %}"  title="{{each.name}}">
      <div class="small-12 medium-6 large-3 columns ">
        <div class="asset_tile">
            <div class="asset_preview">
                {% if grel_asstcontent.grel_id %}
                {% for each_asset_rel_set in each_asset.relation_set %}
                    {% for k,v in each_asset_rel_set.items %}
                        {% if k == "has_assetcontent" and v|length >= 4  %}
                        <section class="photos-{{each_asset.pk}} photos">
                            {% for each in v %}
                                {% if forloop.counter <= 4 %}
                                {% get_node each as asst_cont_obj %}
                                    {%  if asst_cont_obj.if_file.mid.relurl %}
                                        <img src="/media/{{asst_cont_obj.if_file.mid.relurl}}" style="width='width()' height='height()'" alt="{{asst_cont_obj.name}}">
                                    {% elif "audio" in asst_cont_obj.if_file.mime_type %}
                                        <img src="/static/ndf/images/audio.png"/>
                                    {% elif "video" in asst_cont_obj.if_file.mime_type %}
                                        <img src="/static/ndf/images/video.png"/>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                         <br>
                        </section>
                        {% endif %}
                        {% if k == "has_assetcontent" and v|length == 1  %}
                             <section class="photos-{{each_asset.pk}} photos-1">
                            {% for each in v %}                                
                                {% get_node each as asst_cont_obj %}
                                    {%  if asst_cont_obj.if_file.mid.relurl %}
                                        <img src="/media/{{asst_cont_obj.if_file.mid.relurl}}" style="width='width()' height='height()'" alt="{{asst_cont_obj.name}}">
                                    {% elif "audio" in asst_cont_obj.if_file.mime_type %}
                                        <img src="/static/ndf/images/audio.png"/>
                                    {% elif "video" in asst_cont_obj.if_file.mime_type %}
                                        <img src="/static/ndf/images/video.png"/>
                                    {% endif %}
                            {% endfor %}
                        </section>
                        {% endif %}
                        {% if k == "has_assetcontent" and v|length == 2  %}
                             <section class="photos-{{each_asset.pk}} photos-02">
                            {% for each in v %}
                                {% if forloop.counter <= 2 %}
                                {% get_node each as asst_cont_obj %}
                                    {%  if asst_cont_obj.if_file.mid.relurl %}
                                        <img src="/media/{{asst_cont_obj.if_file.mid.relurl}}"  alt="{{asst_cont_obj.name}}">
                                    {% elif "audio" in asst_cont_obj.if_file.mime_type %}
                                        <img src="/static/ndf/images/audio.png"/>
                                    {% elif "video" in asst_cont_obj.if_file.mime_type %}
                                        <img src="/static/ndf/images/video.png"/>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </section>
                        {% endif %}
                        {% if k == "has_assetcontent" and v|length == 3  %}
                             <section class="photos-{{each_asset.pk}} photos-03">
                            {% for each in v %}
                                {% if forloop.counter <= 3 %}
                                {% get_node each as asst_cont_obj %}
                                    {%  if asst_cont_obj.if_file.mid.relurl %}
                                        <img src="/media/{{asst_cont_obj.if_file.mid.relurl}}"  alt="{{asst_cont_obj.name}}">
                                    {% elif "audio" in asst_cont_obj.if_file.mime_type %}
                                        <img src="/static/ndf/images/audio.png"/>
                                    {% elif "video" in asst_cont_obj.if_file.mime_type %}
                                        <img src="/static/ndf/images/video.png"/>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </section>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% else %}
                <section class="photos-{{each_asset.pk}} photos-1">
                   <img src="/static/ndf/images/asset.png">
               </section>
                {% endif %}
            </div>
            <div class="asset_text">
                <div class="asset_title" title="{% firstof each_asset.altnames each_asset.name %}">{% firstof each_asset.altnames|truncatechars:25  each_asset.name|truncatechars:25 %}</div>
                <div class="asset_desc">{{each_asset.content|striptags|truncatechars:25}}</div>
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
</div>
{% if title == "gallery" %}
{% include 'ndf/pagination.html' with urlname="course_gallery_paged" first_arg=group_id page_info=assets_page_info %}
{% elif title == "raw material" %}
{% include 'ndf/pagination.html' with urlname="course_raw_material_paged" first_arg=group_id page_info=assets_page_info %}
{% elif title == "asset_list"  %}
{% include 'ndf/pagination.html' with urlname="course_assets_paged" first_arg=group_id page_info=assets_page_info %}
{% endif %}
<script type="text/javascript">
   $( ".createAsset" ).click(function() {
                   var asset_id = $(this).attr('data-asset_id');
                   $.ajax({
                             type: "GET",
                             url: "{% url 'add_asset' group_id %}",
                             data: {
                               node_id: asset_id,
                               "title" : '{{title}}'
                             },
                             datatype: "html",
                             success: function(data) {
                               $('#addAsset').foundation('reveal', 'open');
                               $('#addAsset').html(data);
                           }
                     });
           });
function getRandomSize(min, max) {
  return Math.round(Math.random() * (max - min) + min);
}
{% comment %}
var allImages1 = "";

{% for k,v in thumbnails_dict.items %} 
    alert("{{k}}")
    {% for each in v %}
        var width = getRandomSize(208, 218);
        var height =  getRandomSize(240, 220);
        allImagesfor+"_"+"{{k}}" = allImagesfor+"_"+"{{k}}" +  '<img src="/media/{{each}}" style="width='+width+' height='+height+'" alt="pretty kitty">';
    {% endfor %}
{% endfor %}
{% for k,v in thumbnails_dict.items %}
    alert(allImagesfor+"_"+"{{k}}");
{% endfor %}
{% endcomment %}
</script> 
