<!DOCTYPE html>
<html lang="en">
{% load ndf_tags %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<title>metaStudio - {% block title %} {% endblock %}</title>	

	<link rel="shortcut icon" href="/static/ndf/images/favicon/logo.png">

	<!-- Foundation 5 - Responsive CSS Framework http://foundation.zurb.com/docs/css.html-->
	<link rel="stylesheet" href="/static/ndf/foundation/css/normalize.css">
	<link rel="stylesheet" href="/static/ndf/foundation/css/foundation.css">

	<!-- Foundation Icon Font http://zurb.com/playground/foundation-icon-fonts-3 -->
	<link rel="stylesheet" href="/static/ndf/foundation-icons/foundation-icons.css">

	<!-- Modernizr - Browser detection JS http://modernizr.com/ -->
	<script src="/static/ndf/foundation/js/modernizr.js"></script>

	<!-- jQuery -->
	<script src="/static/ndf/js/jquery.js"></script>
	<!-- "jquery-migrate-1.0.0.js": It is a JQuery migrate plugin that helps in restoring changed behaviors (deprecated/removed features) in JQuery 1.9, if JQuery < 1.9 is used. -->
	<script src="/static/ndf/js/jquery-migrate-1.0.0.js"></script>

	<!-- External default stylesheet-->
	<link href="/static/ndf/css/default.css" rel="stylesheet">

	<!-- Enable HTML5 on old browsers -->
	<!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->


	{% block head %}  {% endblock %}

	<style>

		html, body {
			height: 100%;
		}

		nav h1 img{
			height: 1.8rem;
			margin-right: 5px;
		}
		nav h1 a{
			color:white!important;
		}

		body>header
		{
			position: relative;
			-webkit-box-shadow: 2px 2px 4px 1px #C7C7C7;
			box-shadow: 2px 2px 4px 1px #C7C7C7;
		}

		.main{
			background-color:#e0e0e0;
			min-height: 100%;
			margin-bottom: -100px!important;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		.main:after{
			content:"";
			display:block;
			height:100px;
		}

		body>footer{
			border-top:6px solid #008759;
			background-color:#222;
			color: #888;
			padding:20px 0;
			position: relative;
		}

		body>footer a{
			color: #bbb;
		}

		.coll-arrows{
			cursor:pointer;
			display: block;
			padding: 0.5rem;
		}

		.coll-arrows:hover{
			background-color: #D3D3D3;
		}

		{% block style %}  {% endblock %}

	</style>

</head>

<body>
	<center><img id="ajax_load_image" width="50" style="display: none; position:fixed; top: 50%; left: 55%; margin-top: -50px; margin-left: -100px;z-index:1000;" src="/static/ndf/images/ajax-wait.gif"></center>

	{% get_group_name request.path as group_name %}

	<header class="row">

		<!-- Foundation top bar http://foundation.zurb.com/docs/components/topbar.html -->
		<nav class="top-bar" data-topbar>
			<ul class="title-area">
				<li class="name">
					<h1><a href="/"><img src="/static/ndf/images/icon/meta.svg"> meta<b>Studio</b></a></h1>
				</li>
				<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
			</ul>

			<section class="top-bar-section">

				<!-- Right Nav Section -->
				<ul class="right">

					<!-- Top bar search form -->
					<li class="has-form">
						<div id="search-bar" class="row collapse">
							<div class="large-12 small-12 columns">
								<input type="text" placeholder="coming soon ..">
							</div>

						</div>
					</li>

					<!-- If logged in show user options -->
					{% if user.is_authenticated %}

					<li class="has-dropdown">
						<a class="user" data-gnow="#aabb44" href="{% url 'userDashboard' group_name user.username %}">{{ user.username }}</a>
						<ul class="dropdown">
							<li><a href="{% url 'auth_password_change' %}">Change password</a></li>
							<li class="has-form"><a class="button alert" href="{% url 'auth_logout' %}"><i class="fi-power"></i> Logout</a></li>
						</ul>
					</li>

					<!-- Else show login link -->
					{% else %}

					<li class="has-form"><a class="button" href="{% url 'auth_login' %}"><i class="fi-key"></i> Login</a></li>

					{% endif %}

				</ul>

				<!-- Left Nav Section -->
				<ul class="left">
					<li class="has-dropdown group">
						<a class="active-menu" href="#"><i class="fi-home"></i> {{group_name}}</a>

						<!-- If logged in show user groups -->
						
						{% get_existing_groups_excluded group_name as groups %}

						<ul class="dropdown">
							<!-- Create dropdown item for each group -->
							{% for gp_id in groups %}
							<li id="{{gp_id}}"><a class="group" href="{% url 'groupchange' gp_id %}">{{gp_id}}</a></li>
							{% endfor %}

						</ul>

						

					</li>

					{% get_gapps_menubar group_name request.META.PATH_INFO %}
				</ul>
			</section>
		</nav>

	</header> 		
	<div class="main">
		<div class="off-canvas-wrap">
			<div class="inner-wrap">

				<!-- Off Canvas Meta Map -->
				<aside class="left-off-canvas-menu">
					<!-- whatever you want goes here -->
					<h4>Read this first</h4>
					<ul class="off-canvas-list">
						<li><a href="#">Help Topics</a></li>
						<li><a href="#">Prior Nodes</a></li>
					</ul>
				</aside>

				<main class="row">  

					<!-- Start of sidebar section -->

					<aside  class="medium-12 large-3 columns">

						<section class="row">



							<header class="medium-6 large-12 columns">
							<a class="left-off-canvas-toggle meta" ><h3><i class='fi-asterisk'></i> About</h3></a> 

								{% block meta_content %}  {% endblock %}

								
							</header>

							<section class="medium-6 large-12 columns">

								<!--Content search -->
								{% include "ndf/node_search_base.html" %}


								{% block search_content %}  {% endblock %}
							</section>

							<section class="medium-6 large-12 columns">
								{% block related_content %}  {% endblock %}
							</section>



						</section>

					</aside>
					<!-- End of related content -->	



					<!-- Start of content section -->
					<article class="medium-12 large-9 columns">




						<a class="right-off-canvas-toggle" ><i class='fi-book-bookmark'></i></a> 

						<!-- The actual body content -->
						{% block body_content %}  {% endblock %}
						{% block extra_content %}  {% endblock %}



					</article>
					<!-- End of content section -->	



				</main>

				<!-- Off Canvas User Shelf -->
				<aside class="right-off-canvas-menu">
					<h4>Shelf</h4>
					<ul class="off-canvas-list">
						<li><a href="#">Item 1</a></li>
						...
					</ul>
				</aside>

				<!-- close the off-canvas menu -->
				<a class="exit-off-canvas"></a>

			</div>
		</div>
	</div>
	<footer class="row">

		<div class="medium-3 columns">
			<small>
				<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" title="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png"/></a> 
				All material is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" title = "http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a> unless mentioned otherwise.
			</small>
		</div>

		<div class="medium-9 columns">

			<p>
				A project of <a href="http://lab.gnowledge.org/" target="_blank">Gnowledge Lab</a> at the <a href="http://www.hbcse.tifr.res.in" target="_blank">Homi Bhabha Centre for Science Education</a>, <a href="http://www.tifr.res.in" target="_blank">TIFR</a>.</p>
				<p><small>
					<a href="https://github.com/gnowledge/gstudio">View Source Code</a> or <a href="https://github.com/gnowledge/gstudio">File a bug</a>
				</small></p>
			</div>



		</footer>

		<!-- JS -->
		<script src="/static/ndf/foundation/js/foundation.min.js"></script>
		<script src="/static/ndf/foundation/js/foundation/foundation.topbar.js"></script>

		<script type="text/javascript">

		// Initialize Foundation CSS
		$(document).foundation();

		$(".user").prepend(function(){
			/* Attaches user icon with gnow level color for every user link */
			return "<i class='fi-torso' style='background-color:"+$(this).attr("data-gnow")+"'></i>"
		});

		$(".card .group").prepend(function(){
			/* Attaches icon for node type */
			return "<i class='fi-torsos'></i>"
		});

		$(".card .page").prepend(function(){
			/* Attaches icon for node type */
			return "<i class='fi-page'></i>"
		});
		$(".card .file").prepend(function(){
			/* Attaches icon for node type */
			return "<i class='fi-play-video'></i>"
		});


		/* Makes header links look like radio button */
		

		{% block script %} {% endblock %}	

	</script>

</body>

</html>


