{% extends "ndf/base.html" %}
{% load i18n %}
{% load ndf_tags %}

{%block title %} Basic Template {% endblock %}

{% block body_content %}

<script type="text/javascript" src="/static/ndf/bower_components/tipped-4.5.5-light/tipped.js"></script>
<link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/tipped-4.5.5-light/tipped.css" />
<!--
<form method="post" action="{% url 'type_created' groupid %}" name="{{node_gs.name}}" id="{{node_gs.name}}"> -->
<form method="post" action=" " name="{{node_gs.name}}" id="{{node_gs.name}}">
{% csrf_token %} 

<table>
<div style="display:table;  border:1px;   border-spacing:15px; " class="small-12 columns">

<font size="5"> {{node_gs.name}} </font> 

    <div style="display:table-row;">
    	{% for e,f in basic_list.iteritems %}
    	<tr><td>
        <div style="display:table-cell;" >
            <font size="3"> {{f}} : </font> 
        </div></td>
        <td> 
        {% fetch_req_fields gs_struc|get_dict_item:e e %} 

        </td></tr>
        {% endfor %}
    </div>
    <div style="display:table-row;">
        {% for each in ats %}
        <tr><td>
        <!-- {% trans "AttributeType "%} -->
        <div style="display:table-cell;"> 
           <font size="3"> {% firstof each.altnames each.name %} : </font> 
        
        </div></td>

        <!-- field_name {{each.name}}  field_value field_type {{each.data_type}}  -->
        <!-- This ndf tag ats_fields is done to fetch the attribute_type_set. donot replace this with html_widget tag cause it will not allow it to be saved. The field 'value' in the dict is not present as it is fetched directly from the database  -->

        <td>{% ats_fields each.data_type each.name groupid each.complex_data_type %}

        </td></tr>
        {% endfor %}
        {# {{ gs_struc|get_dict_item:'attribute_set' }} #}
        {# {% fetch_req_fields gs_struc|get_dict_item:'attribute_set' 'attribute_set' %}  #}
    </div>
    <div style="display:table-row;">
        {% for each in final_ats %}
        <tr>
            <td>
        <!--   {% trans "PossibleAttributeType "%} -->
        <div style="display:table-cell;"> 
           <font size="3"> {% firstof each.altnames each.name %} : </font> 
        </div></td>
        <td>
            {% ats_fields each.data_type each.name groupid each.complex_data_type %}
        </td></tr>
        {% endfor %}
    </div>
    
    <!--        {% trans "RelationType "%}  -->
    <div style="display:table-row;">
        {% for each in f_rts_object_dict %}
        <div id="{{each.name}}">
        <tr>
            <td>
        <div style="display:table-cell;"> 
           <font size="3"> {% firstof each.altnames each.name %} : </font> 
        </div></td>
        <td>
            {% rts_fields each.name each.object_type groupid %}
        </td></tr>
        </div>
        {% endfor %}
    </div>

    <!-- {% trans "PossibleRelationType "%}     -->
    <div style="display:table-row;">
        {% for each in f_pos_rts_object_dict %}
        <div id="{{each.name}}">
        <tr>
            <td>
        <div style="display:table-cell;"> 
           <font size="3"> {% firstof each.altnames each.name %} : </font> 
        </div></td>
        <td>
            {% rts_fields each.name each.object_type groupid %}
        </td></tr>
        </div>
        {% endfor %}
    </div>





</div>
</table>
<input type="submit" class="button" id="save-node-type" value="Save" />
</form>

{% endblock %}
<script type="text/javascript">
$("form").submit(function(event) {

    
});
</script>

    <!-- the loop below is for the items directly fetched from the models.
    <div style="display:table-row;">
        {% for each in rts %}
        <tr>
            <td>
        {% trans "RelationType "%}
        <div style="display:table-cell;"> 
           <font size="3"> {% firstof each.altnames each.name %} : </font> 
        </div></td>
        <td>
        <input type="text"/> </td></tr>
        {% endfor %}
    </div>



    <div style="display:table-row;">
        {% for key,value in pos_rts.iteritems %}
        <tr><td>
        {% trans "PossibleRelationType "%}
        <div style="display:table-cell;"> 
           <font size="3"> {% firstof value.altnames key value.inverse_name %} : </font> 
        </div></td>
        <td>
        <input type="text"/> </td></tr>
        {% endfor %}
    </div>
    <div style="display:table-row;">
        {% for key,value in pos_ats.iteritems %}
        <tr><td>
        {% trans "PossibleAttributeType "%}
        <div style="display:table-cell;"> 
           <font size="3"> {% firstof value.altnames key value.inverse_name %} : {{value.data_type}} 
            </font> 

        </div></td>
        <td>
            {# {{value}} #}
            {% html_widget groupid node_gs.pk value %}
            {# {% ats_fields value.altnames %}  #}
         </td></tr>
        {% endfor %}
    </div>




    -->