{% extends "ndf/base.html" %}
{% load pagination_tags %}
{% load ndf_tags %}
{% load i18n %}
{% block title %} {% blocktrans %} {{title}}  {% endblocktrans %}
{% endblock %}

{% block style %}
<!-- Style for drawer widget -->
.divider-line { font-size: xx-large; color:lightgray; }
.line-height-2 { line-height:2; }
.line-height-2pt5 { line-height:2.5; }
.fontsize-x-large { font-size: x-large; }

.margin-0 { margin: 0 !important ;}

.resource-drawer {
border-color: #D3D3D3; border-style: solid;
padding: 0 !important;
overflow-y: auto;
}

.resource-drawer li.bullet-item:hover{
background-color: #ecf0f1; cursor:pointer;
}

.posted-by{ color: #808080; font-size: small; }

.selected-resource { background-color:lightgray !important ; }

.resource-type-image {
height:40px;
background-repeat:no-repeat; background-size: 48px 48px
<!-- End -->
{% endblock %}

{% block script %}

{% endblock %}

{% block meta_content %}
  <h2>Batch</h2>
{% endblock %}


{% block related_content %}
  <div class="create card">
  <div class="page">
    <h4><i class="fi-plus"></i> New</h4>
      {% if user.is_authenticated %}
      {% user_access_policy groupid request.user as user_access %}
      {% if user_access == "allow" %}
      <a id ="btn_create" class="button expand" href="{% url 'new_batch' groupid %}">
        Create {{title}}
      </a>
      {% endif %}
      {% endif %}
  </div>
</div>
{% endblock %}


{% block body_content %}
{% get_group_name groupid as group_name_tag %}

<header class="row">
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel2-1"><i class="fi-eye"></i> All Batches {% if batch_coll.count %}({{ batch_coll.count }}){% endif %}</a></dd>
  </dl>
</header>

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
{% for node in batch_coll %}

<li class="card">
  <div id="group">
    <header>
     <a href="{% url 'detail' groupid node %}">
      <div class="label-list">
        {% for tag in node.tags|slice:":3" %}
          <a href="{% url 'tag_info' groupid tag %}"><span class="label">{{tag}}</span></a>
        {% endfor %}
      </div>
        
      <div class="th"><img src="/static/ndf/scss/metastudio/logo.svg"></div>

      <h4>{{ node.name|truncatechars:20 }}</h4>

      <div>
        <small class="subheader">{{ node.member_of_names_list|join:', ' }} created {{node.created_at|timesince}} ago 
        <br/>
        by <span href="#" class="user" data-gnow="">{{node.user_details_dict.created_by}}</span> 
        </small>
      </div>
    </header>
    <p>{{ node.html_content|default_if_none:"Add some description."|safe|striptags|truncatechars:75 }}</p>
   </a> 
  </div>
</li>

{% endfor %}
</ul>





{% paginate %}
{% endblock %}