{% load i18n %}
{% load ndf_tags %}


<div class = "row">
  <div class = "medium-3 column" id = "captcha-content" >
     <!-- Area to append captcha -->
  </div>
  
  <br>

  <div class = "medium-4 column" ends>
  	<label class='fi-refresh js-captcha-refresh'>  </button>
  </div>
  		
</div>
<div class = "invalid-captcha">
  	
</div>
<script type="text/javascript">
   
   var formData = [];
   $('form').submit(function(event){
		event.preventDefault();
		
		$('form').find("input[name]").each(function (index, node) {
	    formData.push(String(node.name) + ":"+ String(node.value));
	    });	
		
		$.ajax({
				url: "{% url 'captcha_validate' %}",
				type:"POST",
				data:{
						formData,
						csrfmiddlewaretoken: '{{ csrf_token }}'},	
				success:function(data)
					{   if (data == 'True')
						{   //Diconnect the on Submit action from form
							$('form').off("submit")
							//Trigger the submit action manually
							$('form').submit()
						}
						else
						{	$('.invalid-captcha').empty();
							$('.invalid-captcha').append("<labe style = 'color:red;'> {% trans 'invalid captcha Try Again' %} !! </label>")
						}
					}
			   });
	});
  
  $(document).ready(function(){
			get_new_captcha();  	   
   });	
  

  function get_new_captcha(){
  	$.ajax({
				url:"{% url 'new_captcha' %}",
				type:"GET",
				success:function(data)
					{
						$('#captcha-content').empty()
						$('#captcha-content').append(data)
					}
  		});
  }
  
  $('.js-captcha-refresh').click(function(){
    		get_new_captcha();
  });


</script>    