{% load static %}
{% load i18n %}

<a href="{% url 'node_detail' first_arg second_arg %}">
<div class="unit_card">

    <div class="unit_header">
        <img class="unit_banner" {% if node.if_file.thumbnail.relurl %} src="{{MEDIA_URL}}{{node.if_file.thumbnail.relurl}}" {% else %} src="/static/ndf/images/module_banner.png" {% endif %} style="height:50px ;width:50px"/>
        <span class="unit_title">{{node.name|truncatechars:20}}</span>
    </div>
    <div class="unit_desc">
        {{node.content}}
    </div>
    
     <div class="unit_actions">
        <span>{{node.id}}</span>
    </div> 
 </div>
 </a>
