{% load ndf_tags %}

{% block search_content %}
<h4><input id="name_id" name="name" type="text" value="" placeholder="Search" required=""></h4>
{% endblock %}

 <nav class="breadcrumbs">
    {% for key,value in breadcrumbs_list %}
       <a class="bc" name="{{key}}">{{ value }}</a>
    {% endfor %}
  </nav>
<ul class="side-nav">
  <!-- Breadcrumbs List on top of collections on resource page   -->

  {% if node.collection_dict|length > 0 %}

  {% for index_key, each_node in node.collection_dict.items %}
  {% get_grid_fs_object each_node as grid_fs_obj %}
  
  {% if each_node.collection_set %}
  <li>
   {% if 'image' in each_node.mime_type %}<i class="fi-camera"></i>  {% endif %}
    
     {% if 'video' in each_node.mime_type %}<i class="fi-video"></i>  {% endif %}
   
     {% if 'Pandora_video' in each_node.member_of_names_list %}<i class="fi-video"></i>  {% endif %}
   
      <h5>
  
      <a class="select" class="collection" name="{{each_node.pk}}"><i class="fi-page-multiple"></i> {{ each_node.name }}</a>
</h5>
  </li>

  {% else %}
  <li>
      <h6 class="{{ each_node.type }}">
      <a class="select" name="{{each_node.pk}}">{{ each_node.name }}</a>
</h6>
  </li>
  {% endif %}
  {% endfor %}

  {% endif %}
</ul>

<script>
  $(".select").click(function() {

  	$.ajax({
      type: "POST",
      url: "{% url 'collection_nav' groupid %}",
      datatype: "html",
      data:{
        node_id: this.name,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        $("#view_page").html(data);
      }
    });

  	$.ajax({
      type: "POST",
      url: "{% url 'collection_view' groupid %}",
      datatype: "html",
      data:{
        node_id: this.name,
        breadcrumbs_list: '{{ breadcrumbs_list }}',
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        $("#view_collection").html(data);
      }
    });

  });

  $(".bc").click(function() {

    $.ajax({
      type: "POST",
      url: "{% url 'collection_nav' groupid %}",
      datatype: "html",
      data:{
        node_id: this.name,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        $("#view_page").html(data);
      }
    });

    $.ajax({
      type: "POST",
      url: "{% url 'collection_view' groupid %}",
      datatype: "html",
      data:{
        node_id: this.name,
        modify_option: 'delete',
        breadcrumbs_list: '{{ breadcrumbs_list }}',
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        $("#view_collection").html(data);
      }
    });


  });

</script>
