{% load ndf_tags %}

<ul class="side-nav">
  {% if node.collection_dict|length > 0 %}
  <nav class="breadcrumbs">
    {% for key,value in breadcrumbs_list %}
    	 <a href="{% url 'page_details' groupid key %}">{{value}}</a> 
    {% endfor %}
  </nav>

  {% for index_key, each_node in node.collection_dict.items %}
  {% get_grid_fs_object each_node as grid_fs_obj %}
  
  {% if each_node.collection_set %}
  <li>
  <div class="row">
    <div class="small-2 columns" >
      <abbr title="Collection"><img src="/static/ndf/images/folder.png"></abbr>
    </div>
    <div class="small-10 columns">
      <a class="select" name="{{each_node.pk}}" style="padding-left:10px;">{{ each_node.name }}</a>
    </div>
  </div>
  </li>

  {% else %}
  <li>
  <div class="row">
    <div class="small-2 columns" >
      <abbr title="Page"><img src="/static/ndf/images/doc.png"></abbr>
    </div>
    <div class="small-10 columns" >
      <a class="select" name="{{each_node.pk}}" style="padding-left:12px;">{{ each_node.name }}</a>
    </div>
  </div>
  </li>
  {% endif %}
  {% endfor %}

  {% endif %}
</ul>

<script>
  $(".select").click(function() {

  	$.ajax({
      type: "POST",
      url: "{% url 'collection_nav' groupid %}",
      datatype: "html",
      data:{
        node_id: this.name,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        $("#view_page").html(data);
      }
    });

  	$.ajax({
      type: "POST",
      url: "{% url 'collection_view' groupid %}",
      datatype: "html",
      data:{
        node_id: this.name,
        breadcrumbs_list: '{{ breadcrumbs_list }}',
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        $("#view_collection").html(data);
      }
    });

  });
</script>