{% extends "ndf/base.html" %}
{% load i18n %}
{% load ndf_tags %}
{% load pagination_tags %}
{% get_group_name groupid as group_name_tag %}
{% block title %} {{title}} {% endblock %}

{% block help_content %}
{% endblock %}
{% block style %}
  {{block.super}}
  li{
    list-style:none;
  }
  .btn-width{
    width:100% !important;
    max-width:100% !important;
  }
{% endblock %}

{% block meta_content %}

  {% check_is_gstaff groupid request.user as is_gstaff %}
    
  {% if is_gstaff %}
    {% if req_from_course %}
        <a class="button btn-width" href="{% url 'create_edit' group_name_tag %}">
          <i class="fi-plus"></i>{% trans " New Course" %} 
        </a>
    {% else %}
        <a href="{% url 'create_event_group' group_id 'ProgramEventGroup' %}" class="button btn-width">
          <i class="fi-plus"></i>{% trans " New Event" %}
        </a>
    {% endif %}
  {% endif %}
  
  {% user_access_policy groupid request.user as user_access %}
    <!-- 
      Tab 1 - All CourseEvents  (Displayed to all : Anonymous, Authenticated, Group member/admin/owner, SuperUser)
      Tab 2 - User enrolled CourseEvents
      Tab 3 - Courses
    -->
    <header class="row" data-tab data-options="deep_linking:true">
      <ul class="vertical tabs" data-tab role="tablist">
        <li class="active"><a href="#all_events" class="button">{% if req_from_course %}{% trans "All eCourses" %}{% else %}{% trans "All Events" %}{% endif %}</a></li>
        {% if request.user.is_authenticated  and not is_gstaff %}
          <li><a href="#my_events" class="button">{% if req_from_course %}{% trans "My eCourses" %}{% else %}{% trans "My Events" %}{% endif %}</a></li>
        {% endif %}    
        {% if req_from_course and is_gstaff %}
            <li><a href="#courses" class="button">{% trans "Courses" %}</a></li>
        {% endif %}
      </ul>
    </header>


{% endblock %}

{% block body_content %}

    <div class="tabs-content ">

      <section role="tabpanel" aria-hidden="true" class="content active small-block-grid-1 medium-block-grid-2 large-block-grid-4" id="all_events">
      <div class="row" style="margin-left:1px;">
      <div class="large-4 columns repository-title">
        {{title}}
      </div>
      {% if title == "Course" %}
        <div class="large-8 columns repository-desc">All eCourses</h4>
      {% else %}
        <div class="large-8 columns repository-desc">All {{title}}</div>
      {% endif %}
      </div>
      
        {% for course in ce_coll %}
          <li class="card-image-wrapper"> 
            {% include 'ndf/simple_card.html' with resource=course has_logo=True url_name="groupchange" first_arg=course.pk  %}
          </li>
        {% empty %}
            <div class="row">
              <div class="small-12 columns">
                <h5> 
                {% if req_from_course %}No Course Available!
                {% else %}No Program Available!
                {% endif %}
                </h5>
              </div>
            </div>
        
        {% endfor %}
      </section>

      <section role="tabpanel" aria-hidden="true" class="content small-block-grid-1 medium-block-grid-2 large-block-grid-4" id="my_events">
      {% if title == "Course" %}
        <h4>My eCourses</h4>
      {% else %}
        <h4>My {{title}}</h4>
      {% endif %}
        {% for course in enr_ce_coll %}
          <li class="card-image-wrapper"> 
            {% include 'ndf/simple_card.html' with resource=course has_logo=True url_name="groupchange" first_arg=course.pk %}
          </li>

        {% empty %}
            <div class="row">
              <div class="small-12 columns">
                <h5>
                {% if req_from_course %}Not Enrolled to Any Courses!
                {% else %}Not Enrolled to Any Programs!
                {% endif %}
                </h5>
              </div>
            </div>
        
        {% endfor %}
      </section>



      <section role="tabpanel" aria-hidden="true" class="content small-block-grid-1 medium-block-grid-2 large-block-grid-4" id="courses">
      <div class="repository-title"> All Courses</div>
        {% for course in course_coll %}
          <li class="card-image-wrapper"> 
            {% include 'ndf/simple_card.html' with resource=course url_name="groupchange" first_arg=node.pk %}
          </li>

        {% empty %}
            <div class="row">
              <div class="small-12 columns">
                <h5> No Course Created!
                </h5>
              </div>
            </div>
        
        {% endfor %}
      </section>

  {% paginate %}

{% endblock %}


