{% extends "ndf/node_edit_base.html" %}

{% load ndf_tags %}

{% block meta_content %}
  <h3>Course Building</h3>
  <p class="text-justify"><b>Course</b> is a sequenced collection of already freezed modules.</p>
{% endblock %}


{% block related_content %}
  {% if user.is_authenticated %}
  {% user_access_policy groupid request.user as user_access %}
  {% if user_access == "allow" %}
  <br/>
  <div class="create card">
    <div class="course">
      <br/>
      <a class="button medium" href="{% url 'create_edit' group_name_tag %}">
        <span class="fi-plus">&nbsp;&nbsp;New {{title}}</span>
      </a>
    </div>
  </div>
  {% endif %}
  {% endif %}
{% endblock %}


{% block page_tab %} Basic {% endblock %}
{% block collection_tab %}Add Module {% endblock %}

{% block collection %}
<div class="content" id="panel-collection" style="width:95%;">
  <div class="row">
    <div class="small-12 columns">
      <h5>Add or Remove Module : </h5>
    </div>
    <div class="small-12 columns">
      <div id="module_drawer" >
	<!-- {#% edit_drawer_widget "module" groupid node %#} -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
