{% extends "ndf/gbase.html" %}
{% load simple_filters %}
<!-- to change the grid of main body content use following "instead" of above extends: -->
{# {% xextends "ndf/gbase.html" with first_body_column=6 %} #}

{% load i18n %}
{% load ndf_tags %}
{% get_group_name groupid as group_name_tag %}
{% block title %} {{title}} -- khaal version  {% endblock %}

{% block meta_content %}
  {% include "ndf/side_group_panel.html" %}
{% endblock meta_content %}

{% block body_content %}

  < replace ur envelope code here >
  <br/>
  ------------------------
  <br/>
  {% include "ndf/gcollection_ajax_view.html" %}

  < include course summary/description template here >
{% endblock %}


