{% extends "ndf/node_details_base.html" %}
{% load ndf_tags %}
{% load i18n %}
{% block title %} {{title}} {{node.name}}{% endblock %}
{% block url %}{% url 'create_edit' groupid node %}{% endblock %}

<!-- overide head block from base.html -->
{% block head %}
  <!-- <script src="/static/ndf/js/tree.jquery.js"></script> -->
  <script src="/static/ndf/bower_components/jqtree/tree.jquery.js"></script> <!-- checked -->
{% endblock %}

{% block style %}
  {{block.super}}

  .name-section{
    height:80px;
  }
{% endblock %}


<!-- overiding block from node_detail_base.html -->
{% block meta_content %}
{% endblock %}


{% block collection_content %}
  <div id="view_collection">
    {% include "ndf/collection_ajax_view.html" %}  
  </div>
  <span><a class="tiny button" href="{% url 'create_course_struct' group_id node.pk %}">{% if course_structure_exists %}{% trans "Edit  Course Structure" %}{% else %}{% trans "Add  Course Structure" %}{% endif %}</a></span>
{% endblock %}


<!-- overiding block_related content -->
{% block related_content %}
<!-- <section class="medium-6 large-12 columns">
  <h3>{% trans "Modules" %}</h3>
  <div class ="row">
    {% for each in node.collection_set %}
    bellow div for making tree from json data
    <div class="tree" data-url="{% url 'get_module_json' groupid %}?_id={{each}}"></div>
    {% endfor %}
  </div>
</section> -->
{% endblock %}

<!-- overiding block from node_detail_base.html -->
{% block body_content %}
{% get_group_name groupid as group_name_tag %}


<header class="row page">
   <section class="medium-8 columns name-section" >
    <h3>
      <span class='node'>{{node.name}}</span>
      <!-- <span><a class="fi-pencil " href="{% url 'create_edit' group_id node.pk %}"></a></span> -->

      <!-- This button publishes the drafted resource -->

    </h3>
      <small>
            <div class="age">
              {{ node.member_of_names_list|join:', ' }} created {{node.created_at|timesince}} ago 
              by <a class="user" href="{% url 'dashboard' node.created_by %}" data-gnow="">{{node.user_details_dict.created_by}}</a> 
            <!-- <span><strong>{{node.contributors|length}}</strong> Contributor{{node.contributors|pluralize}}</span> -->
            <!-- <a href=""><i class="fi-clock"></i> {% trans "View history" %}</a> -->
            </div>

      </small>
   </section>
   <section class="medium-3 columns name-section" >

     <span>{% include "ndf/rating.html" %} </span>


  </section>
</header>

<div class="row">
  {% with node.html_content|safe as description %}
  {% if description != "None" %}
  {{ description }}
  {% endif %}
  {% endwith %}
</div>
<br>

<div id="view_page"></div>

{% endblock %}

{% block script %}
  {{block.super}}
{% endblock %}


{% block document_ready %}
  {{block.super}}

  $(function() {
    $('.tree').tree({
     autoOpen: 0
   });
  });

  $('.tree').bind(
    'tree.click',
    function(event) {
      // The clicked node is 'event.node'
      var node = event.node;
      alert(node.id);
    }
    );

      {% if not course_structure_exists %}
        $("#view_page").append("<label>{% trans 'You have not added any content to this course yet' %}</label>")
      {% endif %}


      $("#view_collection").find("b.current").after('&nbsp;&nbsp;<span><a class="fi-pencil" href="{% url 'create_edit' group_id node.pk %}">{% trans "Edit" %}</a></span>')

{% endblock %}


