{% load i18n %}
{% load ndf_tags %}

<!-- Handles Activity page detail and listing -->
{% if activity_node and not editor_view %}
    <div class="activity-detail-page">
        <div class="row">
            <div class="small-6 columns">
                <h4 class="page-name">{{activity_node.name}}</h4>
            </div>
            <div class="small-2 columns">
                 {% if activity_node.tags %}
                    {% for tag in activity_node.tags %}
                            <small><label class="lbl_tag label">
                        <a href="{% url 'tag_info' group_id tag %}">{{tag}} </a></label></small>
                    {% endfor %} 
                {% else %}
                    <i><small><label class="lbl_tag">{% trans "No tags defined yet!" %}</label></small></i>
                {% endif %}   
            </div>
            
                <a href="{% url 'all_translations' group_id activity_node.pk %}">Translate</a>
            </div>
            <div class="small-2 columns">
                <a href="{% url 'edit_course_page' group_id activity_node.pk %}">Edit</a>
            </div>
            <div class="small-2 columns ">
                <a href="{% url 'course_pages' group_id %}" >Back to Activities</a>
            </div>
        </div>
        <div class="row activity-detail-content">
            {% include "ndf/node_ajax_content.html" with node=activity_node %}
        </div>
    </div>


{% else %}
    {% if user.is_authenticated %}
        <div class="activity-sheet-actions">
            <div class="row">
            <a class="right orange-button-template" href="{% url 'create_course_page' group_id %}">Add Activity Page</a>
            </div>
        </div>
    {% endif %}


    <div id="page_listing">
        <div class="row">
            {% for each in all_pages %}
                <a class="view-page" data-page-id="{{each.pk}}" data-node-name="{{each.name}}" title="{{each.name}}" href="{% url 'view_course_page' group_id each.pk %}">
                    <div class="small-12 medium-6 large-3 columns">
                        <div class="asset_tile">
                            <div class="asset_preview">
                                {% if each.if_file.mid.relurl and 'video' not in each.if_file.mime_type %}
                                <img src="{{MEDIA_URL}}{{each.if_file.mid.relurl}}">
                                {% elif 'video' not in each.if_file.mime_type and each.if_file.thumbnail.relurl %}
                                <img src="{{MEDIA_URL}}{{each.if_file.thumbnail.relurl}}">
                                {% else %}
                                <img src="/static/ndf/images/asset_thumbnail.png">
                                {% endif %}
                            </div>
                            <div class="asset_text">
                                <div class="asset_title" title="{{each.name}}">{{each.name|truncatechars:25}}</div>
                                <div class="asset_desc">{{each.content|safe|striptags|truncatechars:35}}</div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>



{% endif %}

