{% extends "ndf/base.html" %}
{% load i18n %}
{% load ndf_tags %}
{% load pagination_tags %}
{% get_group_name groupid as group_name_tag %}

{% block title %} {{title}} {% endblock %}

{% block help_content %}
<p>{% blocktrans %} "About Course... <em>coming soon</em>" {% endblocktrans %}</p>
{% endblock %}


{% block meta_content %}
  <h2 class="subheader">{% trans "Courses" %}</h2>

  

    {% if user.is_authenticated %}
      {% user_access_policy groupid request.user as user_access %}
      {% if user_access == "allow" %}

        <a class="small button" href="{% url 'create_edit' group_name_tag %}">
          <span class="fi-plus">&nbsp;&nbsp; {% trans "New" %} {{title}} </span>
        </a>

      {% endif %}
    {% endif %}

  

{% endblock %}


{% block search_content %}
  {% include "ndf/node_search_base.html" %}
{% endblock %}


{% block related_content %}
{% endblock %}


{% block body_content %}

<header class="row">
  <dl class="tabs" data-tab data-options="deep_linking:true">
    <dd class="active"><a href="#panel2-1"><i class="fi-eye"></i>{% trans "All Courses" %} {% if course_coll.count %}({{ course_coll.count }}){% endif %}</a></dd>
  </dl>
</header>

{% if searching and course_coll.count > 0 %}
<div class="row">
  <div class="small-12 columns end">
    <p>{% trans "Search Results:" %} <span class="label success round"> Found {{course_coll.count}} {{title|lower}}{{course_coll.count|pluralize}}.</span></p>
  </div>
</div>

{% elif searching and course_coll.count == 0 %}
<div class="row">
  <div class="small-12 columns">
    <p>{% trans "Search Results:" %} <span class="label alert">No {{title|lower}}{{course_coll.count|pluralize}} matched your search criteria!!!</span></p>
  </div>  
</div>  

{% endif %}

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">

  {% autopaginate course_coll 23 %}

  {% for course in course_coll %}
  <li class="card">
    <div class="course">
      <a href="{% url 'course_detail' group_name_tag course %}">
      <div class="row">
        <div class="small-8 column">
          <b>{{course.name}}
          </b>
        </div>
      
        </div>
        </br></a>

        <div class="label-list small-12 columns">
          {% for tag in course.tags|slice:":3" %}
          <a href="{% url 'tag_info' group_name_tag tag %}">
            <span class="label" style="background-color:yellow">{{tag}}</span>
          </a>{% endfor %}
        </div>
          <footer>
            <div class="age">
              {{ course.member_of_names_list|join:', ' }} created {{course.created_at|timesince}} ago 
              <br/>
              by <span class="user" href="{% url 'dashboard' course.created_by %}" data-gnow="">{{course.user_details_dict.created_by}}</span> 
            </div>
            <span><strong>{{course.contributors|length}}</strong> Contributor{{course.contributors|pluralize}}</span>
          </footer>
      </div>
    </li>        

  {% empty %}
    {% if not searching %}
    <div class="row">
      <div class="small-12 columns">
<h5> {% blocktrans %}This group doesn't have any courses. <b>Be the first to create a course!</b>{% endblocktrans %} </h5>
      </div>
    </div>
    {% endif %}
  
  {% endfor %}

</ul>

{% paginate %}

{% endblock %}
