<div class="activity-sheet-actions">
    <div class="row">
    <button type="button" class="right orange-button-template createActivityPage">
        <i class="fi-plus"> </i>
        Add Activity Page
    </button>
    </div>
</div>

<div id="addActivityPage" class="hide">
    <form id ="course_page_form" enctype="multipart/form-data" method="post" action="{% url 'save_course_page' group_id %}">{% csrf_token %}
        <div>
            <div class="row">
                <div class="medium-8 columns name-div">
                    <input type="text" class="node_name" name="name" placeholder="Enter name of Page">
                </div>
                <div class="medium-4 columns">
                    <a class="right orange-button-template existing-template">Create page from existing template</a>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns editor-div">
                    {% include "ndf/html_editor.html" with var_name="content_org" var_placeholder="Enter the content here" var_value="" ckeditor_toolbar="GeneralToolbar" %}
                </div>
                
            </div>
            <input type="hidden" name="node_id" class="form_node_id">

            <input type="submit" class="orange-button" class="saveActivityPage" value="Save">
            <input type="button" class="orange-button cancel-page-create" value="Cancel">
        </div>
    </form>
</div>
<div class="page-view reveal-modal medium" id="scstyle" data-reveal aria-hidden="true" role="dialog">
    <div class="page-content"></div>
    <a class="right edit-page">Edit</a>
    <a class="close-reveal-modal" >&#215;</a>
</div>
<div id="templates-div" class="reveal-modal medium" data-reveal aria-hidden="true" role="dialog">
    <div class="templates-content"></div>
    <a class="close-reveal-modal" >&#215;</a>
</div>
<div id="page_listing">

<div class="row"> 
    {% for each in all_pages %}
        <a class="view-page" data-page-id="{{each.pk}}" data-node-name="{{each.name}}">
            <div class="small-12 medium-6 large-3 columns">
                <div class="asset_tile">
                    <div class="asset_preview">
                        {% if each.if_file.mid.relurl and 'video' not in each.if_file.mime_type %}
                        <img src="{{MEDIA_URL}}{{each.if_file.mid.relurl}}">
                        {% elif 'video' not in each.if_file.mime_type and each.if_file.thumbnail.relurl %}
                        <img src="{{MEDIA_URL}}{{each.if_file.thumbnail.relurl}}">
                        {% else %}
                        <img src="/static/ndf/images/asset_thumbnail.png">
                        {% endif %}
                    </div>
                        <div class="asset_text">
                            <div class="asset_title">{{each.name}}</div>
                            <div class="asset_desc">{{each.content|truncatechars:20}}</div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div></div>
<script type="text/javascript">
    
    $( ".createActivityPage" ).click(function() {
        $("#addActivityPage").removeClass("hide")
        $("#page_listing").addClass("hide")
        $(".activity-sheet-actions").addClass("hide")
        $(".form_node_id").attr('value', '')
        $(".node_name").attr('value', '')
        CKEDITOR.instances['ckeditor_textarea'].setData('');
    });

    $( ".cancel-page-create" ).click(function() {
        $(".activity-sheet-actions").removeClass("hide")
        $("#addActivityPage").addClass("hide")
        $("#page_listing").removeClass("hide")
    });

    $(document).on('click','.edit-page',function(){
        node_id = $(this).attr("id")
        data_node_name = $(this).attr("data-node-name")
        $("#addActivityPage").removeClass("hide")
        $("#page_listing").addClass("hide")
        $(".page-view").foundation('reveal','close')
        $(".activity-sheet-actions").addClass("hide")
        $(".node_name").attr('value', data_node_name)
        $.ajax({
          url: "{% url 'inline_edit_res' group_id %}",

          type: "GET",
          data: {
            node_id: node_id
          },

          dataType: "html",

          success: function(data){
            console.log(data)
            $(".editor-div").html(data);
          },
        });//end of ajax
        $(".form_node_id").attr('value', node_id)
    })


    $(document).on('click','.view-page',function(){
        node_id = $(this).attr('data-page-id')
        node_name = $(this).attr('data-node-name')
        // node_content = $(this).attr('data-node-content')

        $.ajax({
        url: "{% url 'load_content_data' group_id %}",

        data: {
          node_id: node_id,
        },

        type: "GET",

        dataType: "html",

        success: function(data){
            $(".edit-page").attr("id", node_id)
            $(".edit-page").attr("data-node-name", node_name)
            // $(".edit-page").attr("data-node-content", node_content)
            $(".page-content").html(data)
            $(".page-view").foundation('reveal','open')
        },
        });//end of ajax
    });

    $( ".existing-template" ).click(function() {
        $.ajax({
            type: "GET",
            url: "{% url 'get_templates_page' groupid %}",
            datatype: "html",
            data:{

            },
            success: function(data) {
                $(".templates-content").html(data);
                $('#templates-div').foundation('reveal', 'open');
            }
        });
    });

</script>
