{% load i18n %}
{% load ndf_tags %}
<div class ="small-12 large-12 columns">
          <h5>Add New Page:</h5> 
</div>

<div class="small-12 columns">
            <input class="name_id" name="name" type="text" placeholder="Enter name ...">
</div>
 <div class="small=12 columns">
     {% include "ndf/html_editor.html" with var_name="content_org" var_placeholder="Enter the content here" var_value=node.content|default_if_none:"" node_id=node.pk ckeditor_toolbar="GeneralToolbar" %}
 </div>

     <div class="small-12 columns">
            <input type="submit" id="add_page" value="Save Page" class="tiny  button"/>
            <input type="button" id="cancel_btn" value="Cancel" class="tiny  button"/>
	</div>
	<div>
		<div class="row">
							<h3>
							<span  class="subheader small-3 columns"  data-tooltip class="has-tip" title="{% trans 'Tags help identify similiar work easily. Just add tag text and click Add Tag button' %}"> {% trans "Add Tag" %}:
							</span>

							</h3>
							<div class="small-9 columns">
							<div class="row collapse">
								
							<div class="small-10 columns">
						    	<input id="tags_id" tabindex="2" type="text" value="" placeholder="{% trans 'Add tag text and click on [Add Tag] button' %}">
						    	<input type="hidden" value="{{node.tags|join:', '|default_if_none:""}}" name="tags">
					        </div>
					        <div class="small-2 columns">
					          <span tabindex="3" id="add-tag-btn" class="tiny button radius">{% trans 'Add Tag' %}</span>
					        </div>
							</div>							

							</div>
						</div>
	</div>
	<div class="row">
		<div id="added_tags" class="small-9 small-push-3 columns">
			{% for each_tag in node.tags %}
				<div class="tags label radius info">{{each_tag}}<i title="Remove this tag" class="fi-x-circle remove-tag"></i></div>
			{% endfor %}
		</div>
	</div>
<script type="text/javascript">
	var tagsArr = new Array();
	var tags = document.getElementById("tags_id");
 	var addedTags = document.getElementById("added_tags");
	 function checkTag()
	{
		var textValue = tags.value.trim();
		// console.log(textValue.length);

		if(textValue.length < 1){ return false; }

		// re expression containing special characters
		var re = /[.*+=~`<>;:'"_?^${}()!%\^|[\]\\\/#]/g;

		if(re.test(textValue))
		{	// having special characters
			$('#tags_error').removeClass("hide");
			return false;
		}
		else
		{	// passed the test and now add tag label
			$('#tags_error').addClass("hide") // fadeout fastly ongoing fadeout event
			return true;
		}
	}

	tags.onchange = checkTag;
	tags.onmouseup = checkTag;
	tags.onkeyup = checkTag; 
  	function updateAllTags() {
		

		$("#added_tags").children("div.tags.label").each(function(){
			tagsArr.push(this.textContent.trim().toLowerCase());
		});

		$("input:hidden[name='tags']").val(tagsArr.toString());
		// console.log(tagsArr)
	}
	

	function removeTag(){
		$(this).parent().fadeOut("slow", function(){
			$(this).detach();
		});

		updateAllTags();
	};

	$(".remove-tag").click(removeTag);

	$(".remove-tag").mouseenter(function(){
		$(this).parent("div.tags").css("text-decoration", "line-through");
	});

	$(".remove-tag").mouseleave(function(){
		$(this).parent("div.tags").css("text-decoration", "none");
	});

	function addTag() {
		if(checkTag())
		{
			var textValue = tags.value.trim().toLowerCase();
			tags.value = '';

			var tagDiv = document.createElement("div");
			tagDiv.className = "tags label radius info";
			tagDiv.appendChild(document.createTextNode(textValue));
			// tagDiv.setAttribute("data-primary-type", selFieldPrimaryType);

			var closeBtn = document.createElement("i");
			closeBtn.className = "fi-x-circle remove-tag";
			closeBtn.title = "{% trans 'Remove this tag' %}";
			closeBtn.onclick = removeTag;

			$(closeBtn).mouseenter(function(){
				$(this).parent("div.tags").css("text-decoration", "line-through");
			});

			$(closeBtn).mouseleave(function(){
				$(this).parent("div.tags").css("text-decoration", "none");
			});

			tagDiv.appendChild(closeBtn);

			addedTags.appendChild(tagDiv);

			updateAllTags();
		}
		else
		{
			$('#tags_error').removeClass("hide");
		}
		tags.focus();
	}

	var addTagBtn = document.getElementById("add-tag-btn");
	addTagBtn.onclick = addTag;
	addTagBtn.onkeypress = addTag;
	$("#add_page").click(function() {
	  tags = tagsArr.toString();
      var content_val = CKEDITOR.instances['ckeditor_textarea'].getData();
      page_name = $(".name_id").val();
      if(page_name!=""){
        $.ajax({
          type: "POST",
          url: "{% url 'add_page' group_id %}",
          datatype: "html",
          data:{
            is_create_note:"True",
            name: page_name,
            blog_type: "True",
            tags:tags,
            csrfmiddlewaretoken: '{{ csrf_token }}',
         	content_org:content_val,
          },
          success: function(data) {
          		location.reload();
          }
        });
      }
      else{
        alert("Please enter name.");
        event.preventDefault();

      }
    });

    		setTimeout(function()
    			{ 
					{% for each in img_res %}
						{% if "media" in each %}
    						CKEDITOR.instances['ckeditor_textarea'].insertHtml('<img width="50%" src="{{each}}"> </img></br>'); 
						{% endif %}
			    {% endfor %}
			    
			    {% for each in audio_res %}
						{% if "media" in each %}
			CKEDITOR.instances['ckeditor_textarea'].insertHtml('<audio controls><source src="{{each}}" type="audio/ogg"><source src="{{each}}" type="audio/mpeg"></audio></br>'); 

					{% endif %}
			    {% endfor %}

			    {% for each in video_res %}
						{% if "media" in each %}
    						CKEDITOR.instances['ckeditor_textarea'].insertHtml('<video width="400" controls><source src="{{each}}" type="video/mp4"><source src="{{each}}" type="video/ogg"></video></br>'); 
						{% endif %}
			    {% endfor %}

    			},3000);
</script>