{% extends "ndf/mis_base.html" %}
{% load ndf_tags %}
{% load url from future %}
{% load i18n %}
{% block title %} {{title}} {% endblock %}
{% block url %}{% url 'create_edit' groupid node %}{% endblock %}

<!-- overide head block from base.html -->


{% block style %}
.row .row {
  margin-left: 0


#top_right_btn{
  position: absolute,
  right:0
}

}
{% endblock %}

{% block head %}
  <script src="/static/ndf/bower_components/jqtree/tree.jquery.js"></script> <!-- checked -->
{% endblock %}

<!-- overiding block from node_detail_base.html -->
{% block meta_content %}

{% endblock %}


<!-- overiding block_related content -->
{% block related_content %}
<section class="medium-6 large-12 columns">
  <h3>{% trans "Modules" %}</h3>
  <div class ="row">
    {% for each in node.collection_set %}
    <!-- below div for making tree from json data -->
    <div class="tree" data-url="{% url 'get_module_json' groupid %}?_id={{each}}"></div>
    {% endfor %}
  </div>
</section>
{% endblock %}

<!-- overiding block from node_detail_base.html -->
{% block collection_content %}
{% endblock %}

<!-- overiding block from node_detail_base.html -->
{% block body_content %}
  <header class="row">
	<div class="row">
		<h2 class="small-6 columns end"> {{node.name}}</h2>


	</div>
	<div class="row">
		<small class="small-4 columns end">{{ node.last_update|timesince }}{% trans "ago edited by" %} <a class="user">{% trans "User" %}</a> <a href="#view-changes"><i class="fi-clock"></i> {% trans "View history" %}</a>
		</small>
	</div>
  </header>

  <fieldset>
    <legend>
  		{% trans "Course Registration Details "%}
    </legend>
    {% if course_gst_name == "NUSSD Course" %}
    	{% for tab_name, tab_fields_list in property_order_list %}
    		<div class=" {% if forloop.counter == 1 %}active {% endif %}content row" id="panel_{{tab_name}}">
    			{% for field in tab_fields_list %}
    				<div class="small-6 columns"> 
    					{{field.altnames}}
    				</div>
    				<div class="small-3 columns {{field.altnames}}">
              {% if field.altnames == "Master Trainer: Minimum qualifications requirement" or field.altnames == "Voluntary Teacher: Minimum qualifications requirement" %}
                {% for k in field.value %}
                  {% for k1,v1 in k.items %}
                      {% if k1 == "text" %}
                        {{v1|title}}
                      {% endif %}
                  {% endfor %}
                {% endfor %}
              {% elif field.altnames == "Tags" %}
                {% for k in field.value %}
    	   				  {{k}}
                {% endfor %}
              {% else %}
                {{field.value|title}}
              {% endif %}
    				</div>
    				<br>
    			{% endfor %}
    		</div>
    	{% endfor %}
    {% elif course_gst_name == "Announced Course" %}
      {% for each in property_order_list_ac %}
        <div>
        {% for fieldk,fieldv in each.items %}
            <div class="small-6 columns"> 
              {{fieldk|title}}
            </div>
            <div class="small-3 columns end">
              {{fieldv|title}}
            </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
  </fieldset>

  {% if course_gst_name == "NUSSD Course" %}
    <fieldset>
      <legend>
    		{% trans "Course Structure Details "%}
      </legend>
      <div id="cs-div"></div>

      {% if not course_structure_exists %}<div>
      <label>{% trans "You haven't added any content to this course yet" %}</label></div>{% endif %}
  	<span class="small-6 columns  end right inline" ><a class=" button" href="{% url 'create_course_struct' groupid node.pk %}?app_id={{app_id}}&app_set_id={{app_set_id}}">{% if course_structure_exists %}{% trans "Edit  Course Structure" %}{% else %}{% trans "Add  Course Structure" %}{% endif %}</a></span>
    </fieldset>
  {% endif %}
</div>

{% endblock %}

{% block document_ready %}
  {{block.super}}

  {% for each_cs in node.collection_set %}
    {% get_node each_cs as cs_node %}
        cs_str = "<h6>"+{{forloop.counter}}+". {{cs_node.name}}</h6>"
        $("#cs-div").append(cs_str)
      {% if cs_node.collection_set %}
        {% for each_css in cs_node.collection_set %}
          {% get_node each_css as css_node %}
            css_str = "&nbsp;&nbsp;<h7>"+ {{forloop.counter}}+". {{css_node.name}}</h7><br>"
            $("#cs-div").append(css_str)
            {% if css_node.collection_set %}
              {% for each_unit in css_node.collection_set %}
                {% get_node each_unit as unit_node %}
                  cu_str = "&nbsp;&nbsp;&nbsp;&nbsp;<h7>"+ {{forloop.counter}}+". {{unit_node.name}}</h7><br>"
                  $("#cs-div").append(cu_str)
                  {% if unit_node.collection_set %}
                    {% for each_res in unit_node.collection_set %}
                      {% get_node each_res as res_node %}
                        {% if res_node %}
                          {% if res_node.member_of_names_list.0|lower == "page" or res_node.member_of_names_list.0|lower == "quiz" %}
                            k = "{% url res_node.member_of_names_list.0|lower|concat:"_details" groupid res_node.pk %}"
                          {% else %}
                            k = "{% url res_node.member_of_names_list.0|lower|concat:"_detail" groupid res_node.pk %}"
                          {% endif %}
                          var str_unit = "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+ {{forloop.counter}}+". <a href='"+k+"' target='_blank' class='unit_name'>{{res_node.name}}</a><br>"
                          $("#cs-div").append(str_unit)
                      {% endif %}
                    {% endfor %}
                  {% endif %}
              {% endfor %}
            {% endif %}
        {% endfor %}
      {% endif %}
  {% endfor %}

{% endblock %}
