{% load ndf_tags %}
{% load i18n %}
{% load cache %}

{% block head %}
{% cache 360 static_collection_tree_head %}  <!-- cache static dependencies for a hour -->
  <link href="/static/ndf/bower_components/jqtree/jqtree.css" rel="stylesheet"> 
  <script src="/static/ndf/bower_components/jqtree/tree.jquery.js"></script> <!-- checked -->

  <script src="/static/ndf/bower_components/jquery-ui/jquery-ui.js"></script> <!-- checked -->
  <script src="/static/ndf/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script> <!-- checked -->
  <script src="/static/ndf/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-sliderAccess.js"></script> <!-- checked -->
  <link rel="stylesheet" href="/static/ndf/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css"> <!-- checked -->
  <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/jquery-ui/themes/smoothness/jquery-ui.css"> <!-- checked -->
{% endcache %}
    
  <script type="text/javascript">

    $(document).ready(function() {      
      {% check_is_gstaff groupid request.user as is_gstaff %}

      // Funtion for loading tree for showing collection list left side panel
      doc();

      // Function for manipulating tree when user visits to page directly via browser url
      TreeTillNode();
      $(".date_month_day_year").datepicker({ 
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy',
        defaultDate: '0'
      });

    });

    function TreeTillNode () {
      // This gives the last hierarchy node id from browser url.
      // var url = window.location.search.replace("?selected=", "")
      var url = "{{selected}}";

      // Condition to check whether the tree has been loaded on the page completely or not before attempting any function on tree(such as 'getNodeById')
      if (url && $(".collection").not(".jqtree-loading").length > 0){

        var tree_build = $(".collection").not(".jqtree-loading");
        var node = tree_build.tree('getNodeById', url);
        tree_build.tree('selectNode', node);
        return;
      }
      
      // Javascript function to be used for checking objects in specific time of interval
      setTimeout(function(){
        // console.log($(".collection"))
        if(url && ($(".collection").length > 0)) { TreeTillNode() }
        $(".jqtree-title-folder").addClass('jqtree-toggler').removeClass('jqtree-title').removeClass('jqtree-title-folder');}, 100 );
    }
    

    function doc(){
      var $tree = $('.collection');
      var arr = [];  
      {% get_node_type node as node_type %}  
      
      var node_type = "{{node_type}}";

      $tree.tree({
        selectable: true,
        keyboardSupport: false
      });


      // This "tree.select" event helps to click the particular tree node and also triggers the click event on tree node
      $tree.bind(          
        'tree.select',
        function(event) {
          if (event.node){
            // The clicked node is 'event.node
            var node = event.node;
            var parent_arr = [];
            var parent_node = node;
            parent_arr.push(node.id);

            // Bellow code manipulates the parent hierarchy of clicked node in a tree
            while (parent_node) {
                if (parent_node.name !== undefined){ 
                  $tree.tree('openNode', parent_node);
                  parent_node = parent_node.parent;
                  if (parent_node.name !== undefined){
                    parent_arr.push(parent_node.id);                                          
                  }
                }
                else{
                  parent_node = null;
                  break;
                }
            }
            collapse_tree(node);
            var nav_list = parent_arr.reverse();
            if(node['node_type']!="CourseSectionEvent" && node['node_type']!="CourseSubSectionEvent" && node['node_type']!="CourseUnitEvent" && node['node_type']!="CourseSection" && node['node_type']!="CourseSubSection" && node['node_type']!="CourseUnit" && update_url){
              // alert(nav_list);
              // alert("node_type");
              $.ajax({
                  type: "POST",
                  url: "{% url 'collection_nav' group_id %}",
                  datatype: "html",
                  data:{
                    node_id: node.id,
                    curr_node:"{{node.pk}}",
                    nav: nav_list,
                    nod_type: node_type,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                  },
                  success: function(data) {
                    if (node_type == "CourseEventGroup" || node_type == "ProgramEventGroup"){
                      window.history.pushState("", "", "/{{node.pk}}"+"?selected="+node.id+"");
                      $(".view_page_link").trigger('click')
                    }
                    $("#view_page").html(data);
                  }
              });
              $('article').unblock()
            }
            else if(node['node_type']=="CourseUnitEvent"){
              $(".view_page_link").trigger('click')
              $("#view_page").html("")
              var lbl_name = document.createElement('label');
              lbl_name.style.fontSize = "20px"
              if(node.hasChildren()){
                lbl_name.innerHTML = node.name + " contains following : ";
                $("#view_page").append(lbl_name);
                var ol_elem = document.createElement('OL');
                ol_elem.id = "res_container";
                if (node){  
                  for(var i=0;i<node.children.length;i++){
                    var elem2 = document.createElement('LI');
                    elem2.innerHTML = node.children[i].name;
                    elem2.className = "res_name"
                    $(ol_elem).append(elem2)
                  }
                }
              }
              else{
                lbl_name.innerHTML = node.name + " contains no files yet!";
                $("#view_page").append(lbl_name);

              }

              $("#view_page").append(ol_elem)
            }
          }
          else{
            // console.log(event.previous_node.element)
            var close_nele = event.previous_node
            unselect_treenode(close_nele)
          }
        });
      if (window.location.pathname.search("add_units") > -1) {
          update_url = false;
          $tree.tree({
            selectable: false,
          });
          $tree.unbind('tree.open')
          $tree.unbind('tree.select')
      } else {
          update_url = true;
      }      

    }
    
    function collapse_tree(node_item){
      var $tree = $('.collection');
      // $tree.tree('openNode', node_item);
      // all_nodes = []
      var all_nodes = $tree.tree('getTree');
      if (!node_item.hasChildren()){
        node_item = node_item.parent
      }
      // var all_cu = getNodesByProperty('node_type','CourseUnitEvent');
      for(var i=0;i<all_nodes.children.length;i++){
        // console.log(all_nodes.children[i],"-----i---",i)
        if(all_nodes.children[i]!=node_item){
          $tree.tree('closeNode', all_nodes.children[i]);
        }
      }
    }

    function unselect_treenode(closing_node){
      var $tree = $('.collection');
      $tree.tree('closeNode', closing_node);
    }

  </script>

<style type="text/css">
  
  .collection {
    border: solid thin #ddd;
    margin-bottom: 1em;
  }

  .collection > ul li:nth-child(odd) { background: #ddd; }
    
  #view_collection legend{
    text-align: center;
    border-left: solid thin #ddd;
    border-right: solid thin #ddd;
  }
  
  .res_name{
    margin-left: 20px;
    font-size: 18px;
    list-style: inherit;
  }
</style>  

{% endblock %}
  
  <!-- <b class="current">{{node.name}}</b> -->
  {% if node.collection_set %}
    <div>
      <div class="collection" data-url="{% url 'get_collection' group_id node.pk %}"></div>
    </div>
  {% endif %}
