{% extends "ndf/base.html" %}
{% load pagination_tags %}
{% load ndf_tags %}
{% block title %} {{title}} {% endblock %}

{% block style %}

.divider-line { font-size: xx-large; color:lightgray; }
.line-height-2 { line-height:2; }
.line-height-2pt5 { line-height:2.5; }
.fontsize-x-large { font-size: x-large; }

.margin-0 { margin: 0 !important ;}

.resource-drawer { 
border-color: #D3D3D3; border-style: solid; 
padding: 0 !important; 
overflow-y: auto;
}

.resource-drawer li.bullet-item:hover{
background-color: #ecf0f1; cursor:pointer;
}

.posted-by{ color: #808080; font-size: small; }

.selected-resource { background-color:lightgray !important ; }

.resource-type-image {
height:40px; 		
background-repeat:no-repeat; background-size: 48px 48px
}
{% endblock %}

{% block script %}

function set_drawer_value(group_id)
{
 $('#collection_set_drawer1').html("");
 $('#collection_set_drawer2').html("");
 $('#collection_set_drawer1').html('<li class="price"><input type="text" placeholder="Type here to search in the resources" id="\
collection_set_search" class="margin-0"></li>');
  var url = '/{{groupid}}/ajax/get_data_for_user_drawer/?st_batch_id='+st_batch_id;
  $.getJSON( url, function( data ) {
  $.each(data ,function(index , drawer_elements){
   if(index == 0)
    {
     $.each(drawer_elements.drawer1, function(index, element) {
        $('#collection_set_drawer1').append("<li id='"+element.id+"' class='bullet-item text-left'>"+element.name+"</li>");
      });
   }
   if(index == 1)
    {
    $.each(drawer_elements.drawer2, function(index, element) {
        $('#collection_set_drawer2').append("<li id='"+element.id+"' class='bullet-item text-left'>"+element.name+"</li>");
      });
    }
  });
   });
}

var group_id = '{{group_id}}'
var st_batch_id = '{{st_batch_id}}'
set_drawer_value(group_id, st_batch_id);


$("#save-node").click(function() {
   cn_arr = []   
   $.each($('#collection_set_drawer2 li'),function(index,item){
         cn_arr.push(item.id);
         });
$("#collection_set_list").val(cn_arr)
alert(cn_arr);
});
{% endblock %}


{% block body_content %}
<form data-abide id="form-create-batch" method="POST" action="{% url 'save' groupid %}">{% csrf_token %}
  <div class="row">
    <div class="large-9 columns">
      <label>Enter Batch Name
	<input type="text" placeholder="Batch Name" name="batch_name" />
	<input type="hidden" name="batch_count" value="{{batch_count}}"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns">
      <label>select course
	<select>
          <option value="course1">Course1</option>
          <option value="course2">Course2</option>
          <option value="course3">Course3</option>
          <option value="course1">Course4</option>
	</select>
      </label>
    </div>
  </div>
  
  <div class="row">
    <div class="large-11 columns" >
      <label><h3>Choose users</h3>
	<div id="user_drawer" >
	  {% include "ndf/drawer_widget.html" with widget_for="collection_set" %}
	</div>
      </label>
    </div>
  </div><br/><br/>
  <div class="row">
    <div class="large-11 columns" >
      {% if batch_count == 1 %}
      <input type="submit" class="button expand" id="save-node" value="Save & Finish">
      {% else %}
      <input type="submit" class="button expand" id="save-node" value="Save & Continue">
      {% endif %}
    </div>
  </div>
</div>
</form>
{% endblock %}
