{% extends "ndf/base.html" %}
{% load ndf_tags %}
{% block title %}Create Forum{% endblock %}

{% block head %}
<script src="/static/ndf/foundation/js/foundation/foundation-datepicker.js"></script>
<link rel="stylesheet" href="/static/ndf/foundation/css/foundation-datepicker.css">
<script type="text/javascript">
$(document).ready(function(){

$('#startdate').fdatepicker();
$('#enddate').fdatepicker();

});
</script>
<style type="text/css">
#forum_div{
left:100px;

}
</style>
{% endblock %}

{% block body_content %} 

<div id="forum_div" style='padding-top:40px;'>
<form id="create_forum" method="POST">
{% csrf_token %}
  <div class="row">

     
    <div class="large-4 columns">
     <label>Name of the Forum</label>
      <input type="text" id="forum_name" name="forum_name">
    </div>

    <div class="large-4 small-2 columns">
      <label>Description</label>
     {% include "ndf/loadeditor.html" %}
       
<textarea id="forum_edit_cont" type="hidden" value="" name="content_org" style="display:none"></textarea>
 </div>
</div>

 <div class="row">
    <div class="large-4 columns">
  <label>Start time:</label>
<div class="small-2 columns">
 <label>Date:</label></div>
<div class="small-9 columns">
 <input type="text" class="span2" value="" id="startdate" data-date-format="mm/dd/yyyy" name="sdate">
</div>
</div>

    <div class="large-4 columns">
        <label>Hours:</label>
  <input id="starthrs" type="text" name="shrs">
</div>
    <div class="large-4 columns">
        <label>Minutes:</label>
       <input id = "startmts" type = "text" name = "smts">
     </div>
</div>
 <div class="row">
    <div class="large-4 columns">
       <label> End time:  </label>
       <div class="small-2 columns"> 
        <label>Date: </label>
       </div>
       <div class="small-9 columns"> 

        <input type="text" class="span2" value="" id="enddate" data-date-format="mm/dd/yyyy" name="edate">

        </div>
    </div>

    <div class="large-4 columns">
        <label>Hours:</label>
       <input id = "endhrs"  type = "text" name = "ehrs">
    </div>
    <div class="large-4 columns">
           <label>Minutes:</label>
          <input id = "endmts"  type = "text" name = "emts">
     </div>
</div>
   
<input type="button" id="save_forum" class="btn btn-primary btn-large btn-block" value="Create Forum" onclick="saveforum()">
       		 	<input type="submit" id="forum" value="Create Forum" class="btn btn-primary btn-large btn-block" style="display:none">
</form>
</div>

{% endblock %}
