{% load i18n %}
{% load ndf_tags %}
{% block body_content %}
 
    <div class="curriculum_listing">
    	<div class="curriculum_content">
    		<div class="curriculum_content_left">
    			<a href="{% url 'curriculum_detail' group_id node.pk %}"><img src="/static/ndf/images/curr-curriculum.png" style="height: 100px;"></a>
    			<div class="curriculum_content_details">
            		<a href="{% url 'curriculum_detail' group_id node.pk %}" class="hyperlink-style">Title: {{node.name}} </a>
        			<a href="{% url 'curriculum_detail' group_id node.pk %}" class="hyperlink-info"> No. of Sections:{{node.collection_set|length}} </a>
        			<a href="{% url 'curriculum_detail' group_id node.pk %}" class="hyperlink-info"> Created on: </a>
    			</div>
    		</div>
    	</div>
    </div>



{% endblock body_content %}
