{% load ndf_tags %}
{% load i18n %}
{% load cache %}
{% get_group_name groupid as group_name_tag %}
{% user_access_policy groupid request.user as user_access %}
{% get_attribute_value node.pk 'release_response' as resp_val %}
{% get_attribute_value node.pk 'thread_interaction_type' as thr_int_type %}
{% check_is_gstaff groupid request.user as is_gstaff %}
{% block head %}

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script type="text/javascript" src="/static/ndf/bower_components/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML" async></script> <!-- checked -->
  
  <!-- Scripts and stylesheets for SideComments -->
  <!-- <script type="text/javascript" src="/static/ndf/bower_components/side-comments/release/side-comments.js"></script> -->
  <!-- <link rel="stylesheet" type"text/css" href="/static/ndf/bower_components/side-comments/release/side-comments.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/side-comments/release/themes/default-theme.css"> -->

  {% if user.is_authenticated %}
    <!-- orgitdown! -->
    <script type="text/javascript" src="/static/ndf/orgitdown/jquery.orgitdown-foundation.js"></script>
    <!-- orgitdown! toolbar settings -->
    <script type="text/javascript" src="/static/ndf/orgitdown/skins/gstudio/set.js"></script>
    <!-- orgitdown! skin -->
    <link rel="stylesheet" type="text/css" href="/static/ndf/orgitdown/skins/gstudio/style.css" />

  {% endif %}

{% endblock %}


<div>
  <br/>
    {% if allow_to_comment %}
      <div onclick="createDiscussion()" id="create-discussion" data-id="{{ node.pk }}" class="button small radius" style="margin-bottom:0;">
        {% if thr_int_type %}
          {{thr_int_type}} {% if all_replies|length > 0 %}({{all_replies|length }}) {% endif %}
        {% else %}
          Comment  {% if all_replies|length > 0 %} ({{all_replies|length }}) {% endif %}
        {% endif %}
      </div>
    {% endif %}

  <div id="replies-area" style="overflow-x:auto;">

    <!-- populating replies -->

    {% for each_reply in all_replies %}
      {% if resp_val == True or is_gstaff or request.user.id == each_reply.userid %}
      <div style="margin-left:calc({{each_reply.level}} * 48px); {% if each_reply.level == 1 %}margin-top:25px;{% endif %}" class="disc-replies" data-reply-id="{{ each_reply.oid }}" data-priornode-id="{{ each_reply.prior_node }}">

          <div clas="discussion-title row " >
             <div class="discussion-title-username"> 
              <a  href="{% url 'dashboard' each_reply.userid %}" style="color:#ececec !important" title=" {{ each_reply.username }}">
                {{ each_reply.username|truncatechars:12 }}
              </a>
                <small style="float:right;color:#999999">{{ each_reply.last_update }}</small>
            </div>
        
            </div>
          <div class="discussion-content">
          
            {{each_reply.HTMLcontent|safe }}
            
          {% for node in each_reply.collection_set  %}
            <div style="margin: 1em;">
              <br/>
              {% if node.status == "MODERATION" %}
                  <p>File is under moderation.<br><a href="/{{group_id}}/moderation/status/{{node.pk}}" target="_blank">Click here to check status</a></p>
              {% elif node.status == "DRAFT" %}
                    <p>This File is Rejected by the Moderator.</p>
              {% elif node.status != "MODERATION" %}
                  {# {{node.mime_type}} #}
                  <a class="th" target="_blank" href="{% url 'file_detail' group_id node %}">
                    {% if 'image' in node.mime_type  %}
                        <img style="height:100px;" src="{% url 'getFileThumbnail' group_id node.pk %}" />
                    {% endif %}
                    <p>{{node.name}}</p>
                  </a>  

              {% endif %}
            </div>
          {% endfor %}
          
          </div>
          <div class="discussion-footer">
              {% if request.user.id == each_reply.userid or is_gstaff %}
                <a class="reply-btn" data-userid="{{each_reply.userid}}" onclick="deleteReply($(this))" >{% trans "Delete" %} </a>
              {% endif %}
                <a class="reply-btn"  data-id='{{ each_reply.oid }}' onclick='openOrgEditor($(this))' data-org-content='{{ each_reply.ORGcontent }}'style="float:right">
                {% trans "Reply" %}
                </a>
              </div>
          
      </div>

      {% endif %}

    {% endfor %}

    <!-- END of populating replies -->
  </div>

  <!-- orgitdown container -->
  <div id="org" style="" class="reveal-modal small" data-reveal>
    <!-- Reply : -->
    <textarea id="orgitdownreps" name="content_org" placeholder="{% trans 'Enter text here.'%}"></textarea>
    <input data-id="{{ node.pk }}" type="button" value="Post"  class="button expand radius reply-button" onclick="addReply($(this))">
    {% if sg_type != "Event" %}
      <input type="file" id="uploaded-files" style="" value="" multiple>
    {% else %}
      <input type="file" id="uploaded-files" style="" value="" multiple class="hide">
    {% endif %}
    <input type="hidden" id="prior-node" style="visibility:hidden" value="">
    <!-- <input type="hidden" id="thd" style="visibility:hidden" value=""> -->
  </div>
  <!-- end of orgit down container -->

</div>
  <div id="alertModal" class="reveal-modal large alert-box radius" data-reveal data-alert>
      <label id="alertModalLabel"></label>
      <a class="close-reveal-modal">&#215;</a>
  </div>
   <!-- TODO: include login template in overlay or a link to it: 11-10-15, katkamrachana -->

<script type="text/javascript">
  // for discussion tab
  // storing ndf_tags return values in JS variables
  var user_access = "{{ user_access }}"; // "allow" or "disallow"
  var edit_policy = "allow"; // "allow" or "disallow"
  var is_user_authenticated = {{ request.user.is_authenticated|lower }};
  // if( user_access == "allow" && edit_policy == "allow" )
  // { 
  //   $("#orgitdownreps").orgitdown(mySettings);
  // }
  {% if request.user.is_authenticated %}
    $("#orgitdownreps").orgitdown(mySettings);
  {% endif %}
  function createDiscussion()
  {
    if( is_user_authenticated){
      // if( user_access == "allow" )
      // {  
        // ajax to create thread for first time.
        $.ajax({
          url: "{% url 'create_discussion' group_id node.pk %}",
          success: function(data){
            data = JSON.parse(data);
            if( (data[0] == "thread-created") || (data[0] == "Thread-exist") )
            {
                // $("#create-discussion").hide();
                // changing method to behave same as sub-reply button
                $("#create-discussion").attr("onclick", "openOrgEditor($(this))");
                $("#prior-node").val("{{ node.pk }}") // _id
                // $("input[data-id='{{ node.pk }}']").val("{{ node.pk }}") // _id
                
                $("#create-discussion").trigger("click");
              }
              // else if( data[0] == "Thread-exist" ){
              //   // alert(data)
              //   $("#create-discussion").hide();
              //   $("#prior-node").val("{{ node.pk }}") // _id         
              //   // changing method to behave same as sub-reply button   
              //   $("#create-discussion").attr("onclick", "openOrgEditor($(this))");
              //   $("create-discussion").trigger("click");
              // }
              else{ alert(data) }
            }//,
          // complete: function(){
            // $("#prior-node").val("") // removing _id
          // }
        });
        // --- END ajax and create thread for first time.
      // }
      // else
      // {
      //   // alert("To start discussion you need to login and be the member of this group.");
      //   // alert("Only group members can comment.");
      //   $("#alertModalLabel").text("Only group members can comment.");
      //   // $("#alertModal").addClass("warning");
      //   $("#alertModal").foundation('reveal', 'open');

      // }
    }
  else{
        $("#alertModalLabel").text("Please login to start discussion.");
        // $("#alertModal").addClass("alert");
        $("#alertModal").foundation('reveal', 'open');
        // alert("{% trans 'Login to start discussion' %}");
  }
  }
  // --- END of createDiscussion()
  // function called by "Add Reply" and "Reply" buttons to open editor
  function openOrgEditor(sourceObj)
  {
    if( is_user_authenticated){
    // if(  user_access == "allow")
    // {
      var sourceObjDataId = $(sourceObj).attr("data-id"); // prior-node _id
      $("#prior-node").val(sourceObjDataId);
      
      // tempOrgObj = $("#org").clone(true, true);
      // console.log($(sourceObj));
      
      // $("#org").detach();
      
      // if( sourceObjDataId == "{{ node.pk }}")
      // {
      //   $('div[data-id="'+ sourceObjDataId +'"]').after(tempOrgObj);
      // }
      // else
      // {
      //   $tempPrior = $('div[data-id="'+ sourceObjDataId +'"]').parent();
      //   calcMargLeft = $tempPrior.css("margin-left");
      //   calcMargLeft = (parseFloat(calcMargLeft, 10) + 48) + "px";
      //   $('div[data-id="'+ sourceObjDataId +'"]').parent().after(tempOrgObj);
      // }
      
      // $("#org").fadeIn();
      // if( sourceObjDataId != "{{ node.pk }}")
      // {
        $('#org').foundation('reveal', 'open');
      // }
    // }
    // else
    // {
    //   alert("Only group members can reply to comment.");
    //   // alert("To start discussion you need to login and be the member of this group.");
    // }
  }
  else{
      alert(" {% trans 'Login to start discussion.' %} ");
  }
  }
  function updateDiscussionTabText()
  {
    var totalReplies = $("#replies-area div.disc-replies:visible").length;
    if(totalReplies == 0)
    {
      $(".view-discussion span").fadeOut().fadeIn().html(" {% trans 'Begin Discussion' %}");
      $("#create-discussion").text("{% trans 'Comment' %}" + $("h1 span.node[itemprop]").text().trim());
    }
    else
    {
      $(".view-discussion span").fadeOut().fadeIn().html("{% trans 'Join Discussion' %}("+totalReplies+")");
    }
  }
  function createReplyHTML(replyStyle, data)
  {
    var files = data[8];
    // console.log(files)
    filesContent = ""
    files.forEach(function(f){
        // console.log("=========")
        // console.log(f)
        var mime_type = f[1];
        filesContent += "<div style='margin: 1em;'>"+ f[1] +"<br/>"+
        "<a class='th' href='/{{group_id}}/file/"+f[2]+"'>";
        if(mime_type.indexOf("image") >= 0){
          filesContent += "<img style='height: 100px;' src='/{{group_id}}/file/thumbnail/"+ f[0] +"'/>";}
        filesContent += "<p>" + f[2] + "</p></a></div>";
        // console.log(filesContent);
    });
    var htmlReply = "<div style='"+ replyStyle +"' data-reply-id='"+ data[1] +"' data-priornode-id='"+ data[2] +"' class='disc-replies'>"
    + "<div class='row'><div class='small-3 columns'><a href='/home/"+ data[5] +"/dashboard' class='text-center'>"
    + "<span class='align-center'><i class='fi-torso'></i></span>"
    + "<label>" + data[6] + "</label></a></div>"
    + "<div class='small-9 columns'>"+ data[3] + filesContent +"</div></div>"
    + "<div class='row'><div class='small-8 columns'><small>"+ data[7] + "</small></div>"
    + "<div class='reply-btn small-2 small-text-left columns' data-userid='"+ data[5] +"' onclick='deleteReply($(this))'>{% trans 'Delete' %}</div>"
    + "<div data-org-content='"
    + data[4] + "' onclick='openOrgEditor($(this))' data-id='" 
    + data[1] + "' class='reply-btn small-2 small-text-left columns'>{% trans  'Reply' %} </div></div></div>"
    return htmlReply;
  }
  function addReply(sourceObj)
  {
    $('#org').foundation('reveal', 'close');
    var priorNodeId = $("#prior-node").val(),
        replyContent = $("#orgitdownreps:visible").val().trim();
    // If reply is non empty - make ajax to save reply.
    if( (replyContent.length > 0) && (priorNodeId.length == 24) )
    {
      docs_list = new FormData();
      var all_files = document.getElementById("uploaded-files");
      var docs_count = all_files.files.length;
      for(var i = 0; i < docs_count; i++)
        {
          docs_list.append("upload"+i, all_files.files[i]);
          // console.log(all_files.files[i]);
        }
        docs_list.append('upload_cnt', docs_count)
        docs_list.append('csrfmiddlewaretoken','{{csrf_token}}');
        docs_list.append('reply_text_content', replyContent)
        docs_list.append('prior_node_id', priorNodeId)
      $.ajax({
        
        type: "POST",
        url: "{% url 'discussion_reply' group_id node.pk %}",
        data: docs_list,
        processData: false, 
        contentType: false,
        success: function(data){
            
            data = JSON.parse(data);
            if( data[0] == "reply_saved" )
            {
              
              $("#org").fadeOut();          // hide editor
              $("#orgitdownreps").val("");  // make textarea empty
              if(priorNodeId == "{{ node.pk }}")  // main reply
              {
                // change the text of Start discussion and make it visible
                $("#create-discussion").html("Comment");                
                // $("#create-discussion").fadeIn();
                //sample format of data = [0:"status_info", 1:"reply_id", 2:"prior_node", 3:"html_content", 4:"org_content", 5:"user_id", 6:"user_name", 7:"created_at" ]
                // add reply text content after #replies-area
                $("#replies-area").prepend(createReplyHTML('margin-top:20px;', data)).fadeIn(8000);
              }
              else  // sub-reply
              {
                $tempPrior = $('div[data-id="'+ priorNodeId +'"]').parent().parent();
                calcMargLeft = $tempPrior.css("margin-left");
                calcMargLeft = (parseFloat(calcMargLeft, 10) + 48) + "px";
                // add reply text content as sub-reply
                $($tempPrior).after(createReplyHTML('margin-left:'+calcMargLeft, data)).fadeIn(8000);
              }
              // updating tab-text
              updateDiscussionTabText();
              location.reload();
            }
            else if( data[0] == "no_content" ){
              
              alert("{% trans 'Please provide the reply content.' %}")
            }
            else { alert(data) }
          }
      });// --- END of ajax to save reply    
    }
    else // content is not provided
    {
      alert(" {% trans 'Please provide the reply content.' %}")
    } // --- END of IF-ELSE
  
  } // --- END of addReply()
  function deleteReply(sourceObj)
  {
    var userid = $(sourceObj).attr("data-userid");
    if( (user_access == "allow" && edit_policy == "allow") || (userid == "{{request.user.id}}") )
    {
      var reply_id = $(sourceObj).closest("div.disc-replies").attr("data-reply-id");
      var nodesToDeleteArr = getChildReplies(reply_id, []);
      nodesToDeleteArr.push(reply_id);  // adding current node's _id
      var deleteConfirm;
      if(nodesToDeleteArr.length > 1)
      {
        deleteConfirm = confirm("{% trans 'Along with this reply, total of' %}: " + nodesToDeleteArr.length + "{% trans 'replies would get deleted.\nClick 'OK' to delete. Else click on 'Cancel'' %} ");
      }
      else
      {
        deleteConfirm = confirm("{% trans 'Are you sure to delete this reply ?\nClick 'OK' to delete.' %} ");
      }
      if(deleteConfirm)
      {
        $.ajax({
          
          type: 'POST',
          url: "{% url 'discussion_delete_reply' group_id node.pk %}",
          data: { 
              "csrfmiddlewaretoken": "{{ csrf_token }}",
              "nodes_to_delete": JSON.stringify(nodesToDeleteArr)
            },
          success: function(data){
            data = typeof(data) == "string" ? JSON.parse(data): data;
            data.forEach(function(reply){
              $("[data-reply-id="+ reply +"]").detach().fadeOut();
            })
            // updating tab-text
            updateDiscussionTabText();
          }
        })
        //end of ajax
      }
    }
    else
    {
      alert("{% trans 'To delete this reply, you need to be login and author of this reply.' %}");
    }
  }
  // recursive function to get child replies
  function getChildReplies(oid, replyArr)
  {
    var tempReplyArr = $("[data-priornode-id="+oid+"]");
    // console.log(tempReplyArr)
    if (tempReplyArr.length > 0)
    {
      tempReplyArr.each(function(){
        var tempId = $(this).attr("data-reply-id")
        // console.log(replyArr);
        replyArr.push(tempId);
        getChildReplies(tempId, replyArr);
      })
    }
    return replyArr;
  }
  // --- END of discussion code ----
</script>

   
