{% extends "ndf/base.html" %}

{% load ndf_tags %}

{% block title %} Repository {% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/static/ndf/css/open-sans-bold-font.css">
<script type="text/javascript" src="/static/ndf/bower_components/slick-carousel/slick/slick.min.js"></script>

{% endblock head %}

{% block meta_content %}
  <a href="{% url 'e-book' group_name_tag %}" title="Click to go to ebooks">
    <h2 class="subheader">
      {% if ebook_gst.altnames and ebook_gst.altnames != "None" %}
        {{ebook_gst.altnames}}
      {% else %}
        {{ebook_gst.name}}
      {% endif%}
    </h2>
  </a>
  {{ebook_gst.content|default_if_none:""|safe}}
{% endblock %}

{% comment %}
{% block body_content %}

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">

<!-- {#% get_preferred_lang request page_nodes "Page" as page_nodes %#} -->

  {% group_type_info groupid request.user as grouptype %}

  <!-- Existing card list-->
  {% for node in all_ebooks %}

    <li class="card-image-wrapper">
      {% include 'ndf/card.html' with resource=node url_name='page_details' first_arg=group_name_tag second_arg=node.pk %}
    </li>

  {% endfor %}

</ul>

{% endblock %}

{% block extra_content %} 

  {% include 'ndf/pagination.html' with urlname="e-book_paged" first_arg=group_name_tag second_arg=""  third_arg="" page_info=page_info %}

{% endblock %}
{% endcomment %}
{# ===================================== #}

{% block body_content %}
  
  {% include "ndf/file_list_tab.html" with resource_type=all_ebooks detail_urlname="page_details" filetype="ebook" res_type_name="" page_info=page_info %}

{% endblock body_content %}
