{% load i18n %}
{% load check_is_gstaff from ndf_tags %}
{% check_is_gstaff group_id request.user as is_gstaff %}

<nav class="top-bar-second" data-topbar role="navigation" id="top-bar-second">
		<div class="small-12 medium-12 columns expore-type">
			<!--<div class="toggleButtons">-->
			<div class="title-area">

				<a href="{% url 'explore_courses' %}" class="secondary-header-tabs  {%if title == 'courses'%} active{% endif %}">
					Courses
				</a>
				<a href="{% url 'explore_groups' %}" class="secondary-header-tabs {%if title == 'groups'%} active{% endif %}">
					Projects
				</a>
				{% if is_gstaff %}
				<a href="{% url 'explore_drafts' %}" class="secondary-header-tabs {%if title == 'drafts'%} active{% endif %}">
					Drafts
				</a>
				{% endif %}
			</div>
		</div>
	</nav>