{% extends "ndf/base.html" %}
{% block title %} {{title}} {% endblock %}
{% block body_content %}
{% load ndf_tags %}
{% if already_uploaded %} 
<div id="message">
  <span style="color:red">Listed below files are already uploaded please choose different files</span>
  <ul>
    {% for each in already_uploaded %}
    <li>{{each}}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<form id ="file_search" enctype="multipart/form-data" method="GET" action="{% url 'image_search' group_name %}">
  <div class="row"  style="padding-top:20px">
    <div class="large-7 columns">
      <div class="row collapse">
	  <div class="small-8 columns">
            <input type="text" placeholder="search files" name="search">
	  </div>
	  <div class="small-2 columns">
            <a href="#" class="button postfix" onclick="document.forms[0].submit();return false;">
	      <i class="fi-magnifying-glass large">search</i>
	    </a>
	  </div>
	  <div class="small-2 columns">
            <a href="{% url 'uploadDoc' group_name %}?next={{request.path}}" class="button postfix secondary">
	      <i class="fi-paperclip">upload</i>
	    </a>
	  </div>
      </div>
    </div>
  </div>
</form>
<hr />
{% load url from future %}
{% if files.count != 0 %}
<table>
  <thead>
    <tr>
      <th>file name</th>
      <th width="150">size</th>
      <th width="150">Type</th>
      <th width="150">uploaded by</th>
      <th width="150">download</th>
      <th width="150">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for file in files %}
    {% get_user_object file.created_by as user_obj %}
    {% get_grid_fs_object file as grid_fs_obj %}
    <tr>
      <td>{{file.name}}</td>
      <td>{{file.file_size.size}}{{file.file_size.unit}}</td>
      <td>{{file.mime_type}}</td>
      <td>{{ user_obj.username }}</td>
      <td><a href="{% url 'read_file' 'group' file %}" download="{{ grid_fs_obj.filename }}">Download </a></td>
      <td>
	{% get_user_object file.created_by as user_obj %}
	{% ifequal  user_obj.username  user.username  %}
	<a  class="btn btn-block btn-lg btn-danger" href="{% url 'delete_file' 'group' file %}?next={{request.path}}">Delete </a>
	{% endifequal %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <p><em>Currently NO nodes in the gnowledge base!!!</em></p>
{% endif %}
{% endblock %}

