{% load i18n %}
{% load get_latest_git_hash  from simple_filters %}
{% load ndf_tags %}

    

	{% get_gstudio_footer_links  as footer_links %}

  <div class="clr4 small-12 medium-12 columns">
    <div class="bo-wrap">
      
      <div class="small-8 meduim-8 columns">
      <p style="color:#C0C0C0; margin-bottom: -2px;"> A collabration of, </p>
        <div class="bo-footer">
          <div class="bo-footer-social">
            <div class="bo-wrap clr3">
              <div class="bo-footer">
                <div class="bo-footer-smap">
                  {% for each in footer_links %}
                  {% for path, link in each.items %}
                  <a href="{{link}}" target="_blank">
                    <img src="{{path}}" class="bo-footer-images" />
                  </a>              
                  {% endfor %}
                  {% endfor %}
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>  

    <div class="small-4 medium-4 columns" style="margin-top: 20px;">
      
      <ul class="small-4 medium-2 columns" style="list-style: none; text-align: left; width:110px">
    
        <li class="bo-footer"><a href="#">About</a></li> 
        <li class="bo-footer"><a href="#">Partners</a></li>
        <li class="bo-footer"><a href="#">Groups</a></li>
        <li class="bo-footer"><a href="#">Contribute</a></li>
        <li class="bo-footer"><a href="#">Credits</a></li>
      </ul> 

      <ul class="small-4 medium-2 columns" style="list-style: none; text-align: left; left; width:130px">
  
        <li class="bo-footer"><a href="#">Tips</a></li>
        <li class="bo-footer"><a href="#">FAQs</a></li>
        <li class="bo-footer"><a href="#">Feedback</a></li>
        <li class="bo-footer"><a href="#">Contact us</a></li>
      
      </ul>


    </div>
  </div>

    <span style="color:#A9A9A9"> Powered by gstudio built at the Gnowledge lab, Homi Bhabha......</span>
    <hr/>
    <span style="color:#A9A9A9"> Terms of service</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#A9A9A9"> Privacy policy</span>
    </div>

</div>    

<style type="text/css"></style>
   

<script type="text/javascript">
  
   $(window).bind("load", function () {
    var footer = $("#footer");
    var pos = footer.position();
    var height = $(window).height();
    height = height - pos.top;
    height = height - footer.height();
    if (height > 0) {
        footer.css({
            'margin-top': height + 'px'
        });
    }
});
  

</script>
 



