{% load i18n %}

<footer>
  <section class="row">
    <div class="medium-12 columns">
      <ul class="inline-list">
        <li><a href="{{site.ABOUT}}">{% trans "About" %}</a></li>
        <li><a href="{{site.PARTNERS}}">{% trans "Partners" %}</a></li>
        <li><a href="{{site.GROUPS}}">{% trans "Groups" %}</a></li>
        <li><a href="{{site.TERMS_OF_SERVICE}}">{% trans "Terms of Service" %}</a></li>
        <li><a href="{{site.PRIVACY_POLICY}}">{% trans "Privacy Policy" %}</a></li>
        <li><a href="{{site.CONTRIBUTE}}">{% trans "Contribute" %}</a></li>
        <li><a href="{{site.CONTACT}}">{% trans "Contact" %}</a></li>
      </ul>   
    </div>
  </section>

  <div class="medium-2 columns">
    <p>
      <a href="{{site.GIT_REPO}}">{% trans "View Source Code" %}</a>
      <br>

      <a class="show-span-on-hover" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" title="http://creativecommons.org/licenses/by-sa/3.0/">
        <img src="/static/ndf/images/cc-by-sa.png" alt="Creative Commons License" style="border-width:0" src="/static/ndf/images/cc-by-sa.png"/>
        <small>
          <span>
            {% trans "All material is licensed under a Creative Commons Attribution-Share Alike 3.0 Unported License unless mentioned otherwise." %}
          </span>
        </small>
      </a>
    </p>
  </div>

  <div class="medium-10 columns">
    <strong>{% trans "Powered by" %} <a href="https://github.com/gnowledge/gstudio" target="_blank">{% trans "Gnowsys-Studio" %}</a> {% trans "at the" %} <a href="http://www.hbcse.tifr.res.in/" target="_blank">{% trans "Homi Bhabha Centre for Science Education" %}</a>, <a href="http://www.tifr.res.in/" target="_blank">{% trans "TIFR" %}</a>.</strong>

    <!--{{site.ORG_NAME |safe }}-->
  </div>
</footer>
