{% load i18n %}
{% load get_latest_git_hash from simple_filters %}
{% load ndf_tags %}


<div class="wrapper-footer">
      <footer id="footer-clix" class="grid-container">
        <div class="links-logos">
          <nav class="nav-links-logos" aria-label="About">
            <ol>
              <li class="nav-links-logos-01">
                  <a id="about" href="http://clix.tiss.edu/about/" target="_blank">About</a>
              </li>
              <li class="nav-links-logos-02">
                  <a id="contact" href="http://clix.tiss.edu/contact/" target="_blank">Contact</a>
              </li>
              <li class="nav-links-logos-03">
                  <a id="disclaimer" href="http://www.tiss.edu/disclaimer/" target="_blank">Disclaimer</a>
              </li>
            </ol>
          </nav>
          <div class="row wrapper-logo">
            <div class="small-3 medium-3 large-3 columns ">
              <p>
                <a href="http://tatatrusts.org/" target="_blank">
                    <img src="/static/ndf/images/tata-trusts-logo.svg" style="padding-top:90px;" />
                </a>
              </p>
            </div>
            <div class="small-3 medium-3 large-3 columns ">
              <p>
                <a href="http://www.mit.edu" target="_blank">
                    <img src="/static/ndf/images/mit-logo.svg" style="padding-top:70px;"/>
                </a>
              </p>
            </div>
            <div class="small-3 medium-3 large-2 columns">
              <p>
                <a href="http://www.tiss.edu/" target="_blank" >
                    <img src="/static/ndf/images/logos/tiss-logo-text.svg"/>
                </a>
              </p>
            </div>
            <div class="small-3 medium-3 large-2 columns">
              <p>
                <a href="http://www.hbcse.tifr.res.in/" target="_blank">
                    <img src="/static/ndf/images/logos/tifr.png" style="padding-top:66px;"/>
                </a>
              </p>
            </div>
          </div>
          <nav class="nav-legal" aria-label="Legal">
            <div class="row">
              <ol>
                <li class="nav-legal-01">
                  <a href="">Privacy Policy</a>
                </li>
                <li class="nav-legal-02">
                  <a href="">Terms Of Use</a>
                </li>
                <li class="nav-legal-03">
                {% get_latest_git_hash as git_commit_hash %}
                <a href="https://gitlab.com/gnowledge/gstudio/tree/{{git_commit_hash}}" target="_blank">Version</a>
                </li>
              </ol>
            </div>
          </nav>
        </div>
      </footer>
    </div>