{% load ndf_tags %}
{% load i18n %}
{% load cache %}

{% get_group_name groupid as group_name_tag %}
{% get_site_variables as site %}
{% get_oid_variables as oids %}
{% user_access_policy groupid request.user as user_access %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/foundation-icon-fonts/foundation-icons.css">
    <!-- <link rel="stylesheet" href="/static/ndf/css/themes/clix/curriculum.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/ndf/css/themes/clix/clix2017.css">
    
    <link href="https://fonts.googleapis.com/css?family=Rubik:200,300,400,500,600,700,900" rel="stylesheet">
    <script type="text/javascript" src="/static/ndf/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/ndf/bower_components/foundation/js/foundation.min.js"></script>
    <script type="text/javascript" src="/static/ndf/bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script type="text/javascript" src="/static/ndf/bower_components/modernizr/modernizr.js"></script>
    
    <title>{{ site.SITE_NAME }} - {% block title %} {% endblock %}</title>
    {% block head %}{% endblock %}

    <style>

    {% block style %}{% endblock %}

  </style>

</head>
<body>
    {% include "ndf/header_clix.html" %}
    {% block extended_header %}{% endblock %}
    
    {% block body_content %} {% endblock %}
             
</body>
</html>