{% load ndf_tags %}
{% load i18n %}

{% block head %}
  <link href="/static/ndf/bower_components/jqtree/jqtree.css" rel="stylesheet">
  <script src="/static/ndf/bower_components/jqtree/tree.jquery.js"></script> <!-- checked -->

  <script src="/static/ndf/bower_components/jquery-ui/jquery-ui.js"></script> <!-- checked -->
  <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/jquery-ui/themes/smoothness/jquery-ui.css"> <!-- checked -->

  <script type="text/javascript">
    $(document).ready(function() {
      {% check_is_gstaff groupid request.user as is_gstaff %}

      // Funtion for loading tree for showing collection list left side panel
      //doc();

      // Function for manipulating tree when user visits to page directly via browser url
      //TreeTillNode();
      initCourseModule();
    });
    /*
    var moduleData = [
      {
        "node_type": "CourseSectionEvent",
        "children": [
          {
            "node_type": "CourseSubSectionEvent",
            "children": [
              {
                "node_type": "CourseUnitEvent",
                "children": [
                  {
                    "node_type": "Page",
                    "name": "Activity 1",
                    "status": "INPROGRESS",
                    "id": "569a051d8e8ff402fa819c3c"
                  }
                ],
                "name": "Unit1",
                "status": "COMPLETED",
                "id": "569a05118e8ff402fa819c31"
              },
              {
                "node_type": "CourseUnitEvent",
                "children": [
                  {
                    "node_type": "File",
                    "name": "Logs.txt",
                    "id": "569a08c48e8ff402fa819cfe"
                  }
                ],
                "name": "Unit 2",
                "status": "COMPLETED",
                "id": "569a08a58e8ff402fa819cf2"
              }
            ],
            "name": "Session1",
            "status": "COMPLETED",
            "id": "569a04af8e8ff402fa819c06"
          }
        ],
        "id": "569a04a78e8ff402fa819c04",
        "status": "WARNING",
        "name": "Module1"
      }
    ];
    */
    iconMapping = {
      'WARNING': 'fa-exclamation-circle',
      'COMPLETED': 'fa-check',
      'INPROGRESS': 'fa-clock-o',
      'PENDING': ''
    }

    function initCourseModule() {

        $.ajax({
          url: "{% url 'get_course_collection' group_id node.pk True %}",

          data: {
            "completed_nodes": {% if completed_ids %}{{completed_ids|safe}}{% else %}null{% endif %},
            "incompleted_nodes": {% if incompleted_ids %}{{incompleted_ids|safe}}{% else %}null{% endif %},
            "leaf_nodes": {% if leaf_ids %}{{leaf_ids|safe}}{% else %}null{% endif %}
          },

          type: "GET",

          dataType: "json",

          success: function(data){
            // console.log(JSON.stringify(data))
            var moduleTrees = [];
            var moduleData = data;
            $.each(data, function(pos, module) {
              var mod = getModuleHtml(pos, module);
              //mod.append('<hr />');
              //Assosiating js tree
              if(moduleData[pos].children){
              var moduleTree = mod.find('.module-part').tree(
                {
                  data: moduleData[pos].children,
                  onCreateLi: function(node, $li) {

                    if (node.node_type == "Page" || node.node_type == "File"  || node.node_type == "QuizItemEvent" ) {
                      $li.find('.jqtree-title').addClass('module-page');
                      {% comment %}
                      // url = "{% url 'course_resource_detail' group_name_tag  %}"
                      // url += "?unit_id=" + node.parent.id +"&node_id="+node.id
                      {% endcomment %}
                      url = '/{{group_name_tag}}/gcourse/course_section/' + node.parent.parent.id + '/' + node.parent.id + '/' + node.id
                      $li.find('.jqtree-title')
                        .html('<i class="fa ' + iconMapping[node.status] + '"></i><a href="'+url+'" id='+node.id+' class="redirect_to_unitplayer"><span>' + $li.find('.jqtree-title').html() + ' </a></span>');
                    }
                    else{
                      $li.find('.jqtree-title')
                        .html('<i class="fa ' + iconMapping[node.status] + '"></i><span>' + $li.find('.jqtree-title').html() + ' </span>');
                    }
                    // Add 'icon' span before title
                  }
                });}
              $(".course-content .collection").append(mod);
              moduleTrees.push(moduleTree);
            });

            //Assigning Click events in each tree
            $.each(moduleTrees, function(pos, tree) {
              if(moduleTrees[pos]){
                assignTreeEvents(tree);
              }
            })

          }})}



    function assignTreeEvents (moduleTree) {
      {% get_node_type node as node_type %}

      var node_type = "{{node_type}}";

      moduleTree.bind(
        'tree.select',
        function(event) {
          if(event.node){
            // The clicked node is 'event.node
            var node = event.node;
            var parent_arr = [];
            var parent_node = node;
            parent_arr.push(node.id);

            // Bellow code manipulates the parent hierarchy of clicked node in a tree
            while (parent_node) {
                if (parent_node.name !== undefined){
                  moduleTree.tree('openNode', parent_node);
                  parent_node = parent_node.parent;
                  if (parent_node.name !== undefined){
                    parent_arr.push(parent_node.id);
                  }
                }
                else{
                  break;
                }
            }
            collapse_tree(node);
            var nav_list = parent_arr.reverse();
            // if(node['node_type']!="CourseSectionEvent" && node['node_type']!="CourseSubSectionEvent" && node['node_type']!="CourseUnitEvent" && node['node_type']!="CourseSection" && node['node_type']!="CourseSubSection" && node['node_type']!="CourseUnit" && update_url){


              // alert(nav_list);
              // alert("node_type");
              // $.ajax({
              //     type: "GET",
              //     url: "{% url 'collection_nav' group_id %}",
              //     datatype: "html",
              //     data:{
              //       node_id: node.id,
              //       curr_node:"{{node.pk}}",
              //       nav: nav_list,
              //       nod_type: node_type,
              //       csrfmiddlewaretoken: '{{ csrf_token }}'
              //     },
              //     success: function(data) {
              //       if (node_type == "Page"){
              //        window.history.pushState("", "", "/{{group_name_tag}}/page/{{node.pk}}"+"?selected="+node.id+"");
              //       }
              //       else if(node_type == "File"){
              //         window.history.pushState("", "", "/{{group_name_tag}}/file/{{node.pk}}"+"?selected="+node.id+"");
              //       }
              //       else if (node_type == "Term"){
              //         window.history.pushState("", "", "/{{group_name_tag}}/term/{{node.pk}}"+"?selected="+node.id+"");
              //       }
              //       else if (node_type == "Course"){
              //         window.history.pushState("", "", "/{{group_id}}/course/course_detail/{{node.pk}}"+"?selected="+node.id+"");
              //       }
              //       if (node_type == "CourseEventGroup" || node_type == "ProgramEventGroup"){
              //         window.history.pushState("", "", "/{{node.pk}}"+"?selected="+node.id+"");
              //         $(".view_page_link").trigger('click')
              //       }
              //       else if (node_type == "Topic"){
              //         window.history.pushState("", "", "/{{group_name_tag}}/topic_details/{{node.pk}}"+"?selected="+node.id+"");
              //       }

              //       $("#view-page").html(data);
              //     }
              // });
            // $('article').unblock()
            // }
            // else if(node['node_type']=="CourseUnitEvent"){
            if(node['node_type']=="CourseUnitEvent"){
              $(".view_page_link").trigger('click')
              $("#view_page").html("")
              var lbl_name = document.createElement('label');
              lbl_name.style.fontSize = "20px"
              if(node.hasChildren()){
                lbl_name.innerHTML = node.name + " contains following : ";
                $("#view_page").append(lbl_name);
                var ol_elem = document.createElement('OL');
                ol_elem.id = "res_container";
                if (node){
                  for(var i=0;i<node.children.length;i++){
                    var elem2 = document.createElement('LI');
                    elem2.innerHTML = node.children[i].name;
                    elem2.className = "res_name"
                    $(ol_elem).append(elem2)
                  }
                }
              }
              else{
                lbl_name.innerHTML = node.name + " contains no files yet!";
                $("#view_page").append(lbl_name);
              }
              $("#view_page").append(ol_elem)
            }
          }
          else{
            var close_nele = event.previous_node
            unselect_treenode(close_nele)
          }

        });
      if (window.location.pathname.search("add_units") > -1) {
          update_url = false;
          moduleTree.tree({
            selectable: false,
          });
          moduleTree.unbind('tree.open')
          moduleTree.unbind('tree.select')

      } else {
          update_url = true;
      }
    }

    /*
    <div class="course-module columns small-12">
      <div class="row collapse module-header">
        <div class="small-12 columns">
          <i class="fa fa-exclamation-circle"></i>
          <span class="module-number">Module A :</span>
          <span class="module-name">Invitation</span>
          <span class="module-start-date">Jan 18 2015, 12:00 PM</span>
        </div>
      </div>
      <div class="row">
        <div class="module-part"></div>
      </div>
    </div>
    */

    function getModuleHtml(pos, module) {
      var moduleHTML = $("<div>").addClass('course-module columns small-12');
      //adding module header
      var moduleHeader = $('<div></div>').addClass('row collapse module-header');
      var moduleSubHeader = $("<div></div>").addClass('small-12 columns');
      $("<i></i>").addClass('fa ' + iconMapping[module.status]).appendTo(moduleSubHeader);
      // $("<span></span>").addClass('module-number').html('Module ' + pos).appendTo(moduleSubHeader);
      $("<span></span>").addClass('module-name').html(module.name).appendTo(moduleSubHeader);
      $("<span></span>").addClass('module-start-date').html(module.startDate).appendTo(moduleSubHeader);
      moduleHeader.append(moduleSubHeader);
      moduleHTML.append(moduleHeader);

      $("<div></div>").addClass('module-part').appendTo("<div></div>").addClass('row').appendTo(moduleHTML);
      return moduleHTML;
    }








    //OLD CODE

    function TreeTillNode () {
      // This gives the last hierarchy node id from browser url.
      // var url = window.location.search.replace("?selected=", "")
      url = "{{selected}}";

      // Condition to check whether the tree has been loaded on the page completely or not before attempting any function on tree(such as 'getNodeById')
      if (url && $(".collection").not(".jqtree-loading").length > 0){
        var tree_build = $(".collection").not(".jqtree-loading");
        selected_node = tree_build.tree('getNodeById', url);
        tree_build.tree('selectNode', selected_node);
        return;
      }

      // Javascript function to be used for checking objects in specific time of interval
      setTimeout(function(){
        // console.log($(".collection"))
        if(url && ($(".collection").length > 0)) { TreeTillNode() }
        $(".jqtree-title-folder").addClass('jqtree-toggler').removeClass('jqtree-title').removeClass('jqtree-title-folder');}, 100 );
    }


    function doc(){
      var $tree = $('.collection');
      var arr = [];
      {% get_node_type node as node_type %}

      var node_type = "{{node_type}}";

      $tree.tree({
        selectable: true,
        keyboardSupport: false,
        closedIcon: '<div>+</div>',
        openedIcon: '-'
      });

      // This "tree.open" event helps to open the particular node from browser url
      $tree.bind(
        'tree.open',
        function(e) {
            var node = e.node;
            var node_id = node.id;
            if (arr.indexOf(node_id) < 0){
              arr.push(node_id);
            }
            if(selected_node){
              node = selected_node
            }
            $tree.tree('selectNode', node);
        }
      );

      // This "tree.select" event helps to click the particular tree node and also triggers the click event on tree node
      $tree.bind(
        'tree.select',
        function(event) {
          if(event.node){
            // The clicked node is 'event.node
            var node = event.node;
            var parent_arr = [];
            var parent_node = node;
            parent_arr.push(node.id);

            // Bellow code manipulates the parent hierarchy of clicked node in a tree
            while (parent_node) {
                if (parent_node.name !== undefined){
                  $tree.tree('openNode', parent_node);
                  parent_node = parent_node.parent;
                  if (parent_node.name !== undefined){
                    parent_arr.push(parent_node.id);
                  }
                }
                else{
                  break;
                }
            }
            collapse_tree(node);
            var nav_list = parent_arr.reverse();
            if(node['node_type']!="CourseSectionEvent" && node['node_type']!="CourseSubSectionEvent" && node['node_type']!="CourseUnitEvent" && node['node_type']!="CourseSection" && node['node_type']!="CourseSubSection" && node['node_type']!="CourseUnit" && update_url){
            // alert(nav_list);
            // alert("node_type");
            $.ajax({
                type: "POST",
                url: "{% url 'collection_nav' group_id %}",
                datatype: "html",
                data:{
                  node_id: node.id,
                  curr_node:"{{node.pk}}",
                  nav: nav_list,
                  nod_type: node_type,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                  if (node_type == "Page"){
                   window.history.pushState("", "", "/{{group_name_tag}}/page/{{node.pk}}"+"?selected="+node.id+"");
                  }
                  else if(node_type == "File"){
                    window.history.pushState("", "", "/{{group_name_tag}}/file/{{node.pk}}"+"?selected="+node.id+"");
                  }
                  else if (node_type == "Term"){
                    window.history.pushState("", "", "/{{group_name_tag}}/term/{{node.pk}}"+"?selected="+node.id+"");
                  }
                  else if (node_type == "Course"){
                    window.history.pushState("", "", "/{{group_id}}/course/course_detail/{{node.pk}}"+"?selected="+node.id+"");
                  }
                  if (node_type == "CourseEventGroup" || node_type == "ProgramEventGroup"){
                    window.history.pushState("", "", "/{{node.pk}}"+"?selected="+node.id+"");
                    $(".view_page_link").trigger('click')
                  }
                  else if (node_type == "Topic"){
                    window.history.pushState("", "", "/{{group_name_tag}}/topic_details/{{node.pk}}"+"?selected="+node.id+"");
                  }

                  $("#view_page").html(data);
                }
            });
            $('article').unblock()
            }
            else if(node['node_type']=="CourseUnitEvent"){
              $(".view_page_link").trigger('click')
              $("#view_page").html("")
              var lbl_name = document.createElement('label');
              lbl_name.style.fontSize = "20px"
              if(node.hasChildren()){
                lbl_name.innerHTML = node.name + " contains following : ";
                $("#view_page").append(lbl_name);
                var ol_elem = document.createElement('OL');
                ol_elem.id = "res_container";
                if (node){
                  for(var i=0;i<node.children.length;i++){
                    var elem2 = document.createElement('LI');
                    elem2.innerHTML = node.children[i].name;
                    elem2.className = "res_name"
                    $(ol_elem).append(elem2)
                  }
                }
              }
              else{
                lbl_name.innerHTML = node.name + " contains no files yet!";
                $("#view_page").append(lbl_name);
              }
              $("#view_page").append(ol_elem)
            }
          }
          else{
            var close_nele = event.previous_node
            unselect_treenode(close_nele)
          }

        });
      if (window.location.pathname.search("add_units") > -1) {
          update_url = false;
          $tree.tree({
            selectable: false,
          });
          $tree.unbind('tree.open')
          $tree.unbind('tree.select')

      } else {
          update_url = true;
      }

    }
    function get_all_siblings(node_item){
      if(node_item.parent){
        var all_childrens = node_item.parent.children
        return all_childrens
      }
    }

    function collapse_tree(node_item){
      var $tree = $('.collection');
      // $tree.tree('openNode', node_item);
      var all_nodes = $tree.tree('getTree');
      var all_siblings = get_all_siblings(node_item)

      for(var i=0;i<all_siblings.length;i++){
        if(all_siblings[i]!=node_item){
          close_child_nodes($tree,all_siblings[i]);
          $tree.tree('closeNode', all_siblings[i]);
        }
      }
    }

    function close_child_nodes(tree,node_item){
      all_child_nodes = node_item.children
      for(var c=0;c<all_child_nodes.length;c++){
        tree.tree('closeNode', all_child_nodes[c]);
      }
    }

    function unselect_treenode(closing_node){
      var $tree = $('.collection');
      $tree.tree('closeNode', closing_node);
    }

    // This function takes id of clicked "related" node and redirect to its page with its proper breadcrumbs
    // nav_li manipulates the navigation path of that topic in theme map
    function topic_redirect (obj_id) {

      var nav_list = window.location.search.replace("?nav_li=", ""); // This takes "nav_li" from browser url
      var nav_li = nav_list.replace('{{node.pk}}', obj_id); // This replaces the last node id with clicked "related" node id
      location.href = "/{{group_name_tag}}/topic_details/"+obj_id+"?nav_li="+nav_li+"";
    }

  </script>

<style type="text/css">

  .collection {
    margin-bottom: 1em;
    overflow: auto;
  }
ul.jqtree-tree .jqtree-element { /* Hanging Indent Setting */
    position: relative !important;
    padding-left: 30px !important;
    text-indent:-32px !important;

}
.hanging-indent-topics-name{
    position: relative !important;
    padding-left: 16px !important;
    text-indent:-18px !important;
}

  /*.collection > ul li:nth-child(odd) { background: #ddd; }*/
  .collection > ul li { border-bottom: solid thin #ddd; }
  /*.collection > ul li { padding-left: 22px ;
  text-indent: -22px ;
 }*/

  #view_collection legend{
    text-align: center;
    //border-left: solid thin #ddd;
    //border-right: solid thin #ddd;
    margin-top: 20px;
    color:black !important;
  }


  .res_name{
    margin-left: 20px;
    font-size: 18px;
    list-style: inherit;
  }
</style>

{% endblock %}


  {% if topic %}
    <!-- For displaying related nodes in topic page -->
    <!-- Related node means all collection elements of its teme item i.e all siblings of topic node -->

      {% if prior_obj %}
      <div class="repository-desc large-12 columns" style="width:100%">Topics in {{prior_obj.name}}</div>
        {% comment %}
          {% for each in prior_obj.collection_set %}
              <!-- To get the node object -->
              {% get_node each as obj %}

              <!-- Clicked topic should not be included in related nodes list -->
              {% if node.pk != obj.pk %}
                <i class="fi-arrow-right"></i> <a onclick='topic_redirect("{{obj.pk}}")'>{{obj.name}}</a><br/>
              {% endif %}

          {% endfor %}
        {% endcomment %}

          <ul style="list-style: none; border-bottom: solid thin #ddd;">
            {% for each in prior_obj.collection_set %}

                <!-- To get the node object -->
                {% get_node each as obj %}

                <!-- Clicked topic should not be included in related nodes list -->
                {% if node.pk != obj.pk %}
                  <li class="hanging-indent-topics-name" style="border-bottom: solid thin #ddd; "> <a onclick='topic_redirect("{{obj.pk}}")'>{{obj.name}}</a> </li>
                {% else %}
                  <li class="hanging-indent-topics-name" style="border-bottom: solid thin #ddd;"> <span class="text-gray">{{obj.name}}</span> </li>
                {% endif %}
            {% endfor %}
          </ul>

      {% endif %}

  {% endif %}
  <!-- <b class="current">{{node.name}}</b> -->
  {% if node.collection_set %}
    <div class="course-content">
      <!--div class="row">
        <div class="small-12 columns">
          <div data-alert class="alert-box warning ">
            <div class="warning-icon">
              <span class="badge yellow">i</span>
            </div>
            <div class="warning-note">
              <div>You have 1 unfinished unit <a href="#" class="close">Hide</a></div>
              <div>Module > A Typlical CAPITAL letter > <a href="#">Unit 1: Title of units 1 </a></div>
            </div>
          </div>
        </div>
      </div-->
      <div class="collection collapse row" data-url="{% url 'get_course_collection' group_id node.pk True %}">
      </div>
    </div>
  {% endif %}