<div class="user-comment">
    <div class="user-avatar"><i class="fi-torso" style="line-height:0em;"></i></div>
    <div style="padding: 0em 0em 0em 1em;">
        <div class="comment-heading">
            <div class="commentor-name">
                <span>Fluffy Apple</span>
                &#8226;
            </div>
            <div class="commented-date">
                <span> 2 days ago</span>
                &#8226;
            </div>
            <div class="comment-rating right" >
                <span>Avg Rating</span>
                <i class="fi-like"></i>
                <i class="fi-like"></i>
                <i class="fi-like"></i>
                <i class="fi-like"></i>
                <i class="fi-like"></i>
                <span>(10)</span>
            </div>
        </div>
        <div class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at mattis tellus. Integer ac consectetur felis, et laoreet diam. Donec orci ex, fringilla non nibh eu, </div>
        <div class="comment-child"></div>
    </div>
</div>