{% extends "ndf/node_details_base.html" %}
{% load ndf_tags %}
{% load i18n %}
{% block title %} {{title}} {{node.name}}{% endblock %}
{% block url %}{% url 'create_edit' groupid node %}{% endblock %}

<!-- overide head block from base.html -->
{% block head %}
  <!-- <script src="/static/ndf/js/tree.jquery.js"></script> -->
  <script src="/static/ndf/bower_components/jqtree/tree.jquery.js"></script> <!-- checked -->
{% endblock %}

{% block style %}
  {{block.super}}

  .fi-trash:hover{
    color:red;
  }

  .name-section{
    height:80px;
  }
{% endblock %}


<!-- overiding block from node_detail_base.html -->

{% block collection_content %}
  <div id="view_collection">
    {% include "ndf/collection_ajax_view.html" %}
  </div>
{% endblock %}

<!-- overiding block from node_detail_base.html -->
{% block body_content %}
{% get_group_name groupid as group_name_tag %}

  <div id="alertModal" class="reveal-modal medium alert-box radius" data-reveal data-alert>
    <p id="alertModalLabel"></p>
    <div class="row deletion">
      <div class="small-3 small-offset-3 columns">
        <input type="button" id="btnConfirmYes" class="button tiny expand radius" value="Yes">
      </div>
      <div class="small-3 columns end">
        <input type="button" id="btnConfirmNo" class="button tiny expand radius" value="No">
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>

<header class="row page">
  <section class="medium-8 columns name-section" >
    <h3>
      <span class='node'>{{node.name}}</span>
      {% check_is_gstaff groupid request.user as is_gstaff %}
      {% if is_gstaff or request.user.id == node.created_by %}
        <span data-tooltip title="Edit this Course"><a class="fi-pencil" href="{% url 'create_edit' group_id node.pk %}">Edit</a></span>
      {% endif %}
    </h3>

      <small>
          <div class="age">
            {{ node.member_of_names_list|join:', ' }} created {{node.created_at|timesince}} ago
            by <a class="user" href="{% url 'dashboard' node.created_by %}" data-gnow="">{{node.user_details_dict.created_by}}</a>
          <!-- <span><strong>{{node.contributors|length}}</strong> Contributor{{node.contributors|pluralize}}</span> -->
          <!-- <a href=""><i class="fi-clock"></i> {% trans "View history" %}</a> -->
          </div>
      </small>

  </section>
  <section class="medium-3 columns name-section" >

    {% if node_type == "Course" %}
      {% if is_gstaff %}
        <span><a class="tiny publish-btn radius button" href="{% url 'create_event_group' group_id 'CourseEventGroup' %}?cnode_id={{node.pk}}">{% trans "Announce" %}</a></span>
        <span><a class="tiny radius button" href="{% url 'create_course_struct' group_id node.pk %}">{% if course_structure_exists %}{% trans "Edit  Course Structure" %}{% else %}{% trans "Add  Course Structure" %}{% endif %}</a></span>
      {% endif %}
    {% endif %}
  </section>
</header>

<div class="row">
  {% with node.html_content|safe as description %}
  {% if description != "None" %}
  {{ description }}
  {% endif %}
  {% endwith %}
</div>
<br>

<div id="view_page"></div>

{% endblock %}

{% block script %}
  {{block.super}}

  // Click on delete button
    $(document).on('click','.fi-trash',function(){
      lbl_msg = "Are you sure you want to delete '{{node.name}}' course?"
      $("#alertModalLabel").text(lbl_msg);
      $("#alertModal")
        .removeClass("medium").addClass("small")
        .addClass("alert")
      $("#alertModal").foundation('reveal', 'open');
    });


  //Confirm or Cancel Deletion
    $(document).on("click", "#btnConfirmYes", function() {
        $("#alertModal").foundation('reveal', 'close');
        turl = "{% url 'del_course' group_id node.pk %}"
        $(".fi-trash").attr("href",turl)
        location.href = $(".fi-trash").attr('href');
    });

    $(document).on("click", "#btnConfirmNo", function() {
        $("#alertModal").foundation('reveal', 'close');
    });

{% endblock %}


{% block document_ready %}
  {{block.super}}

  $(function() {
    $('.tree').tree({
     autoOpen: 0
   });
  });

  $('.tree').bind(
    'tree.click',
    function(event) {
      // The clicked node is 'event.node'
      var node = event.node;
      alert(node.id);
    }
    );
    {% user_access_policy groupid request.user as user_access %}
    {% if user_access == "allow" %}
        {% if node_type == "Course" %}

          {% if not course_structure_exists %}
            $("#view_page").append("<label>{% trans 'You have not added any content to this course yet' %}</label>")
          {% endif %}
        {% endif %}
        $("#view_collection").find("b.current").after('&nbsp;&nbsp;<span><a class="fi-pencil" href="{% url 'create_edit' group_id node.pk %}">{% trans "Edit" %}</a></span>&nbsp;&nbsp;<span><a class="fi-trash">{% trans "Delete" %}</a></span>')
    {% endif %}
{% endblock %}


