<li class="gallery-card">
    <div class="row">
        <div class="small-12 columns">
            <input id="check-box" class="select-file" type="checkbox">
            <label for="check-box" class="file-item" >
                <div class="file-details">
                    <div class="file-name">File Name</div>
                    <div class="file-name">Uploaded 28 Dec 2015</div>
                    <div class="file-name"> 475kb</div>
                </div>
                <div class="file-actions">
                    <i class="fi-info"></i>
                    <i class="fi-download"></i>
                    <i class="fi-page-edit"></i>
                </div>
                <div class="filename-footer">
                    File Name
                </div>
            </label>
        </div>
    </div>
</li>