<div id="{{id}}" class="reveal-modal " data-reveal >
    <div class="row gmodal-toolbar">
        <div class="small-5 columns file-name">
            My Photo.jpg
        </div>
        <div class="small-7 columns gmodal-actions">
            <div class="download-file">
                <i class="fi-download"></i>
                <a class="download-link">Download</a>
                <!-- <span> Download</span> -->
            </div>
            <div class="create-note">
                <i class="fi-page-edit"></i>
                <span> Create note</span>
            </div>
            <div class="create-collection">
                <i class="fi-folder"></i>
                <span> Create new collection</span>
            </div>
            <div class = "parent-folder">
                <i class="fi-folder"></i>
                <span>Collection</span>
            </div>
            <div>
                <i class="fi-list-bullet"></i>
            </div>
            <div>
                <i class="fi-info"></i>
                <span>Info</span>
            </div>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
    </div>
    <div class="row gmodal-body">
        <div class="small-9 columns gmodal-item-panel">
            <div class="row gmodal-item-holder ">
                <div class="small-12 columns gmodal-item">
                    <img src="#" class="gmodel-item-image"/>
                </div>
            </div>
            <div class="row gmodal-footer">
                <div class="columns small-1 prev-item">< Prev</div>
                <div class="columns small-10 gmodal-item-details">
                    <i class="fi-eye"></i>
                    <span class="viewed-count">214</span>
                    <i class="fi-like"></i>
                    <span class="likes-count">10</span>
                    <i class="fi-comments"></i>
                    <span class="comment-count">22</span>
                    <i class="fi-trash"></i>
                </div>
                <div class="columns small-1 next-item">Next ></div>
            </div>
        </div>
        <div class="small-3 columns gmodal-comments-panel">
            <div class="gmodal-comments">
                <div class="row">
                    <div class="columns small-12"><h3>Comments</h3></div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        {% include "ndf/gcomment.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
(function( $ ) {
    var _items = [];
    var _itemsIdMap = {};
    var _itemsPosMap = {};
    var _galleryId;
    var _currentItemGroup;
    var _currentItem;
    var _currentIndex;

    $.fn.userGalleryModal = function(config) {

        if(config) {
            _items = config.items || _items;
            $.each(_items, function(key, val) {
                _itemsIdMap[val.id] = val;
                _itemsPosMap[val.id] = key;
            });
            _galleryId = config.galleryId;
        } else {
            return false;
        }

        //initializing gallery functions
        $('#' + _galleryId).find('.prev-item').on('click', function() {
            _currentItem = _itemsPosMap[_currentItem.id] - 1 > -1 ?
                _items[_itemsPosMap[_currentItem.id] - 1] :
                _currentItem;
            _renderItem();
        });

        $('#' + _galleryId).find('.next-item').on('click', function() {
            _currentItem = _itemsPosMap[_currentItem.id] + 1 < _items.length ?
                _items[_itemsPosMap[_currentItem.id] + 1] :
                _currentItem;
            _renderItem();
        });

        _currentItemGroup = $(this);

        function _renderItem() {
            $('#' + _galleryId).find('.file-name').html(_currentItem.name);
            $('#' + _galleryId).find('.gmodel-item-image').attr('src', _currentItem['item-image']);
            $('#' + _galleryId).find('.viewed-count').html(_currentItem.views);
            $('#' + _galleryId).find('.download-link')
                        .attr('href',_currentItem['download-link'])
                        .attr('download',_currentItem.grid_fs_obj_name)

            $('#' + _galleryId).find('.likes-count').html(_currentItem.rating);
            $('#' + _galleryId).find('.comment-count').html(_currentItem.comments);
        }

        return {
            getItems : function() {
                return _items;
            },
            openItem : function(id) {
                _currentItem = _itemsIdMap[id];
                _currentIndex = _items[_currentItem];
                _renderItem();
            }
        }
        return this;

    };

}( jQuery ));
</script>