{% load get_grid_fs_object from ndf_tags %}
{% load i18n %}
{% load ndf_tags %}
<div id="reveal-{{node.pk}}" class="reveal-modal" data-reveal>
    <div class="row gmodal-toolbar">
        <div class="small-2 columns file-name">
            {{node.name}}
        </div>
        <div class="small-2 columns gmodal-actions">
            {% comment %}
            <div class="create-note">
                <a>
                    <i class="fi-page-edit"></i>
                    Create note
                </a>
            </div>
            <div class="create-collection">
                <a>
                    <i class="fi-folder"></i>
                    Create new collection
                </a>
            </div>
            <div class = "parent-folder">
                <a>
                    <i class="fa fa-plus"></i>
                    Add to collection
                </a>
            </div>
            <div class="view-info">
                <a>
                    <i class="fi-info"></i>
                    View Info
                </a>
            </div>
            {% endcomment %}
            <div class="create-note">
                {% get_edit_url node.pk as edit_url %}
                {% check_is_gstaff group_id request.user as is_gstaff %}
                {% if is_gstaff or node.created_by == request.user.id %}

                <a href="{% url edit_url group_id node.pk %}">
                    <i class="fi-page-edit" ></i>
                    Edit
                </a>
                {% endif %}
            </div>

            <div class="download-file">
                {% get_grid_fs_object node as grid_fs_obj %}
                <a class="download-link" title="Click here to Download" href="{% url 'read_file' group_name node grid_fs_obj.filename %}" download="{{ grid_fs_obj.filename }}">
                    <i class="fi-download"></i>Download
                </a>
                <!-- <span> Download</span> -->
            </div>

            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
    </div>
    <div class="row gmodal-body">
        <div class="small-9 columns gmodal-item-panel">
            <div class="row gmodal-item-holder ">
                <div class="small-12 columns gmodal-item">
                    <img  src="{% url 'get_mid_size_img' group_id node.pk %}" class="gmodel-item-image"/>
                </div>
            </div>
            <div class="row gmodal-footer">
                {% comment %}
                <div class="columns small-1 prev-item">< Prev</div>
                {% endcomment %}
                <div class="columns small-10 gmodal-item-details">
                    <i class="fi-eye"></i>
                    <span class="viewed-count">214</span>
                    <i class="fi-like"></i>
                    <span class="likes-count">10</span>
                    <i class="fi-comments"></i>
                    <span class="comment-count">22</span>
                    <i class="fi-trash"></i>
                </div>
                {% comment %}
                <div class="columns small-1 next-item">Next ></div>
                {% endcomment %}
            </div>
        </div>
        <div class="small-3 columns gmodal-comments-panel">
            <div class="gmodal-comments">
                <div class="row">
                    <div class="columns small-12"><h4>Comments</h4>
            
                {% if group_object.edit_policy != "EDITABLE_MODERATED" or "CourseEventGroup" in group_object.member_of_names_list %}
                    {% if "File" in node.member_of_names_list or "Page" in node.member_of_names_list %}
                    {% get_list_of_fields node.type_of "name" as type_of_list %}
                    {% if "Info page" not in type_of_list %}
                        <div class="row tag-rating-div">
                            <span title="{% trans 'Rating defines popularity' %}">
                                <label class="lbl_tag lbl_field">{% trans "Rating" %}</label>
                            </span>
                            <div class="rating_template"> {% include "ndf/rating.html" %} </div>
                        </div>
                    {% endif %}
                    {% endif %}
                {% endif %}
                            

                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        {% get_thread_node node.pk as thread_node %}
                            {% if thread_node %}
                                {% get_disc_replies thread_node group_id global_disc_all_replies as all_replies %}
                                {% get_node thread_node as thread_node_obj %}
                                {% include 'ndf/gin-line-texteditor.html' with node=thread_node_obj var_name="content_org" ckeditor_toolbar="GgallaryCommentsToolbar" %}
                            {% else %}
                                {% get_disc_replies node.pk group_id global_disc_all_replies as all_replies %}
                                {% include 'ndf/gin-line-texteditor.html' with var_name="content_org" ckeditor_toolbar="GgallaryCommentsToolbar" %}
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %}
<script type="text/javascript">
(function( $ ) {
    var _items = [];
    var _itemsIdMap = {};
    var _itemsPosMap = {};
    var _galleryId;
    var _currentItemGroup;
    var _currentItem;
    var _currentIndex;

    $.fn.userGalleryModal = function(config) {
       if(config) {
            _items = config.items || _items;
            $.each(_items, function(key, val) {
                _itemsIdMap[val.id] = val;
                _itemsPosMap[val.id] = key;
            });
            _galleryId = config.galleryId;
        } else {
            return false;
        }
       //initializing gallery functions
        $('#' + _galleryId).find('.prev-item').on('click', function() {
            _currentItem = _itemsPosMap[_currentItem.id] - 1 > -1 ?
                _items[_itemsPosMap[_currentItem.id] - 1] :
                _currentItem;
            _renderItem();
        });
       $('#' + _galleryId).find('.next-item').on('click', function() {
           _currentItem = _itemsPosMap[_currentItem.id] + 1 < _items.length ?
               _items[_itemsPosMap[_currentItem.id] + 1] :
               _currentItem;
           _renderItem();
       });
       _currentItemGroup = $(this);
       function _renderItem() {
           $('#' + _galleryId).find('.file-name').html(_currentItem.name);
           $('#' + _galleryId).find('.gmodel-item-image').attr('src', _currentItem['item-image']);
           $('#' + _galleryId).find('.viewed-count').html(_currentItem.views);
           $('#' + _galleryId).find('.download-link')
                       .attr('href',_currentItem['download-link'])
                       .attr('download',_currentItem.grid_fs_obj_name)
           $('#' + _galleryId).find('.likes-count').html(_currentItem.rating);
           $('#' + _galleryId).find('.comment-count').html(_currentItem.comments);
       }
       return {
            getItems : function() {
                return _items;
            },
            openItem : function(id) {
                _currentItem = _itemsIdMap[id];
                _currentIndex = _items[_currentItem];
                _renderItem();
            }
        }
        return this;
   };

}( jQuery ));
</script>
{% endcomment %}
