{% load i18n %}
{% load cache %}
{% cache 3600 graph_collection_static_head %}
{% block head %}
<script src="/static/ndf/bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Scripts required for D3 graph -->
  <script type="text/javascript" src="/static/ndf/bower_components/d3/d3.min.js"></script> <!-- checked -->
  <script type="text/javascript" src="/static/ndf/bower_components/underscore/underscore.js"></script> <!-- checked -->
  <script sync="text/javascript" src="/static/ndf/bower_components/FileSaver/FileSaver.js"></script> <!-- checked -->
{% endblock %}
<style type="text/css">
		#chart-dependency .link
		{
			stroke: #ccc;
		}

		#chart-dependency .nodetext {
			#pointer-events: none;
			font: 10px Serif;
			font-style:italic;
		}

		/*Central node shown in ellipse*/
		#chart-dependency .mainnode{
			font: 15px sans-serif;
			fill:"black";
			border-width: 1px;
			font-weight:bold;
			border-color: gray;
		}

		/*Connector element that connects two nodes*/
		#chart-dependency .relnode {
			font: 10px sans-serif;			
			fill:#404040;
		}

		/*Peripheral nodes to main node*/
		#chart-dependency .node {
			border-width: 1px;
			border-color: gray;
			fill:#154534;
			font: 12px sans-serif;
		}

		/*body {
			background-color: white;
			display:block;
		}
		*/

		/* Div containing SVG area*/
		#chart-dependency {
			display: block;
			padding-top: 1%;
			height: 87%;
			float: left;
			width: -webkit-calc(75%); width:-o-calc(75%); width: -moz-calc(75%); width: calc(77%);
			display: block;
		}

		#view-dependency-graph svg {
			margin-left: 1%;
		}

		#view-dependency-graph .graph-info-panel {
			background-color:#F2F2F2; 
			width:20%; height:100%; 
			display:inline-block; float:left;
		}

		#view-dependency-graph .graph-info-panel div:first-child {
			height:90%;
		}

		#view-dependency-graph .button {	background-color: #008759;	}
		#view-dependency-graph .button:hover {	background-color: #00ba7b	;	}

		/* New CSS for Filter container 	*/
            .sidebar
            {
                /*position: absolute;*/
                z-index: 2;
                background-color: #FFF;
                padding: 10px;
                margin: 5px;
                border: 1px solid #6895b4;
                min-height: 3px;
                min-width: 8px;
            }
            .item-group
            {
            	margin-bottom: 5px;
            }
            .item-group .item-label
            {
            	width: 90px;
            	text-align: right;
            	font-family: Arial,sans-serif;
            	font-size: 14px;
            	font-weight: bold;
            	position: relative;
            	min-height: 1px;
            	margin-top: 5px;
            	display: inline;
            	padding-right: 5px;
            	font-size: .90em;
            }
            .checkbox-interaction-group
            {
            	margin-left: 10px;
            	margin-top: 5px;
            	clear: both;
            }
            .checkbox-container label
            {
            	display: inline;
            	margin-bottom: 
            }
            .checkbox-container
            {
            	display: block;
            }

	</style>
	{% endcache %}
	<body>

		<!-- This is panel on LHS of graph -->
		<div class="graph-info-panel">
			<div>
			<!-- Title of current page -->
				<h3 class="text-center">{{node.name}}</h3>
			<!-- CheckBox Container -->
				<div class="sidebar">
					<div class="item-group">
						<label class="item-label">1. Use Shift+Click to Stick the Node.</label><br>
						<label class="item-label">   Double Click to remove Sticky Node.</label>
					</div>
					<div class="item-group">
						<label class="item-label">2. Use Ctrl+Click to Expand/Collaps the Node.</label>
					</div>
					<!-- <div class="item-group">
						<label class="item-label">3. Filter</label>
    	            	<div id="filterContainer" class="filterContainer checkbox-interaction-group"></div>
    	            </div> -->
                </div>
			</div>
			<!-- Download Button -->
			<input type="button" class="button expand" value="Save as SVG" onclick='dependencyg_download("{{node.name}}");' />
		</div>

		<!-- Div containing svg area -->
		<div id="chart-dependency"></div>
			<script type="text/javascript">

			var graphHeight = ($(window).height()*0.87), // Getting 87% of window height 
				graphWidth  = ($(window).width()*0.77);	 // Getting 77% of window width 

			var dependencyg_objectid = "{{node.pk}}";				// _id of current viewing page
			var flag=false;								// flag used for shift+click (Fixing position of node)
			var tempd_mainnode

// -------------------Start dependencyg_init()--------------------
			function dependencyg_init(a,b)
			{
				dependencyg_nodes_by_id = _.reduce(a, function(acc, n) 
				{
					acc[n._id] = n;
					return acc;
				}, {});

				dependencyg_all_edges=new Array();

		    	//dependencyg_all_edges contains all the links between the nodes
		   		dependencyg_all_edges =_(b).chain().map(function(e)
		    	{
		    		if ((e.from).slice(-2) != "_r")
		    		{
		    			e.source = dependencyg_nodes_by_id[e.from];
		    			tempd_mainnode = e.source;
		    		}
		    		else
		    		{
		    			e.source = tempd_mainnode;
		    		}

		    		if ((e.to).slice(-2) != "_r")
		    		{
		    			e.target = dependencyg_nodes_by_id[e.to];
		    		}
		    		else
		    		{
		    			e.target = tempd_mainnode;
		    		}
					//e.type = dependencyg_nodes_by_id[e.type]
					return e;
				}).filter(function(e)
				{
					return dependencyg_nodes_by_id[e.from] && dependencyg_nodes_by_id[e.to]&& e.type=="prior_node";
				}).value();  
			}
// -------------------End Of dependencyg_init()---------------------

// -------------------Start dependencyg_fgraph()--------------------
			function dependencyg_fgraph() 
			{	
				dependencyg_neighbour_node	= new Array();
	    		dependencyg_clicked_node	= new Array();
			    dependencyg_prev_node		= new Array();

			    dependencyg_neighbour_node	= dependencyg_neighbour_node.concat(dependencyg_objectid);  
    
				$.getJSON("{% url 'get_graph_json' groupid %}?id=" + dependencyg_objectid, function (json1)
				{
					dependencyg_metadata  = json1.node_metadata;
					dependencyg_relations = json1.relations;

					dependencyg_init(dependencyg_metadata,dependencyg_relations);
					// createFilter(dependencyg_metadata,dependencyg_relations);
					dependencyg_load(dependencyg_objectid);
				}); // --END of getJSON()
			}
// -------------------End of dependencyg_fgraph()--------------------

// -------------------Start dependencyg_load()-----------------------
			function dependencyg_load(key)
			{
				var w = graphWidth,
					h = graphHeight,
					fill = d3.scale.category20();

				var vis = d3.select("#chart-dependency")
							.append("svg:svg")
							.attr("id", "dependencyg_amazingViz")
							.attr("height", h)
							.attr("width", w)
							.attr("xmlns", "http://www.w3.org/2000/svg")
							.attr("version", "1.1");

			// Definition of marker
                vis.append("svg:marker")
    		             .attr("id", "dependencyg_arrowhead")
                		 .attr("viewBox","0 0 10 10")
                		 .attr("refX","20")
                		 .attr("refY","5")
                		 .attr("markerUnits","strokeWidth")
                		 .attr("markerWidth","9")
                		 .attr("markerHeight","5")
                		 .attr("orient","auto")
                		 .append("svg:path")
                		 .attr("d","M 0 0 L 10 5 L 0 10 z")
                		 .attr("fill", "#6D6666"); 

			// Adding white color rectangle to background of graph 
				vis.append("rect")
					.attr("height", "100%")
					.attr("width", "100%")
					.style("fill", "white");

				vis.append("svg:g").attr("class", "edges");

				vis.append("svg:g").attr("class", "nodes");

				dependencyg_nodes_by_id[key].x = w/2.0;
				dependencyg_nodes_by_id[key].y = h/2.0;       

			// Defining properties of graph
				var force = d3.layout.force()
							.linkStrength(1)
							.charge(-5000)
							.friction(0.7)
							.gravity(0.5)
							.linkDistance(70)
							.nodes([])
							.links([])
							.size([w, h])
							.start();

				var drag = force.drag();

		// -------------------Start update()-----------------------
				function update(edges)
				{
			    // for each func
				    _.each(dependencyg_nodes_by_id, function(n){n.added = false});

			    // reduce the nodes list to have only those nodes for a given rel.
				    var nodes = _.reduce(edges, function(acc, e) 
				    {
				    	if(dependencyg_nodes_by_id[e.from] && !dependencyg_nodes_by_id[e.from].added)
				    	{
				        	dependencyg_nodes_by_id[e.from].added = true;
			    	    	acc.push(dependencyg_nodes_by_id[e.from]);
			    	    }
				        if(dependencyg_nodes_by_id[e.to] && !dependencyg_nodes_by_id[e.to].added)
				        {
				        	dependencyg_nodes_by_id[e.to].added = true;
				        	acc.push(dependencyg_nodes_by_id[e.to]);
				        }
				        return acc;
				    }, []);

				    force.nodes(nodes);
				    force.links(edges);
				    force.start();

				    var link = d3.select("#chart-dependency g.edges")
				    		 .selectAll("line.link")
				    		 .select(this.dependencyg_arrowhead)
				    	     .data(edges, function(e){return e.from + "-" + e.to + "-" + e.type});

				    link.enter().append("svg:line")
				        // .attr("class", "link")
    	            	.style("stroke-width", 2 )
    	            	.style("stroke", "#ccc")
		                .attr("x1", function(d) {	return d.source.x; })
	                	.attr("y1", function(d) {	return d.source.y; })
	                	.attr("x2", function(d) {	return d.target.x; })
	                	.attr("y2", function(d) {	return d.target.y; })
		                .attr("text", function(d) {	return d.type; })
		                .attr("marker-end", "url(#dependencyg_arrowhead)");

	                var node = d3.select("#chart-dependency g.nodes")
	                			 .selectAll("g.node")
	                			 .data(nodes);

	                var new_g = node.enter().append("svg:a")
	                				.attr("id",function(d){return d._id})
	                				.attr("class", function(d){

                						// var e=(d._id).charAt(0);

	                					if (d._id==key) return "mainnode";
    	            					// else if (e=="-") return "nodetext";
        	        					else if ((d._id).slice(-2) == "_r") return "relnode"; //logic to give class to relation node (pending)
            	    					else if (d.refType == "Relation")return "node"; 
            	    				})
            	    				
                					//.attr("xlink:href", function(d){ if(d.refType == 'relation') return d.url})
                					.call(drag);

                	
                // $("#chart-dependency").bind('click',function(event) {
                	// if(event.ctrlKey==1){

	                $(window).bind('keydown',function(event) 
	                {
	                	if(event.keyCode==17)
	                	{
	                		new_g.on("click",function(d)
	                		{
	                			if( d.expanded=="true" && d._id!=dependencyg_objectid )
	                			{
	                				$.ajax(
	                					{	
	                						async:false,
											url:"{% url 'get_graph_json' groupid %}?id=" + d._id,
											datatype:'json',
											success:function (json2)
											{
												json2 = JSON.parse(json2);
	                							new_metadata = json2.node_metadata;
	                							// _.filter(new_metadata, function(e){if(e._id>0){
	                							_.filter(new_metadata, function(e)
	                								{
	                									if(e._id)
	                									{
	                										dependencyg_clicked_node = dependencyg_clicked_node.concat(e._id) ;
	                									}
	                								});

	                							index = _.indexOf(dependencyg_neighbour_node , d._id);

	                							dependencyg_prev_node = dependencyg_neighbour_node.slice(0,index);
	                							dependencyg_neighbour_node = _.difference(dependencyg_neighbour_node,dependencyg_clicked_node) ;
	                							dependencyg_neighbour_node= dependencyg_neighbour_node.concat(dependencyg_prev_node);
	                							dependencyg_neighbour_node = _.uniq(dependencyg_neighbour_node);
	                						}
	                					});

									dependencyg_metadata = []
									dependencyg_relations = []
									metadata1 = []
									relations1 = []

									for(i=0;i<(dependencyg_neighbour_node.length);i++)
									{
										d3.select("#dependencyg_amazingViz").remove();
										g = dependencyg_neighbour_node[i]

										$.ajax(
											{
												async:false,
												url:"{% url 'get_graph_json' groupid %}?id=" + g,
												datatype:'json',
												success:function (json2)
												{
													json2 = JSON.parse(json2);

													new_metadata	= json2.node_metadata;
													new_relations	= json2.relations;

													dependencyg_metadata	= _.union(new_metadata,dependencyg_metadata);
													dependencyg_relations	= _.union(new_relations,dependencyg_relations);
													dependencyg_relations	= dependencyg_check_Relationtype(dependencyg_metadata,dependencyg_relations);
												}
											});
									}

                          			_.each(dependencyg_metadata, function(m)
                          			{
                          				for(i=0;i<dependencyg_neighbour_node.length;i++)
                          				{
                          					if(m._id == dependencyg_neighbour_node[i])
                          					{	m.expanded	=	"true";		}
                          					else
                          					{	m.expanded	=	"false";	}
                          				}
                          			});

                          			dependencyg_init(dependencyg_metadata,dependencyg_relations);
                          			dependencyg_load(dependencyg_objectid) ;
                          		} // --END if
                          		// else if(d._id>0 && d._id!= dependencyg_objectid)
                          		else if(d._id!= dependencyg_objectid)
                          		{
                          			dependencyg_neighbour_node =dependencyg_neighbour_node.concat(d._id);

                          			d3.select("#dependencyg_amazingViz").remove();

                          			$.ajax(
                          				{
                          					async:false,
                          					url:"{% url 'get_graph_json' groupid %}?id=" + d._id ,
		                          			datatype:'json',
		                          			success:function (json2)
		                          			{
		                          				json2 = JSON.parse(json2);

		                          				new_metadata	=	json2.node_metadata;
		                          				new_relations	=	json2.relations;

		                          				dependencyg_metadata	=	_.union(new_metadata,dependencyg_metadata);
		                          				dependencyg_relations	=	_.union(new_relations,dependencyg_relations);
		                          				dependencyg_relations	=	dependencyg_check_Relationtype(dependencyg_metadata,dependencyg_relations);

		                          				_.each(dependencyg_metadata, function(m)
		                          				{
		                          					for(i=0;i<dependencyg_neighbour_node.length;i++)
		                          					{
		                          						if(m._id == dependencyg_neighbour_node[i])
		                          							m.expanded = "true";
		                          					}
		                          				});
		                          			}
                          				});

                					dependencyg_init(dependencyg_metadata,dependencyg_relations);
                					dependencyg_load(dependencyg_objectid);
                				}
                			});
						}
					//press shift key + drag to fix the position of node according to user choice.
						if(event.keyCode==16)
						{
							flag = true;
							new_g.on("click",dependencyg_ondrag);
						}
					});


					new_g.filter(function(d){ return (d._id).slice(-2) =="_n"; })
						.append("svg:rect")
                		.attr("x", function(d) {var ttx=d.screen_name ;  return (-ttx.length*2/1.75)} )
                		.attr("y", 10)	
                		.attr("width", function(d) {var ttx=d.screen_name ;  return (ttx.length+22+40)})
                		.attr("height", 20)
                		.call(drag)
                		.style("fill-opacity", ".1")
                		.style("stroke", "lightgray")
                		.style("stroke-width","1px");

                	new_g.filter(function(d) { if(d.refType=="GSystem" || d.refType=="Relation") return true ;}).append("svg:ellipse")
                		.attr("cx", 25)                
                		.attr("cy", 20)
                		.call(drag)
                		.attr("rx",function(d) {var ttx=d.screen_name; return(ttx.length/2 +"em")})
                		.attr("ry",15)
                		.style("fill-opacity", function(d) {if (d.refType=="Relation") return 0.2; else if(d.refType=="GSystem") return 0.7;})
                	// .style("stroke", "#666")
                	// .style("stroke-width", "1.5px")
                		.style("fill", function(d) {if (d.refType=="Relation") return "#008759"; else if(d.refType=="GSystem") return "#008759"; else return "none"})
                		.on("dblclick",dependencyg_dblclick);


                	var text1 = new_g.append("svg:text")
                				 .attr("class",function(d) {
                				 	if (d._id==key) return "mainnode";
                				 	// else if (e=="-") return "nodetext";
                				 	else if ( d._id.search("_r") > 0) return "relnode";
                				 	else if ( d.refType == "Relation" ) return "node";
                				 })
                				 .attr("y", 20)
                				 .attr("x", 25)
                				 .attr("dy", ".35em")
                				 .attr("text-anchor","middle")
                				 .on("drag",drag)
                				 .text(function(d){  if((d._id).slice(-2) != "_r")
                				 					 {	return d.screen_name; }
                				 					}	)
                				 .style("font", function(d){

            	    					nodeFont = d._id==key?"bold 15px sans-serif":(d.refType=="Relation"||(d._id).slice(-2)=="_n")?"normal 12px serif":"normal 10px sans-serif";
            	    					return nodeFont;
            	    				})
                				 .style("fill", function(d){
                				 	if(d.refType=="GSystem"){ return "black" }
                				 	if(d.refType=="Relation" || (d._id).slice(-2)=="_n"){ return "#00432c" }
                				 	else if((d._id).slice(-2)=="_r")
                				 		{ return "#404040"}
                				 })
                				 .on("dblclick", dependencyg_dblclick)
                				 .attr("class","nodeText");

                		// bbox = text1.node().getBBox();
                		// console.log(bbox);

                		// new_g.filter(function(d) { return (d._id).charAt(0)=="-"; }).append("svg:rect")
                		// .attr("x",bbox.x-22)
                		// .attr("y", bbox.y)	
                		// .attr("width", function(d) {var ttx=d.screen_name ; return (ttx.length+bbox.width+40)})
                		// .attr("height", bbox.height)
                		// .call(drag)
                		// .style("fill-opacity", ".1")
                		// .style("stroke", "#000")
                		// .style("stroke-width","1px"  );


                	node.exit().remove();

                	force.on("tick", function()
                	{
                		var x_center = $("#chart-dependency").width() / 2;
                		var y_center = $("#chart-dependency").height() / 2;

                		link.attr("x1", function(d) { return d.source.x; })
                			.attr("y1", function(d) { return d.source.y; })
                			.attr("x2", function(d) { return d.target.x; })
                			.attr("y2", function(d) { return d.target.y; });

                			node.attr("transform", function(d) { return "translate(" + (d.x-20) + "," + (d.y-20) + ")"; });
                	});
                }
       	//---------------END of update()---------------

                update(dependencyg_all_edges);

                vis.style("opacity", 1e-6)
                	.transition()
                	.duration(1000)
                	.style("opacity", 1);
            }
//---------------END of dependencyg_dblclickyg_load()---------------

//--------------- Sticky Feature Code ---------------
			function dependencyg_dblclick(d)
            {
            	//double click to remove the fix posiotion of node.
            	d3.select(this).classed("fixed", d.fixed = false);
            }
            function dependencyg_ondrag(d)
            {
            	//Check if flag is true then it will fix the position for node.
               	//But without shift + click node will not fix.
               	if (flag)
               	{
               		d3.select(this).classed("fixed",d.fixed=true);
               	}
               	else
               	{
               		d3.select(this).classed("fixed",d.fixed=false);
               	}

               	if (flag)
               	{
               		flag = false;	
               	}
            }
//--------------- END of Sticky Feature Code ---------------

//--------------- Graph filtration Code --------------------
 			// createFilter() to create check box's
//                 function createFilter(node_meta,rel)
//                 {
//                 	var relations_a = new Array();
//                 	var i = 0;
//                 	d3.selectAll("div")
//                 	  .data(rel)
//                 	  .each(function(d)
//                 	  {
//                 	  	relations_a[i] = d;
//                 	  	i++;
//                 	  })

//                 	var temp_rel = new Array();

//                 	d3.select(".filterContainer")
//                 	  .selectAll("div")
//                 	  .data(node_meta)
//                 	  .enter()
//                 	  .append("div")
//                 	  .attr("class","checkbox-container")
//                 	  .append("label")
//                 	  .each(function (d)
//                 	  {
//                 	  	if(d._id.slice(-2) == "_r" && d.screen_name!="prior_node" && d.screen_name!="dependency_set")
//                 	  	{
//                 	  	// Create checkbox for each data
// 	                	  	d3.select(this)
// 	                	  	  .append("input")
// 	                	  	  .attr("type","checkbox")
// 	                	  	  .attr("id",function(d){return "chk_"+d._id;})
// 	                	  	  .attr("checked",true)

// 	                	  	d3.select(this)
// 	                	  	  .append("span")
// 	                	  	  .text(function(d){return d.screen_name;});
// 	                	}

// 	                	d3.select(this)
// 	                	  .on("click",function(d)
// 	                	  {
// 	                	  	for(i=0;i<relations_a.length;i++)
// 	                	  	{
// 	                	  		if(d._id == relations_a[i].from)
// 	                	  		{
// 	                	  			temp_rel.push(relations_a[i].to);
// 	                	  		}
// 	                	  	}
// 	                	  	filterGraph(d,temp_rel);
// 	                	  	while(temp_rel.length>0)
// 	                	  	{
// 	                	  		temp_rel.pop();
// 	                	  	}
// 	                	  })	
//                 	  });
//                 }
//             // Method to filter graph
//                 function filterGraph(Id,Id_rel)
//                 {
//                	// To hide or show the text
//                 	$("text").text(function(d)
//                 			  {
//                 				if($(this).text() == Id.screen_name)
//                 				{
//                 					$(this).toggle();
//                 				}
//                 			  });

//                	// To hide or show the links
//                 	$("line[text|='"+Id.screen_name+"']").toggle();

//                 // To hide or show the node's
//                 	for(var i=0;i<Id_rel.length;i++)
//                 	{
//                 		$("a[id|='"+Id_rel[i]+"']").toggle();
//                 	}
// 				}
//--------------- END of Graph filtration Code ----------------

                function dependencyg_check_Relationtype(metadata,relations)
                {
                	_.each(metadata,function(d)
                	{
                		if (d.refType=="Relationtype")
                		{
                			var a = d.inverse;
                			if (d.flag==1)
                			{
                				relations= _.reject(relations,function(e){ return e.type == a; });
                			}
                			else if (d.flag==0)
                			{
                				relations= _.reject(relations,function(e){ return e.type == d.screen_name });
                			}
                		}
                	});
                	return relations;
                }

                $(dependencyg_fgraph());

//--------------- Save the Graph ----------------
                function dependencyg_download(filename) 
                {
				    // var el = document.createElement('a');
				    // el.setAttribute('href', 'data:image/svg+xml;,' + encodeURIComponent(svgdata));
				    // el.setAttribute('dependencyg_download', filename);
				    // el.click();

				    var blob = new Blob([$("#chart-dependency").html()], {type: "image/svg+xml"});
				    filename = filename.replace(/\ /g, '_');
				    filename += "_Dependency_Graph.svg";
					saveAs(blob, filename);
				}
		</script>
	</body>
