{% extends "ndf/base.html" %}

{% block title %} Group {% endblock %}


{% block meta_content %}
    <h3>About</h3>

    <p>Groups help to arrange your content for a particular set of users. Members can subscribe to updates and even collaborate on content.</p>

    <p>Number of Groups : {{ group_nodes_count }} </p>

{% endblock %}


{% block body_content %} 
<header class="row">
    <h2 class="medium-12 columns">Groups</h2>
    <div class="medium-12 columns">
        {% if user.is_authenticated %}
        <a href="{% url 'create_group' 'group' %}">
            <input type="submit" class="small button" value="Create a new group" />
        </a>
        {% endif %}
    </div>
</header>

{% load url from future %}
<ul class="small-block-grid-2 medium-block-grid-4">

    {% for node in group_nodes %}
    <li class="card"><a href="/{{node}}">

    <div class="medium-6 columns">somet</div>
    <div class="medium-6 columns">somet</div>
    {{ node }}

    </a>
    <!--
    Created at : {{ node.created_at|date:"j F Y" }}<br>
    Member Of   : {{ node.member_of }}<br>
    Tags       : {{ node.tags|join:", " }}<br>
    <a href="{#% url 'delete_node' node %#}">delete</a>
-->
</li>

{% empty %}
<p><em>Currently NO nodes in the gnowledge base!!!</em></p>
{% endfor %}
</ul>
{% endblock %}

