{% extends "ndf/base.html" %}

{% block title %} Group {% endblock %}

{% block body_content %} 

<h2>Groups</h2>
<h5>Number Of Groups : {{ group_nodes_count }} </h5>

{% load url from future %}
<ul class="small-block-grid-2lickr soujanyaa boruah
 medium-block-grid-4">
  {% if user.is_authenticated %}
    <li>
    <a href="{% url 'create_group' 'group' %}">
    <input type="submit" class="small button expand" value="Create new group" />
    </a>
    </li>
    {% endif %}
    {% for node in group_nodes %}
    <li class="card"><a href="/{{node}}">{{ node }}</a>
    <!--
    Created at : {{ node.created_at|date:"j F Y" }}<br>
    Member Of   : {{ node.member_of }}<br>
    Tags       : {{ node.tags|join:", " }}<br>
    <a href="{#% url 'delete_node' node %#}">delete</a>
  -->
</li>

{% empty %}
<p><em>Currently NO nodes in the gnowledge base!!!</em></p>
{% endfor %}
</ul>
{% endblock %}

