{% extends "ndf/base.html" %}
{% load ndf_tags %}
{% load pagination_tags %}
{% block title %} Group {% endblock %}

{% block meta_content %}
<h2>Groups</h2>
{% endblock %}


{% block help_content %}
<p>Groups are an easy way to share content and conversation, either privately or with the world. Many times, a group already exist for a specific interest or topic. If you can't find one you like, feel free to start your own.</p>

<h5>How do groups work?</h5>
<p>Groups can either be public, restricted (users may read a brief description or overview but not view content) or completely private. Every group has a wiki, a pool for resources, and a discussion board for talking.</p>
{% endblock %}


{% block body_content %}
<header class="row">
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel2-1"><i class="fi-eye"></i> All Groups ({{ group_nodes_count }})</a></dd>
    <dd><a href="#panel2-3"><i class="fi-trophy"></i> Popular Groups</a></dd>
  </dl>
</header>

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
  
  <!-- Node create card-->
  <li class="create card">
    <div class="group">
      <h4><i class="fi-plus"></i> New</h4>
      <!--<div class="row">
       <div class="large-12 columns">
          <input type="text" placeholder="Name of the Group" />
          <textarea placeholder="Describe the Group"></textarea>
          <input id="ANONYMOUS" type="checkbox"><label for="ANONYMOUS">Anonymous (No login required)</label>

          <div class="login-mode switch round">
            <input id="PUBLIC" name="login-mode" type="radio" checked>
            <label for="PUBLIC" onclick="">Public Group <i class="fi-torsos-all"></i></label>

            <input id="PRIVATE" name="login-mode" type="radio">
            <label for="PRIVATE" onclick="">Private Group <i class="fi-lock"></i></label>

            <span></span>
          </div> 

          <script type="text/javascript">
            $("#ANONYMOUS").change(function(){
              /* Hide type group type options if anonymous*/
              $(".login-mode").slideToggle();
            });
          </script>
       -->
      {% if user.is_authenticated %}
      <a class="button expand" href="{% url 'create_group' groupid %}">
        Create Group
      </a>
      {% endif %}
      </div>

  </li>
  
  <!-- Existing card list-->

  {% autopaginate groups 23 %}

  {% for node in group_nodes %}
  
  <li class="card">
    <div class="group">
      
      <header>
        <div class="label-list">
          {% for tag in node.tags %}
          <a href="{% url 'tag_info' groupid tag %}"><span class="label">{{tag}}</span></a>
          {% endfor %}
        </div>
        
        <div class="th"><img src="/static/ndf/images/icon/meta.svg"></div>
        <h4>{{ node.name }}</h4>
	<div>
            <small class="subheader">{{ node.member_of_names_list|join:', ' }} created {{node.created_at|timesince}} ago by <span href="#" class="user" data-gnow="">{{node.user_details_dict.created_by}}</span> 
            </small>
          </div>
      </header>
      
      <p>This is a group for the people interested in this group. We do a bunch of cool things here.</p>
      <a class="button expand"  href="/{{node.pk}}">View Group</a>
      
      <footer class="row">
        <div class="small-6 columns"><strong>{{node.author_set|length}}</strong> Members</div>
        <div class="small-6 columns"><strong>56</strong> Objects</div>
      </footer>
      
    </div>
  </li>
  
  {% empty %}
  <p><em>Currently NO nodes in the gnowledge base!!!</em></p>
  {% endfor %}
  
  
</ul>
{% paginate %}
{% endblock %}
