

<div class="workspace">
<!-- Title Bar -->
    <nav class="top-bar" data-topbar role="navigation" id="top-bar">
      <ul class="title-area">
        <li class="name"><h1><a href="#"></a></h1></li>
     <!--Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

  <section class="top-bar-section">

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#"> My Desk</a></li>
      <li><a href="#">Explore Groups</a></li>
    </ul>
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="#"> Blog </a></li>
      <li><a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i> Help Topics</a></li>
      <li class="toggle-topbar menu-icon"><a href="#"></a></li>
      <li class="has-dropdown">
        <a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i> Blue Parrot</a>
        <ul class="dropdown">
          <li><a href="#">link 1 </a></li>
          <li class="active"><a href="#">link 2</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>


  