{% load i18n %}
<div class="module_card">
    <div class="card_banner">
        <span class="card_title">{{node.name}}</span>
</div>


    <div class="card_summary">
        <div class="card_section">
            <p class="module_brief" title="{{node.content|safe}}">
                {{node.content|safe|truncatechars:30}}
            </p>
        </div>
        <div class="card_section">
            <span class="card_label">
                Subjects
            </span class="card_label">
            <p class="ellipsis"></p>
                <span class="card_label">
                    Grades
                </span class="card_label">
            <p class="ellipsis"></p>
                <span class="card_label">
                    Units
                </span class="card_label">
            <p class="ellipsis"></p>
        </div>
        <div class="card_section">
                {% if first_arg and second_arg and third_arg %}
                    <a href="{% url url_name first_arg second_arg third_arg %}{{search_url_text|safe}}"/>
                {% elif first_arg and second_arg %}
                    <a href="{% url url_name first_arg second_arg %}{{search_url_text|safe}}"/>
                {% elif first_arg %}
                    <a href='{% url url_name first_arg %}{{search_url_text|safe}}'/>
                {% endif %}
                <i class="fa fa-book"></i>
                <span>Explore</span>
                </a>
        </div>
    </div>
</div>

