{% extends "ndf/base.html" %}
{% load ndf_tags %}
{% block title %} Image Gallery {% endblock %}
{% block body_content %} 

{% if already_uploaded %} 
<div id="message">
  <span style="color:red">Listed below files are already uploaded please choose different files</span>
  <ul>
    {% for each in already_uploaded %}
    <li>{{each}}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% get_group_name request.path as group_name %}

<form id ="file_search" enctype="multipart/form-data" method="GET" action="{% url 'image_search' group_name %}">
  <div class="row"  style="padding-top:20px">
    <div class="large-7 columns">
      <div class="row collapse">
	  <div class="small-8 columns">
            <input type="text" placeholder="search images" name="search">
	  </div>
	  <div class="small-2 columns">
            <a href="#" class="button postfix" onclick="document.forms[0].submit();return false;">
	      <i class="fi-magnifying-glass large">search</i>
	    </a>
	  </div>
	  <div class="small-2 columns">
            <a href="{% url 'uploadDoc' group_name %}?next={{request.path}}" class="button postfix secondary">
	      <i class="fi-paperclip">upload</i>
	    </a>
	  </div>
      </div>
    </div>
  </div>
</form>

<ul class="clearing-thumbs" data-clearing>
  {% for image in imageCollection %}
  <li>
    <a href="{% url 'get_mid_size_img' group_name image %}">
      <img src="{% url 'getImageThumbnail' group_name image %}"  class="th" data-caption="<a href='{% url 'image_detail' group_name image %}'>{{image.name}}</a>"></img>
    </a>
  </li>
  {% endfor %}
</ul> 	
{% endblock %}
