{% extends "ndf/node_details_base.html" %}
{% load ndf_tags %}

{% block add_list %}
<h2> Heading 2</h2>

{% get_grid_fs_object node as grid_fs_obj %}
{% get_group_name groupid as group_name_tag %}

<li>
<a href="{% url 'read_file' group_name_tag node grid_fs_obj.filename %}" class="button tiny secondary"  download="{{ grid_fs_obj.filename }}">
  <i class="fi-download large"> download </i>
</a>
</li>
{% endblock %}

{% block add_fields %}
{% get_group_name groupid as group_name_tag %}
{% get_grid_fs_object node as grid_fs_obj %}
<div>
  <a href="{% url 'getFullImage' group_name_tag node grid_fs_obj.filename %}">
    <img src="{% url 'getFullImage' group_name_tag node  grid_fs_obj.filename %}" altname="{{node.name}}"></img>
  </a>
</div>
{% endblock %}
