{% extends "ndf/base.html" %}
{% load ndf_tags %}
{% block title %} Image Gallery {% endblock %}
{% block body_content %} 

{% if alreadyUploadedFiles %} 
<div id="message">
  <span style="color:red">Listed below files are already uploaded please choose different files</span>
  <ul>
    {% for each in alreadyUploadedFiles %}
    <li>{{each}}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% get_group_name request.path as group_name %}


<center>
<div>
	<input type="text" name="imgSearch" id ="imgSearch"  placeholder="Enter title to search"> 
	<input type="submit" class="btn btn-large btn-primary" value="search" />	
	<form id ="imgPost" enctype="multipart/form-data" method="post" action="{% url 'uploadDoc' group_name %}">{% csrf_token %}
	  <input type="hidden" name="stId" value={{stId}}>
	  <input type="hidden" name="pageUrl" value={{pageUrl}}>
	  <a href="{% url 'uploadDoc' group_name %}">
  	    <input type="submit" class="btn btn-large btn-primary" value="upload" />
	</a>
</form>
</div>
</center>
<div style='display:table;'>
	<div style='display:table-row;' >
		{% for image in imageCollection %}
			<div style='display:table-cell;'> 
				<a href="{% url 'getFullImage' group_name image %}">
				<img src="{% url 'getImageThumbnail' group_name image %}"></img><br/>
				<span align="center">{{image.name}}</span></a>
			</div>
	     		{% if not forloop.last and forloop.counter|divisibleby:"6" %}
			</div>
			<div style='display:table-row;' >
			{% endif %} 
		{% endfor %} 	
	</div>
</div>

{% endblock %}
