{% load ndf_tags %}

<script src="/static/ndf/js/jquery-ui.js"></script>
<link href="/static/ndf/css/jquery-ui.css" rel="stylesheet">

<script type="text/javascript">

var items={}
var user_list=[]


$(document).on('click',"#subscr_users",function() {

 $('#inviteusers #invite_users_set_drawer1').html("");
 $('#inviteusers #invite_users_set_drawer2').html("");
 $('#inviteusers #invite_users_set_drawer1').html('<li class="price"><input type="text" placeholder="Type here to search users" id="invite_users_set_search" class="margin-0"></li>');
var url="/{{node}}/group/invite_users/"
 $.getJSON( url, function( data ) {
  $.each(data ,function(index , drawer_elements){
   if(index == 0)
    {
     $.each(drawer_elements.drawer1, function(index, element) {
        $('#inviteusers #invite_users_set_drawer1').append("<li id='"+element.id+"' class='bullet-item text-left'>"+element.name+"</li>");
      });
   }
   if(index == 1)
    {
    $.each(drawer_elements.drawer2, function(index, element) {
        $('#inviteusers #invite_users_set_drawer2').append("<li id='"+element.id+"' class='bullet-item text-left'>"+element.name+"</li>");
      });
    }

 }); //close each
   }); //getjson
}); //document click




$(document).on('click',"#addToList",function() {
      UserInvitation();
      data = $("#userInvite").val();//attr('value');
      if(data != ""){
           $("#selectOfInviteUser").append(new Option(data, data));
           $("#userInvite").val("");
           $("#selectOfInviteUser").show();
           $(".removeList").show()
           $("#submitUserInvite").show();
      }
      else{
$('.responseToInvite').html("select users to invite");
$('.responseToInvite').css("color","red");

          }
});




$(document).on('click',"#submitUserInvite",function(){
 var surl="/{{node}}/group/notify/send_invitation/"
$.ajax({
        url: surl,
        type: 'POST',
        data: {users:join_list_users,csrfmiddlewaretoken: '{{ csrf_token }}'},
        beforeSend: function() {
              $("#ajax_load_image").show();
              $("#content").css({"opacity":"0.1",})
                              },
       success: function(data){
                if(data=="success")
                    { alert("Successfully subscribed members and e-mail notification send");
                     }

                else{
                      alert("failed to subscribe");
                        }

                             },
        complete: function(){
                $("#ajax_load_image").hide();
                $("#content").css({"opacity":"",})
          }
}); });



</script>

<div id="subscr_users">
<input type="button" class="button small" data-reveal-id="inviteusers" value="Subscribe registered users">
<div id="inviteusers" class="reveal-modal " data-reveal >
     <h2>Select users</h2>
      <div id="module_drawer" >
        {% include "ndf/drawer_widget.html" with widget_for="invite_users_set"  %}
      </div>
      <input type="button" id="#submitUserInvite" class="button small" value="submit"> 
     <a class="close-reveal-modal rt">&#215;</a>
</div>
</div>

