{% load ndf_tags %}
{% load i18n %}
<script src="/static/ndf/bower_components/jquery-ui/jquery-ui.js"></script> <!-- checked -->
<link href="/static/ndf/bower_components/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet"> <!-- checked -->
<style type="text/css">
  .subscr_users_li{
     list-style: none;
  }
</style>
<script type="text/javascript">
var addata_prefs="";
var adnot_status="OFF";
var adinviting_users="";




$(document).on('click',"#adminchecknotif",function() {

if($('#adminchecknotif').attr('checked')) {
adnot_status="ON";
}
else
{
adnot_status="OFF";
}
});



function admininvite(){
adget_all_data();
var adinviting_users=addata_prefs;
addata_prefs=""
var surl="/{{node}}/group/notify/invite_admins/"
if (adnot_status=="OFF")
{
alert("{% trans 'Notification mails sent to newly selected users' %}");
}
else
{
alert("{% trans 'Notification mails sent to all users except group owner' %}");
}
$.ajax({
        url: surl,
        type: 'POST',
        data: {users:adinviting_users,notif_status:adnot_status,csrfmiddlewaretoken: '{{ csrf_token }}'},
        beforeSend: function() {
              $("#ajax_load_image").show();
              $("#content").css({"opacity":"0.1",})
                              },
       success: function(data){
                if(data=="Success")
                    { alert("{% trans 'Successfully applied modifications and e-mail notifications sent' %}");
                      $('.close-reveal-modal.group').trigger('click'); 

                     }

                else{
                      alert("failed to subscribe");
                      $('.close-reveal-modal.group').trigger('click');
                        }

                             },
        complete: function(){
                $("#ajax_load_image").hide();
                $("#content").css({"opacity":"",})
          }
}); 
}

$(document).on('keydown',"#admin_colln_set_search",function(e){
      if (e.keyCode == 8) {
        // If backspace pressed, then show all
        search_text_len = 0;
      }
      var $li = $("#admin_colln_set_search").parents("li").nextAll("li.bullet-item")
      if(e.keyCode==13){
        var search_text = (this.value).toLowerCase().trim();
        var search_text_len = (search_text.length + 1);

      }
      if (search_text_len>0) {
        //$(".searching").css("display", "block");
        $li.each(function() {
          val_chk = $(this).text().toLowerCase().search(search_text)  
          if (val_chk != -1) {
            $(this).css("display", "block");
          }     
          else{
            $(this).css("display", "none");
          }
        });
        //$(".searching").css("display", "none");
      }
      else if (search_text_len == 0) {
        $li.filter(function() {
          if ($(this).css("display") == "none") {
            return true;
          }
          else {
            return false;
          }
        }).show();
      }
})



$(document).on('click',"#subscr_admins",function() {

 $('#inviteadmins #admin_colln_set_drawer1').html("");
 $('#inviteadmins #admin_colln_set_drawer2').html("");
 $('#inviteadmins #admin_colln_set_drawer1').html('<li class="price"><input type="text" placeholder=" {% trans "Type here and press enter to search users" %}" id="admin_colln_set_search" class="margin-0"></li>');

var url="/{{node}}/group/notify/invite_admins/"
 $.getJSON( url, function( data ) {
  $.each(data ,function(index , drawer_elements){
   if(index == 0)
    {
     $.each(drawer_elements.drawer1, function(index, element) {
        name_field1 = element.username + "<br><i>"+element.email+"</i>"
        $('#inviteadmins #admin_colln_set_drawer1').append("<li id='"+element.id+"' class='bullet-item text-left'>"+name_field1+"</li>");
      });
   }
   if(index == 1)
    {
    $.each(drawer_elements.drawer2, function(index, element) {
        name_field2 = element.username + "<br><i>"+element.email+"</i>"
        $('#inviteadmins #admin_colln_set_drawer2').append("<li id='"+element.id+"' class='bullet-item text-left'>"+name_field2+"</li>");
      });
    }

 }); //close each
   }); //getjson
}); //document click





function adget_all_data(){
 $.each($('#inviteadmins #admin_colln_set_drawer2 li'),function(index,item){
         addata_prefs=addata_prefs+String(item.id)+",";
         });
}


</script>
{% if not no_subscribe_btn %}

    <a id="subscr_admins" data-reveal-id="inviteadmins" class="tiny button right-btn radius" title="View/Subscribe Admins">{% trans 'Subscribe Admins' %}</a>
{% endif %}


<div id="inviteadmins" class="reveal-modal " data-reveal >
     
     {% blocktrans %}<h2>Select Admins</h2>{% endblocktrans %}
      <div id="admin_module_drawer" >
        {% include "ndf/drawer_widget.html" with widget_for="admin_colln_set"  %}
      </div>

            {% blocktrans %}<label><input type="checkbox" id="adminchecknotif" value="ON">
            Send notification mails to all except the group owner</label>{% endblocktrans %}
              
      <input type="button" id="#submitUserInvite" class="button small" value="submit" onClick="admininvite()"> 
     <a class="close-reveal-modal group">{% trans "&#215" %} </a>
</div>

