{% extends "ndf/base.html" %}
{% block related_content %}
  <div class="panel" style="background-color:#ddd; padding: 0.25rem;margin-top:1em">
{% for each_app in app_name_dict %}
	<ul class="side-nav">
		<dl class="tabs" data-tab >
        	<dd>
          		<a data-name="{{each_app}}"><i class="fi-page-multiple"></i>
              	{{each_app}} 
          		</a>
        	</dd><br/>
    	</dl>
	</ul>
{% endfor %}

{% endblock %}


{% block body_content %} 
 	<iframe width="100%" style="height:90vh;" src="/static/ndf/JHApp/TurnJS/aeen101.html"></iframe>



{% endblock %}