{% load i18n %}
{% load cache %}

{% load ndf_tags %}
{% get_group_name groupid as group_name_tag %}
<div class="editor_modal_content">
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            <div class="medium-12 columns">
                <h3>Insert Assessment</h3>
                <div class="left small-12 medium-9 columns" class="app_desc">
                <input type="text" placeholder="" class="required" id ="paste-area-assessment"/>
                </div>
                <div class="right small-12 medium-3 columns">
                    <button inline type="button"  class="right orange-button" id="insert_assessment" >Add Assessment</button>
                </div>
            </div>
</div>
                <h3>Insert Tools</h3>
            
            <div class="row outer">
                <br>
                <div  class="inner">
                    <button type="button"  class="right orange-button" id="insert_ost" >Insert Open Story Tool</button>
                </div>
                <div  class="inner">
                    <button type="button"  class="right orange-button" id="insert_policequad" >Insert PoliceQuad</button>
                </div>
                <div  class="inner">
                    <button type="button"  class="right orange-button " id="insert_runkittyrun" >Insert Run Kitty Run</button>
                </div>
                <div class="inner">
                    <button type="button"  class="right orange-button " id="insert_turtle" >Insert TurtleJS</button>
                </div>
                {%comment%}
                <div  class="inner">
                    <button type="button"  class="right orange-button " id="insert_earth_rotation" >Insert Motion of the Earth</button>
                </div>
                {% endcomment %}
                <div  class="inner">
                    <button type="button"  class="right orange-button " id="insert_geogebra_proportional_reasoning" >Geogebra Proportional Reasoning</button>
                </div>
            </div>
            <div class="row outer">
                <div  class="inner">
                    <button type="button"  class="right orange-button " id="insert_physics-video-player" >Insert Physics Video Player</button>
                </div>
                <div  class="inner">
                    <button type="button"  class="right orange-button " id="insert_fst_l1_a1" >Insert FST-en-L1A1 </button>
                </div>
                <div  class="inner">
                    <button type="button"  class="right orange-button " id="insert_fst_l1_a2" >Insert FST-en-L1A2 </button>
                </div>
                <div  class="inner">
                    <button type="button"  class="right orange-button " id="insert_fst_l1_a3" >Insert FST-en-L1A3 </button>
                </div>
                <div  class="inner">
                    <button type="button"  class="right orange-button " id="insert_fst_l1_a4" >Insert FST-en-L1A4 </button>
                </div>
                <div  class="inner">
                    <button type="button"  class="right orange-button " id="insert_rp_l2a1" >Insert RP-en-L2A1 </button>
                </div>
                <div  class="inner">
                    <button type="button"  class="right orange-button " id="insert_rp_l2a2" >Insert RP-en-L2A2 </button>
                </div><div  class="inner">
                    <button type="button"  class="right orange-button " id="insert_rp_l2a3" >Insert RP-en-L2A3 </button>
                </div><div  class="inner">
                    <button type="button"  class="right orange-button " id="insert_rp_l2a4" >Insert RP-en-L2A4 </button>
                </div><div  class="inner">
                    <button type="button"  class="right orange-button " id="insert_rp_l2a5" >Insert RP-en-L2A5 </button>
                </div><div  class="inner">
                    <button type="button"  class="right orange-button " id="insert_rp_l2a6" >Insert RP-en-L2A6 </button>
                </div>
            </div>
</div>
