<nav class="top-bar">
        <ul class="title-area ">
            <li class="name">

                <h1><a href="/home/" class="group" accesskey="q" id="home-group"><img class="flag" src="/static/ndf/images/India_Flag.png"> NROER</a></h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#">मेन्यू</a>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li class="has-form">
                    <a href="#" class="rounded language button" data-reveal-id="languageModal">en</a> 
                </li>
            </ul>
        </section>
    </nav>

    <header>

        <div class="row">
            <div class="medium-4 columns">
                <section class="logo">
                    <img src="/static/ndf/css/themes/nroer/logo.svg">
                    <h1>National Repository <br>Of Open Educational Resources</h1>
                </section>

            </div>
            <div class="medium-8 columns">
                <section>
                    <strong>334</strong> Topics
                </section>
                <a href="#" class="ui radius button">Join</a>
                <a href="#" class="ui radius button">Explore</a>
            </div>
        </div>
    </header>

    <article class="landing">



        <section class="banner">

            <div id="group-banner">

                <div class="slide row" style="background-color:#10a05d">
                    <i class="fi-torsos"></i>
                    <h3 class="medium-12 columns"><blockquote>Connecting Knowledge, Connecting People..</blockquote></h3>

                    <div class="medium-8 columns">
                        <p>The NROER is an ambitious inititative by the Government Of India to design and develop a knowledge management system for the benefit of every human on this planet.</p>

                    </div>

                    <div class="medium-4 columns">
                        <a href="#" class="main large ui button">Join NROER</a>
                    </div>

                </div>

                <div class="slide row" style="background-color:#3710a0">
                    <i class="fi-torsos"></i>
                    <h3 class="medium-12 columns"><blockquote>Connecting Knowledge, Connecting People..</blockquote></h3>

                    <div class="medium-8 columns">
                        <p>The NROER is an ambitious inititative by the Government Of India to design and develop a knowledge management system for the benefit of every human on this planet.</p>

                    </div>

                    <div class="medium-4 columns">
                        <a href="#" class="main large ui button">Join NROER</a>
                    </div>

                    <div class="medium-12 columns">
                        <div class="row">
                            <div class="medium-3 columns">
                                <h4>Collaborative</h4>
                                <p>Built by the people, and for the people, we believe in making education a truly social process</p>
                            </div>
                            <div class="medium-3 columns">
                                <h4>Open</h4>
                                <p>The project is built on the philosophies of keeping knowledge free and open to everyone</p>
                            </div>
                            <div class="medium-3 columns">
                                <h4>Accessible</h4>
                                <p>With official partnerships with national educational organisations and institutes, NROER offers unparalleled reach to humanity</p>
                            </div>
                            <div class="medium-3 columns">
                                <h4>Semantic</h4>
                                <p>Developed using the latest in open semantic standards, educational resources can finally become machine readable</p>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="slide row">
                    <h3 class="medium-12 columns"><em>Connecting Knowledge, Connecting People..</em></h3>

                    <div class="medium-4 columns">
                        <p>The NROER is an ambitious public intitiative to provide an open and accessible repository of educational for the planet. Inititated by the Government Of India as a project to assist the millions of young citizens of the country from every language and walks of life.</p>
                    </div>
                    <div class="medium-4 columns">
                        <h5>Current Progress</h5>
                        <p>A core part of the project was the design and development of an online resource system that was capable of handling the vast technological challenges of delivering digital educational material to one sixth of humanity.</p>
                    </div>
                    <div class="medium-4 columns">
                        <h5>Current Progress</h5>
                        <p>A core part of the project was the design and development of an online resource system that was capable of handling the vast technological challenges of delivering digital educational material to one sixth of humanity.</p>
                    </div>
                </div>


            </div>
        </section>

        <section class="meta">
            <div class="row">
                <div class="medium-4 columns">
                    <a href="#" class="main large ui button">
                        <h4>Institutional Partners</h4>
                        <p>Join a prestiguous list of institutions that provide a curated selection of high quality open educational content to the repository</p>
                    </a>
                </div>
                <div class="medium-4 columns">
                    <a href="#" class="main large ui button">
                        <h4>Teachers and Students</h4>
                        <p>To play a role in sharing, reusing and enriching the resources to build the largest digital knowledge library of its kind in the world</p>
                    </a>
                </div>
                <div class="medium-4 columns">
                    <a href="#" class="main large ui button expand">
                        <h4>Explore</h4>
                        <div class="row">
                            <div class="medium-6 columns">2,442 <small>Open Resources</small>
                            </div>
                            <div class="medium-6 columns">1,643 <small>Members</small>
                            </div>
                        </div>
                    </a>
                </div>

            </div>

        </section>
        <section class="content">
            <div class="row">
                <div class="medium-12 columns">
                    <h2>Development Partners</h2>
                    <ul id="partner-list" class="small-block-grid-4">
                        <li>
                            <a>
                                <div class="th">
                                <img src="/static/ndf/images/logos/rmsa.jpg">
                                    </div>
                                <h5>Rashtriya Madhyamik Siksha Abhijan</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                <img src="/static/ndf/images/logos/ncert.png">
                                    </div>
                                <h5>National Council Of Educational Research And Training</h5> 
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                <img src="/static/ndf/images/logos/tifr.png">
                                    </div>
                               <h5>Tata Institute of Fundamental Research</h5>
                            </a>
                        </li>
                    </ul>
                    
                    <h2>Institutional Partners</h2>
                    <ul id="partner-list" class="small-block-grid-6">
                        <li>
                            <a>
                                <div class="th">
                                <img src="/static/ndf/images/logos/ccrt.png">
                                    </div>
                                <h5>Centre for Cultural Resources and Training</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                <img src="/static/ndf/images/logos/vigyan_prasar.jpg">
                                    </div>
                                <h5>Vigyan Prasar</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                <img src="/static/ndf/images/logos/cdac.png">
                                    </div>
                                <h5>Centre for Development of Advanced Computing</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                <img src="/static/ndf/images/logos/siet_ap.png">
                                    </div>
                                <h5>SIET Andhra Pradesh</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                     <img src="/static/ndf/images/logos/nvs.gif">
                                    </div>
                                <h5>Jawahar Navodaya Vidyalaya</h5>
                            </a>
                        </li>
                         <li>
                            <a>
                                <div class="th">
                                <img src="/static/ndf/images/logos/kvs.jpg">
                                    </div>
                                <h5>Kendriya Vidyalaya Sangathan</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                <img src="/static/ndf/images/logos/gsds.jpg">
                                    </div>
                                <h5>Gandhi Smriti and Darshan Samiti</h5>
                            </a>
                        </li>
                       
                        <li>
                            <a>
                                <div class="th">
                                <img src="/static/ndf/images/logos/siet_kerala.png">
                                    </div>
                                <h5>SIET Kerala</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                    <h4>DIET</h4>
                                    </div>
                                <h5>Directorate of Adult Education</h5>
                            </a>
                        </li>
                        
                    </ul>
                    
                     <h2>State Partners</h2>
                    <ul id="partner-list" class="small-block-grid-6">
                        <li>
                            <a>
                                <div class="th">
                                <img src="/static/ndf/images/logos/giet.jpg">
                                    </div>
                                <h5>Gujarat Institute of Educational Technology</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                <img src="/static/ndf/images/logos/scert_manipur.jpg">
                                    </div>
                                <h5>SCERT Manipur</h5>
                            </a>
                        </li>
                        <li>
                            <a>
                                <div class="th">
                                <img src="/static/ndf/images/logos/siert_rajasthan.gif">
                                    </div>
                                <h5>SIERT Rajasthan</h5>
                            </a>
                        </li>
                        </ul>
                    
                    
                </div>
            </div>
        </section>



    </article>

    <!-- JS -->
    <script src="/static/ndf/bower_components/foundation/js/foundation.min.js"></script>
    <script>
        $("#group-banner").slick({
            dots: true,
            autoplaySpeed: 7000,
            autoplay: true
        });
        
        for (i = 0; i < 0; i++) {
            $("#partner-list li").clone().appendTo("#partner-list");
        }
    </script>
    <!-- checked -->
