{% load simple_filters %}
{% xextends "ndf/gbase.html" with first_body_column=0 %}

{# {% extends "ndf/base.html" %} #}

{% load get_nroer_menu  get_user_group  get_group_object  get_existing_groups_excluded  get_profile_pic  get_gapps_iconbar user_access_policy get_user_object check_is_gstaff get_attribute_value get_sg_member_of get_relation_value get_explore_url from ndf_tags %}

{% load i18n %}

{% get_explore_url as explore_url %}

{% block title %} {{title}} {% endblock title %}


{% block body_content %}
  <div class='bg-img'>
    <div class="row">
        <div class="landing_page_background">
        <div class="small-12 columns ">
            <div class="row" data-equalizer>
                <div class="small-6 medium-6 columns clix_brief panel-mod" data-equalizer-watch>
                  <img src="/static/ndf/css/themes/clix/CLIx_white-01.svg" style='width:300px;margin: 40px 0px;' title="Invitation to clix."/>
                   <p class='white-text'>
                        Invitation to CLIx will help you learn to do many things with a computer. Express your ideas through activities, engage with your classmate and learn together and share your knowledge.
                        <br/>
                        Clix is an initiative to promote digital learning; with the exposure of interactives and hands on activities on electronic machine.
                   
                    </p>
                </div>
                <div class="small-5 columns">
          			<img src="/static/ndf/images/landing_page/bees.svg" class="bees"/>
        		    </div>
                {% if not user.is_authenticated  %}
                    <div class="small-6 medium-6 columns" data-equalizer-watch>
                       <!-- <div class="invitation_to_clix">
                          <span>Login to&nbsp;</span>
                          <img src="/static/ndf/css/themes/clix/logo.svg" title="Invitation to CLIx	">-->
                          <!-- <form method="post" id="loginSubmit" action="/accounts/login/" data-abide="" novalidate="novalidate"> -->
                            
                            <a class="small expand" href="{% url 'auth_login' %}">
                              <div class="small-6 medium-6 text-center columns end explore-button">
                                  Login
                              </div>
                            </a>

                            {% else %}

                            {% get_explore_url as explore_url %}
                            <a class="small expand" href="{% url explore_url %}">
                              <div class="small-6 medium-6 text-center columns end explore-button">
                                  Explore Projects
                              </div>
                            </a>



                            <div class="row">
                              <div class="medium-12 large-12 small-text-left text-center columns end forgot-password">
                              </div>
                            </div>
                            <!-- Login button -->

                            <input type="hidden" name="next" value="/welcome">
                          <!-- </form> -->
                        </div>
                    </div>
                {% endif %}
                <div class="medium-1 columns pannel">
                	<!--<img src="/static/ndf/images/landing_page/flowers.svg" class="flowers" />-->
                </div>
            </div>
            <!--<div class="row landing-illustrations">
                <div class="small-12 medium-12 columns">
                  <img src="/static/ndf/images/landing_page/flowers.svg" class="flowers" />
                </div>
            
        </div>-->

          <!--   
          {% if user.is_authenticated  %}

                  <div class="row">
                    <div class="small-12 columns end login-button">
                      <input type="submit" class="button small expand" tabindex="4" value="Click on EXPLORE GROUPS">        
                  </div>
                </div>
                

              {% endif %}-->




    </div>

    </div>
  </div>

{% endblock body_content %}