{# lms_dashboard.html lms My Desk screen #}
{% extends "ndf/gbase.html" %}
{% block title %}
 {{title}}
{% endblock  %}
{% block body_content %}
{% load ndf_tags %}


<div class="mydesk_page">
        <div class="page_banner">
            <div class="banner_overlay"></div>
            <div class="banner_profile">
                <div class="buddy_logo">
                    {% get_profile_pic request.user.pk as prof_pic %}
                        {% if prof_pic %}
                            <img src="{{MEDIA_URL}}{{prof_pic.if_file.original.relurl}}" id="">
                        {% else %}
                            <img style="background-color:#915A2F" src="/static/ndf/bower_components/foundation-icon-fonts/svgs/fi-torso.svg" id="">
                        {% endif %}
                </div>
                <div class="banner_heading">
                    <span class="buddy_name">{{user.username}}</span>
                </div>
            </div>
        </div>
        <div class="page_menu">
            <ul class="nav_menu_1">
                <li class="">
                <a href="#" {% if title == "my desk" %} class="selected" {% endif %}>My Courses </a>
                </li>
                
                {% comment %}<li class=""><a href="#">My Performance</a> </li> {% endcomment %}
            </ul>
        </div>

    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2" >
        {% comment %}

        {% for each_obj in modules_cur %}
          <li class="card-image-wrapper">
            {% include "ndf/horizontal_card.html" with node=each_obj url_name="module_detail" first_arg=group_id second_arg=each_obj.pk %}
          </li>
        {% empty %}
          No modules foun
        {% endfor %}
        </ul>
        </div>
        {% endcomment %}
          </br>
    <div class="small-12 columns group_sections_content">
                {% if title == "my desk" %}
                    <div class="small-12 columns lms_explore_back_unit">
        <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
        {% for each_obj in units_cur %}
          <li class="card-image-wrapper">
            {% include "ndf/card_group.html" with node=each_obj url_name="groupchange" first_arg=each_obj.pk %}
          </li>
        {% endfor %}
        </ul>
      </div>
                {% endif %}
        </div>
    </div>
{% endblock  %}
