{% extends "ndf/base.html" %}
{% load pagination_tags %}
{% load ndf_tags %}
{% load i18n %}

{% block title %} {{title}} {% endblock %}

{% block head %}
  <script type="text/javascript" src="/static/ndf/bower_components/jquery-ui/jquery-ui.min.js"></script> <!-- checked -->
  <script type="text/javascript" src="/static/ndf/bower_components/foundation-datepicker/js/foundation-datepicker.js"></script> <!-- checked -->
  <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/foundation-datepicker/stylesheets/foundation-datepicker.css"> <!-- checked -->
  <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css"> <!-- checked -->

  <script src="/static/ndf/js/mailclientcheck.js"></script>
  <script src="/static/ndf/bower_components/jquery-ui/jquery-ui.js"></script> <!-- checked -->
  <script src="/static/ndf/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script> <!-- checked -->
  <script src="/static/ndf/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-sliderAccess.js"></script> <!-- checked -->
  <link rel="stylesheet" href="/static/ndf/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css"> <!-- checked -->
  <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/jquery-ui/themes/smoothness/jquery-ui.css"> <!-- checked -->
{% endblock %}

{% block style %}
  /* Setting css-properties for ui-datepicker */
    #ui-datepicker-div {
      box-shadow: 0 5px 5px #808080;
      width: 230px;
    }

    .ui-widget {
      font-family: inherit;
      font-size: inherit;
    }

    .ui-corner-all {
    
      border-radius: 0;
    }

    #ui-datepicker-div dt.ui_tpicker_minute_label {
    
      margin-bottom: 0;
    }

    .ui-slider-horizontal {
    
      margin-top: 1em;
    }

    .ui-datepicker-title select {
      background-color: #e6e6e6;
      /*border-collapse: separate;
      border-spacing: 30px 0px;*/
      font-family: inherit;
      /*font-size: 0.3em;*/
      font-weight: normal;
      height: 1.5rem;
      /*margin: 30px 0;*/
      padding: 0;
    }

  /* Resetting css-properties for fieldset (also legend, input) */
    /* fieldset (padding-bottom) */ 
    fieldset {
      padding: 1.25rem 1.25rem 1.25rem 1.25rem !important;
    }

    /* legend (background-color) */
    fieldset legend {
      background-color: transparent !important;
    }

    /* input (margin) */
    fieldset input {
      margin: 0 !important;
    }
  
  /* Setting css-properties for small.error */
    small.error {
      padding: 0 0.5em !important;
      position: relative !important;
    }

  
  #list{
    max-height: 80px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 10px;
  }

  .selFile {
    border-radius: 1px;
    box-shadow: 3px 3px 3px 1px rgba(9,9,9,0.2);
  }
{% endblock %}

{% block meta_content %}
  <h3 class="subheader">{% trans "Create Mailbox" %} </h3>
{% endblock %}

{% block body_content %}
  <!-- reveal-modal removed -->
  
  <form data-abide id="form-edit-node" enctype="multipart/form-data" onSubmit="enableselect();" method="POST" action="">
    {% csrf_token %}

    <h2 class="medium-12 columns">
      {% if node %}
        Editing {{title}}: {{node.name}}
      {% else %}
        <!-- title=add a new mailbox -->
        {{title}} 
      {% endif %}
    </h2>

    <br/><br/><br/><br/>

    <div class="medium-6 columns end">
      
      <!-- Mail Box Name -->
      <div class="row">
        <div class="medium-12 columns">
          <label>Mailbox Name <font color="red">*</font></label>
          <input id="name_id" name="mailboxname" type="text" placeholder="Enter name..." required>
          <small class="error">Please give a Mailbox name.It should contain only alphabets, digits and undescores.</small>
          <small id="name_id_error"></small>
        </div>
      </div>

      <!-- E-Mail ID -->
      <div class="row">
        <div class="medium-12 columns">
          <label>Email ID <font color="red">*</font></label>
          <input id="email_id" name="emailid" type="text" placeholder="Enter Email ID for this mail box..." required>
          <small class="error">Please enter an email id for this mail box.</small>
          <small id="email_id_error"></small>
        </div>
      </div>

    <!-- Password -->
      <div class="row">
        <div class="medium-12 columns">
          <label>Password <font color="red">*</font></label>
          <input id="password" name="password" type="password" required>
          <small class="error">Please enter the password for this email id.</small>
        </div>
      </div>
      
      <!-- Domains List -->
      <div class="row">
        <div class="medium-12 columns">
          <label>Domain <font color="red">*</font></label>
          <select required="" class="medium" id="customDropdown1" name="domain" data-invalid="">
            <!-- <option selected="selected" value="Gmail" id="Gmail">Gmail</option> -->
            {% for domain in server_dict %}
              <option name="domain" value={{ domain }} id= {{ domain }}>{{domain}}</option>           
            {% endfor %}
          </select>
        </div>
          
      <!-- Hidden variables & Save button -->
      <div class="row" >
        <div class="medium-3 medium-centered columns">
          <!-- Hidden variables -->
          <input type="hidden" name="node" value="{{node.pk}}">
          <input type="hidden" name="user" value="{{user.id}}">
          <input type="hidden" name="page_url" value="{{request.path}}">
          <!-- deleted above -->
          <input type="hidden" name="parent" id="hidden_parent" value="{{parent_id}}">
          <!-- Save button -->
          <div id="saveButton">
          <input type="submit" id="save-node" value="Save" class="button small expand"/>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}