{% load ndf_tags %}
{% load i18n %}
{% load cache %}

<!DOCTYPE html>
<html>
<head>
<script src="/static/ndf/js/mailbox.js"></script>
<script src="/ckeditor/ckeditor.js"></script>
</head>
<body>
<div id="mailContent">
	{% for mail in emails %}
		<div id="myModal{{ mail.mail_id }}" class="reveal-modal" animation="None" data-reveal>
    		<a class="close-reveal-modal">&#215;</a>            
  		</div>

		<div id={{ mail.mail_id }} style="border-top:1px solid gray; height:fit-content; padding-top: 2px; padding-bottom: 2px;" >
			<h4><a onclick="window.location.href='#'; updateStatus('{{ mail.mail_data.file_name }}') ; readBody('{{ mail.mail_id }}','{{ mail.mail_data.text }}');" data-reveal-id="myModal{{ mail.mail_id }}">{{ mail.mail_data.Subject }}</a></h4>
		</div>
	{% endfor %}
</div>
</body>
</html>