{% extends "ndf/base.html" %}
{% load i18n %}
{% load ndf_tags %}

{% block title %} {{ title }} {% endblock %}

{% block style %}
  {{block.super}}
  
  /* Setting css-properties for app-set in left panel */
    .active-app-set, .active-app-set-edit, .active-app-set-view {
      /*padding:0.5em 0 0.5em 0.5em; */
      /*margin-left: -10px !important;*/
      background-color:#efefef;
    }

    .active-app-set-edit {
      border-right: 4px solid #808080;
      font-weight: bold;
    }

    .active-app-set-view {
      border-left: 4px solid #808080;
      font-weight: bold;
    }
{% endblock %}

{% block meta_content %}

  {% if not hide_mis_meta_content %}
    {% check_is_gstaff groupid request.user as gstaff_access %}
    {% comment %}
    <!-- 
      get_features_with_special_rights: Returns list of feature(s) for which creation rights should not be given
    -->
    {% endcomment %}
    {% get_features_with_special_rights groupid request.user as features_list %}


    <ul class="side-nav"> 
      {% for each in app_collection_set %}
      {% get_memberof_objects_count request each.pk groupid as count %}

      {% if app_set_id == each|safe %}
        {% if '/new/' in request.path %}
        <li class="active-app-set-edit">
        {% else %}
        <li class="active-app-set-view">
        {% endif %}
      {% else %}
      <li>
      {% endif %}
      
        <div class="row">
          {% if each.type_of or each.name == "Caste" or each.name == "NUSSD Course" %}
            <a class="small-8 columns" href="{% url 'mis:mis_app_detail' groupid app_id each.pk %}" title="View all {{each.name}}'s">
              {{each.name}} ({{count}})
            </a>

            {% if gstaff_access and each.name not in features_list %}
            <a class="small-4 columns" href="{% url 'mis:mis_app_instance_create' groupid app_id each.pk %}" title="Add {{each.name}}">
              +&nbsp; {% trans "Add" %}
            </a>
            {% endif %}

          {% else %}
            {{each.name}}
          {% endif %}
        </div>
    	</li>

    	{% endfor %}

    </ul>
  {% endif %}


{% endblock %}
