{% extends "ndf/gbase.html" %}
{% load i18n %}
{% load check_is_gstaff from ndf_tags %}

{% block title %}  {% if title == "drafts" %} Draft Courses {% elif title == "courses" %} Courses {% else %} {{title}} {% endif %} {% endblock %}

{% block body_content %}
{% check_is_gstaff group_id request.user as is_gstaff %}
    
{% if site.SITE_NAME != "NROER" %}
	{% include 'ndf/explore_secondary_header.html' %}
{% endif %}
<div class="medium-12 columns">

	<div class="medium-2 columns thumbnail_style">
	{% include 'ndf/widget_photo_upload.html' with url_name='module_detail' widget_for="group_banner" is_banner=True  no_update_btn=True node=node  groupid=group_id if_module=True %}
	</div>

		<div class="small-10 columns title-strip strip">

			<div class="small-11 columns">
				<h7 class="text-button-blue">{% trans "Showing all Units in" %}</h7>{{node.name}} <br/>
				<h7 class="text-button-blue">{% trans "Module Description:" %}</h7>{{node.content|safe}}
			</div>
			<div class="small-1 columns" style="margin-top:25px;">
		         <div class="right course_actions">
          		{% if is_gstaff   %}
		            <span data-dropdown="course-settings-drop" aria-controls="course-settings-drop" aria-expanded="false" class="tiny radius right" style="margin-top: -25px;position:absolute;margin-left:-50px;" data-options="align:left">
		                  <i class="icon-widget fi-widget"></i>
		            </span>
		            <ul id="course-settings-drop" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1" >
		                <li>
									<a  class="buddy_margin right edit_button dropdown-settings" href="{% url 'module_edit' group_id node.pk %}" style="margin-top:0px;margin-right:0px;text-transform:none;width:100%;"><i class="fa fa-pencil"></i> {% trans "Edit" %}</a>
						</li>
						<li>
							<a href="{% url 'create_group' node.pk %}?subgroup=True" class="tiny button radius left-btn" title="Create New Sub Group">{% trans "New SubGroup" %}</a>

						</li>
						<li>
									{% if node.collection_set %}
									<a data-reveal-id="delete-unit" class="dropdown-settings tiny button secondary buddy_margin right edit_button " title="Please delete all units associated with this module." style="margin-top:0px;margin-right:0px;text-transform:none;width:100%;" disabled > <i class="fa fa-trash"></i> {% trans "Delete" %} </a>
				 	 				{% else %}
								 	<a data-reveal-id="delete-unit" class=" dropdown-settings tiny button secondary buddy_margin right edit_button disab-button" style="margin-top:0px; margin-right:0px; text-transform:none; width:100%;"><i class="fa fa-trash"></i> {% trans "Delete" %} </a>
								 	{% endif %}
								 	<div id="delete-unit" class="reveal-modal tiny text-center" data-reveal>
					                    <h3>{% trans "Delete Unit:" %} {% firstof group_object.altnames group_object.name  %} ?</h3>
					                        <br/>
					                        {% trans "Are you sure want to delete this module?" %}
					                        <br/>
					                        <a href="#" class="button tiny success">{% trans "Cancel" %}</a>
					                        <a href="{% url 'delete_group_url_redirect' node.pk 'explore_courses' %}" class="button tiny alert">{% trans "Yes" %}</a>
					                        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
					                </div>
					    </li>

		              	<li>
		                    <a class="fi-photo dropdown-settings" style="margin-top:0px;margin-right:0px;text-transform:none;width:100%;" data-reveal-id="group_banner_prof_pic_prop">
		                    {% trans "Change image" %} </a>
		              	</li>
							{% endif %}
		            </ul>
		        </div>
		    </div>
		</div>



{# {% include 'ndf/card_group.html' with node=node groupid=node.pk %} #}


<!-- Existing card list-->
</div>	



<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" >
<!-- Existing card list-->
	{% for each_node in units_under_module  %}
    <li class="card-image-wrapper" >
		{% include 'ndf/card_group.html' with node=each_node  url_name='groupchange' first_arg=each_node.pk groupid=each_node.pk is_gstaff=is_gstaff %}	
	</li>
	{% endfor %}
</ul>


{% endblock %}




