<!DOCTYPE html>
<html xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
	<script type="text/javascript" src="/static/ndf/js/d3.v3.min.js"></script>

	<script type="text/javascript" src="/static/ndf/js/underscore-1.2.3.js"></script>		
	<style type="text/css">

		#chart .link {
			stroke: #ccc;
		}

		#chart .nodetext {
			#pointer-events: none;
			font: 10px Serif;
			font-style:italic;
		}

		#chart .mainnode{

			font: 15px sans-serif;
			/*fill:"black";*/
			border-width: 1px;
			font-weight:bold;
			border-color: gray;
		}

		#chart .relnode {
			font: 10px sans-serif;			
			fill:#404040;
		}


		#chart .node {
			border-width: 1px;
			border-color: gray;
			fill:#25587E;
			font: 12px sans-serif;
		}

		body {
			background-color: white;
			display:block;
		}

		#chart {
			/*height: 90%;
			margin: 0 auto;
			width: 90%*/;
			display: block;
		}

		svg {
			/*margin-left: 10%;
			margin-right: 10%;*/
			display: block;
			position: absolute;
		}


	</style>

</head>

<body>

	<div id="chart">
	</div>

	<script type="text/javascript">

		var graphHeight = ($(window).height())*0.60,
		graphWidth  = ($(window).width())*0.75;

		var objectid = "{{node.pk}}";

		function init(a,b)
		{

			nodes_by_id = _.reduce(a, function(acc, n) 
			{
				acc[n._id] = n;
				return acc;
			}, {});

			all_edges=new Array();

		    //this contains all the links between the nodes
		    all_edges =_(b).chain().map(function(e){

		    	e.source = nodes_by_id[e.from];
		    	e.target = nodes_by_id[e.to];
				//e.type = nodes_by_id[e.type]
				return e;
			}).filter(function(e){
				return nodes_by_id[e.from] && nodes_by_id[e.to]&& e.type!="title" && e.type!="content" && e.type!="authors"
			}).value();  
		} // ====== END of init() ======



		// -------------------fgraph()--------------------
		function fgraph() 
		{	
			neighbour_node= new Array();
    		clicked_node=new Array();
		    prev_node=new Array();
		    neighbour_node= neighbour_node.concat(objectid);  
    

			// $.getJSON("{% url 'get_graph_json' group_name %}?id={{node.pk}}", function (json1){ 
			$.getJSON("{% url 'get_graph_json' group_name %}?id=" + objectid, function (json1){ 
				metadata=json1.node_metadata;
				relations=json1.relations;

				init(metadata,relations);
				load(json1.node_metadata[0]._id) 
			}); // --END of getJSON()

		} // ====== END of fgraph ======



		// -------------------load()--------------------
		function load(key)
		{
			var w = graphWidth,
				h = graphHeight,
				p = 140 + "%",
	  			q = 110 + "%",
				fill = d3.scale.category20();

			var vis = d3.select("#chart")
						.append("svg:svg")
						.attr("id", "amazingViz") 
						.attr("width", w)
						.attr("height", h);

			vis.append("svg:g").attr("class", "edges");        
			vis.append("svg:g").attr("class", "nodes");


			nodes_by_id[key].x = w/2.0;
			nodes_by_id[key].y = h/2.0;       

			var force = d3.layout.force()
						.linkStrength(1)
						.charge(-4000)
						.friction(0.7)
						.gravity(0.5)
						.linkDistance(10)
						.nodes([])
						.links([])
						.size([w, h])
						.start();

			function update(edges)
			{
			    // for each func
			    _.each(nodes_by_id, function(n){n.added = false});
			        
			    // reduce the nodes list to have only those nodes for a given rel.
			    nodes = _.reduce(edges, function(acc, e) 
			    {
			    	if(nodes_by_id[e.from] && !nodes_by_id[e.from].added)
			    	{
			        	nodes_by_id[e.from].added = true;
			        	acc.push(nodes_by_id[e.from]);
			        }
			        if(nodes_by_id[e.to] && !nodes_by_id[e.to].added)
			        {
			        	nodes_by_id[e.to].added = true;
			        	acc.push(nodes_by_id[e.to]);
			        }
			        return acc;
			    }, []);

			    force.nodes(nodes);
			    force.links(edges);
			    force.start();

			    link = d3.select("#chart g.edges").selectAll("line.link").select(this.arrowhead)
			    	     .data(edges, function(e){return e.from + "-" + e.to + "-" + e.type});


			    link.enter().append("svg:line")
			        .attr("class", "link")
                	.style("stroke-width", 2 )
	                .attr("x1", function(d) {
	                	return d.source.x;
	                })
	                .attr("y1", function(d) {
	                	return d.source.y;
	                })
	                .attr("x2", function(d) {
	                	return d.target.x;
	                })
	                .attr("y2", function(d) {
	                	return d.target.y;
	                })
	                .attr("text", function(d) {
	                	return d.type;
	                })
	                .attr("marker-end", "url(#arrowhead)");


                var node = d3.select("#chart g.nodes").selectAll("g.node").data(nodes);


                var new_g = node.enter().append("svg:a")
                				.attr("class", function(d) {

                					var e=(d._id).charAt(0);

                					if (d._id==key) return "mainnode";
                					else if (e=="-") return "nodetext";
                					else if (isNaN(d._id)) return "relnode"; //logic to give class to relation node (pending)
                					else return "node"; 
                				})
                				//.attr("xlink:href", function(d){ if(d.refType == 'relation') return d.url})
                				.call(force.drag);


                // Definition of marker
                new_g.append("svg:marker")
                .attr("id", "arrowhead")
                .attr("viewBox","0 0 10 10")
                .attr("refX","20")
                .attr("refY","5")
                .attr("markerUnits","strokeWidth")
                .attr("markerWidth","9")
                .attr("markerHeight","5")
                .attr("orient","auto")
                .append("svg:path")
                .attr("d","M 0 0 L 10 5 L 0 10 z")
                .attr("fill", "#6D6666"); 


                // $("#chart").bind('click',function(event) {
                	// if(event.ctrlKey==1){

                $(window).bind('keydown',function(event) {
                	if(event.keyCode==17)
                	{      	
                		new_g.on("click",function(d){                 
                			// alert(JSON.stringify(d))
	                        // if( d.expanded=="true" && d._id!= objectid )
	                        if(d._id)
	                        { 
	                			$.getJSON("{% url 'get_graph_json' group_name %}?id=" + d._id , function (json2) {
	                				new_metadata = json2.node_metadata;
		                		});	

	                			// _.filter(new_metadata, function(e){if(e._id>0){
                           		_.filter(new_metadata, function(e){if(e._id){
                           			// alert(JSON.stringify(e));
                                	clicked_node=clicked_node.concat(e._id) ;
                                }});
                                // alert(d._id + "====" + neighbour_node);

                                index = _.indexOf(neighbour_node , d._id);
                                // alert(index);
    	                       	prev_node=neighbour_node.slice(0,index);
        	                    // alert("prev_node" + prev_node);
        	                    neighbour_node = _.difference(neighbour_node,clicked_node) ;
        	                    // alert("diff" + neighbour_node);
            	                neighbour_node= neighbour_node.concat(prev_node);
            	                // alert(neighbour_node);
                	            neighbour_node = _.uniq(neighbour_node);

                    	        metadata=[]
                        	    relations=[]
                           		metadata1=[]
                           		relations1=[]            			
	                           	

                           		for(i=0;i<(neighbour_node.length);i++)
                           		{
                              		d3.select("#amazingViz").remove();  
                              		g=neighbour_node[i]
                              		$.ajax({

                                  		async:false,
                                  		url:"{% url 'get_graph_json' group_name %}?id=" + g , 
                                  		datatype:'json',
                                  		success:function (json2) {
                                      	new_metadata=json2.node_metadata;
                                      	new_relations=json2.relations;
                                      	// alert(JSON.stringify(json2));
                                      	metadata=_.union(new_metadata,metadata);

                                      	relations=_.union(new_relations,relations);
                                      	relations= check_Relationtype(metadata,relations);
                                      	}
                                    });     
                          		}
                          		
                          		_.each(metadata, function(m){
                          			for(i=0;i<neighbour_node.length;i++)
                            		{
                                		if(m._id==neighbour_node[i])
                                    		{m.expanded="true";}
                                		else 
                                    		{m.expanded="false";}
                            		}
                        		});
                        		alert(metadata);

                          		init(metadata,relations);
                          		load(objectid) ;                        
	                		} // --END if
                		});
                	}
                });


                text1 = new_g.append("svg:text")
                .attr("class",function(d) {var e=(d._id).charAt(0);  if (d._id==key) return "mainnode";else if (e=="-") return "nodetext"; else if (isNaN(d._id)) return "relnode";  else return "node"; })
                .attr("y", 20)
                .attr("x", 25) 
                .attr("dy", ".35em")
                .attr("text-anchor","middle") 	  


                .text(function(d) {
                	return d.screen_name;
                });

                // bbox = text1.node().getBBox();

                // console.log(bbox);


                // new_g.filter(function(d) { return (d._id).charAt(0)=="-"; }).append("svg:rect")
                // .attr("x",bbox.x-22)
                // .attr("y", bbox.y)	
                // .attr("width", function(d) {var ttx=d.screen_name ; return (ttx.length+bbox.width+40)})
                // .attr("height", bbox.height)
                // .call(force.drag)
                // .style("fill-opacity", ".1")
                // .style("stroke", "#000")
                // .style("stroke-width","1px"  );

                new_g.filter(function(d) { if(d.refType=="GSystem") return (d._id)>0 ;}).append("svg:ellipse")
                .attr("cx", 25)                
                .attr("cy", 20)
                .call(force.drag)
                .attr("rx",function(d) {var ttx=d.screen_name; return(ttx.length/3 +"em"
                	)})
                .attr("ry",20)
                .style("fill-opacity", ".2")
                // .style("stroke", "#666")
                // .style("stroke-width", "1.5px")
                .style("fill", function(d) {if (d.refType=="Objecttype") return "blue"; else if(d.refType=="GSystem") return "#008759"; else return "none"});

                node.exit().remove();							

                force.on("tick", function() {

                	var x_center = $("#chart").width() / 2;
                	var y_center = $("#chart").height() / 2;

                	link.attr("x1", function(d) { return d.source.x; })
                	.attr("y1", function(d) { return d.source.y; })
                	.attr("x2", function(d) { return d.target.x; })
                	.attr("y2", function(d) { return d.target.y; });

                	node.attr("transform", function(d) { return "translate(" + (d.x-16) + "," + (d.y-16) + ")"; });

                });
            }

            update(all_edges);
            vis.style("opacity", 1e-6)
            .transition()
            .duration(1000)
            .style("opacity", 1);
        }
    // }


    function check_Relationtype(metadata,relations)
    {


                _.each(metadata,function(d){
                    if (d.refType=="Relationtype")
                    { 
                     a=d.inverse;
                     if (d.flag==1)
                     {
                         relations= _.reject(relations,function(e)
                         {
                            return e.type==a
                        });
                     }
                     else if (d.flag==0)
                     {
                         relations= _.reject(relations,function(e)
                         {
                            return e.type==d.screen_name
                        });
                     }
                 }

             }); 
                return relations;

    }

    $(fgraph());


</script>

</body>
</html>