{% load ndf_tags %}
{% get_group_name groupid as group_name_tag %}

{% block head %}

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <!-- Scripts required for D3 graph -->
  <script type="text/javascript" src="/static/ndf/bower_components/d3/d3.min.js"></script> <!-- checked -->
  <script type="text/javascript" src="/static/ndf/bower_components/underscore/underscore.js"></script> <!-- checked -->
  <script sync="text/javascript" src="/static/ndf/bower_components/FileSaver/FileSaver.js" ></script> <!-- checked -->
  
  <!-- Scripts and stylesheets for SideComments -->
  <script type="text/javascript" src="/static/ndf/bower_components/side-comments/release/side-comments.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/side-comments/release/side-comments.css">
  <link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/side-comments/release/themes/default-theme.css">
{% endblock %}

<!-- css for drawer widget -->
<style type = "text/css">
.hidden { visibility: hidden; }
.divider-line { font-size: xx-large; color:lightgray; }
.line-height-2 { line-height:2; }
.line-height-2pt5 { line-height:2.5; }
.fontsize-x-large { font-size: x-large; }

.margin-0 { margin: 0 !important ;}

.resource-drawer {
border-color: #D3D3D3; border-style: solid;
padding: 0 !important;
overflow-y: auto;
}

.resource-drawer li.bullet-item:hover{
background-color: #ecf0f1; cursor:pointer;
}

.posted-by{ color: #808080; font-size: small; }

.selected-resource { background-color:lightgray !important ; }

.resource-type-image {
height:40px;
background-repeat:no-repeat; background-size: 48px 48px
}

ul#graph-hover.f-dropdown{
  width: inherit !important;
}

#graph-hover > li > a:hover {
  color: #555555;
}

</style>

{% if user.is_authenticated %}
<a id="toggle-shelf" class="right-off-canvas-toggle right" ><i class='fi-book-bookmark'></i></a> 
{% endif %}

<!-- Menu for adding annotations -->
<div id="moving_div" style="display:block; position:absolute; z-index:45" >
      <i class ="fi-clipboard-pencil" onclick = 'alert("Clov")'></i>
</div>
<!-- End menu -->
<header class="row page">

  <section class="medium-12 columns" >
    <ul class="breadcrumbs">
      <li><a href="/{{groupid}}">{{groupid}}</a></li>
      <li><a href="#">Collection Name</a></li>
    </ul>

    <h2>
      <span class='node'>{{node.name}}</span>      <small class="label-list"> 
      {% for tag in node.tags %}
      <a href="{% url 'tag_info' groupid tag %}"><span class="label">{{tag}}</span></a>
      {% endfor %}
    </small>      
  </h2>
  <div class="row">
      <div class="small-10 columns">  
          <dl class="row tabs" data-tab>
                <dd class="active"><a href="#view-page"><i class="fi-eye"></i> Read</a></dd>

                <dd>
                    <a href="#" data-dropdown="graph-hover" data-options="is_hover:true"><i class="fi-share"></i>Graph</a>
                        <ul id="graph-hover" class="f-dropdown" data-dropdown-content>
                            <li><a href="#view-concept-graph" data-reveal-id="view-concept-graph">Concept Graph</a></li>
                            <li><a href="#view-collection-graph" data-reveal-id="view-collection-graph">Collection Graph</a></li>
                            <li><a href="#view-dependency-graph" data-reveal-id="view-dependency-graph">Dependency Graph</a></li>
                        </ul>
                </dd>

                <dd><a href="#view-map-widget" data-reveal-id="view-map-widget"><i class="fi-marker"></i> Location</a></dd>

                <dd><a href="#view-comments"><i class="fi-comment"></i> Discuss</a></dd>
          </dl>
      </div>
      <div class="small-2 columns">          
          <div id = "toggleContainer" style="cursor:pointer" onClick="toggle(this);">
            <i class="fi-comments"></i> Annotate
          </div>
          <!-- <dl class="row tabs" data-tab>
            <dd> <a onclick() = "attempt()" class="off" style="cursor:pointer">
              <img src="/static/ndf/images/off.png" class="off" style="cursor:pointer" onClick="toggle(this);"/> 
              <i class="fi-comments"></i> Annotate </a>
            </dd> 
          </dl> -->
      </div>
  </div>
  </section>

</header>

<div class="row">

  <section class="medium-9 columns">

    <div class="tabs-content">

      <!-- Tab content -->
      <div id="commentable-area">
      <div class="content active commentable-section" id="view-page" data-section-id="1">

        {% if node.prior_node|length > 0 %}
        <div class="panel">
          <h6>You may want to read these first:</h6>
          {% for index_key, each_node in node.prior_node_dict.items %}
          {% get_grid_fs_object each_node as grid_fs_obj %}
          {% if each_node.mime_type %}
          <a href="{% url 'read_file' group_name_tag each_node.pk  grid_fs_obj.filename %}">{{ each_node.name }}</a>,&nbsp;
          {% else %}
          <a href="{% url 'page_details' group_name_tag each_node.pk %}">{{ each_node.name }}</a>,&nbsp;
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}

        <!-- Code for showing media details -->
        {% if node.mime_type %}

          {% get_grid_fs_object node as grid_fs_obj %}

          {% if 'Pandora_video' in node.member_of_names_list %}
          <div>
           
	    <video width="480px" poster="http://wetube.gnowledge.org/{{video_obj}}/icon128.jpg" controls>
              <source src="http://wetube.gnowledge.org/{{video_obj}}/480p.webm" type="video/webm"> 
              Your browser does not support the video tag.
            </video><br/><br/>

	    {% get_pandoravideo_metadata video_obj as metadata %}
	    {% for k,v in metadata.items %} 
            {% if k != "cuts" %}
	    <h3>{{k}} : {{v}}<h3>
		<br/>
		{% endif %}
	    {% endfor %}
            {% if user.is_authenticated %}
            <br/>
            <br/>
            <a class="button tiny secondary" href="http://wetube.gnowledge.org/{{video_obj}}/480p.webm" download="480.webm" > 
              <span class="fi-download large"> Download </span>
            </a>
            {% endif %}
          </div>

          {% elif 'video' in node.mime_type %}
          <div>
            <video width="640px" controls buffered>
              <source src="{% url 'getFullvideo' group_name_tag node %}" type="video/webm">
              <source src="{% url 'getFullvideo' group_name_tag node %}" type="video/ogg">    
              Your browser does not support the video tag.
            </video>

            {% if user.is_authenticated %}
            <br/>
            <br/>
            <a class="button small secondary" href="{% url 'getFullvideo' group_name_tag node %}" download="{{ grid_fs_obj.filename }}">
              <span class="fi-download large"> Download </span>
            </a>
            {% endif %}
          </div>
	  
          {% else %}		
          <div>
            {% if 'image' in node.mime_type %}
            <a href="{% url 'getFullImage' group_name_tag node grid_fs_obj.filename %}">
              <img src="{% url 'getFullImage' group_name_tag node  grid_fs_obj.filename %}" altname="{{node.name}}"></img>
            </a>

            {% else %}
            <a href="{% url 'getFullImage' group_name_tag node grid_fs_obj.filename %}">
              {{ grid_fs_obj.filename }}
            </a>
            {% endif %}

            {% if user.is_authenticated %}
            <br/>
            <br/>
            <a class="button small secondary" href="{% url 'read_file' group_name_tag node grid_fs_obj.filename %}" download="{{ grid_fs_obj.filename }}">
              <span class="fi-download large"> Download </span>
            </a>
            {% endif %}
          </div>
	  
          {% endif %}
	  
        {% endif %}
        
        {% block add_fields %} {% endblock %}

        <ul class="inline-list">
        {% if user.is_authenticated %}
        {% block add_list %}{% endblock %}
        {% endif %}
        </ul>

      	{% with node.html_content|safe as description %}
      	{% if description != "None" %}
      	{{ description }}
      	{% endif %}
      	{% endwith %}

      </div>
      </div>

      <!-- Content for Concept Graph -->
      <div class="content reveal-modal graph-div" id="view-concept-graph" data-reveal>
        <a class="close-reveal-modal">&#215;</a>
        {% include "ndf/graph_concept.html" %}
      </div>
      <!-- Content for Collection Graph -->
      <div class="content reveal-modal graph-div" id="view-collection-graph" data-reveal>    
      	<a class="close-reveal-modal">&#215;</a>
      	{% include "ndf/graph_collection.html" %}
      </div>
      <!-- Content for dependency Graph -->
     <div class="content reveal-modal graph-div" id="view-dependency-graph" data-reveal>    
       <a class="close-reveal-modal">&#215;</a>
       {% include "ndf/graph_dependency.html" %}
     </div>
     <!-- Tab View Map Widget -->
     <div class="content reveal-modal graph-div" id="view-map-widget" data-reveal>
       <!-- #{#%# if '/details/' in request.path  or '/image_detail/' in request.path  or '/video_detail/' in request.path%} -->
       <a class="close-reveal-modal" >&#215;</a>
       {% include "ndf/map_widget.html" with mode="read" %}
       <!-- <div style="background-color:gray; width:100%; height:80%;"></div> -->
       <!-- #{#%# endif %} -->
     </div>
    </div>
  </section>

  <section class="medium-3 columns">
    <div class="panel">
      <!-- <h3 class="subheader"></h3> -->
      <p>
        {{ node.member_of_names_list.0 }} 
        Edited {{ node.last_update|timesince }} ago by <a class="user" href="{% url 'userDashboard' group_name_tag node.modified_by %}">{{node.user_details_dict.modified_by}}</a>
        <br>
        <small>
          <a href="#view-changes"><i class="fi-clock"></i> Versions </a>
          {% for seq_no, version_no in node.version_dict.items|slice:"-6:" reversed %}
          <abbr title="Version #{{version_no}}">
            {% if forloop.last and forloop.counter > 5 %}
            <a href="{% url 'node_version' group_name_tag node.pk version_no %}" style="padding-left:5px;">. . .</a>
            
            {% else %}
            <a href="{% url 'node_version' group_name_tag node.pk version_no %}" style="padding-left:5px;">{{version_no}}</a>

            {% endif %}
          </abbr> 
          {% endfor %}
        </small>
      </p>

      <!-- Start of Block: For listing Editing options --> 
      {% user_access_policy groupid request.user as user_access %}

      {% edit_policy groupid node request.user as status %}
      {% if user.is_authenticated and status == "allow" and user_access == "allow" %}
        {% get_edit_url node.pk as edit_url %}

        {% check_group node as is_group %}
        {% if is_group %}
        {% if user.is_superuser or node.created_by == user.id %}
        <a href="{% url edit_url group_name_tag %}" class="small button split edit"><i class="fi-pencil"></i> Edit now <span data-dropdown="edit-options"></span></a>
        {% endif %}

        {% else %}
        <a href="{% url edit_url group_name_tag node %}" class="small button split edit"><i class="fi-pencil"></i> Edit now <span data-dropdown="edit-options"></span></a>

        {% endif %}    

        <ul id="edit-options" class="f-dropdown">

          <!-- This button publishes the drafted resource -->
          {% if node %}
          {% get_publish_policy request groupid node as group_policy %}
          {% if group_policy == "allow" %}
            {% if is_group %}
            {% if user.is_superuser or node.created_by == user.id %}
            <li>
              <a class="button small" href="{% url 'publish_group' group_name_tag node %}">Publish</a>
            </li>
            {% endif %}
            
            {% else %}
            <li>
              <a class="button small expand" href="{% url 'publish_page' group_name_tag node %}">Publish</a>
            </li>
            
            {% endif %}
            
          {% endif %}
          
          {% endif %}

          <!-- This button converts collection into module -->
          {% if node.collection_set and user.is_authenticated %}
            {% if user_access == "allow" %}
            <li>
              <a class="button small expand" href="#" id="module">Make Module</a>
            </li>
            {% endif %}
          {% endif %}

          <!-- This button translates given resource -->
          <li>
            <a class="button small expand" href="{% url 'node_translation' group_name_tag node %} ">Translate</a>
          </li>

          <!--
            * This button Adds/Uploads New resource
            * Displayed 
              - For Pages and Files
              - In case of Groups/Author, only to the superuser
          -->
          {% get_create_url node.pk as create_url %}

          {% if is_group %}
            {% if request.user.is_superuser %}
            <li>
              <a class="button small expand" href="{% url create_url group_name_tag %}">
                <span class="fi-plus">&nbsp;&nbsp; New Group</span>
              </a>
            </li>
            {% endif %}

          {% else %}
            {% if node.member_of_names_list.0 == "File" %}
            <li>
              <a class="button small expand" href="{% url create_url group_name_tag %}?next={{request.path}}">
                <span class="fi-upload">&nbsp;&nbsp; New {{node.member_of_names_list.0}}</span>
              </a>
            </li>

            {% else %}
              {% if node.member_of_names_list.0 == "Theme" or node.member_of_names_list.0 == "Topic" %}
              
                <li>
                  <a class="button small expand" href="{% url create_url group_name_tag app_id %}">
                    <span class="fi-plus">&nbsp;&nbsp; New {{node.member_of_names_list.0}}</span>
                  </a>
                </li>
              {% else %}
                <li>
                  <a class="button small expand" href="{% url create_url group_name_tag %}">
                    <span class="fi-plus">&nbsp;&nbsp; New {{node.member_of_names_list.0}}</span>
                  </a>
                </li>
              {% endif %}

            {% endif %}

          {% endif %}

        </ul>

      {% endif %}
      <!-- End of Block: For listing Editing options --> 

    </div>
    
    <div>
      Languages 
      <button onclick = "attempt()"> Discuss </button>
      <!-- Annotation block -->
      {% if user.is_authenticated %}
      <br></br>
      <div>
        <div id = "ann" class = "hidden">
          <input id = "annField" type= "text" placeholder = "Add annotation..">
          <button id = "annButton" onclick = "attempt()"> Add </button>
        </div>
        <div id="replies"> </div>
        <div id = "reply" class = "hidden">
          <input id = "replyField" type= "text" placeholder= "Add comments..">
          <button id = "replyButton" onclick= "addComment()"> Reply </button>
          <button id = "close" onclick="store()"> Close </button>
        </div>
      </div>
      {% endif %}
      <!-- end of annotation block -->

      <br></br>
      {% get_possible_translations node as tran %}
      {% for each in tran %}
        {% for k,v in each.items %}
        <li><a href="{% url 'page_details' groupid k %}">{{v}}</a></li>
        {% endfor %}
      {% endfor %}

    </div>
  </section>

</div>

<footer>
  <p><small>
    <em>Written by {{ node.user_details_dict.contributors|join:', ' }}</em>
  </small></p>
</footer>

<script type="text/javascript">

  $(document).on('open', '#view-map-widget[data-reveal]', function () {  
    
    $.ajax({
  url: "{% url 'get_visited_location' groupid %}",
  success: function(data){ 

    data = JSON.parse(data);

    var lastVisitedLocationVal = data;
    
    if(lastVisitedLocationVal){

      if(lastVisitedLocationVal == "[]"){
        lastVisitedLocationVal = JSON.parse(lastVisitedLocationVal);
      }

      if(lastVisitedLocationVal.length > 0){
            // lastVisitedLocationVal = JSON.parse(lastVisitedLocationVal);
            var zoom = lastVisitedLocationVal.pop(),
                lng = lastVisitedLocationVal[1],
                lat = lastVisitedLocationVal[0];
              map.setView([lat, lng], zoom);
            }
    }
    else if( tempArr.length )
    {
      var group = new L.featureGroup(tempArr)
          map.fitBounds(group.getBounds());
    }

  }
});

  });
  $(document).on('opened', '#view-map-widget[data-reveal]', function () {  
      
    map.invalidateSize();  

    // var lastVisitedLocationVal = $('input:hidden[name=last_visited_location]').attr("value");
    // if(lastVisitedLocationVal){

    //   if(lastVisitedLocationVal == "[]"){
    //     lastVisitedLocationVal = JSON.parse(lastVisitedLocationVal);
    //   }

    //   if(lastVisitedLocationVal.length > 0){
    //         lastVisitedLocationVal = JSON.parse(lastVisitedLocationVal);
    //         var zoom = lastVisitedLocationVal.pop(),
    //             lng = lastVisitedLocationVal[1],
    //             lat = lastVisitedLocationVal[0];
    //           map.setView([lat, lng], zoom);
    //         }
    // }


    // if( tempArr.length )
    // {
    //   var group = new L.featureGroup(tempArr)
    //       map.fitBounds(group.getBounds());
    // }

    // map.setView([lat, lng], zoom);

  });

/*
For annotation based discussions:
*/

var annotations = {{ annotations | safe}};
var currentUser = null;
var  existingComments = [];
var SideComments = require('side-comments');
var sideComments;
var flag = false; 
var pos=-1;
var st = null;
var initialText;
var toggleValue = 1;

if(!window.win){
  win = {};
}
win.Selector = {};
win.Selector.getSelected = function()
{
  var t = '';
  if(window.getSelection){
    t = window.getSelection();
  }else if(document.getSelection){
    t = document.getSelection();
  }else if(document.selection){
    t = document.selection.createRange().text;
  }
  return t;
}

win.Selector.mouseup = function()
{
  st = String(win.Selector.getSelected());
  console.log("stout: " + st);
  if (st)
  {
      if (toggleValue == 1)
      {
         existingComments = [];
         sideComments = new SideComments('#commentable-area', currentUser, existingComments);
      }
      else if (toggleValue == -1)
      {
        toggle(document.getElementById("toggleContainer"));
        existingComments = [];
        sideComments = new SideComments('#commentable-area', currentUser, existingComments);
      }
  }
}

$(document).ready (function(){
  initialText = $("#content").html();
  $("#content").bind("mouseup", win.Selector.mouseup);
});

{% if user.is_authenticated %}
  currentUser=
  {
      id: {{ user.id }},
      avatarUrl: "/static/ndf/images/user.png",
      name: '{{ user.username }}'
  };
{% endif %}

// Create a new SideComments instance, passing in the wrapper element and the optional the current user and any existing comments.
sideComments = new SideComments('#commentable-area', currentUser, existingComments);
//Listen to 'commentPosted'
sideComments.on('commentPosted', function( comment ) 
{
    if(st)
    {
     $.ajax({
            url: "{% url 'annotationlibInSelText' groupid %}",
            type: 'POST',
            datatype : "JSON",
            data: 
            {
                comment      : JSON.stringify(comment),
                selectedText : st,
                node_id      : '{{ node }}', 
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( updatedAnnotationsField ) 
            {
              // Once the comment is saved, insert the comment into the comment stream with "insertComment(comment)".
              console.log("Inside success: Comment added!");
              sideComments.insertComment(comment);
              highlightSearchTerms(st);
              annotations = jQuery.parseJSON(updatedAnnotationsField);
            }
          });
    }
    else
    {
      //TODO tell user to select text
      alert("Please select some text to add annotations!");
    }
}); 
  
//Listen to "commentDeleted" and send a request to backend to delete the comment.
/*sideComments.on('commentDeleted', function( commentId ) 
{
    console.log("entered del func")
    $.ajax({
            url: "{% url 'delComment' groupid %}",
            success: function( success ) {
            alert(commentId);
            }
           });
});*/

toggle(document.getElementById("toggleContainer"));

/*
bind the below initialisation of sideComments object on hover over that area
*/
function showThread(elem)
{
  text = $(elem).text();
  text1 = elem.innerHTML;
  alert("sel text with jquery " + text);
  alert("text with innerHTML: " + text1);
  existingComments = [];
  st = String(text);
  console.log("You clicked on: " + st);
  for (i = 0; i < annotations.length; i++)
  {
      if(String(text).toLowerCase() == annotations[i].selectedText.toLowerCase())
      {
        existingComments.push(annotations[i]);
        console.log("existingComments" + existingComments[0]['comments'][0]['comment']);
        sideComments = new SideComments('#commentable-area', currentUser, existingComments);        
        break;
      }
  }
}

/*
 * This is the function that highlights a text string by
 * adding HTML tags before and after all occurrences of the search
 * term. 
 */
function high(bodyText, searchText)
{
  highlightStartTag = "<span style='background-color : #e0ffff;font-weight:bold' onclick = 'showThread(this)'>";
  highlightEndTag = "</span>";
  var newText = "";
  i = -1;
  var charCheck = /[a-z]/;
  var lcSearchTerm = searchText.toLowerCase();
  var lcBodyText = bodyText.toLowerCase();
  var cur;
  var next;
  var inter;
  lcBodyTextLength = lcBodyText.length;
  oneWord = false;
  console.log("lcSearchTerm: " + lcSearchTerm);
 // console.log("lcBodyText: " + lcBodyText);
  arr = lcSearchTerm.split(" ");
  noOfWords = arr.length;
  

  if (noOfWords == 1)
  {
    oneWord = true;
  }

  while (bodyText.length > 0) 
  {
    
   
            if (oneWord)
            {
                i = lcBodyText.indexOf(arr[0], i+1);
            }
            else
            {
                i = lcBodyText.indexOf(arr[0] + " ", i+1);
            }
            
            //validation for i
            if(i>0 && charCheck.test(lcBodyText.charAt(i-1)))
            {
                continue;
            }

            if(i>=0 && (!oneWord || (i+arr[0].length < lcBodyTextLength)) && charCheck.test(lcBodyText.charAt(i+arr[0].length)))
            {
                continue;
            }

  
    start = i;
    console.log("start value:   " + start);
    if (i < 0) 
    {
      newText += bodyText;
      bodyText = "";
    } 
    else 
    { 
          if(bodyText.lastIndexOf(">", i) >= bodyText.lastIndexOf("<", i))
          {
            //exclude everything inside HTML tags
                  if(lcBodyText.lastIndexOf("/script>", i) >= lcBodyText.lastIndexOf("<script", i) )
                  {
                        //exclude everything inside script tags
                        next = i;
                        cur = next;
                        for (k = 0; k < noOfWords -1; k++)
                        {
                          next = lcBodyText.indexOf(arr[k+1], cur+1);
                          //validation for next
                          if (next+arr[k+1].length < lcBodyTextLength &&  charCheck.test(lcBodyText.charAt(next+arr[k+1].length)))
                          {
                            break;
                          }
                          inter = lcBodyText.substring(cur+arr[k].length, next);
                          inter = inter.trim();
                          if(inter == "" || (inter[0] == '<' && inter[inter.length-1] == '>'))
                          {
                            cur = next;
                            continue;
                          }
                          break;
                        }

                        if (k == noOfWords -1)
                        {
                          //all words matched
                          newText += bodyText.substring(0, start) + highlightStartTag + bodyText.substring(start, next+arr[noOfWords-1].length ) + highlightEndTag;
                          bodyText = bodyText.substr( next+arr[noOfWords-1].length );
                          lcBodyText = bodyText.toLowerCase();
                          i = -1;
                          highlightStartTag = "<span style = 'background-color : #e0ffff;' onclick = 'showThread(this)'>";
                        }
                   }
           }
    }
  }

  return newText;
}


function doHighlight(bodyText, searchTerm) 
{
    //highlightStartTag = "<font style = 'color : black; background-color : #F5BCA9;'>";
    //highlightStartTag = "<span style='color:darkblue;font-weight:bold' onclick = 'showThread(this)'>";
    highlightStartTag = "<span style='background-color : #e0ffff;font-weight:bold' onclick = 'showThread(this)'>";
    highlightEndTag = "</span>";
    
  // find all occurences of the search term in the given text, and add some "highlight" tags to them 
  //(we're not using a regular expression search, because we want to filter out matches that occur within HTML tags and script blocks, 
  //so we do a little extra validation)
  var newText = "";
  var i = -1;
  var lcSearchTerm = searchTerm.toLowerCase();
  var lcBodyText = bodyText.toLowerCase();
  //console.log("lcSearchTerm" + lcSearchTerm);  
  while (bodyText.length > 0) 
  {
    i = lcBodyText.indexOf(lcSearchTerm, i+1);
    if (i < 0) 
    {
      newText += bodyText;
      bodyText = "";
    } 
    else 
    { //console.log("i value: " + i + "           " + lcSearchTerm);
      // skip anything inside an HTML tag
      if (bodyText.lastIndexOf(">", i) >= bodyText.lastIndexOf("<", i)) 
      {
        // skip anything inside a <script> block
        if (lcBodyText.lastIndexOf("/script>", i) >= lcBodyText.lastIndexOf("<script", i)) 
        {
          newText += bodyText.substring(0, i) + highlightStartTag + bodyText.substr(i, searchTerm.length) + highlightEndTag;
          bodyText = bodyText.substr(i + searchTerm.length);
          lcBodyText = bodyText.toLowerCase();
          i = -1;
          highlightStartTag = "<span style = 'background-color : #e0ffff;' onclick = 'showThread(this)'>";
        }
      }
    }
  }
  return newText;
}


/*
 * This is a wrapper function to the doHighlight function.
 * It takes the searchText that you pass and transforms the text on the current web page.
 * The "searchText" parameter is required
 */
function highlightSearchTerms(searchText)
{
  // search string so that each word is searched for and highlighted individually
    
  var bodyText = $("#content").html();
  //alert("inside highlightSearchTerms" + searchText);
  bodyText = high(bodyText, searchText);
  $("#content").html(bodyText);
  return true;
}

/*
script for marking up the annotated text
*/
function highlightAll()
{

  for (p = 0; p < annotations.length; p++)
  {
     t = annotations[p].selectedText;
     highlightSearchTerms(t);
     //alert("inside highlightAll: " + t);
  }

}

function toggle(el)
{
  console.log("toggleClass at beginning: " + toggleValue);
  if (toggleValue == 1)
   {
         alert("disabling..");
         //Disable annotations
         //finalText = $("#content").html();
         $(".side-comment").hide();
         $("#content").html(initialText);
         //$("#content").unbind("mouseup");
         //el.className = "";
        // alert(el.innerHTML);
         el.innerHTML = '<i class="fi-comments"></i> Annotate';
         
   }  
  else if (toggleValue == -1)
  {     
         alert("enabling..");
        
        //enable annotations
        st = null;
        $(".side-comment").show();
        highlightAll(); 
        //$("#content").bind("mouseup", win.Selector.mouseup);
        //el.className = "active";
        alert(el.innerHTML);
        el.innerHTML = '<i class="fi-clipboard-pencil"></i> Annotate';
        //$("#content").html(finalText);
  }

  toggleValue *= -1;
  console.log("toggleClass at end: " + toggleValue);
}

</script>
