{% extends "ndf/base.html" %}
{% load ndf_tags %}
{% block title %} {{ node.member_of|join:", " }} - {{ node.name }}  {% endblock %}
{% block head %}

<!-- MathJax-File-Based-Configuration: Loading MathJax with given file -->
<script type="text/javascript"
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<!-- MathJax-In-Line-Configuration: Specifying the configuration settings -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      displayMath: [['\\[','\\]'], ['$$','$$']]
    }
  });
</script>

{% endblock %}

{% block meta_content %}
<!--This content possibly comes from page_details.html-->
<p>
  {{ node.member_of|join:', ' }} posted on {{ node.created_at|date:"j F Y" }} by {{ node.user_details_dict.created_by }}
</p>
<p>
  Contributed by: {{ node.user_details_dict.modified_by|join:', ' }}
</p>
<p>

  Last update: {{ node.last_update|date:"j F Y" }}
</p>
<p>
  Version{{ node.version_dict|length|pluralize }}: 
  {% for seq_no, version_no in node.version_dict.items reversed %}
  <abbr title={{version_no}}><a href="{% url 'node_version' group_name node.pk version_no %}" style="padding-left:5px;">+</a></abbr> 
  {% endfor %}
</p>

{% endblock %}

{% block related_content %}

{% if node.collection_dict|length > 0 %}
<h3>Collection</h3>

{% for index_key, each_node in node.collection_dict.items %}
{% get_grid_fs_object each_node as grid_fs_obj %}
{% if each_node.mime_type %}
{% if each_node.collection_set %}
<li class="list" style="list-style-type:none;">
  <abbr title="Collection"><img src="/static/ndf/images/folder.png"></abbr>
  <a href="{% url 'read_file' group_name each_node.pk grid_fs_obj.filename %}" style="padding-left:10px;">{{ each_node.name }}</a>
</li>
{% else %}
<li class="list" style="list-style-type:none;">
  <abbr title="Page"><img src="/static/ndf/images/doc.png"></abbr>

  <a href="{% url 'read_file' group_name each_node.pk grid_fs_obj.filename %}" style="padding-left:12px;">{{ each_node.name }}</a> 
</li>
{% endif %}
{% else %}
{% if each_node.collection_set %}
<li class="list" style="list-style-type:none;">
  <abbr title="Collection"><img src="/static/ndf/images/folder.png"></abbr>
  <a href="{% url 'page_details' group_name each_node.pk %}" style="padding-left:10px;">{{ each_node.name }}</a>
</li>
{% else %}
<li class="list" style="list-style-type:none;">
  <abbr title="Page"><img src="/static/ndf/images/doc.png"></abbr>
  <a href="{% url 'page_details' group_name each_node.pk %}" style="padding-left:12px;">{{ each_node.name }}</a>
</li>
{% endif %}
{% endif %}
{% endfor %}

{% endif %}

{% endblock %}

{% block body_content %}
<a id="toggle-shelf" class="right-off-canvas-toggle right" ><i class='fi-book-bookmark'></i></a> 

<header class="row page">

  <h2 class="medium-push-3 medium-9 columns">
    <span class='node'>{{node.name}}</span>
  </h2>

<h3 class="medium-3 medium-pull-9 columns">
    <div class="label-list"> 
      {% for tag in node.tags %}
      <span class="radius label">{{tag}}</span> 
      {% endfor %}
    </div>
    by {{ node.user_details_dict.modified_by|join:', ' }}
  </h3>
  <dd><a href="#view-changes"><i class="fi-clock"></i> View changes</a></dd>

  <h2 class="medium-offset-3 medium-9 columns subheader">
    <small>Edited {{ node.last_update|timesince }} ago by <a class="user">User</a></small>
    <a href="{% block url %}{% endblock %}" class="button edit"><i class="fi-pencil"></i> <span>Edit now</span></a>
  </h2>

  

</header>

<div class="row">

  <nav class="medium-3 columns">
    <dl class="tabs" data-tab>
      <dd class="active"><a href="#view-page"><i class="fi-page-filled"></i> Content</a></dd>
      <dd><a href="#view-graph"><i class="fi-share"></i> Graph</a></dd>
      <dd><a href="#view-comments"><i class="fi-comment"></i> Discussion</a></dd>
    </dl>
  </nav>

  <section class="medium-9 columns">
    <div class="tabs-content row">

      <!-- Tab content -->
      <div class="content active" id="view-page">

        {% if node.prior_node|length > 0 %}
        <fieldset>
         <legend><h5>Do you know?</h5></legend>
         {% for index_key, each_node in node.prior_node_dict.items %}
         {% get_grid_fs_object each_node as grid_fs_obj %}
         {% if each_node.mime_type %}
         <a href="{% url 'read_file' group_name each_node.pk  grid_fs_obj.filename %}">{{ each_node.name }}</a>,&nbsp;
         {% else %}
         <a href="{% url 'page_details' group_name each_node.pk %}">{{ each_node.name }}</a>,&nbsp;
         {% endif %}
         {% endfor %}
       </fieldset>
       {% endif %}

       {% block add_fields %} {% endblock %}

       <!-- Outer Main Row -->
       <ul class="inline-list">
         {% if user.is_authenticated %}
         {% block add_list %}{% endblock %}
         {% endif %}
       </ul>

       {% with node.html_content|safe as description %}

       <div class="medium-8 columns">
        {% if description != "None" %}
        {{ description }}
        {% endif %}
      </div>

      <div class="medium-4 columns">
      </div>

      {% endwith %}
    </div>

    <!-- Tab View Graph -->
    <div class="content" id="view-graph">    
      <div class="row">
        <div class="small-12 columns" id="graph-div">
          {% include "ndf/relational_graph.html" with graphData=graphData %}        
        </div>
      </div>
    </div>
  </section>

</div>



{% endblock %}

