
{% extends "ndf/gbase.html" %}
{% load i18n %}
{% load ndf_tags %}
{% block body_content %}

<style type="text/css">
  
  .notification_body{
    max-width: 1546px !important;
    margin: 0 auto !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    flex-direction: column !important;
    padding-bottom: 32px !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    background: #fff;
    box-shadow: 0px 2px 6px #000;
  }
        
    .notifications_content{
            display: -moz-box !important;
            display: -ms-flexbox !important;
            display: -webkit-box !important;
            display: -webkit-flex !important;
            display: flex !important;
            align-items: center !important;
            justify-content: space-between !important;
            width: 100% !important;
            box-sizing: border-box !important;
            padding: 16px 8px !important;
            -webkit-align-items: center !important;
            -webkit-justify-content: space-between !important;
            -moz-box-sizing: border-box !important;
            -ms-flex-align: center !important;
            -webkit-box-align: center !important;
            -ms-flex-pack: justify !important;
            -webkit-box-pack: justify !important;
                &:hover{
                background: #F0F1F2 !important;
            }
    .content-body{
            border-bottom: 1px solid #D6D8DA !important;

    }

</style>


    <div class="notification_body">
      <div class="content-body">
        <div class="notifications_content">
            <div class="small-1 columns">
              <a href="#">
                <img class="img-circle" src="/static/ndf/images/gnu-head.png" style="margin-top:-12px;"/>
              </a>
            </div>
            <div class="small-14 columns">
              This is an info alert with a radius.
              This is an info alert with a radius. Trying if the notication is big enough.
              This is an info alert with a radius.
              This is an info alert with a radius. Trying if the notication is big enough.
              This is an info alert with a radius.
            </div>
        </div>
        <div style="
        color: orange;
        margin-left: 140px;
        margin-top: -25px;
    ">
          <i class="fa fa-clock-o fa-1x" aria-hidden="true"></i> 8 hours ago.
        </div>
      </div>
    </div>
    <div class="notification_body">
      <div class="content-body">
        <div class="notifications_content">
            <div class="small-1 columns">
              <a href="#">
                <img class="img-circle" src="/static/ndf/images/gnu-head.png" style="margin-top:-12px;"/>
              </a>
            </div>
            <div class="small-14 columns">
              This is an info alert with a radius.
              This is an info alert with a radius. Trying if the notication is big enough.
              This is an info alert with a radius.
              This is an info alert with a radius. Trying if the notication is big enough.
              This is an info alert with a radius.
            </div>
        </div>
        <div style="
        color: orange;
        margin-left: 140px;
        margin-top: -25px;
    ">
          <i class="fa fa-clock-o fa-1x" aria-hidden="true"></i> 8 hours ago.
        </div>
      </div>
    </div>
<div class="notification_body">
      <div class="content-body">
        <div class="notifications_content">
            <div class="small-1 columns">
              <a href="#">
                <img class="img-circle" src="/static/ndf/images/gnu-head.png" style="margin-top:-12px;"/>
              </a>
            </div>
            <div class="small-14 columns">
              This is an info alert with a radius.
              This is an info alert with a radius. Trying if the notication is big enough.
              This is an info alert with a radius.
              This is an info alert with a radius. Trying if the notication is big enough.
              This is an info alert with a radius.
            </div>
        </div>
        <div style="
        color: orange;
        margin-left: 140px;
        margin-top: -25px;
    ">
          <i class="fa fa-clock-o fa-1x" aria-hidden="true"></i> 8 hours ago.
        </div>
      </div>
    </div>
<div class="notification_body">
      <div class="content-body">
        <div class="notifications_content">
            <div class="small-1 columns">
              <a href="#">
                <img class="img-circle" src="/static/ndf/images/gnu-head.png" style="margin-top:-12px;"/>
              </a>
            </div>
            <div class="small-14 columns">
              This is an info alert with a radius.
              This is an info alert with a radius. Trying if the notication is big enough.
              This is an info alert with a radius.
              This is an info alert with a radius. Trying if the notication is big enough.
              This is an info alert with a radius.
            </div>
        </div>
        <div style="
        color: orange;
        margin-left: 140px;
        margin-top: -25px;
    ">
          <i class="fa fa-clock-o fa-1x" aria-hidden="true"></i> 8 hours ago.
        </div>
      </div>
    </div>
<div class="notification_body">
      <div class="content-body">
        <div class="notifications_content">
            <div class="small-1 columns">
              <a href="#">
                <img class="img-circle" src="/static/ndf/images/gnu-head.png" style="margin-top:-12px;"/>
              </a>
            </div>
            <div class="small-14 columns">
              This is an info alert with a radius.
              This is an info alert with a radius. Trying if the notication is big enough.
              This is an info alert with a radius.
              This is an info alert with a radius. Trying if the notication is big enough.
              This is an info alert with a radius.
            </div>
        </div>
        <div style="
        color: orange;
        margin-left: 140px;
        margin-top: -25px;
    ">
          <i class="fa fa-clock-o fa-1x" aria-hidden="true"></i> 8 hours ago.
        </div>
      </div>
    </div>
<div class="notification_body">
      <div class="content-body">
        <div class="notifications_content">
            <div class="small-1 columns">
              <a href="#">
                <img class="img-circle" src="/static/ndf/images/gnu-head.png" style="margin-top:-12px;"/>
              </a>
            </div>
            <div class="small-14 columns">
              This is an info alert with a radius.
              This is an info alert with a radius. Trying if the notication is big enough.
              This is an info alert with a radius.
              This is an info alert with a radius. Trying if the notication is big enough.
              This is an info alert with a radius.
            </div>
        </div>
        <div style="
        color: orange;
        margin-left: 140px;
        margin-top: -25px;
    ">
          <i class="fa fa-clock-o fa-1x" aria-hidden="true"></i> 8 hours ago.
        </div>
      </div>
    </div>





{% endblock body_content %}
