{% extends "ndf/event.html" %}
{% load ndf_tags %}
{% load i18n %}
{% load pagination_tags %}

{% block head %}
  {{block.super}}

	<script type="text/javascript" src="/static/ndf/bower_components/jquery-ui/jquery-ui.min.js"></script> <!-- checked -->
	<script type="text/javascript" src="/static/ndf/bower_components/foundation-datepicker/js/foundation-datepicker.js"></script> <!-- checked -->
	<link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/foundation-datepicker/stylesheets/foundation-datepicker.css"> <!-- checked -->
	<link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css"> <!-- checked -->
  <script src="/static/ndf/bower_components/moment/moment.js"></script> 
  <script src="/static/ndf/bower_components/jquery-ui/jquery-ui.js"></script> <!-- checked -->
  <script src="/static/ndf/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script> <!-- checked -->
  <script src="/static/ndf/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-sliderAccess.js"></script> <!-- checked -->
  <link rel="stylesheet" href="/static/ndf/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css"> <!-- checked -->
	<link rel="stylesheet" type="text/css" href="/static/ndf/bower_components/jquery-ui/themes/smoothness/jquery-ui.css"> <!-- checked -->
{% endblock %}

{% block style %}
  {{block.super}}
  /* CSS for Multiple-selection (or drawer) widget */
    .divider-line { font-size: xx-large; color:lightgray; }
    .line-height-2 { line-height:2; }
    .line-height-2pt5 { line-height:2.5; }
    .fontsize-x-large { font-size: x-large; }

    .margin-0 { margin: 0 !important ;}

    .resource-drawer { 
      border-color: #D3D3D3; border-style: solid; 
      padding: 0 !important; 
      overflow-y: auto;
    }

    .resource-drawer li.bullet-item:hover{
      background-color: #ecf0f1; cursor:pointer;
    }

    .posted-by{ color: #808080; font-size: small; }

    .selected-resource { background-color:lightgray !important ; }

    .resource-type-image {
      height:40px;    
      background-repeat:no-repeat; background-size: 48px 48px
    }

  /* Disable tab's (anchor tag's) click as it's navigation is propagated on buttons (Next & Previous) */
    dl.tabs>dd a.disable {
      pointer-events: none;
      cursor: default;
    }

    .row .row {
      margin: 0 0;
    }

  /* Resetting css-properties for fieldset (also legend, input) */
    /* fieldset (padding-bottom) */ 
    fieldset {
      padding: 1.25rem !important;
    }

    /* legend (background-color) */
    fieldset legend {
      background-color: transparent !important;
    }

    /* input (margin) */
    fieldset input {
      margin: 0 !important;
    }

  /* Setting css-properties for small.error */
    small.error {
      padding: 0 0 0 0.5rem !important;
      margin-top: 1rem !important;
      position: relative !important;
    }
{% endblock %}

{% block body_content %} 
  <form data-abide id="form-edit-node" method="POST" action="">
  {% csrf_token %}
  <header class="row" style="margin: 1rem 0 0 0;">
    <h2 class="medium-12 columns">
      {% if node %}
      {% trans "Editing Event:" %} {{node.name}}
      
      {% else %}
      {% trans "Create a New" %} {{title}} {% trans "Event" %}
      
      {% endif %}
    </h2>
  </header>

  <fieldset>
    <div class="row" style="margin-top: 0.5rem;">
       <div class="small-2 large-1 columns">
          <label for="{{property_order_list.0.1.9.name}}" class="right inline"> 
                {{property_order_list.0.1.9.altnames}}
          </label>
       </div>
       <div class="small-4 columns">
                     {% html_widget groupid node.pk property_order_list.0.1.9 %}
       </div>
            
       <div class="small-2   columns">
                 <label  class="right inline">
                    Course Name
                </label>
        </div>
        <div class="small-4 large-5 columns" align="left">
                 <select id="nussd_course_name" name="nussd_course_name" required  style="float:left; width:80%">
                 </select>
         </div>
    </div>
        <!-- tab for batches -->
        
        <div class= "row">
            <div class="small-2 large-1 columns">
                 <label  class="right inline">
                    Batches</label>
            </div>
               <div class="small-4 columns" align="left">
                      <select id="event_has_batch" name="event_has_batch">
                      </select>
                      
               </div>
               
            
            {% if title == 'Exam' %}  
            <div class="small-1 columns">
              <label for="{{property_order_list.0.1.1.name}}" class="right inline"> 
                {{property_order_list.0.1.1.altnames}}
              </label>
            </div>
            <div class="small-3 columns">
                     {% html_widget groupid node.pk property_order_list.0.1.1 %}
            </div>
            <div class="small-1 columns" align="left">
              <label for="{{property_order_list.0.1.2.name}}" class="right inline"> 
                 {{property_order_list.0.1.2.altnames}}
              </label>
            </div>
            <div >
                     {% html_widget groupid node.pk property_order_list.0.1.2 %}
            </div>
         </div>   
         <div class="row">   
            <div class="small-12 columns" align="center">
              <input type="submit" id="submit" class="medium button" value="submit" >
            </div>
         </div>  
         {% else %} 
            <div class="small-7 columns">
                 <label><font color="red">*</font></label>
               </div>
              
         
         {% endif %}
        
        
 </div>    
         <div class= "row">
            <div class="small-12 columns" align="center">
                <input type="button" class="medium button" id="view" value="view">
           </div>
         </div>
      <div class="hiddensection" hidden>
      <input id="course_type" name="course_type">
      <input id="course_name" name="course_name">
      <input id="batch_name" name="batch_name">
      <input id="Module_name" name="Module_name">
      <input id="event_status" name="event_status" value="Scheduled">
      <input id="Session" name="Session">
      
      <select id="has_attendees" name="has_attendees" multiple="">
      </select>
              
      
      <input type="hidden" value=1 name="iteration" id="iteration">
      </div>
    
  </fieldset>
{% if title != 'Exam' %}
  <div id="Module-session-section">
    <fieldset >
      <div class="row">
        <div class="small-2 large-1 columns">
          <label class="right inline">
            {% trans "Module:" %}
          </lable>
        </div>
    
        <div class="small-4 large-4 columns">
          <select id="Module_of" name="Module_of" style="float:left; width:95%">
          </select>
          <i style="color:red; float:left display:inline">*</i>
        </div>

        <div class="small-2  large-2 columns">
          <label class="right inline">
            {% trans "Sessions:" %}
          </label>
        </div>
   
        <div class="small-4 large-4 columns end"> 
          <select id="session_of" name="session_of" style="float:left; width:95%">
          </select>
          <i style="color:red; float:left display:inline">*</i>
        </div>
      </div>

      <div class="row">
        <div class="small-1 columns">
          <label for="{{property_order_list.0.1.1.name}}" class="right inline"> 
            {{property_order_list.0.1.1.altnames}}
          </label>
        </div>
        <div class="small-2 large-2 columns">
          {% html_widget groupid node.pk property_order_list.0.1.1 %}
        </div>
          
        <div class="small-1 large-1 columns">
          <label for="{{property_order_list.0.1.2.name}}" class="right inline"> 
            {{property_order_list.0.1.2.altnames}}
          </label>
        </div>
        <div class="small-2 large-2 columns">
          {% html_widget groupid node.pk property_order_list.0.1.2 %}
        </div>
          
        <div class="small-2 columns">
          <label class="right inline">
            {% trans "Remainig time (in minutes):" %}
          </label>
        </div>
        <div id="available-minutes" class="small-1 columns end">
          <label  class="inline">0</label>
        </div>
        <div class="small-2 columns">
          <label class="right inline">
            {% trans "Alloted time (in minutes):" %}
          </label>
        </div>
        <div id="Alloted-minutes" class="small-1 columns end">
          <label  class="inline">0</label>
        </div>  
      </div>
   
      <!-- section for start time and end time -->
      <div class="row" id="Split_Session">
        <!-- checkbox for yes or no  split session  -->
        </div>
      <div class="session_time">
      </div>
      <div class="row" >
        <div class="small-2 medium-1 large-1 columns">
          <label class="right inline"> 
            {% trans "Voluntary Teacher" %}
          </label>
        </div>
        <div class="small-5 columns">
          <select id="event_coordinator" name="event_coordinator" required style="float:left; width:95%">
          </select>
          <i style="color:red; float:left display:inline">*</i>
        </div>
 
        <div class="small-5 columns end">
          <!-- keept for spacing from left hand side -->        
        </div>
      </div>
     
            </fieldset>  
      
         
        <div class="row">
       <div class="small-12 columns" align="center">
      <input type="submit" id="submit" class="medium button" value="submit" >
       </div>
       </div>
 <!-- div module sesion section Opens here" -->
 </div>
 {% endif %}
</div>
 
  </form>
  
  
  

{% endblock %}

{% block script %}
$(document).ready(function(){
$('#start_time').attr('style','float:left; width:95%;')
$('#end_time').attr('style','float:left; width:95%;')
datetime()
document.getElementById('form-edit-node').reset()
if (!('{{edit_details}}'))
{clear_Disable_Elements();}


});

function clear_Disable_Elements()
{ 

        <!--  this method would disable all the page --> 
        $('#nussd_course_name').attr('disabled','True')
        $('#nussd_course_name').empty()
        $('#event_has_batch').attr('disabled','True')
        $('#event_has_batch').empty()
        $('#session_of').attr('disabled','True')
        $('#splitsession').attr('disabled','True')
        $('#session_of').empty()
        $('#Module_of').attr('disabled','True') 
        $('#Module_of').empty()
        document.getElementById('submit').disabled = true;      
        if ( '{{title}}' == 'Exam' )
          {
            $('#Module-session-section').empty()
            $('#view').hide()
          }
        else
          {

            $('#Module-session-section').hide()
            $('#event_coordinator').attr('disabled','True')
            document.getElementById('end_time').disabled = ""
          
          }

        $('#view').attr('disabled','True')
}


function append_time()
{
      <!-- append the remaining time of the session -->
      $("#available-minutes").empty()
      $("#available-minutes").append("<label for='end_time' class='inline'>"+total_session_time+"<label>")
      $("#Alloted-minutes").empty()
      $("#Alloted-minutes").append("<label for='end_time' class='inline'>"+$('#session_of option:selected').attr('minutes') +"<label>")
}


  if('{{edit_details}}')
  {
    
    event_details={{edit_details|safe}}
    $('#nussd_course_name').append(
                  $("<option></option>")
                  .attr('id',event_details['course'].course_id)
                  .attr('value',event_details['course'].course_id)
                  .text(event_details['course'].course)
                  );
    var a=event_details['course'].course                
    $("select[name='nussd_course_name'] option[value= a]").prop("selected", true);       
    document.getElementById('nussd_course_name').disabled = "";
    $('#event_has_batch').append(
                 $("<option></option>")
                  .attr('id',event_details['batch'].batchid)
                  .attr('value',event_details['batch'].batchid)
                  .text(event_details['batch'].batchname)
                  );
    var a=event_details['batch'].batchname                
    $("select[name='batch'] option[value= a]").prop("selected", true);       
    document.getElementById('Module_of').disabled = "";
                 $('#Module_of').append(
                 $("<option></option>")
                 .attr('id',event_details['Module'].Moduleid)
                 .attr('value',event_details['Module'].Moduleid)
                 .text(event_details['Module'].Modulename)
                  );
    var a=event_details['Module'].Modulename                
    $("select[name='Module_of'] option[value= a]").prop("selected", true);       
    document.getElementById('event_coordinator').disabled = "";
                 $('#event_coordinator').append(
                       $("<option></option>")
                      .attr('id',event_details['cordinator'].cordinatorid)
                      .attr('value',event_details['cordinator'].cordinatorid)
                      .text(event_details['cordinator'].cordinatorname)
                      );
    var a=event_details['cordinator'].cordinatorname                
  
    $("select[name='event_coordinator'] option[value= a]").prop("selected", true);       
  
    document.getElementById('event_has_batch').disabled = "";
    Enable_Elements()     
    var course_type=$("#event_has_batch").val()  
      $.ajax({
          url: "{% url 'fetch_batch_student' groupid 'course_type' %}".replace('course_type',String(course_type)),
          type: "GET",
          success: function(data){
              courses=JSON.parse(data)
              },
          complete:function(){
                if(courses != ""){
                        $.each(courses, function(key,val) 
                        {
                             $('#has_attendees').append(
                             $("<option></option>")
                             .attr("id", "coursename_"+key.id)
                             .attr("value",val.id)
                             .attr("selected","selected")
                             .text(val.name)
                            );
                        });
                    }
          } 
    });
} 


function Enable_Elements()
{
  if(  document.getElementById('Module_of'))
  {
     document.getElementById('Module_of').disabled = "";
  }
  if (document.getElementById('Module-session-section'))
   {
    document.getElementById('Module-session-section').visible = "True";
    document.getElementById('view').disabled = "";
   }
}
last_start_time =""

function enable_start_time_end_time(str)
 {
    str_name = str.substring(9)
    if (str)
     {
        //document.getElementById('end_time'+ '_' + str ).disabled = ""
     }
        start_from = str_name
        remove_till = last_start_time
        reset_time(str)
        remove_start_end_time(start_from,remove_till)
    
 
 }


function remove_start_end_time(start_from , remove_till)
 {
    <!-- removes all the start and end time widgets if some one tries to modify in between elements -->
    if (! start_from)
    {
      start_from = 1
    
    }
    else if (start_from)
    {
      start_from = Number(start_from) + 1
    }
    for (i=start_from  ; i<=remove_till ; i++)
      {
       $('#split' + '_' + i).remove()
       $('.session_time br:last').remove(); 
      }
  last_start_time = start_from  
 }
function  GenerateSplits ()
 {    
     last_start_time = Number(last_start_time) + 1;
     $(".session_time").append("<div class='row' id=" + "split" + "_" + last_start_time+"> </div>")
     <!-- split secssion start_time -->
     <!-- start time label append -->

     $("#split" + "_" + last_start_time + ""  ).append("<b>Split no." + last_start_time +"</b>")
     //$("#split" + "_" + last_start_time + ""  ).append("<hr>")
     $("#split" + "_" + last_start_time + ""  ).append("<div class='small-1 columns'  id=" + "split_start_time_label" + "_" + last_start_time+"> </div>")
     $("#split_start_time_label" + "_" + last_start_time + ""  ).append("<label class='right inline' > Start Time </label>")
     <!-- date time widget append -->
     $("#split" + "_" + last_start_time + ""  ).append("<div class='small-2 columns' id=" + "split_start_time" + "_" + last_start_time+"> </div>")
     
     $("#split_start_time" + "_" + last_start_time + ""  ).append($("#start_time").clone().attr("id","start_time_"+last_start_time).attr("name","start_time_"+last_start_time).removeClass("hasDatepicker").val(''))
     
     <!-- split secssion end_time -->
     $("#split" + "_" + last_start_time + ""  ).append("<div class='small-1 columns' id=" + "split_end_time_label" + "_" + last_start_time+"> </div>")
     $("#split_end_time_label" + "_" + last_start_time + ""  ).append("<label class='right inline' > End Time </label>")

     $("#split" + "_" + last_start_time + ""  ).append("<div class='small-2 columns' id=" + "split_end_time" + "_" + last_start_time+"> </div>")

     $("#split_end_time" + "_" + last_start_time + ""  ).append($("#end_time").clone().attr("id","end_time_"+last_start_time).attr("name","end_time_"+last_start_time).removeClass("hasDatepicker").val(''))

     $("#split" + "_" + last_start_time + ""  ).append("<div class='small-8 columns'> </div>")
     $(".session_time").append("<br>") 
 }

function check_remaining_time(start_time,end_time)
  {     
         var difference = start_time.getTime() - end_time.getTime();
         var daysDifference = Math.floor(difference/1000/60/60/24);
         difference -= daysDifference*1000*60*60*24
         var hoursDifference = Math.floor(difference/1000/60/60);
         difference -= hoursDifference*1000*60*60
         var minutesDifference = Math.floor(difference/1000/60);
         difference -= minutesDifference*1000*60 
         var secondsDifference = Math.floor(difference/1000);
         diffhh = 23-hoursDifference
         diffmm = 60-minutesDifference
         total_min_diff=((Number(diffhh)*60) + Number(diffmm))
         deducted_minute =  Number(total_session_time) - Number(total_min_diff)
         total_session_time=deducted_minute
         
  }
function date_validation(name)
  {
     str1 = name.substring(9)
     str = name.substring(0,3)
     var reset = 0
     //last_start_time = str1   
      
     if (str == 'sta')
       {set_date(name)}
     

     if (str == 'end')
       {  
              if (!str1)
	            {  
	               start_time = new Date($('#start_time').datetimepicker('getDate')) 
	               end_time   = new Date($('#end_time').datetimepicker('getDate'))  
	            }
	          if(str1)
	            {
	                start_time = new Date($('#start_time'+ '_' + last_start_time).datetimepicker('getDate')) 
	                end_time   = new Date($('#end_time' + '_' + last_start_time).datetimepicker('getDate'))
	            } 
	          
	           if (total_session_time == 0) 
	             {
	                reset_time(name)
                   reset = 1
                 }
              if (reset == 0)   
	           {check_remaining_time(start_time,end_time)}
	           
	           if ( Number(last_start_time) > Number(str1))
				     { 
			     		enable_start_time_end_time(name) 
				     	last_start_time=str1

				     }


	           if (total_session_time > 0)
	            {
	                GenerateSplits()
	                datetime()
	                
	            } 
	          else if (total_session_time < 0)
	            {
		              if (last_start_time)
		               {
			              document.getElementById('start_time' + '_' +last_start_time ).value=""
			              document.getElementById('end_time' + '_' +last_start_time ).value=""
			               reset_time(name)  
                 }
				      if (!(last_start_time))
				       { 
				          document.getElementById('start_time').value=""
			            document.getElementById('end_time').value=""
			            total_session_time = $('#session_of option:selected').attr('minutes') 

                 }
			            	
		             		      
	            }       
	            
	            
        }
 append_time()       
 enable_submit()
 $("#iteration").attr('value',Number(last_start_time) + 1)
}  
function set_date(name)
 {
  str = name.substring(11)
  if (!str)
     {
       $("#end_time").datepicker('option','minDate', $("#start_time").datetimepicker('getDate'));
       $("#end_time").timepicker('option','minDate', $("#start_time").datetimepicker('getDate'));
       $("#end_time").timepicker('option','hourMin', $("#start_time").datetimepicker('getDate').getHours());
	   $("#end_time").timepicker('option','minuteMin',$("#start_time").datetimepicker('getDate').getMinutes());
     } 
    if (str)
     {
       
        $("#end_time_"+str+"").datepicker('option','minDate', $("#start_time_"+ str +"").datetimepicker('getDate'));
        $("#end_time_"+str+"").timepicker('option','minDate', $("#start_time_"+ str +"").datetimepicker('getDate'));
        $("#end_time_"+str+"").timepicker('option','hourMin', $("#start_time_"+  str +"").datetimepicker('getDate').getHours());
	    $("#end_time_"+str+"").timepicker('option','minuteMin',$("#start_time_"+ str +"").datetimepicker('getDate').getMinutes());
	    }
 }

 
function reset_time(name)
 {
   total_session_time = $('#session_of option:selected').attr('minutes') 
    
    str1 = name.substring(9)
   /*for (i=0;i<=last_start_time;i++) 
    {*/
     var i = 0 
     if(!(str1))
     {
      
      start_time = new Date($('#start_time').datetimepicker('getDate')) 
		           end_time   = new Date($('#end_time').datetimepicker('getDate'))  
		  			check_remaining_time(start_time,end_time)
		    

     }
     if(str1)
     {
      while(Number(i) != Number(str1) + 1 )
      {
      
       if (i == 0)
	         {  
		           start_time = new Date($('#start_time').datetimepicker('getDate')) 
		           end_time   = new Date($('#end_time').datetimepicker('getDate'))  
		  			check_remaining_time(start_time,end_time)
		     }
       else
	         {
		          
              if  ($('#start_time'+ '_' + i).val() != ""){ 
		            start_time = new Date($('#start_time'+ '_' + i).datetimepicker('getDate')) 
		            end_time   = new Date($('#end_time' + '_' + i).datetimepicker('getDate'))
		            check_remaining_time(start_time,end_time)
                }
	         	
	         }
	      i= Number(i)+1
       } 
    /*}*/
   }
 }
$("#nussd_course_name").change(function(){

  var course_type=$("#nussd_course_name").val()  
  var course_name=$("#nussd_course_name option:selected ").text()
  $('#course_name').val(course_name)
  $.ajax({
  
            url: "{% url 'fetch_course_batches' groupid 'course_type' %}".replace('course_type',String(course_type)),
            type: "GET",
            success: function(data){
            courses=JSON.parse(data)},
            complete:function(){
            $('#event_has_batch').empty()
            $('#event_has_batch').append($("<option></option>").attr("value","Select Course Name").text("--- Select Batch ---"))
            if(courses != "")
              {
                    $.each(courses, function(key,val) {
                          $('#event_has_batch').append(
                          $("<option></option>")
                          .attr("id", "coursename_"+key.id)
                          .attr("value",val.id)
                          .text(val.name)
                          );
                     });
                    document.getElementById('event_has_batch').disabled = "";
                    }
                    else
                    {
                    alert("No Batches Found")
                    document.getElementById('nussd_course_name').disabled = "";
                    $('#Module-session-section').hide()
                    $('#event_has_batch').attr('disabled','True')
                    $('#view').attr('disabled','True')
                    }
             } 
        });
});

$("#event_has_batch").change(function(){
  
  Enable_Elements()
  var batch_name=$("#event_has_batch option:selected ").text()
  $('#batch_name').val(batch_name)
  var course_type=$("#event_has_batch").val()  
  $.ajax({
            url: "{% url 'fetch_batch_student' groupid 'course_type' %}".replace('course_type',String(course_type)),
            type: "GET",
            success: function(data){
                courses=JSON.parse(data)},
            complete:function()
             {
                    if(courses != "")
                     {
                        $('#has_attendees').empty()
                        $.each(courses, function(key,val)
                          {
                            $('#has_attendees').append
                               (
                                    $("<option></option>")
                                    .attr("id", "coursename_"+key.id)
                                    .attr("value",val.id)
                                    .attr("selected","selected")
                                    .text(val.name)
                                    
                                );
                          });
                      }
              } 
          });
});



$("#Module_of").change(function(){
  
  var course_type=$("#Module_of").val()  
  var Module_of=$("#Module_of").text()
  $("#Module_name option:selected ").val(Module_of)
  $.ajax({
            url: "{% url 'fetch_course_session' groupid 'course_type' %}".replace('course_type',String(course_type)),
            type: "GET",
            data:{"app_set_id":'{{app_set_id}}',
                  'batchid':$("#event_has_batch").val(),
                 },
            success: function(data)
            {
              
              courses=JSON.parse(data)
            },
            complete:function()
             {
                    if(courses != "")
                     {
                           $('#session_of').empty()
                           $('#session_of').append($("<option></option>").attr("value","Select Session Name").text("--- Select Session ---"))
                            $.each(courses, function(key,val)
                             {
                                $('#session_of').append(
                                 $("<option></option>")
                                  .attr("id", "coursename_"+key.id)
                                  .attr("minutes",val.minutes)
                                  .attr("value",val.id)
                                  .text(val.name)
                                  );
                              });
                            document.getElementById('session_of').disabled = "";
                      }
                   else
                     {
                        document.getElementById('session_of').disabled = "True";
                        alert("No Session Found!!!")
                     }     
              }
           
      });



});



var total_session_time = 0
var deducted_minute = 0

$("#session_of").change(function(){
  total_session_time = $('#session_of option:selected').attr('minutes')
  var session_of=$('#session_of option:selected').text()
  $("#Session").val(session_of)
  document.getElementById('event_coordinator').disabled = "";      
  append_time() 
});


function enable_submit()
{
    vt_selected_index = $("#event_coordinator :selected").index();
    if (total_session_time == 0 && vt_selected_index != 0 )
       {
          document.getElementById('submit').disabled = "";      
       }
    else 
       {
          document.getElementById('submit').disabled = true;      
       }

    
}


$('#event_coordinator').change(function(){
  
 enable_submit()
});


$("#nussd_course_type").change(function(){
  clear_Disable_Elements()
  var course_type=$("#nussd_course_type").val()
  var courses=""
  $("#course_type").val(course_type)
  
  $.ajax({
              url: "{% url 'get_announced_courses_with_ctype' groupid  %}",
              type: "GET",
              dataType: "json",
              data:{'nussd_course_type':course_type},
              success: function(data)
              {
                  ac_data = data["acourse_ctype_list"]
                  ac_message=data.message
                  if(ac_data)
                   {courses = JSON.parse(ac_data)
                   }
              },
             complete:function()
             {
                    if(courses != "")
                    {
                           $('#nussd_course_name').append($("<option></option>").attr("value","Select Course Name").text("--- Select Course Name ---"))
                           $.each(courses, function(key,val) 
                            {
                                   se = val["_id"];
                                   ac_name=val["name"];
                                   $('#nussd_course_name').append(
                                   $("<option></option>")
                                   .attr("id", "coursename_"+se)
                                   .attr("value",se)
                                   .text(ac_name)
                                      );
                                document.getElementById('nussd_course_name').disabled = "";
                            });
                            
                    }
                    else
                    {
                          alert(ac_message)
                    }
                        
             }
                   
       });
});

$("#view").click(function(){

  if(!$("#nussd_course_name").val()  || ($("#nussd_course_name").val() == "Select Course Name"))
  {
      alert("Please Select Course Name")
  }
  else
   {
        var sel_coursename=$("#nussd_course_name").val();
        $('#Module-session-section').show()
        $.ajax({
                  url: "{% url 'fetch_course_Module' groupid 'sel_coursename' %}".replace('sel_coursename',String(sel_coursename)),
                  type: "GET",
                  data:{'batchid':$("#event_has_batch").val()},
                  datatype:"json",
                  success: function(data)
                   {
                      courses=JSON.parse(data)
                      course=JSON.parse(courses.Module)
                      trainer=JSON.parse(courses.trainer)
                   },
                  complete:function()
                    {
                        if(course != "")
                           {
                                    $('#Module_of').empty()
                                    $('#Module_of').append($("<option></option>").attr("value","Select Module Name").text("--- Select Module ---"))
                                    $.each(course, function(key,val) {
                                    $('#Module_of').append(
                                    $("<option></option>")
                                        .attr("id", "coursename_"+key.id)
                                        .attr("value",val.id)
                                        .text(val.name)
                                     );
                                  });
                                  Enable_Elements()
                           }  
                        else
                         {
                              alert("No Module Exists for this Course type!!!")
                              $('#Module-session-section').hide();
                         }   
                        if (trainer!="")
                         {   
                               $('#event_coordinator').empty()
                               $('#event_coordinator').append($("<option></option>").attr("value","Select Trainer").text("--- Select Trainer ---"))
                               $.each(trainer,function(key,val){
                                    $('#event_coordinator').append(
                                       $("<option></option>")
                                        .attr("id", "coursename_"+key.id)
                                        .attr("value",val.id)
                                        .text(val.name)
                                        );
                                        
                                      });   
                                
                          }
                        else
                          {
                             $('#Module-session-section').hide();
                             alert("No Trainers have being Assinged to this Course !!!")
                              
                          }
                   } 
              });
      }
 });     

  function datetime()
   { 
    currentDate = new Date();
    var currentDay = currentDate.getDate();
    var currentMonth = currentDate.getMonth();
    var currentYear = currentDate.getFullYear();

   $(".date_month_day_year").datetimepicker({
       
      changeMonth: true,
      dateFormat: 'dd/mm/yy',
      
      
      maxDate: '+2m',
      defaultDate: '0',
      hourGrid: 6,
      minuteGrid: 15,
      onClose: function(dateText, inst) {
        $(this).val(dateText);
        
         if ( '{{title}}' != 'Exam' )
        {
          date_validation($(this).attr('name'))
          
        }  
        else
        {
          enable_submit()
        }  
          
        

        var month_year = $(this).val();
        day = currentDay;
        month = currentMonth;
        year = currentYear;
      },

      beforeShow: function() {
        var month_year = $(this).val();
        day = currentDay;
        month = currentMonth;
        year = currentYear;

        if (month_year) {
          month_year = month_year.split("/");
          day = parseInt(month_year[0]);
          month = parseInt(month_year[1]);
          year = parseInt(month_year[2]);
        }
        $(this).datetimepicker('option', 'defaultDate', new Date(year, (month-1), day));
        $(this).datetimepicker('setDate', new Date(year, (month-1), day));
      },
    });
  }

$("#submit").click(function() {

  $('article').block({ 
    message: '<h4>Processing... Please wait!</h4>',
    css: { 
      border: 'none', 
      padding: '15px', 
      color: '#fff !important', 
      backgroundColor: '#10c1cb !important', 
      '-webkit-border-radius': '10px', 
      '-moz-border-radius': '10px', 
      opacity: 1.0
    }
  });
});

{% endblock %}



