{% extends "ndf/mis_base_create_edit.html" %}
{% load i18n %}
{% load ndf_tags %}
{% load pagination_tags %}

{% block style %}
// <style type="text/css">
.divider-line { font-size: xx-large; color:lightgray; }
.line-height-2 { line-height:2; }
.line-height-2pt5 { line-height:2.5; }
.fontsize-x-large { font-size: x-large; }

.margin-0 { margin: 0 !important ;}

.resource-drawer { 
  border-color: #D3D3D3; border-style: solid; 
  padding: 0 !important; 
  overflow-y: auto;
}

.resource-drawer li.bullet-item:hover{
  background-color: #ecf0f1; cursor:pointer;
}

.posted-by{ color: #808080; font-size: small; }

.selected-resource { background-color:lightgray !important ; }

.resource-type-image {
  height:40px;    
  background-repeat:no-repeat; background-size: 48px 48px
}

// </style>
{% endblock %}

{% block body_content %} 
  <form data-abide enctype="multipart/form-data" id="form-edit-node" method="POST" action="">

    <header class="row">
      <h2 class="medium-12 columns">
        {% if node %}
        {% trans "Editing" %} {{title}}: {{node.name}}
        {% else %}
        {% trans "Register a New" %} {{title}}
        {% endif %}
      </h2>
      <nav class="medium-12 columns">
        <dl class="tabs" data-tab>
          <dd>
            {% blocktrans %}<h4>Tabs:</h4>{% endblocktrans %}
          </dd>

          {% for tab_details in property_order_list %}
          <dd {% if forloop.counter == 1 %}class="active"{% endif %} title="Click here to {{tab_details.0}} details...">
            <a href="#panel_{{tab_details.0}}">{{tab_details.0}}</a>
          </dd>
          {% endfor %}

          <!-- Add more tabs below 
          <dd title="Click here to add/edit...">
            <a href="#panel_?" class="tab_?">Prior Node</a>
          </dd>
          -->
        </dl>
      </nav>
    </header>

    {% csrf_token %}

    <br>
    <div id="event-details-edit-div" class="tabs-content" >
      {% for tab_name, tab_fields_list in property_order_list %}
      <div class="{% if forloop.counter == 1 %}active {% endif %}content row" id="panel_{{tab_name}}">
        {% for field in tab_fields_list %}
        <div class="row">
          <div class="small-3 columns"> 
            <label for="{{field.name}}" class="left inline"> {{field.altnames}} </label>
          </div>
          <div class="small-9 columns">
            {% html_widget groupid node.pk field %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}

      <!-- Additional panels if required
      <div class="" id="panel_?">
      </div>
      -->
      <input type="hidden" id="name" name="name" value="">
    </div>

    <br>
    <div class="row">
      <div class="small-4 small-offset-2 end columns">
        <input type="submit" id="save-node" class="small button expand" value="Save" />
      </div>
    </div>    

  </form>

{% endblock %}

{% block script %}
  // <script type="text/javascript">

  var currentYear = (new Date()).getFullYear()
  lowerYearRange = currentYear - 80;
  upperYearRange = currentYear + 20;

  $(function() {
    $(".date_month_day_year").datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "" + lowerYearRange + ":" + upperYearRange
    });

    $(".date_year").datepicker({
      changeYear: true,
      dateFormat: 'yy',
      yearRange: "" + lowerYearRange + ":" + upperYearRange,

      onClose: function(dateText, inst) {
        $(this).val(dateText)
      },

      beforeShow: function() {
        var year = $(this).val();
        if (year) {
          $(this).datepicker('option', 'defaultDate', new Date(year, 1, 1));
          $(this).datepicker('setDate', new Date(year, 1, 1));
        }
      },

      onChangeMonthYear: function(year, month, inst){
        $(this).val(year)
      }
    });

  });

  $(document).on('focus click', '.date_year' ,function(){
    $(".ui-datepicker-calendar").hide();
    $(".ui-datepicker-month").hide();
    $(".ui-datepicker-prev").hide();
    $(".ui-datepicker-next").hide();
    $("#ui-datepicker-div").position({
      my: "center top",
      at: "center bottom",
      of: $(this)
    }); 
  });

// State-wise District selection ------------------------------------------------------------------------

  // Disable District field, later on will be enabled after a state is selected
  $("select#person_belongs_to_district").attr('disabled', 'disabled')

  $("select#person_belongs_to_state").change(function() {
    // Get selected State's value (ObjectId) and selected-index
    selected_state_id = $(this).val()
    selected_state_index = this.selectedIndex

    if (selected_state_index != 0) {
      // Perform this only when a State is selected
      // Ajax call that fetches all Districts belonging to selected State
      $.ajax({
        url:"{% url 'get_districts' groupid %}",

        data: {
          state_id: selected_state_id
        },

        type: "GET",

        dataType: "json",

        complete: function () {
          // Enable District field
          $("select#person_belongs_to_district").removeAttr('disabled')
        },

        success: function (data) {
          if (data.hasOwnProperty("message")) {
            // Pops-up only when there is any error found during the ajax call
            alert(data["message"])
          }

          else {
            // First empty all values of District field (dropdown/select)
            $("select#person_belongs_to_district").empty();

            // Make very first entry as given below
            $("select#person_belongs_to_district").append(
                $("<option></option>")
                  .attr("value", "")
                  .text("- - - Select district - - -")
            );

            // Fill returned district values based on which state is selected
            $.each(data, function(i, value) {
              $("select#person_belongs_to_district").append(
                $("<option></option>")
                  .attr("value", value[0])
                  .text(value[1])
              );
            });

            // Set very first entry so that user doesn't forgets to select a value
            $("select#person_belongs_to_district").prop("selectedIndex", 0);
          }
        }
      });
    }

    else {
      // If state is not selected or changed back to very first element from State's dropdown
      // then set even District field's value to very first entry and disabled it until user again selects any state
      $("select#person_belongs_to_district").prop("selectedIndex", 0);
      $("select#person_belongs_to_district").attr('disabled', 'disabled')
    }
  });

// Tranferring values from multiple selection widget into outer dropdown --------------------------------
  $(document).on('closed', '[data-reveal]', function () {
    /*
     *  On closing of reveal-modal
     */
    var widget_for = $(this).attr('id').replace('_modal', '')

    // First empty all values of District field (dropdown/select)
    $("select#" + widget_for).empty();

    // Fetching class name of hidden input element(s) of drawer2 from corresponding drawer-widget
    class_value = ".node_id." + widget_for + "_values"
    right_drawer_len = $(class_value).size()

    if (right_drawer_len > 0) {
      $(class_value).each(function (){
        // ObjectId & name of the resource inside drawer2 from corresponding drawer-widget
        // alert("value : " + $(this).val() + " -- " + $(this).attr('name'));
        resource_id = $(this).val()
        resource_name = $(this).attr('name')

        // Make very first entry as given below
        $("select#" + widget_for).append(
            $("<option></option>")
              .attr("value", resource_id)
              .attr("selected", "selected")
              .text(resource_name)
        );
      });
    }

    else {
      // Make very first entry as given below
      $("select#" + widget_for).append(
          $("<option></option>")
            .attr("value", "")
            .text("- - - Select - - -")
      );
    }
  });

// On click of save --------------------------------------------------------------------------
  $("#save-node").click(function() {
    
  // Store concatenated first, middle & last name field's values into name field (hidden input field)
    name = ""
    first_name = $("#first_name").val().trim()
    middle_name = $("#middle_name").val().trim()
    last_name = $("#last_name").val().trim()

    name = first_name
    if (middle_name != "") {
      name = first_name + " " + middle_name
    }

    if (last_name != "") {
      name = name + " " + last_name
    }

    $("#name").val(name)

  // Enable any disabled field
  
    $("select#person_belongs_to_district").removeAttr('disabled')
  });

// totWhen ---------------
  var totWhen = $("#tot_when")

  if(totWhen.length > 0) {
    totWhen.datetimepicker();
    $(totWhen).after('&nbsp;<input class="button tiny" type="button" value="Add Date"><br/>')
    $("input.tiny").after("<div id='tot-when-date-list'></div>")
  }

  $(totWhen).change(function() { 

    if($(totWhen).val().length > 0) {
      $("input.tiny").removeClass("disabled");
    }

    else {
      $("input.tiny").addClass("disabled");
    }
  });

  $("input.tiny").click(function() {
    if(!$(this).hasClass("disabled")) {
      $("#tot-when-date-list").append('<span class="secondary label" style="margin-right:5px;"><span class="date-item">'+$(totWhen).val()+' </span><span style="font-size:large; cursor:pointer;" onclick="$(this).parent().remove();">&times;</span></span>');
      // $(totWhen).val("");
      // alert(getTotWhen())
      $(totWhen).val(getTotWhen());
      $("input.tiny").addClass("disabled");
    }
  });

  function getTotWhen() {
    var datesList = []
    dts = $("#tot-when-date-list .date-item");
    $.each(dts, function(i, val){datesList.push($(val).text().trim())});

    return datesList;
  }
  // </script>

{% endblock %}
