	<script type="text/javascript" src ="/static/ndf/bower_components/d3/d3.js"></script>


	<script type="text/javascript">
		
		var g = "{{datavisual}}";

		var m =g.replace(/&quot;/gi,'"');

		var dataset = [];
		var system_count = [];
		m = JSON.parse(m);
		var i = m.length;
		
		for (var i =0 ; i < m.length ; i+=1)
		{
			dataset.push(m[i]);
		//	alert(m[i]);
		}

		for (var i = 0 ; i < dataset.length ; i += 1)
		{
			system_count.push(dataset[i].count);
		}

		var w= 270;
		var h = 350;
		var colorScale = d3.scale.category10();


		var outerRadius = w/2
		var innerRadius = 75;
		var arc = d3.svg.arc()
		.innerRadius(innerRadius)
		.outerRadius(outerRadius);

		var pie_svg = d3.select("#pie_visual")
		.append("svg")
		.attr("height",h)
		.attr("width",w);

		var pie = d3.layout.pie().sort(null);

		var p = pie(system_count);
		//alert(p);
		var arcgrp = pie_svg.selectAll("g.arc")
		.data(p)
		.enter()
		.append("g")
		.attr("class","arc")
		.attr("transform","translate(" + outerRadius + "," + outerRadius + ")");

		arcgrp.append("path")
		.attr("d",arc)
		.on("mouseover", function(d,i) {

					//Get this bar's x/y values, then augment for the tooltip
					var xPosition = arc.centroid(d)[0] + 85 ;//+ xScale.rangeBand() / 2;
					var yPosition = arc.centroid(d)[1] + 225 ;// 2 + h / 2;

					//Update the tooltip position and value
					tips = d3.select("#tooltip")
					.style("left", xPosition + "px")
					.style("top", yPosition + "px")						
					.select("#tip-value")
					.text(dataset[i].name+ " : " + system_count[i]);
					

					//Show the tooltip
					d3.select("#tooltip").classed("hidden", false);

					d3.select(this)
					.attr("fill","yellow");

				})
			.on("mouseout", function(d,i) {

				d3.select(this)
				.transition()
				.duration(250)
				.attr("fill", color(i));
					//Hide the tooltip

					d3.select("#tooltip").classed("hidden", true);
					
				})
		.transition()
		.ease("bounce")
		.duration(2000)
		.attrTween("d", tweenPie)
		.transition()
		.ease("elastic")
		.delay(function(d, i) { return 2000 + i * 50; })
		.duration(750)
		.attrTween("d", tweenDonut);

		function tweenPie(b) {
			b.innerRadius = 0;
			var i = d3.interpolate({startAngle: 0, endAngle: 0}, b);
			return function(t) { return arc(i(t)); };
		}

		function tweenDonut(b) {
			b.innerRadius = outerRadius * .6;
			var i = d3.interpolate({innerRadius: 0}, b);
			return function(t) { return arc(i(t)); };
		};

		arcgrp.data(system_count)
		.attr("fill", function(d){ return colorScale(d);});

</script>
