{% load ndf_tags %}
{% load i18n %}
{% get_group_name groupid as group_name_tag %}

<style type="text/css">
	.quiz_qtn{
		margin-left:20px !important;
		font-size: 20px;
	}

	input[type=checkbox], input[type=radio]{
	    margin-right: 10px;
	    width: 15px;
		height: 15px;
	}

	.chk_ans_lbl, .rad_ans_lbl{
		font-size: 22px;
		margin-left: 5px;
	}

	.fi-check{
		color: green;
	}

	.fi-x{
		color: red;
	}
</style>

<div class="row">
	<fieldset>
		<legend>
			<label>Question</label>
		</legend>

		<div class="row">
			<div class="quiz_qtn">
				<b>{{node.content_org}}</b>
				<div class="quiz_qtn">
					{% if node.quiz_type == "Single-Choice" %}
						{% for each_opt in node.options %}
							<input type="radio" name="single_quiz_ans"  value="{{each_opt}}"
							{% if forloop.counter in node.correct_answer %}
								class="single-choice" id="opt_{{forloop.counter}}">{{each_opt}}<span class='fi-check hide rad_ans_lbl'></span>
							{% else %}
								class="single-choice" id="opt_{{forloop.counter}}">{{each_opt}}<span class='fi-x hide rad_ans_lbl'></span>
							{% endif %}
							<br/>
						{% endfor %}
						<div class="row">
							<input type="button" value="Check" class="button tiny check-ans radius single-choice-chk">
							{% if node.quizitem_show_correct_ans %}
								<input type="button" value="Show Answer" class="button tiny radius show-ans-btn hide">
							{% endif%}
						</div>
					{% elif node.quiz_type == "Multiple-Choice" %}
						{% for each_opt in node.options %}
							<input type="checkbox" name="multi_quiz_ans" value="{{each_opt}}"
							{% if forloop.counter in node.correct_answer %}
								class="multi-choice" id="opt_{{forloop.counter}}">{{each_opt}}<span class='fi-check hide chk_ans_lbl'></span>
							{% else %}
								class="multi-choice"  id="opt_{{forloop.counter}}">{{each_opt}}<span class='fi-x hide chk_ans_lbl'></span>
							{% endif %}
							<br/>
						{% endfor %}
						<div class="row">
							<input type="button" value="Check" class="button tiny check-ans radius multi-choice-chk">
							{% if node.quizitem_show_correct_ans %}
								<input type="button" value="Show Answer" class="button tiny radius show-ans-btn hide">
							{% endif%}
						</div>
					{% elif node.quiz_type == "Short-Response" %}
						<textarea rows="4" cols="50" name="single_choice_{{node.pk}}" placeholder="Enter answer here" class="short_ans_txt"></textarea>
						<input type="button" value="Submit" class="button tiny radius short-ans_chk">
						<br/>

					{% endif %}
				</div>
			</div>
		</div>
	</fieldset>
</div>

<script type="text/javascript">

	$(".multi-choice-chk").click(function(){
		if($(this).val() == "Check"){
			var selected_ans = $('input:checkbox:checked')
			all_ans = []
			if( selected_ans.length > 0){
				$.each($('.multi-choice:checked'), function(a,b){
					all_ans.push(b.id)
					n = b.nextSibling.nextSibling
					n.classList.remove("hide")
				})
				console.log(all_ans)
		        $.ajax({
		          url: "{% url 'save_quizitem_answer' group_id %}",

		          data: {
		            node: "{{node.pk}}",
		            all_ans: all_ans,
		            'csrfmiddlewaretoken': "{{csrf_token}}"
		          },

		          type: "POST",

		          dataType: "json",

		          success: function(data){
	            	console.log("success")
              		window.location.replace("{{group_id}}")
              		// window.history.pushState("", "", "/{{group_id}}"+"?selected={{node.prior_node.0}}");
		          },

		        });//end of ajax

				$(".multi-choice-chk").val("Clear")
				$(".show-ans-btn").removeClass("hide")
			}
			else{
				alert("Please select an answer")
			}
		}
		else if ($(this).val() == "Clear"){
			hide_post_chk_act();
		}
	})

	$('input:checkbox').change(function() {
		if($(".multi-choice-chk").val() == "Clear"){
			hide_post_chk_act();
			$(this).prop("checked", true)
		}
	})

	function hide_post_chk_act(){
		$('input:checkbox').removeAttr('checked')
		$(".chk_ans_lbl").addClass("hide")
		$(".multi-choice-chk").val("Check")
		$(".show-ans-btn").addClass("hide")
	}

	$(".single-choice-chk").click(function(){
		if($(this).val() == "Check"){
			var selected_ans = $('input:radio:checked')
			console.log(selected_ans.val())
			all_ans = []
			if(selected_ans.length > 0){
				$.each($('.single-choice:checked'), function(a,b){
					all_ans.push(b.id)
					n = b.nextSibling.nextSibling
					n.classList.remove("hide")
				})
				console.log(all_ans)
		        $.ajax({
		          url: "{% url 'save_quizitem_answer' group_id %}",

		          data: {
		            node: "{{node.pk}}",
		            all_ans: all_ans,
		            'csrfmiddlewaretoken': "{{csrf_token}}"
		          },

		          type: "POST",

		          dataType: "json",

		          success: function(data){
	            	console.log("success")
              		window.location.replace("{{group_id}}")
              		// window.history.pushState("", "", "/{{group_id}}"+"?selected={{node.prior_node.0}}");
		          },

		        });//end of ajax

				$(".single-choice-chk").val("Clear")
				$(".show-ans-btn").removeClass("hide")
			}
			else{
				alert("Please select an answer")
			}
		}
		else if ($(this).val() == "Clear"){
			hide_post_rad_act();
		}
	})

	$('input:radio').change(function() {
		if($(".single-choice-chk").val() == "Clear"){
			hide_post_rad_act();
			$(this).prop("checked", true)
		}
	})

	function hide_post_rad_act(){
		$('input:radio').removeAttr('checked')
		$(".rad_ans_lbl").addClass("hide")
		$(".single-choice-chk").val("Check")
		$(".show-ans-btn").addClass("hide")
	}

	$(".show-ans-btn").click(function(){
		$(".fi-check").removeClass("hide")
	})
	$(".short-ans_chk").click(function(){

		short_ans = $(".short_ans_txt").val();
        $.ajax({
          url: "{% url 'save_quizitem_answer' group_id %}",

          data: {
            node: "{{node.pk}}",
            short_ans: short_ans,
            'csrfmiddlewaretoken': "{{csrf_token}}"
          },

          type: "POST",

          dataType: "json",

          success: function(data){
        	console.log("success")
      		window.location.replace("{{group_id}}")
      		// window.history.pushState("", "", "/{{group_id}}"+"?selected={{node.prior_node.0}}");
          },

        });//end of ajax
	})


</script>