{% extends "ndf/node_edit_base.html" %}
{% load i18n %}
{% block meta_content %}

<h3 class="subheader">{% trans "Quiz Editor" %}</h3>

{% blocktrans %}<p class="text-justify">A <b>Quiz</b> is a sequenced collection of <b>quiz items</b>. A quiz-item can be any of the three types: <strong><i>short response, single-choice</i></strong> and <strong><i>multiple-choice</i></strong>. <i>submit response</i> and <i>match the following</i> types will be implemented very soon.</p>
    <p class="text-justify">You can build a quiz in two ways:
      <ol  class="text-justify">
	<li>By editing, Quiz node (via collection-list).</li>
	<li>By using 'Quiz-Item' button corresponding to the Quiz.</li>
      </ol>    </p>
{% endblocktrans %}

{% endblock %}
