{% extends "ndf/base.html" %}
{% load ndf_tags %}
{% block title %} {{title}} {% endblock %}

{% block meta_content %}


    <p class="text-justify">A <b>Quiz</b> is a sequenced collection of <b>quiz items</b>. A quiz-item can be any of the three types: <strong><i>short response, single-choice</i></strong> and <strong><i>multiple-choice</i></strong>. <i>submit response</i> and <i>match the following</i> types will be implemented very soon.</p>

    <p class="text-justify">You can build a quiz in two ways:
      <ol  class="text-justify">
	<li>By editing, Quiz node (via collection-list).</li>
	<li>By using 'Quiz-Item' button corresponding to the Quiz.</li>
      </ol>
    </p>



<p><h5>Number of Quiz nodes: <b>{{ quiz_nodes_count }}</b></h5></p>




{% endblock %}

{% block body_content %} 
{% get_group_name groupid as group_name_tag %}
<header class="row">
  <h2 class="medium-12 columns">Quiz

  </h2>

  <div class="medium-12 columns">
   <!-- Add button -->
   {% if user.is_authenticated %}
    <a href="{% url 'quiz_create' group_name_tag %}" class="button small">+ Add {{title}}</a>
    <a href="{% url 'quiz_item_create' group_name_tag %}" class="button small">+ Add {{title}} Item</a>
  {% endif %}
</div>
</header>

<div class="row">

  <!-- column-left for Quiz -->
  <div class="small-5 columns">

    <h5>Quiz</h5>
    {% for node in quiz_nodes %}
      {% if node.created_by == request.user.pk %}  
    <div class="row">

      <div class="small-8 columns">
       <label class="inline"><strong><a href="{% url 'quiz_details' group_name_tag node %}">{{ node.name }}</a></strong></label>
     </div>

     {% if user.is_authenticated %}
     <div class="small-4 columns">
       <a href="{% url 'quiz_item_create' group_name_tag %}">
         <input type="button" class="button small" style="float:right;" value="+ Add Quiz Item" />
       </a>
     </div>
     {% endif %}

   </div>
   {% else %}
    {% if node.access_policy == "PUBLIC" %}
      <div class="row">

      <div class="small-8 columns">
       <label class="inline"><strong><a href="{% url 'quiz_details' group_name_tag node %}">{{ node.name }}</a></strong></label>
     </div>

     {% if user.is_authenticated %}
     <div class="small-4 columns">
       <a href="{% url 'quiz_item_create' group_name_tag %}">
         <input type="button" class="button small" style="float:right;" value="+ Add Quiz Item" />
       </a>
     </div>
     {% endif %}

   </div>
    {% endif %}
    {% endif %}
   {% empty %}
   <div class="row">

    <div class="small-12 columns">
     <p>No quiz found!</p>
   </div>

 </div>
 {% endfor %}

</div>

<!-- column-right for Quiz-Items -->
<div class="small-7 columns" >

  <h5>Quiz Items</h5>
  {% for node in quiz_item_nodes %}
  <div class="row" style="padding-left:8px;">

    <div class="small-12 columns">
     <label><strong><a href="{% url 'quiz_details' group_name_tag node %}">{{ node.html_content|safe|truncatewords:30 }}</a></strong></label>
   </div>

 </div>

 {% empty %}
 <div class="row">

  <div class="small-12 columns">
   <p>No quiz items found!</p>
 </div>

</div>
{% endfor %}

</div>
</div>


{% endblock %}

