{% extends "ndf/base.html" %}
<script type = "text/javascript" src = "/static/ndf/js/jquery2.js">
</script>
<!--<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>-->
{% block body_content %}
<form name="search_form" action="{% url 'get_relation_type' groupid %}" method="GET" >
	{% csrf_token %}
	Enter the value to be searched:
	<input type="text" name="search_text" id="search_text" list="datalist1" required>
	<input type="submit" value="Submit"></input>	
	<div id="suggestions" >
	</div>

</form>

<script type="text/javascript">
	var GSystem_name = [];
	$("#search_text").keyup(function(e){
		//console.log(e.which);
		var searchKey = $("#search_text").val();
		words = searchKey.split(' ');
		cur_word = words[words.length-1];
		already_typed = "";
		pref = "";

		if (words.length != 1) {
			//console.log('not zero'+words);
			for (i=0;i<words.length-1;i++) {
				already_typed += ' ' + words[i];
			}
			pref = already_typed;
		}
		else {
			//console.log('zero');
			already_typed = searchKey;
			pref = "";
		}

		if (already_typed != "" && cur_word != "") {
			$.ajax({
				url:"{% url 'get_relations_for_autoSuggest' groupid %}",
				type:"GET",
				dataType:"JSON",
				data:{
					sVal:cur_word,
					prefix:pref
				},
				success:function(data){
					//var str = "<select size='5' id='autocomplete' onChange='changed_val()'>";
					var str = "<datalist style='color:#fff' id='datalist1'>";
					for(i=0;i<data.length;i++){
						str += "<option value='" + data[i] + "'>"; 
					}
					str += "</datalist>";			
					console.log(data);
					//dataVals = ["one", "two", "three"];
					$("#suggestions").html(str);
					//$( "#search_text" ).autocomplete({
					//	source: data
					//});
				},
				failure:function(data){
					alert('GOT AN ERROR');
				}			
			});
		}
		else {
			$("#suggestions").html("");
		}
		return false;
	});

	function changed_val() {
		$("#search_text").val($("#autocomplete").val().trim());
		console.log("click 2");
	}

</script>

{% endblock %}