{% load ndf_tags %}

<script type="text/javascript">

// Send the user's rating to the server on submit
$(document).on('click',"#rate_submit",function() {
    
surl="/{{node}}/ratings/add_ratings/";
userRating = $('input[name=rating]:checked').val();
nodeId=$(this).attr("data-node");

    
    $.ajax({
            url: surl,
            type: 'POST',
            data: {
                rating: userRating, node: nodeId, csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        
           success: function(data){
                           $("#ratings_div").html(data);          
                                 }
        
    }); 
    
});


</script>

<div id="ratings_div">

    
    
    <form>
  <fieldset>
    <legend>Rating</legend>
      <div class="rating-bar">
          
      <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
      <input type="radio" id="rating-4" name="rating" value="4" checked="checked" /><label for="rating-4">4</label>
    <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
  <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
<input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
<input type="radio" id="rating-0" name="rating" value="0" class="last" /><label for="rating-0">0</label>
           
          
    </div>
         
      
      <div>
      {% get_node_ratings node as ratings %}
{% if ratings %}
{% for key,val in ratings.items %}
{% ifequal key 'avg' %}
Average rating :<span class>{{val}}</span>

{% else %}
{{val}} vote
{% endifequal %}
{% endfor %}
{% else %}
No ratings yet !!
{% endif %}
{% if user.is_authenticated %}
      </div>
      
  </fieldset>
</form>
    


<br>
<input class="button tiny" id="rate_submit" data-node="{{node}}" type="submit" value="Rate it!!!">
{% endif %}
</div>
