{% load ndf_tags %}

<!-- Rating script only if user is logged in -->
{% if user.is_authenticated %}
<script type="text/javascript">

// Send the user's rating to the server on submit
$(document).on('click',"input[name=rating]",function() {
    
surl="/{{node}}/ratings/add_ratings/";
userRating = $('input[name=rating]:checked').val();
nodeId=$(".rating-bar").attr("data-node");

    
    $.ajax({
            url: surl,
            type: 'POST',
            data: {
                rating: userRating, node: nodeId, csrfmiddlewaretoken: '{{ csrf_token }}'
            },
        
           success: function(data){
                           $(".rating-bar .rating").html(data);          
                                 }
        
    }); 
    
});

</script>
{% endif %}


    
    <form>
  <fieldset>
    <legend>Rating</legend>
     
      
      
       <div class="rating-bar" data-node="{{node}}" data-value="{{val}}">
           
          <span>
      <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
      <input type="radio" id="rating-4" name="rating" value="4" checked="checked" /><label for="rating-4">4</label>
    <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
  <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
<input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
<input type="radio" id="rating-0" name="rating" value="0" class="last" /><label for="rating-0">0</label>
           </span>
           
           <div class="rating">
               
    {% get_node_ratings node as ratings %}
{% if ratings %}
               
{% for key,val in ratings.items %}
         
               
{% ifequal key 'avg' %}
Average rating :<span class="value">{{val}}</span>

{% else %}
{{val}} vote
{% endifequal %}
{% endfor %}
               
{% else %}
No ratings yet !!
{% endif %}
               
               </div>
          
    </div>
         
  </fieldset>
</form>
    
<!-- Render rating bar from value -->
<script type="text/javascript">
    var stars = Math.round($(".rating-bar").attr("data-value"));
    console.log(stars);
    
</script>
