{% load ndf_tags %}
{% block head %}

<!-- orgitdown! -->
<script type="text/javascript" src="/static/ndf/orgitdown/jquery.orgitdown-foundation.js"></script>
<!-- orgitdown! toolbar settings -->
<script type="text/javascript" src="/static/ndf/orgitdown/skins/gstudio/set.js"></script>
<!-- orgitdown! skin -->
<link rel="stylesheet" type="text/css" href="/static/ndf/orgitdown/skins/gstudio/style.css" />

<script type="text/javascript">
  $(document).ready(function(){
    $("#orgitdownreps{{eachrep}}").orgitdown(mySettings);
    $("#reply_forum{{eachrep}}").on("click",function(){
      document.getElementById('org{{eachrep}}').style.visibility='visible';
      $("#org{{eachrep}}").css("display","block");
    });
    $("#savereply{{eachrep}}").on("click",function(){
      var contento=$('#orgitdownreps{{eachrep}}').val()
      $('#orgitdownreps{{eachrep}}').val("");
      if (contento != "")
      {

        var repl=$("#rep{{eachrep}}").val();
        var thd=$("#thd{{eachrep}}").val();
        var twname=""
        var fid="{{forum}}"
        var gpid="{{groupid}}"
        var ajurl="/"+gpid+"/forum/add_node/"
        $.ajax({
          url: ajurl,
          type: 'POST',
          data: {node:'Reply',thread:thd,forumid:fid,supnode:repl,reply:contento,twistname:twname,csrfmiddlewaretoken: '{{ csrf_token }}'},
          beforeSend: function() {
            $("#ajax_load_image").show();
            $("#body").css({"opacity":"0.1",})
          },
          success: function(data){
            $("#ajax_load_image").hide();
            document.getElementById('org{{eachrep}}').style.visibility='hidden';
            $("#org{{eachrep}}").css("display","none");

            $('#refreshthread').html(data);
            $('a.close-reveal-modal').trigger('click');


          },

          complete: function(){
            $("#ajax_load_image").hide();
            $("#body").css({"opacity":"",})
          }
        })


      }
      else
        {alert("Reply can't be empty");}
      $('a.close-reveal-modal').trigger('click');

    });
});



</script>

<style type="text/css">
  .orgitdown{
    height:100px;
  }
  .orgitdownContainer{
    height:100px;
  }
  .orgitdownEditor{
    height:60px;
  }
</style>
{% endblock %}
<!-- end of head block -->

<!-- <input type="button" id="reply_forum{{eachrep}}" value="Reply" class="button"/> -->

<div class="row">
  <div class="small-2 columns">
    <button id="reply_forum{{eachrep}}" class="button large postfix" style="height: 2.5em;">
      Reply &nbsp;|&nbsp; <i class="fi-refresh"></i>
    </button>
 </div>
</div>

<div id="org{{eachrep}}" style="display:none">
  <div id="showorgeditor{{eachrep}}" class="orgcont" data-reveal="">
    Reply :
    <textarea id="orgitdownreps{{eachrep}}" name="content_org" placeholder="Please enter description..."></textarea>
    <input id="savereply{{eachrep}}" type="button" value="Save">
    <input type="hidden" id="rep{{eachrep}}" style="visibility:hidden" value="{{eachrep}}">
    <input type="hidden" id="thd{{eachrep}}" style="visibility:hidden" value="{{thread}}">
  </div>
</div>
