{% extends "ndf/base.html" %}
{% load i18n %}
{% load ndf_tags %}
{% load cache %}

{% cache 3600 repository request.LANGUAGE_CODE %}

{% block title %} Repository {% endblock %}

{% block style %}

	.card-holder{
		padding-left: 2%;
	}

	.app-card{
		width: 19rem;
		min-height: 10rem;
		margin: 40px 1rem;
		float: left;
		padding: 1em;	
		margin-left:1%;	
		height:18em;
	}

	.app-card:hover{
		box-shadow: 0px 0px 15px #808080;
		border: thin solid #D3D3D3;
		border-radius: 5px;
		transition: all 0.6s ease 0s;
	}

	.app-card-icon{
		color:#4c4c4c;
		position: relative;
		font-size: 6em;
		left:2%
		margin-top:-2em;
	}
	.app-card-title{
padding-bottom:-1em;
	}

	<!-- .repository-title{	
	    color:#D7D7D7;
		font-size: 1.5em;
		width:auto;
		background-color: rgba(0, 0, 0, 0.8);
		text-align:left;
		display:inline-block;
		margin-left:5px;
		position:relative;
		text-align:center;
	}
	.repository-desc{
	    font-size: 1.5em;
		width:auto;
		background-color:#E5E5E5;
		text-align:left;
		display:inline-block;
		color:#878787;
		position:relative;
	} -->

	.app-card-content{
		color:#4c4c4c;
		text-align:center;
		margin-top:0.5cm;
	}

{% endblock %}


{% block body_content %}
		<div class="repository-title large-4 columns">{% trans "Repository" %}
		</div>
		<div class="repository-desc large-8 columns">{% trans "Digital" %} {% trans "resources" %} {% trans "grouped in multiple ways" %}</div>
	
	<!-- <ul class="inline-list card-holder"> -->
	<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
		{% for each_gapp in gapps_obj_list %}
			<li>
				<a class="app-card text-center" 
				{% if each_gapp.name|lower == "event" %}
					href="{% url 'program' group_id %}"
				{% else %}
					href="{% url each_gapp.name|lower group_id %}"
				{% endif %}
				>
					<div class="app-card-title"><h4>{% firstof each_gapp.altnames each_gapp.name %}</h4></div>
					<div class="app-card-icon"><img src="{{ each_gapp.url }}" width="35%"></div>
					<div class="app-card-content">{{each_gapp.content_org|truncatechars:45 }}</div>
				</a>
			</li>
		{% endfor %}
		<li>
			<a class="app-card text-center" href="{% url 'partner_showcase' group_id %}">
				<div class="app-card-title"><h4>Partner Showcase</h4></div>
				<div class="app-card-icon"><img src="/static/ndf/images/partner-01.svg" width="35%" style="padding-top:-2em"></div>
				
					<div class="app-card-content">Contributions from institutions and individuals</div>
				
			</a>
		</li>
	</ul>


	<script type="text/javascript">
        // // removing left panel:
        // $("main.row > aside.columns").detach();

        // // making body_content block to take 12-large columns
        // $article = $("main.row > article.columns");
        // $article.removeClass("medium-10").addClass("large-12");
	</script>	

{% endblock %}
{% endcache %}