{% extends "ndf/gbase.html" %}
{% load i18n %}
{% load cache %}
{% block title %} {% trans "CLIx - Contact" %} {% endblock %}
{% block body_content %}
<div class="site-pages" id="scstyle">
<h1>Contact CLIx</h1>
<br />
Any questions, suggestions or queries may be sent to us at:<br />
contact@clix.tiss.edu<br />
<br />
Centre for Education, Innovation and Action Research<br />
Tata Institute of Social Sciences<br />
V.N.Purav Marg, Deonar,<br />
Mumbai – 400088, India<br />
Phone: +91 – 22- 25525002/3/4<br />
www.clix.tiss.edu
</div>
{% endblock %}