<h2>Welcome to the CLIx Platform</h2>
<br />
The CLIxPlatform is a Next Generation Digital Learning Platform powered by gstudio (a Node Description Framework (NDF) based knowledge representation software architecture). It integrates OpenAssessments for assessment questions and various other learning tools, available open source and/or developed as open source tools by CLIx. &nbsp;The platform is a result of collaborative &nbsp;work between technology teams at Tata Institute of Social Sciences, Mumbai, India; Homi Bhabha Centre for Science Education, TIFR, Mumbai, India; and, Massachussets Institute of Technology, Cambrige, USA.<br />
<br />
&nbsp;
<h2>Contributors:</h2>

<ol>
	<li>Aditya Dipankar, UX consultant, CLIx, TISS.</li>
	<li>Amitabh Anand, Field Technologist, Chattisgarh</li>
	<li>Brandon Muramatsu, Project Director &amp; Team Lead, MIT.</li>
	<li>Cole Shaw, Senior Software Engineer, MIT.</li>
	<li>Jeff Merriman, Technology Architect, MIT.</li>
	<li>Kedar Aitawdekar, Lead Software Engineer, CLIx, TISS.</li>
	<li>Keerthi KRD, Assistant Project Manager, CLIx, TISS.</li>
	<li>Kimberly DeLong, Project Manager, MIT.</li>
	<li>Lalmuanawma Bawitlung, Technologist, Mizoram University, Mizoram</li>
	<li>Mahesh Tirthakar,&nbsp;&nbsp;Project Scientific Assistant, CIET, NCERT.</li>
	<li>Mrunal Nachankar, System Administrator, CLIx, TISS.</li>
	<li>Nagarjuna. G, Technology Architect, HBCSE, TIFR.</li>
	<li>Padmini Sampath, Product Manager, CLIx, TISS.</li>
	<li>Prachi Bhatia, Senior Software Engineer, CLIx, TISS.</li>
	<li>Rachana Katkam, Senior Software Engineer, CLIx, TISS.</li>
	<li>Ramjee Swaminathan, Chief Technology Officer, CLIx, TISS.</li>
	<li>Sadaqat Mulla, Project Manager, CLIx, TISS.</li>
	<li>Santhosh Miriyala, Field Technologist, Telangana</li>
	<li>Satej Shende, Technology Manager, CLIx, TISS.</li>
	<li>Saurabh Bharaswadkar, Senior Software Engineer, TISS.</li>
	<li>Tanvi Domadia, Senior Software Engineer, CLIx, TISS.</li>
	<li>Ulhas Shah, Project Scientific Officer, HBCSE, TIFR.</li>
	<li>Vivek Kumar Saini, Field Technologist, Centre for Education, Research and Practice, Rajasthan</li>
</ol>
For further details visit:&nbsp;https://clix.tiss.edu/portfolio-item/technology-team/<br />
<br />
&nbsp;