{% extends "ndf/gbase.html" %}
{% load i18n %}
{% load cache %}
{% block title %} {% trans "CLIx - Credits" %} {% endblock %}
{% block body_content %}
<h2>Welcome to the CLIx Platform</h2>
<br />
The CLIxPlatform is a Next Generation Digital Learning Platform powered by gstudio (a Node Description Framework (NDF) based knowledge representation software architecture). It integrates OpenAssessments for assessment questions and various other learning tools, available open source and/or developed as open source tools by CLIx. &nbsp;The platform is a result of collaborative &nbsp;work between technology teams at Tata Institute of Social Sciences, Mumbai, India; Homi Bhabha Centre for Science Education, TIFR, Mumbai, India; and, Massachussets Institute of Technology, Cambrige, USA.<br />
<br />
&nbsp;
<h2>Contributors:</h2>
Ramjee Swaminathan, Chief Technology Officer, CLIx, TISS.<br />
Nagarjuna. G, Technology Architect, HBCSE, TIFR.<br />
Padmini Sampath, Product Manager, CLIx, TISS.<br />
Sadaqat Mulla, Project Manager, CLIx, TISS.<br />
Satej Shende, Technology Manager, CLIx, TISS.<br />
Kedar Aitawdekar, Lead Software Engineer, CLIx, TISS.<br />
Rachana Katkam, Senior Software Engineer, CLIx, TISS.<br />
Prachi Bhatia,&nbsp;&nbsp; &nbsp;Senior Software Engineer, CLIx, TISS.<br />
Saurabh Bharaswadkar, Senior Software Engineer, TISS.<br />
Tanvi Domadia, Senior Software Engineer, CLIx, TISS.<br />
Keerthi KRD,&nbsp;&nbsp; &nbsp;Test Engineer, CLIx, TISS.<br />
Mrunal Nachankar, System Administrator, CLIx, TISS.<br />
Ulhas Shah, Project Scientific Officer, HBCSE, TIFR.<br />
Aditya Dipankar, UX consultant, CLIx, TISS.<br />
Amitabh Anand, Field Technologist, Chattisgarh<br />
Lalmuanawma Bawitlung, Technologist, Mizoram University, Mizoram<br />
Santhosh Miriyala, Field Technologist, Telangana<br />
Vivek Kumar Saini, Field Technologist, Centre for Education, Research and Practice, Rajasthan<br />
Brandon Muramatsu, Project Director &amp; Team Lead, MIT.<br />
Kimberly DeLong, Project Manager, MIT.<br />
Jeff Merriman, Technology Architect, MIT.<br />
Cole Shaw, Senior Software Engineer, MIT.<br />
Brandon Hanks, Software Developer, MIT.<br />
Kathleen McMahon, UI/UX Developer, MIT.<br />
<br />
For further details visit:&nbsp;https://clix.tiss.edu/portfolio-item/technology-team/<br />
<br />
&nbsp;{% endblock %}