{% extends "ndf/mis_base_create_edit.html" %}
{% load i18n %}
{% load ndf_tags %}
{% load pagination_tags %}

{% block title %}
  {% trans "Enroll Students in Courses" %}
{% endblock %}

{% block style %}
// <style type="text/css">
/* CSS for Multiple-selection (or drawer) widget */
  .divider-line { font-size: xx-large; color:lightgray; }
  .line-height-2 { line-height:2; }
  .line-height-2pt5 { line-height:2.5; }
  .fontsize-x-large { font-size: x-large; }

  .margin-0 { margin: 0 !important ;}

  .resource-drawer { 
    border-color: #D3D3D3; border-style: solid; 
    padding: 0 !important; 
    overflow-y: auto;
  }

  .resource-drawer li.bullet-item:hover{
    background-color: #ecf0f1; cursor:pointer;
  }

  .posted-by{ color: #808080; font-size: small; }

  .selected-resource { background-color:lightgray !important ; }

  .resource-type-image {
    height:40px;    
    background-repeat:no-repeat; background-size: 48px 48px
  }

  .row .row {
    margin: 0 0;
  }

/* Resetting css-properties for fieldset (also legend, input) */
  /* fieldset (padding-bottom) */ 
  fieldset {
    padding: 1.25rem 1.25rem 1.25rem 1.25rem !important;
  }

  /* legend (background-color) */
  fieldset legend {
    background-color: transparent !important;
  }

  /* input (margin) */
  fieldset input {
    margin: 0 !important;
  }

/* Setting css-properties for reveal-modal's label */
  div.reveal-modal > label {
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }

// </style>
{% endblock %}

{% block body_content %} 
  <div id="alertModal" class="reveal-modal medium alert-box radius" data-reveal data-alert>
    <label id="alertModalLabel"></label>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <form data-abide id="form-edit-node" method="POST" action="">
    <header class="row" style="margin: 1rem 0 0 0 ;">
      <h2 class="small-12 columns">
        {% trans "Enroll Students in Courses" %}
      </h2>
    </header>

    {% csrf_token %}
    <!-- fieldset for search criteria //////////////////////////////////////////////////////////////////// -->
    <fieldset id="fsSc">
      <legend>
        {% html_widget groupid "" ATs.0 %}
      </legend>

      <div class="row">
        <!-- Registration Year -->
        <div class="small-2 columns">
          <label for="registration_year" class="right inline">
            {% trans "Registration Year" %}
          </label>
        </div>
        <div class="small-3 columns">
          <input type="text" id="registration_year" name="registration_year" value="" placeholder="YYYY"
                readonly required class="date_year" style="float:left; width:10rem" 
          />
          <i style="color:red; float:left display:inline">*</i>
          <small class="error">{% trans "Please set Registration Year" %}</small>
        </div>

        <!-- Year of Study -->
        <div class="small-2 columns">
          <label for="{{ATs.1.name}}" class="right inline">
            {{label_val}}
          </label>
        </div>
        <div class="small-3 columns end">
          {% html_widget groupid "" ATs.1 %}
        </div>
      </div>

      <!-- Dropdown: College -->
      <div class="row">
        <div class="small-2 columns">
          <label for="college" class="right inline">
            {% trans "College" %}
          </label>
        </div>
        <div class="small-8 columns end">
          <select id="college" name="college" required="" style="float:left; width:98%">
            <option value="">{% trans "- - - Select College - - -" %}</option>
            {% for choice in colleges %}
            <option value="{{choice.pk}}"> {{choice.name}} </option>
            {% endfor %}
          </select>
          <i style="color:red; float:left display:inline">*</i>
          <small class="error">{% trans "Please select College!" %}</small>
        </div>
      </div>

      <!-- Checkbox: Students Enrolled and/or Non-enrolled -->
      <div class="row">
        <div class="small-11 small-centered columns">
          <input type="checkbox" id="all_students" name="all_students">
          <label for="all_students">
            <b>{% trans "NOTE: If selected all students (including enrolled ones) will be listed; otherwise only non-enrolled students will be shown." %}</b>
          </label>
        </div>
      </div>

      <!-- Find button -->
      <div class="row">
        <div class="small-2 small-centered columns">
          <br>
          <input type="button" id="btnFindES" value="Find" class="button small round expand"/>
        </div>
      </div>
    </fieldset>

    <!-- fieldset for listing Announced courses & Students for enrolling into them /////////////////////// -->
    <fieldset id="fsAc" style="display: none">
      <legend>
        <label><h5>Announced Courses : <input type="checkbox" id="cbxSelectAllOptions" checked="" /> Select/Deselect All</h5></label>
      </legend>
      <div class="row" id="divAc">
      </div>
    </fieldset>

    <!-- fieldset for listing Announced courses & Students for enrolling into them /////////////////////// -->
    <fieldset id="fsSt" style="display: none">
      <legend>
        <label><h5>Students : </h5></label>
      </legend>
      <div class="row" id="divSt">
      </div>
    </fieldset>

      <!-- Enroll (submit) button -->
    <div class="row">
      <div class="small-2 small-centered columns">
        <input type="submit" id="sbtnEnroll" value="Enroll" class="button small radio expand" style="display: none" disabled>
      </div>
    </div>
  </form>
{% endblock %}

{% block script %}
// <script type="text/javascript">
// By default checkbox (all_students) is unchecked, hence kept this value
  var all_students_txt = "Students: Only Non-enrolled Student(s)";

// Function to hide fieldsets (fsAc & fsSt) & submit button (sbtnEnroll) -----------------------------------
  function hideFieldsetSubmit() {
    if ($("#sbtnEnroll").css("display") != "none") {
      $("#sbtnEnroll").toggle();
    }

    if ($("#fsAc").css("display") != "none") {
      $("#divAc").empty();
      $("#fsAc").toggle();
    }

    if ($("#fsSt").css("display") != "none") {
      $("#divSt").empty();
      $("#fsSt").toggle();
    }
  }

// Default settings for date-widget on page load -----------------------------------------------------------
  var currentYear = (new Date()).getFullYear()
  lowerYearLimit = currentYear - 5;
  upperYearLimit = currentYear;

  $(document).ready(function() {
    // Settings for datepicker widget (with only year) --------------------------------------------------------
      $(".date_year").datepicker({
        changeYear: true,
        dateFormat: 'yy',
        yearRange: "" + lowerYearLimit + ":" + upperYearLimit,

        onClose: function(dateText, inst) {
          $(this).val(dateText);
          
          var year = dateText;

          if (year) {
            year = parseInt(year);
          }

          else {
            year = currentYear;
          }

          $(this).datepicker('option', 'defaultDate', new Date(year, 1, 1));
          $(this).datepicker('setDate', new Date(year, 1, 1));
        },

        beforeShow: function() {
          var year = $(this).val();
  
          if (year) {
            year = parseInt(year);
          }

          else {
            year = currentYear;
          }

          $(this).datepicker('option', 'defaultDate', new Date(year, 1, 1));
          $(this).datepicker('setDate', new Date(year, 1, 1));
        },

        onChangeMonthYear: function(year, month, inst){
          $(this).val(year)
        }
      });

    // Retrieve group-name & match with list of college-names from dropdown --------------------------------
      var group_name_str = "{{group_name_tag|safe}}";

      $("#college option").each(function(){
        // If group-name matches with that of college-name, 
        // then select that college from drop-down and disable it
        if (group_name_str.trim() == $(this).text().trim()) {
          $(this).attr("selected", true);
          $(this).parent().attr("disabled", "disabled");
        }
      });
  });

// Only keeping year's drop-down and hiding other datepicker's elements ------------------------------------
  $(document).on('focus click blur', '.date_year' ,function(){
    $(".ui-datepicker-calendar").hide();
    $(".ui-datepicker-month").hide();
    $(".ui-datepicker-prev").hide();
    $(".ui-datepicker-next").hide();
    $("#ui-datepicker-div").position({
      my: "center top",
      at: "center bottom",
      of: $(this)
    });
  });

// If any of the Input field of fieldset (fsSc) is changed -------------------------------------------------
  $("#fsSc :input").on('change click', function(){
    // hide fieldsets (fsAc & fsSt) & submit button (sbtnEnroll)
    hideFieldsetSubmit();

    // Enable Find button (btnFindES)
    $("#btnFindES").removeAttr('disabled');
  });

// Set text (all_students_txt) based on state of checkbox (all_students) -----------------------------------
  $("#all_students").on("change cick", function() {
    if (this.checked) {
      all_students_txt = "Student: All Student(s) [including enrolled]";
    }

    else {
      all_students_txt = "Students: Only Non-enrolled Student(s)";
    }
  });

// Select/Deselect all checbox(es) ['acOptions'] based on state of checkbox (cbxSelectAllOptions) ----------
  $("#cbxSelectAllOptions").bind("change", function(){
    selectAllState = this.checked;
    $("input[name='acOptions']").each(function() {
      $(this).prop("checked", selectAllState);

    // Enable/Disable submit button (btnEnroll), if none of the checkbox is selected
      $("#sbtnEnroll").attr("disabled", !selectAllState);
    });
  });

// Select/Deselect checkbox (cbxSelectAllOptions) & Enable/Disable submit button (btnEnroll) ---------------
  $(document).on("change click", ".acOptions", function(){
    optionState = $(this).prop("checked");
    
  // Select/Deselect checkbox (cbxSelectAllOptions), 
  // if any of the checkbox (class='acOptions') is unchecked
    if (!optionState) {
      selectAll = $("#cbxSelectAllOptions");
      if (selectAll.prop("checked")) {
        selectAll.prop("checked", optionState);
      }
    }

  // Enable/Disable submit button (btnEnroll), 
  // if none of the checkbox (class='acOptions') is checked
    $(".acOptions").each(function(){
      optionState = $(this).prop('checked');

      if (optionState == true) {
        return false;
      }
    });
    $("#sbtnEnroll").attr("disabled", !optionState);
  });

// On click of Find (Setup Ajax call) ----------------------------------------------------------------------
  $("#btnFindES").click(function(event) {
    event.preventDefault();

    // Forcefully blur all input elements, so that mandatory fields 
    // become data-invalid if not fill
    $(this).parents("fieldset").find(':input[required]').blur();

    // Then check no. of data-invalid fields
    // if count == 0, then only proceed to make ajax-call & 
    // later on, on successful returned O/P, displaying Announce(submit) button
    if($(this).parents("fieldset").find(':input[data-invalid]').length == 0) {
      var nussd_course_type = $("#nussd_course_type").val();
      var registration_year = $("#registration_year").val();
      var degree_year = $("#degree_year").val();
      var college = $("#college option:selected").val();
      var all_students = $("#all_students").prop("checked");
      var success_state = false

      // All field(s) have valid I/P, make ajax-call
      $.ajax({
        url: "{% url 'get_anncourses_allstudents' group_id %}",

        data: {
          nussd_course_type: nussd_course_type,
          registration_year: registration_year,
          degree_year: degree_year,
          college: college,
          all_students: all_students
        },

        type: "GET",

        dataType: "json",

        success: function(data){
          success_state = data["success"];
          $("#alertModalLabel").text(data["message"]);

          if (data["success"]) {
            $("#alertModal").removeClass("alert");
            $("#alertModal").addClass("success");
            $("#alertModal").foundation('reveal', 'open');

            // Fill fsAc
            $("#divAc").empty();
            announced_courses_list = data["announced_courses"]
            var announced_courses_len = announced_courses_list.length;
            $.each(announced_courses_list, function(index, val){
              input_chk = ""
              if ((index + 1) != announced_courses_len) {
                input_chk += "<div class='small-12 columns'>" 
              }

              else {
                input_chk += "<div class='small-12 columns end'>" 
              }
              
              // Don't change below line of code
              // This format is referred in views file (course.py)
              v = val[0] + ">>" + val[1];

              input_chk += "<input type='checkbox' name='acOptions' class='acOptions' checked='' value='"+v+"'/>" + 
                            "<label>"+val[1]+"</label>" +
                            "</div>";
              $("#divAc").append(input_chk);
            });
          }

          else {
            $("#alertModal").removeClass("success");
            $("#alertModal").addClass("alert");
            $("#alertModal").foundation('reveal', 'open');
          }
        },

        complete: function(){
          if (success_state) {
            // If Announced Courese & Students found, 
            // display fieldsets (fsAc & fsSt) & submit button (sbtnEnroll)
            // depending upon their visibility state 
            if ($("#sbtnEnroll").css("display") == "none") {
              $("#sbtnEnroll").toggle();
            }

            // Also toggle fieldset (fsAc)
            if ($("#fsAc").css("display") == "none") {
              $("#cbxSelectAllOptions").prop("checked", true);
              $("#fsAc").toggle();
            }

            // Also toggle fieldset (fsSt)
            if ($("#fsSt").css("display") == "none") {
              $("#fsSt legend label h5").text(all_students_txt);
              $("#fsSt").toggle();
            }
          }

          else {
            // Otherwise, hide submit button as well as fieldset
            if ($("#sbtnEnroll").css("display") != "none") {
              $("#sbtnEnroll").toggle();
            }

            // Also toggle fieldset (fsAc)
            if ($("#fsAc").css("display") != "none") {
              $("#divAc").empty();
              $("#fsAc").toggle();
            }

            // Also toggle fieldset (fsSt)
            if ($("#fsSt").css("display") != "none") {
              $("#divSt").empty();
              $("#fsSt").toggle();
            }
          }
        }
      });
    }
  });

// On close event of reveal-modal (alertModal) -------------------------------------------------------------
  $(document).on('closed.fndtn.reveal', '#alertModal[data-reveal]', function () {
    if ($(this).hasClass('success')) {
      // Disable 'Find' button, which gets enable only when any of the input element
      // of the fieldset (fsSc) is changed
      $("#btnFindES").attr('disabled', "disabled");
    }
  });
// </script>
{% endblock %}

