{% extends "ndf/base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load ndf_tags %}
{% load i18n %}
{% block title %} {{title}} {% endblock %}

{% block head %}
{% endblock %}

{% block help_content %}
{% endblock %}
 
{% block meta_content %}
  <h2>{% trans "Task" %}</h2>
{% endblock %}
{% block search_content %}
  {% include "ndf/node_search_base.html" %}
{% endblock %}

{% block related_content %}
  {% if user.is_authenticated %}
  {% user_access_policy groupid request.user as user_access %}
  {% if user_access == "allow" %}
  <br/>
     <div class="task">
      <br/>
      <a class="button medium" href="{% url 'task_create_edit' group_name %}">
      	<span class="fi-plus">&nbsp;&nbsp;{% blocktrans %}New {{title}}{% endblocktrans %}</span>
      </a>
    </div>
  {% endif %}
  {% endif %}
{% endblock %}

  
{% block body_content %}

<header class="row">
  <dl class="tabs" data-tab>
    <dd class="active"><a href="#panel2-1" id="p1"><i class="fi-eye"></i> All Task {% if TASK_inst.count %}({{ TASK_inst.count }}){% endif %}</a></dd>
  <dd ><a href="#panel2-2" id="p2" name="Completed"> Completed </a></dd>
  <dd ><a href="#panel2-3" id="p3" name="Createdbyme"> Created by me </a></dd>
  <dd ><a href="#panel2-4" id="p4" name="Assignedtome"> Assigned to me </a></dd> 
  <dd ><a href="#panel2-5" id="p5" name="pending"> pending </a></dd> 
  <dd ><a href="#panel2-6" id="p6" name="Statuswise"> Status Wise </a></dd>


  </dl>
  
</header>

  
  

<div class="tabs-content">
  <div class="content active" id="panel2-1">
    
  </div>
  <div class="content" id="panel2-2">
    
  </div>
  
  <div class="content" id="panel2-3">

  </div>
  
  <div class="content" id="panel2-4">
    
  </div>

  <div class="content" id="panel2-5">
    
  </div>
 
  <div class="content" id="panel2-6">

    <div class="small-3 end columns">
  <select id="filter"><option id="1" onClick="showHide()" value="New">New </option>
  
  <option id="2" onClick="showHide()" value="In Progress"> In Progress </option>
  <option id="3" onClick="showHide()" value="Resolved"> Resolved </option>
  <option id="4" onClick="showHide()" value="Feedback"> Feedback</option>
  <option id="5" onClick="showHide()" value="Closed"> Closed </option>
  <option id="6" onClick="showHide()" value="Rejected"> Rejected </option>

  </select>
  </div>
  
<div class="content" id="example">
    
  </div>

  </div>
  

</div>

<script type="text/javascript">

$("#p1").ready(function (){
  
  $.ajax({
      url: "{% url 'check_filter' group_name 1 'None' %}",

      type: "GET",
      
      success: function(data){
        $("#panel2-1").html(data)      
      },
      
      complete: function(){
        // $('#Student').foundation('reveal', 'open');
      }
    });
});

$("#p2").click(function (){
  
  $.ajax({
      url: "{% url 'check_filter' group_name 2 'None' %}",

      type: "GET",
      
      success: function(data){
        $("#panel2-2").html(data)      
      },
      
      complete: function(){
        // $('#Student').foundation('reveal', 'open');
      }
    });
});

$("#p3").click(function (){
  
  $.ajax({
      url: "{% url 'check_filter' group_name 3 'None' %}",

      type: "GET",
      
      success: function(data){
        $("#panel2-3").html(data)      
      },
      
      complete: function(){
        // $('#Student').foundation('reveal', 'open');
      }
    });
});
$("#p4").click(function (){
  
  $.ajax({
      url: "{% url 'check_filter' group_name 4 'None' %}",

      type: "GET",
      
      success: function(data){
        $("#panel2-4").html(data)      
      },
      
      complete: function(){
        // $('#Student').foundation('reveal', 'open');
      }
    });
});
$("#p5").click(function (){
  
  $.ajax({
      url: "{% url 'check_filter' group_name 5 'None' %}",

      type: "GET",
      
      success: function(data){
        $("#panel2-5").html(data)      
      },
      
      complete: function(){
        // $('#Student').foundation('reveal', 'open');
      }
    });
});


function showHide()
 {
   
  var val = document.getElementById("filter").value;
 if (val == "New")
 {
  
  $.ajax({
      url: "{% url 'check_filter' group_name 6 'New' %}",

      type: "GET",
      
      success: function(data){
        $("#example").html(data)      
      },
      
      complete: function(){
        // $('#Student').foundation('reveal', 'open');
      }
    });

 }
if (val == "In Progress")
 {
  
  $.ajax({
      url: "{% url 'check_filter' group_name 6 'InProgress' %}",

      type: "GET",
      
      success: function(data){
        $("#example").html(data)      
      },
      
      complete: function(){
        // $('#Student').foundation('reveal', 'open');
      }
    });

 }
if (val == "Resolved")
 {
  
  $.ajax({
      url: "{% url 'check_filter' group_name 6 'Resolved' %}",

      type: "GET",
      
      success: function(data){
        $("#example").html(data)      
      },
      
      complete: function(){
        // $('#Student').foundation('reveal', 'open');
      }
    });

 }
if (val == "Feedback")
 {
  
  $.ajax({
      url: "{% url 'check_filter' group_name 6 'Feedback' %}",

      type: "GET",
      
      success: function(data){
        $("#example").html(data)      
      },
      
      complete: function(){
        // $('#Student').foundation('reveal', 'open');
      }
    });

 }
if (val == "Closed")
 {
  
  $.ajax({
      url: "{% url 'check_filter' group_name 6 'Closed' %}",

      type: "GET",
      
      success: function(data){
        $("#example").html(data)      
      },
      
      complete: function(){
        // $('#Student').foundation('reveal', 'open');
      }
    });

 }
if (val == "Rejected")
 {
  
  $.ajax({
      url: "{% url 'check_filter' group_name 6 'Rejected' %}",

      type: "GET",
      
      success: function(data){
        $("#example").html(data)      
      },
      
      complete: function(){
        // $('#Student').foundation('reveal', 'open');
      }
    });

 }
 
}
</script>


{% if searching and TASK_inst.count > 0 %}
<div class="row">
  <div class="small-12 columns end">
    <p>Search Results: <span class="label success round">Found {{TASK_inst.count}} {{title|lower}}{{TASK_inst.count|pluralize}}.</span></p>
  </div>
</div>

{% elif searching and TASK_inst.count == 0 %}
<div class="row">
  <div class="small-12 columns">
    <p>Search Results: <span class="label alert">No {{title|lower}}{{TASK_inst.count|pluralize}} matched your search criteria!!!</span></p>
  </div>  
</div>  

{% endif %}

 



{% endblock %}

