{% extends "ndf/base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load ndf_tags %}
{% load i18n %}
{% block title %} {{title}} {% endblock %}

{% block head %}
{% endblock %}

{% block help_content %}
{% endblock %}

{% block meta_content %}
  <h2>{% trans "Task" %}</h2>
{% endblock %}

{% block search_content %}
  {% include "ndf/node_search_base.html" %}
{% endblock %}

{% block related_content %}
  {% if user.is_authenticated %}
  {% user_access_policy groupid request.user as user_access %}
  {% if user_access == "allow" %}
  <br/>
     <div class="task">
      <br/>
      <a class="button medium" href="{% url 'task_create_edit' group_name %}">
      	<span class="fi-plus">&nbsp;&nbsp;{% trans "New Task" %}</span>
      </a>
    </div>
  {% endif %}
  {% endif %}
{% endblock %}
  
{% block body_content %}
<div class="row">

  <section class="medium-9 columns">
<h2>
<span class='node'><font id="nodeTitleId">{{node.name}}</font> 
{% get_user_object node.created_by as user_obj %}
{% if user_obj.username = request.user.username or request.user.is_superuser %}
<a href="#" class="button tiny" style="float:right" data-reveal-id="titleModal">Edit</a>
{% endif %}
</span> 

</h2>
    <div style="display:table; border:1px; border-spacing:6px; " class="medium-12 columns">
	<div class="row">
	  <div class="medium-3 columns">
	    <label><b>{% trans "Parent task:" %}</b></label>
	  </div>
	  <div class="medium-3 columns">
	    <label>{% if parent %}{{parent}}{% else %} -- {% endif %}</label>

	  </div>
	<!</div>
	<!<div class="row">
	  <div class="medium-3 columns">
	    <label><b>Status:</b></label>
	  </div>
	  <div class="medium-3 columns">
	    <label>{% if Status %}{{Status}}{% else %} -- {% endif %} </label>
	  </div>
	</div>
	<div class="row">
	  <div class="medium-3 columns">
	    <label><b>{% trans "Start date:" %}</b></label>
	  </div>
	  <div class="medium-3 columns">
	    <label>{% if start_time %}{{start_time}}{% else %} -- {% endif %}</label>
	  </div>
	<!</div>	
	<!<div class="row">
	  <div class="medium-3 columns">
	    <label><b>{% trans "Priority:" %}</b></label>
	  </div>
	  <div class="medium-3 columns">
	    <label>{% if Priority %}{{Priority}}{% else %} -- {% endif %}</label>
	  </div>
	</div>
	<div class="row">
	  <div class="medium-3 columns">
	    <label><b>{% trans "Due date:" %}</b></label>
	  </div>
	  <div class="medium-3 columns">
	    <label>{% if end_time %}{{end_time}}{% else %} -- {% endif %}</label>
	  </div>
	<!</div>	
	<!<div class="row">
	  <div class="medium-3 columns">
	    <label><b>{% trans "Assignee:" %}</b></label>
	  </div>
	  <div class="medium-3 columns">
	    <label>{% if Assignee %}{{Assignee}}{% else %} -- {% endif %}</label>
	  </div>
	</div>
	<div class="row">
	  <div class="medium-3 columns">
	    <label><b>{% trans "Estimated time:" %}</b></label>
	  </div>
	  <div class="medium-3 columns">
	    <label>{% if Estimated_time %}{{Estimated_time}}{% else %} -- {% endif %}</label>
	  </div>
	  <div class="medium-3 columns">
	  <label><b>{% trans "Selected File"  %}</b> </label>
	  </div >
	  <div class="medium-3 columns">
	  {% if  Upload_Task %}
	{% get_file_node request Upload_Task as new %}
	{% for node in new %}
	{% get_grid_fs_object node as grid_fs_obj %}
	
	<b><a href="{% url 'read_file' group_id node.pk grid_fs_obj.filename %}">{{grid_fs_obj.filename}}</a></b>
	
	{% endfor %}
	{% else %}
	--
	{% endif %}
	  
	  </div>		
	</div>
	{% if subtask %}
	<div class="row">
	  <div class="medium-3 columns">
	      <label><b>{% trans "Sub Task:" %}</b></label>
	  </div>
	  <div class="medium-3 columns">
		{% for each_subtask in subtask %}
	    <a class="" href="{% url 'task_details' group_name each_subtask.id %}">{{each_subtask.name}}</a>
		{% if not forloop.last %},{% endif %}
		{% endfor %}
	  </div>
	  <div class="medium-6 columns">
	  </div>
	</div>
	{% endif %}
	<hr>
	<div class="row">
	  <div class="medium-12 columns">
	    <label><b>{% trans "Description:" %}</b>
		{% if user_obj.username = request.user.username or request.user.is_superuser %}
		<a href="#" class="button tiny" style="float:right" data-reveal-id="contentModal">Edit</a>
		{% endif %}
		</label>
	    <div id="contentlist" class="content" style="padding-left:20px;">
		<font id="nodeContentId">
      	{% with node.html_content|safe as description %}
      	{% if description != "None" %}
      	{{ description }}
	{% else %} -- {% endif %}
      	{% endwith %}
		</font>
	    </div>
	  </div>
	</div>	
       <hr>
	<div class="row">
	  <div class="medium-12 columns">
	    <label><b>{% trans "History:" %}</b></label>
	  </div>
	</div>
	<div class="history_task" style="padding-left:20px;">
{% for each_history in history %}
	<div class="panel">
		{% if each_history.content %}
			      	{% with each_history.content|safe as history_description %}
 			      	{{ history_description }}
  				{% endwith %}
		{% endif %}
		{% for each_altnames in each_history.altnames %}		
			<p style="color:#999999">{{each_altnames}}</p>
		{% endfor %}
		<div align="right">
			<label>- Updated by <em>{{ each_history.created_by }}  {{ each_history.created_at|timesince }}</em> ago</label>
		</div>
	</div>
{% empty %}
--
{% endfor %}	
        </div>
    </div>
  </section>
  <section class="medium-3 columns">
    <div class="panel">
     <h3 class="subheader"></h3>
       Edited {{ node.last_update|timesince }} ago by <a class="user">{{node.user_details_dict.modified_by}}</a>
       <small>
         <div><a href="#view-changes"><i class="fi-clock"></i> Versions </a>
          {% for seq_no, version_no in node.version_dict.items reversed %}
          <abbr title={{version_no}}><a href="{% url 'node_version' group_name_tag node.pk version_no %}" style="padding-left:5px;">+</a></abbr> 
          {% endfor %}
        </div>
      </small>
     <a href="{% url 'task_edit' group_name node %}" class="small button split edit"><i class="fi-pencil"></i> Update <span data-dropdown="edit-options"></span></a> 

    </div>

  </section>


<div id="titleModal" class="reveal-modal" data-reveal>
  <label><b>{% trans "Editing Name" %}</b></label><br/>
  <div class="medium-6 columns">
     <input id="name_id" name="name" type="text" value="{{node.name}}"  class="medium-3 columns" placeholder="Enter name..." required>
     <a href="#" class="button tiny" id="title_save">{% trans "Save" %}</a>
  </div>
  <a class="close-reveal-modal">{% trans "&#215;" %}</a>
</div>
<div id="contentModal" class="reveal-modal" data-reveal>
	<div class="medium-12 columns">
	    <label><b>{% trans "Description" %}</b></label>
	    <div id="contentlist" class="content">
		<div class="">
		{% include "ndf/add_editor.html" with var_name="content_org" var_placeholder="Enter the content here" var_value=node.content_org %}
		</div>
	    </div>
	  </div>
     <a href="#" class="button tiny" id="content_save">{% trans "Save" %}</a>
  <a class="close-reveal-modal">{% trans "&#215;" %}</a>
</div>
{% endblock %}

{% block script %}
{% get_user_object node.created_by as user_obj %}
{% if user_obj.username = request.user.username or request.user.is_superuser %}
var task_title = "{{node.name}}"

$(document).on('click',"#title_save",function(){
var editedTitle = $('input[name=name]').val();
if(task_title == $('input[name=name]').val()){
alert('Nothing is Changed');
}
else {
             $.ajax({
             url: "{% url 'edit_task_title' groupid %}",
             type: 'POST',
             data: {taskid:"{{node}}",csrfmiddlewaretoken: '{{ csrf_token }}',title:editedTitle},
             beforeSend: function() {     },
             success: function(result){
		  $('#nodeTitleId').html(result);
		  console.log(result);

             },
             complete: function(){ 
                  $('#titleModal').foundation('reveal', 'close');
             }
             });

}
});

$(document).on('click',"#content_save",function(){
var editedContent = $('#orgitdown_content_org').val();
             $.ajax({
             url: "{% url 'edit_task_content' groupid %}",
             type: 'POST',
             data: {taskid:"{{node}}",csrfmiddlewaretoken: '{{ csrf_token }}',content_org:editedContent},
             beforeSend: function() {     },
             success: function(result){
		  $('#nodeContentId').html(result);
		  console.log(result);

             },
             complete: function(){ 
                  $('#titleModal').foundation('reveal', 'close');
             }
             });

});
{% endif %}
{% endblock %}

