{% extends "ndf/base.html" %}
{% load i18n %}
{% load ndf_tags %}
{% get_group_name groupid as group_name_tag %}
{% check_is_gstaff groupid request.user as is_gstaff %}
{% get_node groupid as group_obj %}
{% block title %} {{title}} {% endblock %}


{% block style %}
.top-gap
{
margin-top:15px !important;
}
.filter-body
{
margin-top:5px !important;
}
  .first-load { display: none; }

  .tabs dd.active a, .tabs .tab-title.active a { background-color: #f7f7f7; color: black; }
  .tabs dd > a, .tabs .tab-title > a {color: #4c4c4c;}

  .tabs dd { width: 100%; }

  .tabs dd a { padding-right: 0; width: 100%; }

  .count { position: absolute; right: 5px; opacity: 0.75; }

  .panel > .side-nav > .tabs i {margin-right: 0.5rem;}

  .tabs-content > .content.active{
  margin-left:-1px !important;
  }

  ul.errorlist {display: none;}
  h3 {text-align:center;}
  p {text-align:center;}
  div.pagination {display: block; width: 40%; margin: 0 auto; }
  #grid {width: 200px; padding-top: 5px;}
  #selid {width: 200px; padding-top: 5px}
  #but { position:absolute;
        top:50px;
        right:0;}
  #filter {
    padding-top: 5px;
  }
  #ss {
    padding-top: 5px; width:200px;
  }



{% endblock %}




<!--
{% comment %}
  {% block help_content %}
    <h3>{% trans "Files" %}</h3>
    <p>
      {% trans "Upload your files from your computer to metaStudio. You can view the existing files in the group and create collections." %}
    </p>
  {% endblock %}
{% endcomment %}
-->


<!-- shelf part is commented for being not active -->
<!--
{% comment %}
  {% block shelf_content %}
    {% if user.is_authenticated %}
      {% include "ndf/shelf.html" %}
    {% else %}
      <h4>Please Login to create your shelf</h4>
    {% endif %}  
  {% endblock %}
{% endcomment %}
 -->

<!-- left top panel -->
{% block meta_content %}
  
{% endblock %}


{% block related_content %}
{% endblock %}
