
{% extends "ndf/base.html" %}
{% load i18n %}

{% load ndf_tags %}
{% load pagination_tags %}

{% get_group_name groupid as group_name_tag %}


{% block title %} {{ title }} {% endblock %}

{% block head %}  

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!-- Scripts required for D3 graph -->
  <script type="text/javascript" src="/static/ndf/bower_components/d3/d3.min.js"></script> <!-- checked -->
  <script type="text/javascript" src="/static/ndf/bower_components/underscore/underscore.js"></script> <!-- checked -->
  <script sync="text/javascript" src="/static/ndf/bower_components/FileSaver/FileSaver.js" ></script> <!-- checked -->

  <script src="/static/ndf/bower_components/jquery/dist/jquery.min.js"></script> <!-- checked -->
  <script src="/static/ndf/bower_components/jqtree/tree.jquery.js"></script> <!-- checked -->

  <script type="text/javascript">
    $(document).ready(function() {
    	$(function() {

    		$('.themes').html('<img src="/static/ndf/images/ajax-loader-trans.gif" height="100" width="100">');

    		var $tree = $('.themes');
    		var user = "{{user.is_authenticated}}";
    		var unfold = "{{unfold}}";

    		if(unfold == "true"){
    			unfold = true
    		}
    		else{
    			unfold = false
    		}

			$tree.tree({
    			autoOpen: unfold,

        		onCreateLi: function(node, $li) {
						
					if (node.node_type == "Topic"){
						$li.find('.jqtree-title').before('&nbsp <span class="fi-page"></span> &nbsp;');				        	
					}
					else{
						$li.find('.jqtree-title').before('&nbsp <span class="fi-folder" style="color:orange"></span> &nbsp;');				        		
					}

        			if (user == "True")
        			{   
        				if (node.node_type == "Topic"){
        					$li.find('.jqtree-element').append(
	        					{% user_access_policy groupid request.user as user_access %}
	        					{% if user_access == "allow" %}

	                				'&nbsp;&nbsp;<a id="top" class="topic" href="/{{groupid}}/browse topic/'+node.id+'/"> </a>' 

	                			{% endif %}
	            			);	            			

        				}
        				else{
        					
        					$li.find('.jqtree-element').append(
	        					{% user_access_policy groupid request.user as user_access %}
	        					{% if user_access == "allow" %}

	                				'&nbsp;&nbsp;<a href="/{{groupid}}/browse topic/'+node.id+'/"> <i class="fi-pencil edit"></i></a> &nbsp;&nbsp; <a id='+node.id+' class="objectsCheckbox"> <input type="checkbox"> </a>' 
	                			
	                			{% endif %}
            				);

        				}
        					
        			}           		

        		}

    		});
			
    		// bind 'tree.click' event
			$tree.bind(
			    'tree.click',
			    function(event) {
			        // The clicked node is 'event.node'
			        var node = event.node;
			        
			        // If its topic node i.e no children of this node then show the detail veiw for topic
			  		if( node.children[0] == null ){

			  			if (node.node_type == "Topic"){
		  					location.href = "/{{group_name_tag}}/topic_details/"+node.id+"";    	
			  			}
				        
			  		}
			  		
			    }
			);

			$tree.bind(
			    'tree.contextmenu',
			    function(event) {
			        // The clicked node is 'event.node'
			        var node = event.node;
			        {% user_access_policy groupid request.user as user_access %}
	        		{% if user_access == "allow" %}
				        var msg = confirm("Do you want to delete this topic ?");
				        if (msg == true) {

				        	$.ajax({
				            	url: "{% url 'delete_themes' groupid %}",
				             	type: 'POST',
				             	data:{
				             		deleteobj: node.id,
				             		csrfmiddlewaretoken: '{{ csrf_token }}'
				             	},
				             	success: function(result){
				             		alert("Topic "+node.name+" deleted successfully");
				             		location.reload(true);
				             	},
				             	
				            });

						}
					{% endif %} 

			    }
			);
                     
//                     Fold/Unfold item on click
                     $tree.click(function() {
  var tree = $tree.tree('getTree');
  tree.iterate(function(node) {
 
    if (node.hasChildren()) {
      $tree.tree('closeNode', node, true);
    }
    return true;
  });
});
    	});

    });


  </script>
  <style>
  	#app-set-item li { padding:0.5em }
/*	#app-set-item li:hover { background-color:#e5e5e5; }*/
/*	.selected-app-set-item { background-color:#e5e5e5; }*/

	.jqtree-closed > .jqtree-element i.icon-folder-open:before {
        content: "\f07b";
    }
    .jqtree-tree i {
        margin-right: 4px;
    }

  </style>
{% endblock%}


{% block meta_content %}
{% if user.is_authenticated %}
{% user_access_policy groupid request.user as user_access %}

<ul class="no-bullet" id="app-set-item"> 

    {% get_memberof_objects_count theme_GST_id groupid as count %}
  
      <li class="selected-app-set-item"> 
        <div>
  		  {% if user_access == "allow" %}
          <a href="{% url "theme_topic_create" groupid theme_GST_id %}" style="float:right" title="Add Theme">
            +&nbsp;Add
          </a>
          {% endif %}

          <a href="{% url "theme_list" groupid app_id theme_GST_id %}" >
            Theme ({{count}})
          </a> 

        </div>
      </li>
  
</ul>
<hr/>
<br/>

<ul class="no-bullet">
  	<li>
      	<div>
        	<a href="{% url 'theme_page' group_name_tag %}"> <input class="medium button split" type="button" value="Themes" > </a>
      	</div>
    </li>

  	<br/>
  
</ul>
{% endif %}
{% endblock %}


{% block body_content %}
{% user_access_policy groupid request.user as user_access %}

	{% if themes_hierarchy %}

		<h2> {{node.name}}</h2> 
		<a class="fold"><b><i class="fi-plus"></i> {% trans "Fold" %} </b></a> &nbsp;&nbsp;&nbsp;&nbsp; 
		<a class="unfold"><b><i class="fi-minus"></i> {% trans "Unfold" %} </b></a>&nbsp;&nbsp;&nbsp;&nbsp;
		{% if user_access == "allow" %}

          <a class="button tiny" data-reveal-id="view_add_page" title="Add Theme Item">
            +&nbsp;Add Theme Item
          </a>

          <div id="view_add_page" class="reveal-modal" data-reveal style="height:300px;"> 

              <h3>Add New Theme Item:</h3>
              <!-- To enter name of theme item -->
              <div>
                <input class="name_id" name="name" type="text" placeholder="Enter name...">
              </div>   <br/>           

              <input type="submit" id="add_theme_item" value="Save Theme Item" class="medium round button"/>

              <a class="close-reveal-modal">&#215;</a>

          </div>          
        {% endif %}


		{% if user.is_authenticated %}
    		{% if user_access == "allow" %}
    			<input class="button tiny deleteObjects right" type="button" value="Delete">
    			<span class="right"><input class="checkedAll" type="checkbox"> Select All &nbsp;&nbsp;</span>

    			<div id="myModal" class="reveal-modal" data-reveal style="height:500px;overflow:scroll;"> 
        
			        <h3>{% trans "Are you sure you want to delete? All of the related items for the following themes also will be deleted:" %}</h3> 
			        
			        <input class="button confirmDeleteObjects" type="button" value="Confirm">
			        <input class="button cancelDeleteObjects" type="button" value="Cancel">
			        <div id="deletion_results"></div>
			        <a class="close-reveal-modal">{% trans "&#215;" %}</a>

		      	</div>

    		{% endif %}
		{% endif %}

		<hr/>

		{% if node %}
			<!-- If "Theme" node -->
  		
			<div id="app-set-item" class="themes" data-url="{% url 'get_tree_hierarchy' groupid node.pk %}"></div>			
		{% endif %}

	{% endif %}

	<!-- For displaying themes items -->
	{% if themes_cards  %}

	<h2>Themes</h2><hr/>
		<div class="content row" id="panel2-4">

		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">

  		<!-- Existing card list-->
  		{% get_preferred_lang request group_id nodes "Theme" as nodes %}
	
	  	{% for each in nodes %}
		    <li class="card">
		      <div class="page">
		      	<div class="label-list">{% for tag in each.tags|slice:":3" %}
		          <a href="{% url 'tag_info' group_name_tag tag %}"><span class="label">{{tag}}</span></a>
		        {% endfor %}</div>

		        <a href="{% url 'theme_page' group_name_tag each.pk %}">
		      <header>
		        <h5>
		          {{ each.name }}{% if each.collection_set %} <i class="fi-page-multiple"></i> {% endif %}
		        </h5>
		      </header>

		      <p>{{ each.html_content|default_if_none:"Add some description."|safe|striptags|truncatechars:75 }}</p>
		      
		      <footer>
		          <div class="age">
		            {{ each.member_of_names_list|join:', ' }} created {{each.created_at|timesince}} ago 
		            <br/>
		            by <span class="user" href="{% url 'dashboard' each.created_by %}" data-gnow="">{{each.user_details_dict.created_by}}</span> 
		          </div>
		        <span><strong>{{each.contributors|length}}</strong> Contributor{{each.contributors|pluralize}}</span>
		        <span class="right"><strong>{{each.version_dict|length}}</strong> Edit{{each.version_dict|pluralize}}</span>
          
      		  </footer>
      		  </a>

		      </div>
		    </li>  
	  
	  	{% endfor %}

		</ul>

		</div>


	{% endif %}

	{% if themes_list_items %}
		{% if nodes %}
      	{% autopaginate nodes 25 %}
    
      		<div id="myModal" class="reveal-modal" data-reveal style="height:500px;overflow:scroll;"> 
        
		        <h3>{% trans "Are you sure you want to delete? All of the related items for the following themes also will be deleted:" %}</h3> 
		        
		        <input class="button confirmDeleteObjects" type="button" value="Confirm">
		        <input class="button cancelDeleteObjects" type="button" value="Cancel">
		        <div id="deletion_results"></div>
		        <a class="close-reveal-modal">{% trans "&#215;" %}</a>

	      	</div>

      		{% if user.is_authenticated %}
      			{% if user_access == "allow" %}
        		<input class="button deleteObjects" type="button" value="Delete">
        		{% endif %}
      		{% endif %}
      
      		<form method="POST" style="float:right; margin-top:15px;padding-top:10px;">

		        {% csrf_token %}
		        <input name="search" type="textbox" value="" style="width:300px;">
		        <input type="hidden" name="class" value="{{class_name}}">
		        <input type="submit" value="search" style="width:100px;">

      		</form>
  		{% endif %}

	    <table >
	   		<thead>
	        <tr>
	    	
	       	{% if nodes %}

	            <th width="20">
	            	{% if user_access == "allow" %}
	            		<input class="checkedAll" type="checkbox">
	            	{% endif %}
	            </th>

	            <th width="150">{% trans "Title" %}</th>
	            <th width="150">{% trans "Created by" %}</th>
	            <th width="150">{% trans "Creation date" %}</th>
  		  		{% if user_access == "allow" %}
	            <th width="150">{% trans "Edit" %}</th>
	      		{% endif %}
	       	{% endif %}
	    
	       	</tr>
	      	</thead>
      
	      	<tbody>
	        {% for each in nodes %}
	       		<tr>
	        
	            <td  id="{{each.id}}" class="objectsCheckbox"> 
	            	{% if user_access == "allow" %}
	            		<input type="checkbox"> 
	            	{% endif %}
	            </td>
	            <td  class="name" style="font-size:11px;"><a href="">{{each.name}}</a></td>
	            <td  class="created_by" style="font-size:11px;">{{each.created_by}}</td>
	            <td  class="created_at" style="font-size:11px;">{{each.created_at}}</td>
  		  		{% if user_access == "allow" %}
	            <td  class="name" style="font-size:11px;"><a href="{% url "theme_topic_create" groupid each.id %}" class="button medium">Edit</a></td>

		    	<td  class="name" style="font-size:11px;">
			    	<a href="{% url "theme_topic_create" groupid each.id %}?translate=true" class="button medium">{% trans "Translate" %}</a>
			    	<!-- <a href="#" class="button medium" disabled>Translate</a> -->
		    	</td>	        
	        	{% endif %}     	       	       
 	
	          	</tr>
	          
	       	{% empty %}

	       		<h3>{% trans "No data to display" %}</h3>

	        {% endfor %}

	      	</tbody>
	  	</table>

    	{% paginate %}
	
	{% endif %}

	{% if create_edit %}
		{% if title == "Theme" or title == "Theme Item" %}
			{% include "ndf/theme_create_edit.html" %}
		{% else %}
			{% include "ndf/topic_create_edit.html" %}
		{% endif %}
	{% endif %}


	<script type="text/javascript">

		$("#add_theme_item").click(function() {
		      $.ajax({
		        type: "POST",
		        url: "{% url 'add_theme_item' groupid %}",
		        datatype: "html",
		        data:{
		          context_theme: "{{node.pk}}",
		          name: $(".name_id").val(),
		          csrfmiddlewaretoken: '{{ csrf_token }}'
		        },
		        success: function(data) {

		          var item = $(".name_id").val();

		          if ($.trim(data) === "failure") {
		            alert("Theme item "+ item +" already available, Please choose different name");
		          }

		          if ($.trim(data) === "success") {
		            location.reload(true);
		          }

		          $(".name_id").val("");
		        }
		      });

		});

		// script for fold themes hierarchy
		$(".fold").click(function() {
			$(function() {				
				location.href = "{% url 'theme_page' group_name_tag app_id %}";
			});
		});

		// script for unfold themes hierarchy
	    $(".unfold").click(function() {
	    	$(function() {
	    		location.href = "{% url 'theme_page' group_name_tag app_id %}?unfold=true";	
	    	});
	    });	

	    // script for delete themes
	    $(document).on('click',".button.deleteObjects",function(){
	    	var selectedobject = $(".objectsCheckbox input:checked")

	    	if(selectedobject.length > 0)
	    	{
           		$('#myModal').foundation('reveal', 'open');

           		var i = 0;
             	var str = "";  
	            $.map(selectedobject,function(each){
	                if(i == 0)
	                {
	                	str = str.concat(each.parentElement.id)
	                }
	                else 
	                {
	                	str = str.concat(","+each.parentElement.id)
	                }
	                
	                i= i+1
	            })

           		$.ajax({
		            url: "{% url 'delete_themes' groupid %}",
		            type: 'POST',
		            data:{
		            	context_theme: "{{node.pk}}",
		            	deleteobjects: str,
		            	csrfmiddlewaretoken: '{{ csrf_token }}'
		            },
             		success: function(result){

             			$("#deletion_results").html("");
                        for(var obj in result)
                        {
	                  		var li = $("<ul><li><b>"+result[obj].title+"</b></li></ul>").appendTo($("#deletion_results"));
                        }

             		},
             	});

           	}
           	else
           	{
        		alert("select object to delete")
        	}

	    });

		// Script for delete themes after confirm delete.
		$(document).on('click',".button.confirmDeleteObjects",function(){
	        var selectedobject = $(".objectsCheckbox input:checked")

	        if(selectedobject.length > 0)
	        {
	            var i = 0;
	            var str = "";  

	            $.map(selectedobject,function(each){
	            	if(i == 0)
	            	{
	            		str = str.concat(each.parentElement.id)
	            	}
	                else 
	                {
	                	str = str.concat(","+each.parentElement.id)
	                }

	                i= i+1
	            });

	            $.ajax({
	            	url: "{% url 'delete_themes' groupid %}",
	             	type: 'POST',
	             	data:{
		            	context_theme: "{{node.pk}}",
	             		deleteobjects: str,
	             		confirm:"yes",
	             		csrfmiddlewaretoken: '{{ csrf_token }}'
	             	},
	             	success: function(result){
	             		alert("Themes deleted successfully");
	             		$('#myModal').foundation('reveal', 'close');
	             		location.reload(true);
	             	},
	             	
	            });
	             
	        }
	        else{
	        alert("select object to delete")
	        }

		});

		// Script for selecting all objects 
		$(document).on('click',".checkedAll",function(){
			if($(this).is(":checked")==true)
			{
				$('.objectsCheckbox input').prop( "checked", true );
			}
			else
			{
				$('.objectsCheckbox input').prop( "checked", false );
			}
		});

		// Script for cancel option for deleting themes
		$(document).on('click',".button.cancelDeleteObjects",function(){
             $('#myModal').foundation('reveal', 'close');
		});

	</script>

{% endblock %}
