{% extends "ndf/base.html" %}
{% load ndf_tags %}
{% block title %}{{thread.name}}{% endblock %}
{% block body_content %}
<style type="text/css">
#maindiv
{
 background-color:#E8E8E8 ;
}
#smalldiv
background-color:#F4F4F4;
}
.response_change{
margin-bottom:1px;
padding-left:25px;
padding-right:2px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
} 
</style>
{% get_group_name request.path as group_name %}
<div class="row">
      <div class="large-12 columns">
	<div id="maindiv" class="large-6 columns">
	  <font size ="6"  >Forum :     <a href="/{{group_name}}/forum/show/{{forum}}">
{{forum.name}}</a></font> </p>
	  <font size="5" color="green">{{thread.name}}</font>
	  {% with thread.content|safe as thread_content %}
	  <font size ="2" >{{thread_content}} </font>
	  {% endwith %}

	  {% get_user_object thread.created_by as user_obj %}
	      <small>
		by:<a class="user" href="#" data-gnow="#337700">{{user_obj.username}}</a>
	      </small>
      <small>
      on:<strong>{{thread.created_at}}</strong>
    </small>

	</div>
       <div id="smalldiv" class="large-6 columns">
	 {% if user.is_authenticated %}
	 {% if thread %}
	 {% include "ndf/replytwistrep.html" %}
	 {% endif %}
	 {% endif %}
       </div>
    </div>
</div>
<div class="row">

<div class="response_change" id="refreshthread" class="large-12 columns">
  <div style="margin-left:40px;margin-bottom:1px">  
    {% get_reply thread thread 15 csrf_token request.user %}
  </div>
</div>
</div>

{% endblock %}

