
    <div id ="toolbar">
    
      <div class="row " >
        <div class="small-6 medium-6 columns">    
          <div class="datetime">

            <script type="text/javascript">
              document.write ('<div id="date-time">', new Date().toLocaleString(), '<\/div>')
              if (document.getElementById) onload = function () {
                setInterval ("document.getElementById ('date-time').firstChild.data = new Date().toLocaleString()", 50)
              }
            </script>
          </div>
        </div>
        
        <div class="small-6 medium-6 columns">
          <div class="changefont">
             <div class="fontlist">
              <a class="font-button minus">A-</a> &nbsp;<a class="font-button normal">A</a>&nbsp;<a class="font-button plus">A+</a>
             </div>
          </div>    
              <script type="text/javascript">
                $(function () {
                    $(".font-button").bind("click", function () {
                        var size = parseInt($('body').css("font-size"));
                        if ($(this).hasClass("plus")) {
                            size = size + 1;
                        } else if ($(this).hasClass("minus")){
                            size = size - 1;
                            if (size <= 10) {
                                size = 10;
                            }}
                            else if ($(this).hasClass("normal")){
                                size = 13;
                            }

                            else {}
                                $('body , a, nav, h1, p, li, h2,h3,h4,span').css("font-size", size);
                        });
                });
              </script>
             </div>

      </div>
    </div>