
{% load ndf_tags %}
{% load i18n %}

<style>

.divider-line { font-size: xx-large; color:lightgray; }
.line-height-2 { line-height:2; }
.line-height-2pt5 { line-height:2.5; }
.fontsize-x-large { font-size: x-large; }

.margin-0 { margin: 0 !important ;}

.resource-drawer { 
border-color: #D3D3D3; border-style: solid; 
padding: 0 !important; 
overflow-y: auto;
}

.resource-drawer li.bullet-item:hover{
background-color: #ecf0f1; cursor:pointer;
}

.posted-by{ color: #808080; font-size: small; }

.selected-resource { background-color:lightgray !important ; }

.resource-type-image {
height:40px; 		
background-repeat:no-repeat; background-size: 48px 48px
}

</style>

<form data-abide id="form-edit-node" method="POST" action="">

	<header class="row">

    <h2 class="medium-12 columns">
		{% if node %}
		{% blocktrans %}Editing {{title}}: {{node.name}} {% endblocktrans %}
		{% else %}
		{% blocktrans %}Create a New {{title}} {% endblocktrans %}
		{% endif %}
    </h2>

    <nav class="medium-12 columns">
   		<dl class="tabs" data-tab>
		{% if node %}
			<dd><h3>{% trans "View:" %}</h3></dd>
		
			<dd class="active" title="Click here to add Name, Description, Privacy and Tags">
		  	<!-- change name of collection tab overide block in your code -->
		  		<a href="#panel-name-description"> {{title}} </a>
			</dd>
			<dd title="Click here to add/edit collection">
	  			<a href="#panel-collection" class="collection_tab">{% trans "Collection" %} </a> 
			</dd>
						  
		{% endif %}
     	</dl>
  	</nav>
  	</header>

  	{% csrf_token %}

  	<div id="node-details-edit-div" class="tabs-content" > 
  		{% if node %}

  		<!-- Block Description -->
		<div class="active content row" id="panel-name-description">
	  		<div class="medium-6 columns">

				<div class="row">
		  			<div class="medium-8 columns">
		    			<label>{% blocktrans %}{{title}} Name {% endblocktrans %}</label>
		    			<input id="name_id" name="name" type="text" value="{{node.name}}" placeholder="Enter name..." required>
		    			<small class="error">{% trans "Please give your page a descriptive name. It's helpful for others and for yourself." %}</small>
		  			</div>

		  			<div class="medium-4 columns">
		    			{% if node.created_by == request.user.pk %}		    	
							<span data-tooltip class="has-tip" title="Public pages can be viewed and edited by any group member, while private pages are only for you"><label>{% trans "Privacy" %}</label></span>

							<div class="privacy-mode switch round">
							{% if node.access_policy == "PUBLIC" or node.group_type == "PUBLIC" %}
								<input id="PUBLIC" name="login-mode" value="PUBLIC" type="radio" checked>
								<label for="PUBLIC" onclick="">{% trans "Public" %} <i class="fi-torsos-all"></i></label>

								<input id="PRIVATE" name="login-mode" value="PRIVATE" type="radio">
								<label for="PRIVATE" onclick="">{% trans "Private" %} <i class="fi-lock"></i></label>
							{% else %}
								{% if node.access_policy == "PRIVATE" or node.group_type == "PRIVATE" %}
									<input id="PUBLIC" name="login-mode" value="PUBLIC" type="radio" >
									<label for="PUBLIC" onclick="">{% trans "Public" %} <i class="fi-torsos-all"></i></label>

									<input id="PRIVATE" name="login-mode" value="PRIVATE" type="radio" checked>
									<label for="PRIVATE" onclick="">{% trans "Private" %} <i class="fi-lock"></i></label>
								{% endif %}
							{% endif %}
								<span></span>
							</div>

						{% endif %}	    
		  			</div>
				</div>

				<div id="message" style="display:none; color:red"></div>

				<div class="row">
		  
		  			<div class="large-6 columns"><label>{% trans "Language" %}<select name="lan"><option id="en" value="en">en</option><option id="hi" value="hi">hi</option><option id="mar" value="mar">mar</option></select></label>
		     		</div>

		  			<div class="large-6 columns" style="padding: 1.8em;">
		  				<a href="#view-map-edit-widget" data-reveal-id="view-map-edit-widget" title="Click to add location markers">
		  					<i class="fi-marker"></i> &nbsp; {% trans "Add Location" %}
		  				</a>
		  			</div>
				</div>

				<div class="row">
		  			<div class="medium-12 columns">
		    			{% include "ndf/add_editor.html" with var_name="content_org" var_placeholder="Enter the content here" var_value=node.content_org|default_if_none:"" node_id=node.pk%}
		  			</div>
				</div>

				<div class="row">
		  			<div class="medium-12 columns">
		    			<span data-tooltip class="has-tip" title="Tags help identify similiar work easily. You can add as many labels as you wish using a comma ','"><label>Tag{{node.tags|pluralize|default_if_none:"s"}}</label>
		    			</span>
		    			<input id="tags_id" name="tags" type="text" value="{{node.tags|join:', '|default_if_none:""}}" placeholder="Separate tags with commas...">
		  			</div>		
				</div>

	  		</div>
		</div>


	    {% else %}
	    	<!-- Block Description -->
	    	<div class="active content row" id="panel-name-description">
	      		<div class="medium-6 columns">
		
				<div class="row">
		  			<div class="medium-8 columns">
		    			<label>{% blocktrans %}{{title}} Name {% endblocktrans %}</label>
		    			<input id="name_id" name="name" type="text" placeholder="Enter name..." required>
		    			<small class="error">{% blocktrans %}Please give your page a descriptive name. It's helpful for others and for yourself.{% endblocktrans %}</small>
		  			</div>

		  			<div class="medium-4 columns">
		    			
						<span data-tooltip class="has-tip" title="Public pages can be viewed and edited by any group member, while private pages are only for you"><label>{% blocktrans %}Privacy{% endblocktrans %}</label></span>
						<div class="privacy-mode switch round">
					
							<input id="PUBLIC" name="login-mode" value="PUBLIC" type="radio" checked>
							<label for="PUBLIC" onclick="">{% blocktrans %} Public {% endblocktrans %} <i class="fi-torsos-all"></i></label>

							<input id="PRIVATE" name="login-mode" value="PRIVATE" type="radio">
							<label for="PRIVATE" onclick="">{% blocktrans %} Private {% endblocktrans %} <i class="fi-lock"></i></label>
						
							<span></span>
						</div>

		  			</div>
				</div>

				<div id="message" style="display:none; color:red"></div>

				<div class="row">
		  
		  			<div class="large-6 columns"><label>{% trans "Language" %}<select name="lan"><option id="en" value="en">en</option><option id="hi" value="hi">hi</option><option id="mar" value="mar">mar</option></select></label>
		     		</div>

		  			<div class="large-6 columns" style="padding: 1.8em;">
		  				<a href="#view-map-edit-widget" data-reveal-id="view-map-edit-widget" title="Click to add location markers">
		  					<i class="fi-marker"></i> &nbsp; {% trans "Add Location" %}
		  				</a>
		  			</div>
				</div>

				<div class="row">
		  			<div class="medium-12 columns">
		    			{% include "ndf/add_editor.html" with var_name="content_org" var_placeholder="Enter the content here" %}
		  			</div>
				</div>

				<div class="row">
		  			<div class="medium-12 columns">
		    			<span data-tooltip class="has-tip" title="Tags help identify similiar work easily. You can add as many labels as you wish using a comma ','"><label>{% trans "Tag" %}</label>
		    			</span>
		    			<input id="tags_id" name="tags" type="text" placeholder="Separate tags with commas...">
		  			</div>		
				</div>
		
	      		</div>
  			</div>

	    {% endif %}

	    {% block collection %}

	    <div class="content" id="panel-collection" style="width:95%;">
	      <div class="row">
		<div class="small-12 columns">
		  <h5>{% trans "Add or edit Collection :" %} </h5>
		</div>				
		<br/><br/>
		
		<div class="small-12 columns" {% ifequal title "Quiz" %}style="display:none;"{% endifequal %}>
		  <div id="SelectApp" class="row">
		    <div class="small-2 columns line-height-2pt5">
		      {% trans "Classify by:" %}
		    </div>
		    <div class="small-2 columns">
		      <input type="radio" name="col" value="Page"/>
		      {% trans "Page" %} <span class="divider-line">|</span>
		      <span class="fontsize-x-large"><i class="step fi-page-filled"></i></span>
		    </div>
		    <div class="small-2 columns">
		      <input type="radio" name="col" value="File" />
		      {% trans "File" %} <span class="divider-line">|</span>
		      <span class="fontsize-x-large"><i class="step fi-page-multiple"></i></span>
		    </div>
		    <div class="small-2 columns">
		      <input type="radio" name="col" value="Image" />
		      {% trans "Image" %} <span class="divider-line">|</span>
		      <span class="fontsize-x-large"><i class="step fi-photo"></i>
		      </span>
		    </div>
		    <div class="small-2 columns">
		      <div class="row">
		      <input type="radio" name="col" value="Video" />
		      {% trans "Video" %} <span class="divider-line">|</span>
		      <span class="fontsize-x-large"><i class="step fi-video"></i>
		      </span>
		      </div>
		      <div class="row">
		      <input type="radio" name="col" value="Pandora Video" />
		      {% trans "Pandora" %} <span class="divider-line">|</span>
		      <span class="fontsize-x-large"><i class="step fi-video"></i>
		      </span>
		      </div>
		    </div>
		    <div class="small-2 columns">
		      <input type="radio" name="col" value="QuizObj" />
		      {% trans "Quiz" %} <span class="divider-line">|</span>
		      <span class="fontsize-x-large"><i class="step fi-pencil"></i>
		      </span>
		    </div>
		  </div>
		</div>
		
		<div class="small-12 columns">
		  <div id="collection_drawer" >
		    <!-- {#% edit_drawer_widget "collection" groupid node title %#} -->
		  </div>
		</div>
	      </div>
	    </div>

	    {% endblock %}
    	
	</div>  

	{% block add_fields %} {% endblock %}
  
  	<div class="row" >
    	<input type="submit" id="save-node" value="Save as Draft And Preview" class="button medium-6 columns"/>
  	</div>

  	<!-- Overlay : Map Widget -->
    <div class="content reveal-modal graph-div" id="view-map-edit-widget" data-reveal>    
      
  		<a class="close-reveal-modal" >&#215;</a>
        {% include "ndf/map_widget.html" with mode="edit" %}
    </div>

    <input type="hidden" id="nodes_list" value="{{nodes_list}}">	
    <input type="hidden" id="parent_nodes_list" value="{{parent_nodes_collection}}">						
</form>

<script type="text/javascript">

	$(document).ready(function(){
		$("#name_id").change(function(){

			var name = $("#name_id").val();
			var nodes = $("#nodes_list").val();
			var parent_nodes = $("#parent_nodes_list").val();

			if (nodes.indexOf(name) > 0)  
			{
				alert("Theme name '"+ name +"' already exist .. Please choose another name");
				$("#name_id").val("");
			}
			if (parent_nodes.indexOf(name) > 0)  
			{
				alert("Theme name '"+ name +"' already exist .. Please choose another name");
				$("#name_id").val("");
			}

		});

	});


	$("input:radio").click(function() {

		cn_arr = []

		$(".node_id").each(function (){
			if ($(this).parent(".bullet-item").parent("#collection_drawer2").attr("id") == "collection_drawer2") {
				cn_arr.push($(this).val());
			}
		});

		var cn_list = cn_arr.join(',');

		$.ajax({
			type: "POST",
			url: "{% url 'select_drawer' groupid %}",
			datatype: "html",
			data:{
				homo_collection: this.value,
				collection_list: cn_list,
				node_id: '{{node.pk}}',
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(data) {
				$("#collection_drawer").html(data);
			}
		});

	});

	$(".collection_tab").click(function() {

		$("#SelectApp").css("display", "none");
		$("#save-node").css("display", "none");
		$('#collection_drawer').html('<img src="/static/ndf/images/ajax-wait.gif" height="40" width="40"> loading...');

		$.ajax({
			type: "POST",
			url: "{% url 'drawer_widget' groupid %}",
			datatype: "html",
			data:{
				node_id: '{{node.pk}}',
				field: "collection",
				app:"{{title}}",
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(data) {
				// alert(data);
				$("#collection_drawer").html(data);
				$("#SelectApp").css("display", "block");				
				$("#save-node").css("display", "block");
			}
		});

	});


	$("#save-node").click(function() {
		cn_arr = []

		$(".node_id").each(function (){
			if ($(this).parent(".bullet-item").parent("#collection_drawer2").attr("id") == "collection_drawer2") {
				cn_arr.push($(this).val());
			}

		});

		$("#collection_list").val(cn_arr); 
		location.reload(true);

	});


  $(document).on('open', '#view-map-edit-widget[data-reveal]', function () {  
    
    $.ajax({
  url: "{% url 'get_visited_location' groupid %}",
  success: function(data){ 
   
  	data = JSON.parse(data);

    var lastVisitedLocationVal = data;
    
    if(lastVisitedLocationVal){

      if(lastVisitedLocationVal == "[]"){
        lastVisitedLocationVal = JSON.parse(lastVisitedLocationVal);
      }

      if(lastVisitedLocationVal.length > 0){
            // lastVisitedLocationVal = JSON.parse(lastVisitedLocationVal);
            var zoom = lastVisitedLocationVal.pop(),
                lng = lastVisitedLocationVal[1],
                lat = lastVisitedLocationVal[0];
              map.setView([lat, lng], zoom);
            }
    }
    else if( tempArr.length )
    {
      var group = new L.featureGroup(tempArr)
          map.fitBounds(group.getBounds());
    }
   
  }
});

  });

	$(document).on('opened', '#view-map-edit-widget[data-reveal]', function () {  
	
		map.invalidateSize();  
	   
	});

</script>

