{% extends "ndf/node_details_base.html" %}

<!-- ///////////////////////////////////////////////////////////////////////////////////////// -->

{% block title %} {{ node.name }}  {% endblock %}

<!-- ///////////////////////////////////////////////////////////////////////////////////////// -->

{% block body_content %}

<form data-abide id="form-edit-node" method="POST" action="">
{% csrf_token %}


      <div class="large-12 columns">
      
	<table class="large-6 columns">
	<div class="row">
	  <div class="large-6 columns text-center">{{node.language}}</div>
	  <div class="large-6 columns"><select name="lan"><option id="en" value="en">en</option><option id="hi" value="hi">hi</option><option id="mar" value="mar">mar</option></select>
	     </div>
  <hr style="height:5px;background-color: #0B6580;" />

      	{% for k, v in content.items %}
    
	</div>
  	
         <tr>
	  {% if k == 'name' or k == 'tags' or k == 'relation_set' or k == 'prior_node' or k == 'content_org' %}
	     <td>{{k}}</td>
             <td>{{v}}</td>
	  {% endif %}
	     </tr>
	 {% endfor %}
	 </table>

	<table class="large-6 columns">

      	{% for k, v in content.items %}
	
         <tr>
	  {% if k == 'tags' or k == 'relation_set' or k == 'prior_node'%}
	     <td>{{k}}</td>
             <td>{{v}}</td>
	   {% endif %}
	     {% if k == 'name'%}
	     <td>{{k}}</td>
	     <td><input type="text" name="name"></td>
	     {% endif %}
           {% if k == 'content_org' %}
	     <td>{{k}}</td>
	<td>{% include "ndf/add_editor.html" with var_name="content_org" var_placeholder="Enter the content here" var_value=node.content_org|default_if_none:"" %}</td>
	     {% endif %}
					
	  
	     </tr>
	 {% endfor %}
	 </table>
<div class="row" >

		<input type="submit" id="save-node" value="Save" class="button medium-6 columns"/>
	</div>
</form>
      
	</div>


{% endblock%}
