{% load ndf_tags %}


{% block body_content %}
<style type="text/css">
#replydiv
{
 background-color:#F4F4F4;
 left-padding:5px;
}
#insidediv
{
 background-color:#CBCBCB ;

}

.response_change{
margin-bottom:1px;
padding-left:25px;
padding-right:2px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
</style>


{% get_all_replies reply as replies %}

{% for eachrep in replies %}
{% get_user_object eachrep.created_by as user_obj %}

<div class="row">
<div id="insidediv" class="large-6 columns">
 <font size="1" color="darkblue" >
          {% with eachrep.content|safe as rep_content %}
              {{rep_content}}
          {% endwith %}
</font>
       <small>
		by:<a class="user" href="#" data-gnow="#337700">{{user_obj.username}}</a>
	      </small>
      <small>
      on:<strong>{{eachrep.created_at}}</strong>
    </small>

</div>
        <div class="large-6 columns">

          {% if user.is_authenticated %}
             {% include "ndf/replytwistrep.html" %}
	  {% endif %}
        </div>
</div>

<div class="response_change" id="refreshthread" class="large-12 columns">

{% get_reply thread eachrep forum csrf_token user groupid %}

</div>
{% endfor %}


{% endblock %}
