{% extends "ndf/base.html" %}
{% load i18n %}

{% block title %} Upload Resource {% endblock %}


{% block meta_content %} 
	<!-- This content displayed into the left panel to display the info/hrlp document -->
	<h3>{% trans "Uploader Form" %}</h3>
	<p class="text-justify subheader">{% trans "You can upload <b>files</b> of any format to your group library." %}</p>

{% endblock %} 


{% block body_content %} 

	{% include "ndf/Upload_File.html" %}

	<!-- Overlay : Map Widget -->
    <div class="content reveal-modal graph-div" id="view-map-edit-widget" data-reveal>    
    	<!-- #{#% #if '/edit/' in request.path  or '/image_detail/' in request.path  or '/video_detail/' in request.path%} -->
        <a class="close-reveal-modal" >&#215;</a>
        {% include "ndf/map_widget.html" with mode="edit" %}
        <!-- <div style="background-color:gray; width:100%; height:80%;"></div> -->
      <!-- #{#%# endif %} -->
    </div>

{% endblock %}




