{% extends "ndf/base.html" %}

<!-- ///////////////////////////////////////////////////////////////////////////////////////// -->

{% block title %} {{ node.member_of|join:", " }} - {{ node.name }}  {% endblock %}

<!-- ///////////////////////////////////////////////////////////////////////////////////////// -->

{% block body_content %}

  <div style="padding-top:0.8em">
    <h2>
      {% ifequal view "single" %}
      View
      {% else %}
      Compare
      {% endifequal %}
      History
    </h2>
  </div>

  <hr style="height:5px;background-color: #0B6580;" />

  <div id="compare_versions_div" style="">
  <form method="POST" action="">
    {% csrf_token %}

    <table cellpadding="8">
      <tr>
        <td><font size="3">Compare</font></td>
	<td valign="bottom">
	  <select class="" id="version_1" name="version_1">
	    {% for version_no in node.version_dict.values %}
	      {% ifequal version_no selected_versions.1 %}
	        <option id="{{version_no}}" name="{{version_no}}" value="{{version_no}}" selected>{{version_no}}</option>
	      {% else %}
	        <option id="{{version_no}}" name="{{version_no}}" value="{{version_no}}">{{version_no}}</option>
	      {% endifequal %}
	    {% endfor %}
	  </select>
	</td>
        <td><font size="3">with</font></td>
	<td valign="bottom">
	  <select id="version_2" name="version_2">
	    {% for version_no in node.version_dict.values reversed %}
	      {% ifequal version_no selected_versions.2 %}
	        <option id="{{version_no}}" name="{{version_no}}" value="{{version_no}}" selected>{{version_no}}</option>
	      {% else %}
	        <option id="{{version_no}}" name="{{version_no}}" value="{{version_no}}">{{version_no}}</option>
	      {% endifequal %}
	    {% endfor %}
	  </select>
	</td>
        <td>
	  <input id="compare_versions" type="submit"  value="Go" class="btn btn-large btn-primary" />
	</td>
      </tr>
    </table>

  </form>
  </div>

  {% ifequal view "single" %}
    <div id="single-view" style="padding-bottom: 20px">
      <table cellpadding="8">
	<tr>
          <th align="right">Fields</th>
          <th align="left">Version #{{selected_versions.1}}</th>
	</tr>
	{% for k, v in content.items %}
	<tr>
          <td align="right" valign="top">{{k}}</td>
          <td>{{v}}</td>
	</tr>
	{% endfor %}
      </table>
    </div>
  
  {% else %}
    <div id="compare-view" style="padding-bottom: 20px">
      {{content|safe}}
    </div>
  
  {% endifequal %}

{% endblock %}

{% block script %}

$("#compare_versions").click(function() {
    if ($("#version_1").val() === $("#version_2").val()) {
	alert ("Please select different versions!!!")
	return false;
    }
});

{% endblock%}
