
<div class="row group_content">
    <div class="small-12 columns  group_sections_content" id="scstyle">
        <form enctype="multipart/form-data" method="post" action="{{post_url}}">
            {% csrf_token %}
            <!-- _id -->
            <input type="hidden" name="_id" value="{{node_obj.pk}}">

            <!-- name -->
            <div class="">
                <div class="left">
                <h5>Name</h5>
                <div class="gray-text">{{source_obj.name}}</div>
                </div>
                <div class="small-11 medium-11 large-11 columns">
                    <input name="name" type="text" class="orange-button" style="margin-top:11px;margin-left:40px" placeholder="Enter Name"
                    value="{{node_obj.name|safe}}"/>
                </div>
            </div>

            <hr/>

            <!-- content -->
            <div class="">
                <div class="left">
                <h5>Description</h5>
                {{source_obj.content|safe}}
                </div>
                <div class="right">
                    {% include "ndf/html_editor.html" with var_name="content" var_placeholder="Enter the content here" var_value=node_obj.content|safe|default_if_none:"" node_id=node_obj.pk ckeditor_toolbar="GeneralToolbar" %}
                </div>
            </div>
            <hr/>
            {% for k, v in additional_form_fields.attribute.iteritems %}
                <div class="course_creator_header">
                    <div class="left course_heading">
                    <h5>{{k}}</h5>
                    </div>
                    <div class="right course_heading_unit">
                         <select name="attribute_{{v.name}}" {{v.widget_attr}}>
                            <option value=''>Choose {{k}}</option>
                            {% for each_opt in v.all_options %}
                                <option {% if v.value == each_opt %} selected {% endif %}>
                                    {{each_opt}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

            {% endfor %}
            <div class="row">
                <input type="submit" class ="small-2 columns right orange-button" id="" value="Save"/>
            </div>
        </form>
    </div>
</div>
