<input type="button" class="enroll-btn" value="Enroll">
<script type="text/javascript">
  
$(document).on('click','.enroll-btn',function(){
  //trigger the ajax call to enroll
  $.ajax({
    url: "{% url 'enroll_to_course' group_id %}",

    data: {
      'csrfmiddlewaretoken': "{{csrf_token}}"
    },

    type: "POST",

    dataType: "json",

    success: function(data){
      success_state = data["success"]
      if(success_state){
      $(".enroll-btn").attr('value', 'ENROLLED')
      $(".enroll-btn").attr("disabled","disabled")
      location.reload();
      }
    },
  });//end of ajax
})

</script>
