{% load i18n %}
{% load cache %}
<style type="text/css">
table tbody, table thead
{
    display: block;
}
table tbody 
{
   overflow-y: auto;
   height: 390px;
}
table td{
  width: 10%;
}

</style>
  <!-- Confirmation Seek Modal on Submit click -->
  <div id="confirmUserSubscriptionModal" class="reveal-modal medium alert-box radius" data-reveal data-alert>
    <p id="confirmUserSubscriptionModalLabel"></p>
    <div class="row feeds_proceed">
      <div class="small-3 small-offset-3 columns">
        <input type="button" id="btnConfirmUserSubYes" class="button tiny expand" value={% trans "Yes" %}>
      </div>
      <div class="small-3 columns end">
        <input type="button" id="btnConfirmUserSubNo" class="button tiny expand " value={% trans "No" %}>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>


<div class="row">

  <!-- Info Box -->
  <div class="small-6 large-3 columns" style="margin-left: -6%">
    <div class="info-box hide" >
      <div class="row" >
        <div class="member_info">Members:
          <div class="push-to-right">
            <h3 class="mem-added-cnt inline-block-display ">0</h3> to be Added.<br/>
            <h3 class="mem-removed-cnt inline-block-display">0</h3> to be Removed.
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="admin_info">Admins:
          <div class="push-to-right">
            <h3 class="adm-added-cnt inline-block-display">0</h3> to be Added.<br/>
            <h3 class="adm-removed-cnt inline-block-display">0</h3> to be Removed.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="small-6 large-9 columns widget-container">
      <!-- Search Box -->
      <div class="search-box">
          <div class="inline-block-display auto-width" >
            <h4>{% trans 'Search User by name : ' %}</h4>
          </div>
          <div class="inline-block-display auto-width" >
            <input type="text" class="student_name" value="" placeholder="Enter atleast 3 letters">
          </div>
          <div class="inline-block-display auto-width" >
              <input type="button" class="auto-width radius button search_stud_btn orange-button" value="Find Users" />
          </div>
      </div>

      <!-- Search Result Box -->
      <div class="data-box">
        <div id="student_count_div"></div>
        <div id="student_data_set_div"></div>
        <div class="controls-box hide">
          <input type="button" value="Submit" class="radius button submit-btn asset-save-button">
          <input type="button" value="Cancel" class="radius button cancel-btn asset-save-button">
        </div>
      </div>
  </div>
</div>

<script type="text/javascript">
  var search_text_old = "";
  var mem_subscription_data = {'added': {}, 'removed': {}}
  var adm_subscription_data = {'added': {}, 'removed': {}}

  function create_users_table(){
      stud_table = document.createElement('table');
      outer_div = document.getElementById("student_data_set_div");
      stud_table.style.width = "100%"
      outer_div.style.overflowX = "hidden"
      var table_header = stud_table.createTHead();
      var header_row = table_header.insertRow(0)     
      var cell1 = header_row.insertCell(0)
      var cell2 = header_row.insertCell(1)
      var cell3 = header_row.insertCell(2)
      var cell4 = header_row.insertCell(3)
      var cell5 = header_row.insertCell(4)
      cell1.innerHTML = "<b>No.</b>"
      cell2.innerHTML = "<b>Name</b>"
      cell3.innerHTML = "<b>Member</b><br/> <input type='checkbox' class='select-mem'> Select All "
      cell4.innerHTML = "<b>Admin</b><br/> <input type='checkbox' class='select-adm'> Select All"
      cell5.innerHTML = "<b>Action</b>"
      return stud_table
  }


  function create_checkbox(user_id, username, chk_flag){
    chkbox_ele = document.createElement("input")
    chkbox_ele.type = "checkbox"
    chkbox_ele.className = "user_mgmt_chk"
    chkbox_ele.setAttribute('data-user-id',user_id)
    chkbox_ele.setAttribute('data-user-name',username)
    if(chk_flag){
      chkbox_ele.setAttribute('checked',true)
      chkbox_ele.setAttribute('data-checked-status',true)
    }
    return chkbox_ele
  }

  $(document).on( 'click', '.search_stud_btn', function (e) {
      var search_text = $(".student_name").val().toLowerCase();
      var search_text_len = (search_text.length);

      if (search_text_len > 2){
      $.ajax({
        type: "GET",
        url: "{% url 'search_users' group_id %}",
        datatype: "json",
        data:{
          'username_str': search_text
        },
        success: function(data) {
          $("#student_data_set_div").html("")
          data = JSON.parse(data)
          if(data.length > 0){
            $("#student_count_div").html("Total "+ data.length+" user(s) found.")
            stud_table = create_users_table()

            var table_body = stud_table.createTBody();
  
            $.each(data, function(index_val,tuple_obj){
              var data_row = table_body.insertRow(-1); 

              var serial_no_cell = data_row.insertCell(0);
              var data_cell = data_row.insertCell(1);
              var mem_cell = data_row.insertCell(2);
              var admin_cell = data_row.insertCell(3);
              var action_on_user = data_row.insertCell(4);

              data_row.id =  tuple_obj[0]
              serial_no_cell.innerHTML = index_val + 1
              data_cell.innerHTML = tuple_obj[1]
              data_cell.className = "username"
              action_on_user.innerHTML = "<a>Change Password</a>"
              action_on_user.className = "action_on_user"

              // Member
              mem_chk = create_checkbox(tuple_obj[0], tuple_obj[1], tuple_obj[2])
              mem_chk.name = "member-chk"
              mem_cell.innerHTML = mem_chk.outerHTML;

              // Admin
              admin_chk = create_checkbox(tuple_obj[0], tuple_obj[1], tuple_obj[3])
              admin_chk.setAttribute('data-user-admin','True')
              admin_chk.name = "admin-chk"
              admin_cell.innerHTML = admin_chk.outerHTML;

            })

            $("#student_data_set_div").append(stud_table);
            $(".search-box").hide()
            $(".data-box").show()
            $(".controls-box").removeClass("hide")
            $(".info-box").removeClass("hide")
          }
          else{
            $(".search-box").show()
            $(".data-box").show()
            $(".info-box").addClass("hide")
            $(".controls-box").addClass("hide")
            $("#student_data_set_div").html("")
            $("#student_count_div").html("No results found")
          }
        },
      });
      }
      else{
        alert("Please enter some text to search.")
      }
  })

  $(document).on("click", ".cancel-btn", function() {
    $(".search-box").show()
    $(".data-box").hide()
    $(".info-box").addClass("hide")
    $(".controls-box").addClass("hide")
  })


  $(document).on("click", ".submit-btn", function() {
      lbl_msg = "Are you sure you want to proceed?"
      $("#confirmUserSubscriptionModalLabel").text(lbl_msg);
      $("#confirmUserSubscriptionModal")
        .removeClass("medium").addClass("small")
        .addClass("alert")
      $("#confirmUserSubscriptionModal").foundation('reveal', 'open');
  })


  function get_added_user_ids(data_dict){
        return Object.keys(data_dict['added']).map(function(key){
            return data_dict['added'][key];
        });
  }

  function get_removed_user_ids(data_dict){
        return Object.keys(data_dict['removed']).map(function(key){
            return data_dict['removed'][key];
        });
  }

  //Confirm or Cancel Deletion
    $(document).on("click", "#btnConfirmUserSubYes", function() {

        users_to_be_mem = get_added_user_ids(mem_subscription_data)
        users_to_be_adm = get_added_user_ids(adm_subscription_data)

        users_not_to_be_mem = get_removed_user_ids(mem_subscription_data)
        users_not_to_be_adm = get_removed_user_ids(adm_subscription_data)
        // console.log("users_to_be_mem: "+ JSON.stringify(users_to_be_mem))
        // console.log("users_to_be_adm: "+ JSON.stringify(users_to_be_adm))
        // console.log("users_not_to_be_mem: "+ JSON.stringify(users_not_to_be_mem))
        // console.log("users_not_to_be_adm: "+ JSON.stringify(users_not_to_be_adm))

        // Handling Members
        if(users_to_be_mem.length > 0){
          add_users(JSON.stringify(users_to_be_mem), 'False')
        }
        if(users_not_to_be_mem.length > 0){
          remove_users(JSON.stringify(users_not_to_be_mem), 'False')
        }

        // Handling Admins

        if(users_to_be_adm.length > 0){
          add_users(JSON.stringify(users_to_be_adm), 'True')
        }
        if(users_not_to_be_adm.length > 0){
          remove_users(JSON.stringify(users_not_to_be_adm), 'True')
        }

        $("#confirmUserSubscriptionModal").foundation('reveal', 'close');
        update_checkbox_attrs()
        mem_subscription_data = {'added': {}, 'removed': {}}
        adm_subscription_data = {'added': {}, 'removed': {}}
        update_status_lbl()
    });


    function update_checkbox_attrs(){
      data_dicts = [mem_subscription_data, adm_subscription_data]
      $.each(data_dicts, function(ind, dict_obj){
        $.each(dict_obj["added"], function(i,v){
          $("input[data-user-id=" + v + "]").setAttribute("data-checked-status", true)
        })
        $.each(dict_obj["removed"], function(i,v){
          $("input[data-user-id=" + v + "]").removeAttr("data-checked-status")
        })
      })
    }

    $(document).on("click", "#btnConfirmUserSubNo", function() {
        $("#confirmUserSubscriptionModal").foundation('reveal', 'close');
    });

  function update_data_and_label(chk_ele){
    subscription_user_type = mem_subscription_data
    if ($(chk_ele).attr('data-user-admin') == 'True'){
      subscription_user_type = adm_subscription_data
    }
    if($(chk_ele).attr('data-checked-status') && !($(chk_ele).is(':checked'))){
      subscription_user_type["removed"][$(chk_ele).attr('data-user-name')] = $(chk_ele).attr('data-user-id')
    }
    else if(!$(chk_ele).attr('data-checked-status') && ($(chk_ele).is(':checked'))){
      subscription_user_type["added"][$(chk_ele).attr('data-user-name')] = $(chk_ele).attr('data-user-id')
    }
    if (!($(chk_ele).is(':checked'))){
      delete subscription_user_type['added'][$(chk_ele).attr('data-user-name')]
    }
    update_status_lbl()
  }


  function select_all(chk_name){
    $("input[name=" + chk_name + "]").each(function () {
      $(this).prop('checked', true)
      update_data_and_label($(this))
    })
  }

  function deselect_all(chk_name){
    $("input[name=" + chk_name + "]").each(function () {
      $(this).prop('checked', false)
      update_data_and_label($(this))
    })
  }

  // Select All In Member column
  $(document).on("click", ".select-mem", function() {
    if($(this).is(":checked")){
      select_all('member-chk')
    }
    else{
      deselect_all('member-chk')
    }
  })

  // Select All In Admin column
  $(document).on("click", ".select-adm", function() {
    if($(this).is(":checked")){
      select_all('admin-chk')
    }
    else{
      deselect_all('admin-chk')
    }
  })

  // On change of Checkbox against Member
  $(document).on("click", "input[type=checkbox][name='member-chk']", function() {
    update_data_and_label($(this))
  })


  // On change of Checkbox against Admin
  $(document).on("click", "input[type=checkbox][name='admin-chk']", function() {
    update_data_and_label($(this))
  })

  // Generic function to update count labels
  function update_status_lbl(){
    $(".mem-added-cnt").html(Object.keys(mem_subscription_data['added']).length)
    $(".mem-removed-cnt").html(Object.keys(mem_subscription_data['removed']).length)
    $(".adm-added-cnt").html(Object.keys(adm_subscription_data['added']).length)
    $(".adm-removed-cnt").html(Object.keys(adm_subscription_data['removed']).length)
  }

  $(document).on("click", "#subscribe_to_grp", function() {
        user_id = $(this).attr('data-user-id')
        asAdmin = $(this).attr('data-user-admin')
        add_users(user_id, asAdmin)
  });

  $(document).on("click", "#unsubscribe_from_grp", function() {
        user_id = $(this).attr('data-user-id')
        asAdmin = $(this).attr('data-user-admin')
        remove_users(user_id, asAdmin)
  });

  function add_users(user_id, asAdmin){
    $.ajax({
      type: "POST",
      url: "{% url 'enroll_to_course' group_id %}",
      datatype: "json",
      data:{
              'user_id': user_id,
              'asAdmin': asAdmin,
              'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
      // context: this,
      success: function(data) {
        data = JSON.parse(data)
        success_state = data["success"]
        grp_mem_count = data["member_count"]
        if(!success_state){
            alert("Something went wrong. Please try again later.")
        }
        else{
            if($(this).hasClass('subscription_policy')){
                $(".subscription_policy")
                    .attr("id", "unsubscribe_from_grp")
                    .attr("value", "Unsubscribe")
                    .attr("title", "Unsubscribe from this group")
                // Update Courp member count in Group-dashboard
                $(".grp_mem_count")
                    .text(grp_mem_count)
                    .attr('value',grp_mem_count)
            }
        }
      }
    });
  }

  function remove_users(user_id, asAdmin){
    $.ajax({
            type: "POST",
            url: "{% url 'unsubscribe_from_group' group_id %}",
            datatype: "json",
            data:{
                    user_id: user_id,
                    asAdmin: asAdmin,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
              },
            context: this,
            success: function(data) {
                data = JSON.parse(data)
                success_state = data["success"]
                grp_mem_count = data["member_count"]
                if(!success_state){
                    alert("Something went wrong. Please try again later.")
                }
                else{
                    if($(this).hasClass('subscription_policy')){
                        $(".subscription_policy")
                            .attr("id", "subscribe_to_grp")
                            .attr("value", "Join")
                            .attr("title", "Join this Group")
                        // Update Group member count in Group-dashboard
                        $(".grp_mem_count")
                            .text(grp_mem_count)
                            .attr('value',grp_mem_count)
                    }
                }
            }
    });
  }
</script>