{% load i18n %}
{% load ndf_tags %}

	{% get_relation_value video_obj.pk 'has_subtitle' as subtitle_rel %}
	  {% get_relation_node video_obj.pk  as subtitle_rel_node %}
	{% comment %}
	{% for each in subtitle_rel.grel_node  %}
	  	{{subtitle_rel_node.relation_type_scope.alt_language}}
  	{% endfor %}
	{% if subtitle_rel.grel_id %}
		{% get_relation_node subtitle_rel.grel_id.0  as subtitle_rel_node %}
		{{subtitle_rel_node.relation_type_scope.alt_language}}
	{% endif %}

	{% for each in subtitle_rel.grel_node %}

			<track kind="captions" label="en" src="{{MEDIA_URL}}{{each.if_file.original.relurl}}" srclang="en" /> 
			 
		 {% endfor  %}
		
		 {% for each in subtitle_rel.grel_id  %}
	  		{% get_relation_node each  as subtitle_rel_node %}
	  			{{subtitle_rel_node.relation_type_scope.alt_language}}
		{% endfor %}
	{% endcomment %}

<div id="scstyle">

	<div class="video-player-area" id="video-player-{{video_obj.pk}}">
	{% if 'video' in video_obj.if_file.mime_type %}

		<div class="vidbak">
		<video id="{{video_obj.pk}}" class="video-js vjs-skin-colors-clix vjs-big-play-button center" controls="controls" data-setup="{ playbackRates: [0.5, 1, 1.5, 2] }" height="360" width="480">
		<source src="{{MEDIA_URL}}{{video_obj.if_file.original.relurl}}" type="video/mp4" crossorigin="anonymous" preload="metadata" codecs="avc1.42E01E, mp4a.40.2"/>
		 


		<!-- adding captions in different language-->
		
		</video>
		</div>
			{% get_relation_value video_obj.pk 'has_transcript' as transcript_rel %}
			{% if transcript_rel %}

		<form class="trans-form"><input align="right" id="toggler" type="checkbox" /><label class="toggle-me" for="toggler">Transcript</label><img alt="" class="arrow-toggle" src="../Images/chevron-right.svg" />
		<div class="transcript">
			<object type="text/html" data="{{MEDIA_URL}}{{transcript_rel.grel_node.if_file.original.relurl}}" style="width:100%; height:100%">
			</object>
		</div>
			{% endif %}
	</div>
	{% endif %}
			<script>
			function myFunction() { 
			    var vid = document.getElementById(id);
			    document.getElementById("mySpan").innerHTML = "Seeking: " + vid.seeking;
			} 
			</script>
</div>