{% extends "ndf/base.html" %}

{% block title %} {{title}} {% endblock %}


{% block search_content %}
 {% include "ndf/node_search_base.html" %}
{% endblock %}

{% block related_content %}	
	{% for topic in topic_coll %}
    		{% if selected_topic.name == topic.name %}
		<br/>
		<div class="create card">
		<a class="button medium" href="{% url 'wikidata_topic_display' group_id topic %}" style="text-decoration:underline;font-weight:bold;text-color:red;font-size:20px;"> 
		{{ topic.name }}
     		 </a>
		</div>
		{% else %}
		<br/>
		<div class="create card">
		<a class="button medium" href="{% url 'wikidata_topic_display' group_id topic %}" style="margin-left:20px;margin-right:20px;"> 
		{{ topic.name }}
     		 </a>
		</div>

		{% endif %}

	{% endfor %} 
{{ count }} 
{% endblock %}


{% block meta_content %}
  <h2>{{ title }}</h2>
{% endblock %}



{% block body_content %}

{% if selected_topic == None %}
	<br>
	<br>
	<h3>
	<strong>
	Select the topic from the panel on the left to view the details about that topic. The knowledge graph for that particular topic is also available on the same page.
	</strong>
	</h3>
	<hr align = "center" size = "10%">
{% else %}
	
  	<div>
		<br>
		<br>
		<h2><strong>Topic Name:: {{ selected_topic.name }}</h2></strong>
		<br>
		<strong>
		Created By: (User Id)</strong> - {{ selected_topic.created_by }}
		<br><br>
		<strong>
		Content:
		</strong>
	 	{{ selected_topic.content_org }}
		<br><br>
		<strong>
		Aliases:
		<br><br>
		</strong>
		{{ selected_topic.altnames }}
		<br><br>
		<strong>
		Tags:
		<br><br>
		</strong>
		{% for tag in selected_topic.tags %}
			{{ tag }} {{" "}}		

		{% endfor %}
		<br><br>
		<a href = "{{ selected_topic.url }}">{{ selected_topic.url }}</a>
		<br>
		<hr align = "center" size = "10%">
		
		<iframe src="{{ selected_topic.url }}" width="95%" height="600" align = "middle" frameborder = 0>
 		 <p>Your browser does not support iframes.</p>
		</iframe>

  	</div>
 


{% endif %}
{% endblock %}



