/*
*   CLIx Customization SASS
*/
/*Blue color variables*/
/*Orange color variables*/
/* line 19, ../../../scss/_clix2017.scss */
html {
  height: 100%;
}

/* line 22, ../../../scss/_clix2017.scss */
body {
  background: linear-gradient(135deg, #e5a426, #ae208c);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Overridding foundation css*/
/* line 33, ../../../scss/_clix2017.scss */
.top-bar, .top-bar .name {
  height: 55px;
  background: #2e3f51;
}

/* line 39, ../../../scss/_clix2017.scss */
.top-bar .title-area {
  box-shadow: 0px 0.6px 3px #000;
  z-index: 20;
}
/* line 43, ../../../scss/_clix2017.scss */
.top-bar .name {
  text-align: center;
}
/* line 46, ../../../scss/_clix2017.scss */
.top-bar .name .close-menu-dropdown, .top-bar .name .side-bar-button {
  position: absolute;
  left: 15px;
  color: #fff;
  font-size: 35px;
  font-weight: 100;
}
/* line 56, ../../../scss/_clix2017.scss */
.top-bar li.toggle-topbar i {
  color: #fff;
  display: inline-block;
  vertical-align: bottom;
}
/* line 64, ../../../scss/_clix2017.scss */
.top-bar .top-bar-section ul li {
  background: #2e3f51;
}
/* line 66, ../../../scss/_clix2017.scss */
.top-bar .top-bar-section ul li > a {
  border-left: 3px solid transparent;
  border-bottom: 1px solid #4b5b6b;
  color: #acd4fa;
  line-height: 40px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
}
/* line 77, ../../../scss/_clix2017.scss */
.top-bar .top-bar-section ul li:hover > a, .top-bar .top-bar-section ul li.active > a {
  border-left-color: #ffc14e;
  color: #ce7869;
}
/* line 85, ../../../scss/_clix2017.scss */
.top-bar .top-bar-section .dropdown li.parent-link a {
  display: none;
}
/* line 91, ../../../scss/_clix2017.scss */
.top-bar .top-bar-section .side-bar-menu .add_buddy i {
  color: #2e3f51;
  background: #acd4fa;
}

@media screen and (min-width: 40.063em) {
  /* line 102, ../../../scss/_clix2017.scss */
  .top-bar .title-area {
    box-shadow: none;
  }
  /* line 104, ../../../scss/_clix2017.scss */
  .top-bar .title-area .name {
    text-align: right;
  }
  /* line 111, ../../../scss/_clix2017.scss */
  .top-bar .top-bar-section li:not(.has-form) a:not(.button) {
    cursor: pointer;
    background: transparent;
    border-bottom: 0px;
    line-height: 52px;
    border-left-width: 0px;
  }
  /* line 118, ../../../scss/_clix2017.scss */
  .top-bar .top-bar-section li:not(.has-form) a:not(.button):hover {
    color: #ce7869;
    border-bottom: 3px solid #ffc14e;
  }
  /* line 124, ../../../scss/_clix2017.scss */
  .top-bar .top-bar-section li:not(.has-form).active a:not(.button) {
    color: #ce7869;
    border-bottom: 3px solid #ffc14e;
  }
  /* line 132, ../../../scss/_clix2017.scss */
  .top-bar .top-bar-section li:not(.has-form).has-dropdown a:not(.button):hover {
    color: #acd4fa;
    border-bottom: 0px;
  }
  /* line 141, ../../../scss/_clix2017.scss */
  .top-bar .top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: transparent;
  }
  /* line 149, ../../../scss/_clix2017.scss */
  .top-bar .top-bar-section .dropdown li:not(.has-form) > a:not(.button) {
    border-left-width: 2px;
    color: #acd4fa;
    background: #2e3f51;
  }
  /* line 156, ../../../scss/_clix2017.scss */
  .top-bar .top-bar-section .dropdown li:not(.has-form):hover a:not(.button), .top-bar .top-bar-section .dropdown li:not(.has-form).active a:not(.button) {
    background: #2e3f51;
    color: #acd4fa;
    border-bottom: 0px;
    border-left-width: 2px;
    /*&:hover {
        color: $secondry-blue;
        border-bottom: 0px;
    }*/
  }
}
/*Custom css*/
/* line 175, ../../../scss/_clix2017.scss */
[class*="column"] + [class*="column"]:last-child {
  float: left;
}

/* line 179, ../../../scss/_clix2017.scss */
.icons-medium {
  font-size: 23px;
  line-height: 23px;
  vertical-align: sub;
}

/* line 184, ../../../scss/_clix2017.scss */
.icons-large {
  font-size: 45px;
  line-height: 45px;
}

/* line 189, ../../../scss/_clix2017.scss */
.round-icon {
  border-radius: 100%;
  height: 20px;
  font-size: 15px;
  padding: 2px 5px;
}

/* line 195, ../../../scss/_clix2017.scss */
.hide {
  display: none !important;
}

/* line 198, ../../../scss/_clix2017.scss */
.badge {
  display: inline-block;
  height: 21px;
  width: 21px;
  border-radius: 100%;
  line-height: 21px;
  text-align: center;
  font-size: 15px;
}
/* line 207, ../../../scss/_clix2017.scss */
.badge.badge-blue {
  background-color: #acd4fa;
  color: #fff;
}

/* line 213, ../../../scss/_clix2017.scss */
#menu_bar_gstudio .user-profile-pic-small {
  height: 46px;
  width: 46px;
  margin: 0px 10px;
}
/* line 219, ../../../scss/_clix2017.scss */
#menu_bar_gstudio .loggedin-user {
  background: #505e6c;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  display: inline-block;
  margin: 5px 5px 0px 5px;
  overflow: hidden;
}
/* line 229, ../../../scss/_clix2017.scss */
#menu_bar_gstudio .loggedin-user img {
  height: 100%;
  width: 100%;
}

/*  group_list */
/* line 236, ../../../scss/_clix2017.scss */
.group_breadcumbs {
  color: #fff;
}
/* line 238, ../../../scss/_clix2017.scss */
.group_breadcumbs a {
  display: inline-block;
  margin: 15px auto;
  color: #fff;
  letter-spacing: 1px;
}

/* line 246, ../../../scss/_clix2017.scss */
.group_tile {
  height: 300px;
  background: url("/static/ndf/images/course_backbround-2.png") no-repeat;
  background-size: 100% 100%;
  padding: 20px 22px;
  color: #fff;
  margin-bottom: 30px;
  cursor: pointer;
}
/* line 255, ../../../scss/_clix2017.scss */
.group_tile .group-name {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1.1px;
  margin-bottom: 15px;
  display: block;
}
/* line 263, ../../../scss/_clix2017.scss */
.group_tile .group_desc {
  letter-spacing: 0.5px;
  font-size: 17px;
}

/* curriculum */
/* line 270, ../../../scss/_clix2017.scss */
ul.horizontal_tabs_gstudio {
  margin: 0px;
  height: 60px;
}
/* line 273, ../../../scss/_clix2017.scss */
ul.horizontal_tabs_gstudio > li {
  display: inline-block;
  height: 100%;
}
/* line 276, ../../../scss/_clix2017.scss */
ul.horizontal_tabs_gstudio > li > a {
  color: #ce7869;
  padding: 17px 12px 13px;
  display: block;
  border-bottom: 3px solid transparent;
  font-size: 17px;
  letter-spacing: 0.3px;
}
/* line 284, ../../../scss/_clix2017.scss */
ul.horizontal_tabs_gstudio > li > a.selected, ul.horizontal_tabs_gstudio > li > a:hover {
  border-bottom: 3px solid #ffc14e;
}
/* line 288, ../../../scss/_clix2017.scss */
ul.horizontal_tabs_gstudio > li.sub_group_action {
  position: relative;
}
/* line 290, ../../../scss/_clix2017.scss */
ul.horizontal_tabs_gstudio > li.sub_group_action > ul {
  position: absolute;
  top: 50px;
  display: none;
  z-index: 10;
  position: cursor;
  margin: 0px;
  background: #fff;
  box-shadow: 0px 1px 6px 1px #ccc;
}
/* line 300, ../../../scss/_clix2017.scss */
ul.horizontal_tabs_gstudio > li.sub_group_action > ul li {
  list-style: none;
  white-space: nowrap;
  padding: 15px 15px;
}
/* line 305, ../../../scss/_clix2017.scss */
ul.horizontal_tabs_gstudio > li.sub_group_action > ul li:hover {
  background: #d6f2fe;
}
/* line 311, ../../../scss/_clix2017.scss */
ul.horizontal_tabs_gstudio > li.sub_group_action:hover ul {
  display: block;
}

/* line 320, ../../../scss/_clix2017.scss */
.group_content .group_banner {
  height: 300px;
  background: url("/static/ndf/images/course_backbround-2.png") no-repeat;
  background-size: 100% 100%;
}
/* line 325, ../../../scss/_clix2017.scss */
.group_content .group_header {
  height: 80px;
  padding: 20px;
  background-color: #482667;
  color: #fff;
}
/* line 330, ../../../scss/_clix2017.scss */
.group_content .group_header .group_title {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.4px;
}
/* line 335, ../../../scss/_clix2017.scss */
.group_content .group_header .group_actions > button {
  display: inline-block;
  margin: 7px 10px;
}
/* line 340, ../../../scss/_clix2017.scss */
.group_content .group_sections {
  text-align: center;
  border-bottom: 1px solid #ccc;
  background: #fff;
}
/* line 345, ../../../scss/_clix2017.scss */
.group_content .group_sections_content {
  min-height: 400px;
  background-color: #fff;
  padding-top: 20px;
}

/* line 352, ../../../scss/_clix2017.scss */
.asset_tile {
  margin-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #eee;
  cursor: pointer;
}
/* line 358, ../../../scss/_clix2017.scss */
.asset_tile .asset_preview {
  min-height: 200px;
  background-color: #eee;
}
/* line 363, ../../../scss/_clix2017.scss */
.asset_tile .asset_text {
  padding: 2px 10px;
}
/* line 365, ../../../scss/_clix2017.scss */
.asset_tile .asset_text .asset_title {
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 600;
}
/* line 370, ../../../scss/_clix2017.scss */
.asset_tile .asset_text .asset_desc {
  font-size: 13px;
  letter-spacing: 0.3px;
}

/* line 378, ../../../scss/_clix2017.scss */
.preview_asset {
  background: #ccc;
  border: 2px solid #999;
  width: 100%;
  min-height: 350px;
}

/*Custom css*/
/* line 387, ../../../scss/_clix2017.scss */
.add_more_files {
  color: #aaa;
  font-size: 14px;
  letter-spacing: 0.6px;
}

/* line 393, ../../../scss/_clix2017.scss */
input[type="text"], input[type="file"] {
  margin: 0px;
}

/* line 396, ../../../scss/_clix2017.scss */
label {
  margin-top: 1rem;
}

/* line 401, ../../../scss/_clix2017.scss */
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

/* line 404, ../../../scss/_clix2017.scss */
input[type="file"]:before {
  content: 'Select files';
  display: inline-block;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 8px 10px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 10pt;
  color: #cc7769;
  border-color: #cc7769;
  float: right;
}

/* line 420, ../../../scss/_clix2017.scss */
input[type="file"] {
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/*  Buttons custom css */
/* line 427, ../../../scss/_clix2017.scss */
.button-hollow-white {
  background: inherit;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.9px;
  padding: 3px 10px;
  font-size: 13px;
  cursor: pointer;
  transition: color 1s ease, border-color 1s ease;
  -webkit-transition: color 1s ease, border-color 1s ease;
}

/* line 440, ../../../scss/_clix2017.scss */
.orange-button {
  color: #ce7869;
  padding: 8px 15px;
  background: #fff;
  border: 2px solid #aaa;
  font-size: 14px;
}

/* line 448, ../../../scss/_clix2017.scss */
.blue-white-button {
  color: #fff;
  background: #a2d0e0;
  border-radius: 4px;
  padding: 5px;
}

/* line 455, ../../../scss/_clix2017.scss */
.button-small {
  padding: 1px 5px;
}

/* Create Curriculum */
/* line 460, ../../../scss/_clix2017.scss */
ul.jqtree_common {
  position: relative;
}
/* line 462, ../../../scss/_clix2017.scss */
ul.jqtree_common:before {
  border-width: 0px 0px 1px 1px;
  position: absolute;
  left: 9px;
  border-style: dashed;
  border-color: #ccc;
  top: 12px;
  height: calc(100% - 27px);
  width: 16px;
}

/*li.jqtree-folder {
    position: relative;
    &:before {
        border-width: 1px 0px 0px 0px;
        position: absolute;
        height: 0px;
        left: 7px;
        border-style: dashed;
        border-color: #ccc;
        top: 12px;
        width: 15px;
    }
}*/
/* line 487, ../../../scss/_clix2017.scss */
ul:not(:only-child) li:first-child {
  position: relative;
}
/* line 489, ../../../scss/_clix2017.scss */
ul:not(:only-child) li:first-child:before {
  border-width: 1px 0px 0px 0px;
  position: absolute;
  height: 0px;
  left: -22px;
  border-style: dashed;
  border-color: #ccc;
  top: 12px;
  width: 30px;
}

/* line 500, ../../../scss/_clix2017.scss */
.jqtree_common .jqtree-element:not(.leaf_node):not(:only-child), .jqtree_common .jqtree-element.leaf_node {
  position: relative;
}
/* line 502, ../../../scss/_clix2017.scss */
.jqtree_common .jqtree-element:not(.leaf_node):not(:only-child):before, .jqtree_common .jqtree-element.leaf_node:before {
  border-width: 1px 0px 0px 0px;
  position: absolute;
  height: 0px;
  left: 12px;
  border-style: dashed;
  border-color: #ccc;
  top: 12px;
  width: 10px;
}

/* line 515, ../../../scss/_clix2017.scss */
ul.jqtree-tree .jqtree-element {
  margin-top: 15px;
}

/* line 519, ../../../scss/_clix2017.scss */
ul.jqtree-tree ul.jqtree_common {
  margin-left: 35px;
}

/* line 523, ../../../scss/_clix2017.scss */
ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background: transparent;
}

/* line 527, ../../../scss/_clix2017.scss */
ul.jqtree-tree .jqtree-toggler {
  color: #aaa;
}
/* line 529, ../../../scss/_clix2017.scss */
ul.jqtree-tree .jqtree-toggler:hover {
  color: #aaa;
}

/* line 534, ../../../scss/_clix2017.scss */
.curriculum_creator {
  background: #fff;
  box-shadow: 0px 2px 6px #000;
  margin: 20px auto;
  padding: 0px 0px;
  min-height: calc(100vh - 100px);
  overflow-y: auto;
  padding: 15px;
}

/* line 543, ../../../scss/_clix2017.scss */
.curriculum_creator_header {
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 5px 15px;
  box-shadow: 1px 0px 13px #000;
}
/* line 550, ../../../scss/_clix2017.scss */
.curriculum_creator_header .course_heading span {
  letter-spacing: 0.9px;
  font-weight: 600;
  line-height: 50px;
  font-size: 25px;
}
/* line 558, ../../../scss/_clix2017.scss */
.curriculum_creator_header .course_actions ul li {
  list-style-type: none;
  display: inline-block;
  padding: 12px;
  color: #999999;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.8px;
}
/* line 567, ../../../scss/_clix2017.scss */
.curriculum_creator_header .course_actions ul li.active, .curriculum_creator_header .course_actions ul li:hover {
  border-bottom: 3px solid #ffc14e;
}

/* line 576, ../../../scss/_clix2017.scss */
.explore-header {
  line-height: 4em;
}
/* line 578, ../../../scss/_clix2017.scss */
.explore-header > div {
  vertical-align: middle;
  display: inline-block;
}
/* line 582, ../../../scss/_clix2017.scss */
.explore-header .heading {
  font-size: 2em;
}
/* line 584, ../../../scss/_clix2017.scss */
.explore-header .heading a {
  color: #fff;
}

/*Common css*/
/* line 608, ../../../scss/_clix2017.scss */
.toggleButtons a {
  padding: 0.5em 1em;
  margin: 0px;
  background: #dddddd;
  color: #000;
  border: 1px solid #B7B7B7;
  display: inline;
}
/* line 616, ../../../scss/_clix2017.scss */
.toggleButtons a:first-child {
  margin-right: -3px;
  border-right: 0px solid #000;
}
/* line 620, ../../../scss/_clix2017.scss */
.toggleButtons a:first-child {
  border-radius: 10px 0px 0px 10px;
}
/* line 623, ../../../scss/_clix2017.scss */
.toggleButtons a:last-child {
  border-radius: 0px 10px 10px 0px;
}
/* line 626, ../../../scss/_clix2017.scss */
.toggleButtons a.active {
  background-color: #908F8F;
  color: #fff;
}

/* about_course style */
/* abput and modules */
/* line 637, ../../../scss/_clix2017.scss */
.about-course {
  border: 1px solid rgba(102, 102, 102, 0.43);
  padding: 10px 23px;
}
/* line 640, ../../../scss/_clix2017.scss */
.about-course > h5 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 14px;
  display: block;
  margin: 2px 0px 0px;
  color: #888;
}
/* line 649, ../../../scss/_clix2017.scss */
.about-course .course-desc {
  font-size: 19px;
  letter-spacing: 0.7px;
}
/* line 653, ../../../scss/_clix2017.scss */
.about-course .course-highlight {
  color: #aaa;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}

/* group analytics and notifications */
/* line 665, ../../../scss/_clix2017.scss */
.course-overview-container .course-overview > .columns {
  padding: 0px 10px;
}
/* line 668, ../../../scss/_clix2017.scss */
.course-overview-container h5 {
  text-transform: uppercase;
}
/* line 671, ../../../scss/_clix2017.scss */
.course-overview-container .correct-count {
  color: #367714;
}
/* line 674, ../../../scss/_clix2017.scss */
.course-overview-container .incorrect-count {
  color: #9b0000;
}
/* line 677, ../../../scss/_clix2017.scss */
.course-overview-container .course-metric-heading {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.9px;
  font-weight: 600;
  color: #8E8E8E;
  display: block;
}
/* line 685, ../../../scss/_clix2017.scss */
.course-overview-container .course-metric-count {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.5px;
  display: block;
}
/* line 691, ../../../scss/_clix2017.scss */
.course-overview-container .ongoing-session {
  border-bottom: 1px solid #ccc;
  margin-bottom: 12px;
  padding-bottom: 15px;
}
/* line 696, ../../../scss/_clix2017.scss */
.course-overview-container .ongoing-session h5, .course-overview-container .ongoing-session h3 {
  color: #2b78e4;
}
/* line 699, ../../../scss/_clix2017.scss */
.course-overview-container .ongoing-session button {
  font-size: 14px;
  padding: 7px;
  margin: 0px;
  background-color: #2B78E4;
}
/* line 707, ../../../scss/_clix2017.scss */
.course-overview-container .course-status > h5 {
  color: #888;
}
/* line 710, ../../../scss/_clix2017.scss */
.course-overview-container .course-status > .row {
  margin: 10px 0px;
}
/* line 713, ../../../scss/_clix2017.scss */
.course-overview-container .course-status .tabs {
  width: 100%;
  margin: 0em 0em 0.5em;
  border-bottom: 1px solid #CCC;
}
/* line 718, ../../../scss/_clix2017.scss */
.course-overview-container .course-status .tabs .tab-title {
  width: 40%;
  background-color: #DEDEDE;
  margin-left: 1em;
  position: relative;
  top: 1px;
  text-transform: uppercase;
}
/* line 726, ../../../scss/_clix2017.scss */
.course-overview-container .course-status .tabs .tab-title.active {
  background-color: #fff;
  border: 1px solid #CCC;
  border-bottom: 0px;
}
/* line 737, ../../../scss/_clix2017.scss */
.course-overview-container .course-notif-logs ul {
  list-style: none;
}
/* line 741, ../../../scss/_clix2017.scss */
.course-overview-container .course-section {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin: 40px 0px;
  position: relative;
}
/* line 748, ../../../scss/_clix2017.scss */
.course-overview-container .course-section > .row {
  margin: 20px 0px;
}
/* line 752, ../../../scss/_clix2017.scss */
.course-overview-container .course-section .course-section-heading {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 14px;
  display: block;
  margin: 2px 0px 15px;
  color: #888;
}
/* line 762, ../../../scss/_clix2017.scss */
.course-overview-container .course-section .course-section-icon {
  position: absolute;
  font-size: 40px;
  top: -35px;
  right: 5px;
  color: #aaa;
  background: #fff;
}
/* line 786, ../../../scss/_clix2017.scss */
.course-overview-container .course-warning {
  background-color: #fffdd7;
}
/* line 788, ../../../scss/_clix2017.scss */
.course-overview-container .course-warning > h5 {
  color: #c09100;
}
/* line 791, ../../../scss/_clix2017.scss */
.course-overview-container .course-warning i {
  padding: 10px;
  margin-right: 5px;
  color: #c09100;
}
/* line 796, ../../../scss/_clix2017.scss */
.course-overview-container .course-warning a {
  text-decoration: underline;
}
/* line 800, ../../../scss/_clix2017.scss */
.course-overview-container .course-students-data {
  margin: 20px 0px;
}
/* line 804, ../../../scss/_clix2017.scss */
.course-overview-container .course-students-data .students-table-legends > span:nth-child(odd) {
  margin: 0px 10px;
}
/* line 807, ../../../scss/_clix2017.scss */
.course-overview-container .course-students-data .students-table-legends > span:nth-child(even) {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
/* line 814, ../../../scss/_clix2017.scss */
.course-overview-container .student-overview-table {
  width: 100%;
  margin: 15px 0px;
}
/* line 818, ../../../scss/_clix2017.scss */
.course-overview-container .student-overview-table tr {
  border: none;
}
/* line 822, ../../../scss/_clix2017.scss */
.course-overview-container .student-overview-table .progress .merter-val {
  margin-left: 5px;
}

/* line 830, ../../../scss/_clix2017.scss */
.notifications-analytics-tabs .tabs {
  width: 100%;
  margin: 0em 0em 0.5em;
  border-bottom: 1px solid #CCC;
}
/* line 835, ../../../scss/_clix2017.scss */
.notifications-analytics-tabs .tabs .tab-title {
  width: 40%;
  background-color: #DEDEDE;
  margin-left: 1em;
  position: relative;
  top: 1px;
  text-transform: uppercase;
}
/* line 843, ../../../scss/_clix2017.scss */
.notifications-analytics-tabs .tabs .tab-title.active {
  background-color: #ffc14e;
  border: 1px solid #CCC;
  border-bottom: 0px;
}

/* The notification Dashboard */
/* line 859, ../../../scss/_clix2017.scss */
.course-dashboard .course-status > ul, .course-dashboard .course-notifications > ul,
.course-dashboard .course-performance > ul {
  list-style: none;
}
/* line 863, ../../../scss/_clix2017.scss */
.course-dashboard .course-status > .row, .course-dashboard .course-notifications > .row,
.course-dashboard .course-performance > .row {
  padding: 0px;
  min-height: 22rem;
  position: relative;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background-color: #F9F9F9;
  min-height: 20em;
  margin: 0em 0em;
  border-radius: 10px;
}
/* line 875, ../../../scss/_clix2017.scss */
.course-dashboard .dash-tile-heading {
  padding: 0.2em 0.7em;
  border-bottom: 1px solid #DADADA;
  font-weight: 500;
  font-size: 1.3em;
}
/* line 881, ../../../scss/_clix2017.scss */
.course-dashboard .dash-tile-row {
  padding: 1em;
}
/* line 884, ../../../scss/_clix2017.scss */
.course-dashboard .dash-tile-row:nth-child(n+3) {
  border-top: 1px solid #DCDCDC;
}
/* line 890, ../../../scss/_clix2017.scss */
.course-dashboard .course-status .course-update .course-current-state {
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.5em 0.8em 0.6em;
}
/* line 900, ../../../scss/_clix2017.scss */
.course-dashboard .course-notifications {
  position: relative;
}
/* line 905, ../../../scss/_clix2017.scss */
.course-dashboard .course-notifications .notification-row .notification-text {
  font-size: 0.85em;
  letter-spacing: 0em;
  word-spacing: 0.2em;
}
/* line 910, ../../../scss/_clix2017.scss */
.course-dashboard .course-notifications .notification-row .time-elapsed {
  font-size: 0.6em;
  color: #424242;
  cursor: pointer;
}
/* line 917, ../../../scss/_clix2017.scss */
.course-dashboard .course-notifications .notification-count {
  font-size: 1em;
  position: absolute;
  right: 0.5em;
  top: 0.3em;
}

/* line 928, ../../../scss/_clix2017.scss */
.notebook .notebook-header {
  border-color: black;
  border-style: solid;
  border-width: 1px 0px;
  padding-top: 1em;
}
/* line 934, ../../../scss/_clix2017.scss */
.notebook .notebook-header a, .notebook .notebook-header input {
  margin: 0px;
}
/* line 937, ../../../scss/_clix2017.scss */
.notebook .notebook-header .notes-count {
  text-align: center;
}
/* line 942, ../../../scss/_clix2017.scss */
.notebook .notebook-header .notes-count span:first-child {
  font-size: 21px;
  font-weight: 600;
  padding: 15px;
}
/* line 947, ../../../scss/_clix2017.scss */
.notebook .notebook-header .notes-count span:last-child {
  background: lightgrey;
  padding: 2px 5px;
  vertical-align: text-bottom;
}
/* line 957, ../../../scss/_clix2017.scss */
.notebook .notebook-body {
  padding: 0px 0px;
}
/* line 961, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-cards .row {
  margin: 30px 0px;
}
/* line 964, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-cards .note-card, .notebook .notebook-body .note-cards .note-details {
  border: 1px solid #ccc;
  padding: 10px 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  line-height: 23px;
  cursor: pointer;
  position: relative;
}
/* line 973, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-cards .note-card .note-heading, .notebook .notebook-body .note-cards .note-details .note-heading {
  font-weight: 800;
  font-size: 20px;
}
/* line 977, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-cards .note-card .note-close, .notebook .notebook-body .note-cards .note-details .note-close {
  position: absolute;
  right: 7px;
  top: 3px;
  font-size: 25px;
  font-weight: 700;
  color: #929292;
}
/* line 985, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-cards .note-card .note-summary, .notebook .notebook-body .note-cards .note-details .note-summary {
  margin: 15px 0px;
}
/* line 988, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-cards .note-card .note-info, .notebook .notebook-body .note-cards .note-card .note-extra-data, .notebook .notebook-body .note-cards .note-details .note-info, .notebook .notebook-body .note-cards .note-details .note-extra-data {
  color: #989898;
  font-size: 13px;
  letter-spacing: 0.9px;
  font-weight: 500;
}
/* line 994, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-cards .note-card .note-info > span, .notebook .notebook-body .note-cards .note-card .note-extra-data > span, .notebook .notebook-body .note-cards .note-details .note-info > span, .notebook .notebook-body .note-cards .note-details .note-extra-data > span {
  margin-right: 5px;
}
/* line 999, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-cards .note-card .note-tags > span, .notebook .notebook-body .note-cards .note-details .note-tags > span {
  display: inline-block;
  margin: 10px;
  background: #ffebb2;
  color: #cba552;
  padding: 2px 5px;
}
/* line 1007, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-cards .note-card .note-actions, .notebook .notebook-body .note-cards .note-details .note-actions {
  color: #989898;
  cursor: pointer;
}
/* line 1011, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-cards .note-card .note-actions span, .notebook .notebook-body .note-cards .note-details .note-actions span {
  margin-right: 10px 5px;
}
/* line 1017, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-cards .note-details .note-info, .notebook .notebook-body .note-cards .note-details .note-extra-data, .notebook .notebook-body .note-cards .note-details .note-tags, .notebook .notebook-body .note-cards .note-details .note-actions {
  display: inline-block;
  margin-right: 10px;
}
/* line 1024, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-cards .note-details .note-tags {
  float: right;
}
/* line 1026, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-cards .note-details .note-tags > span {
  margin: 0px;
}
/* line 1035, ../../../scss/_clix2017.scss */
.notebook .notebook-body > div {
  padding: 0px;
}
/* line 1041, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index {
  border-right: 1px solid #AFAEAE;
  padding: 4px 0px;
  background-color: #F1F1F1;
}
/* line 1046, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .tabs-content {
  padding: 0px;
}
/* line 1049, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .tabs-content .active {
  padding: 0px;
}
/* line 1053, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .tabs {
  width: 100%;
  margin: 0em 0em 0.5em;
  border-bottom: 1px solid #CCC;
}
/* line 1058, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .tabs .tab-title {
  width: 50%;
  /*background-color: #DEDEDE;*/
  border-radius: 5px 5px 0px 0px;
  position: relative;
  top: 1px;
}
/* line 1065, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .tabs .tab-title a {
  border-radius: inherit;
  font-size: 0.9rem;
  text-align: center;
  color: #989898;
}
/* line 1072, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .tabs .tab-title.active {
  background-color: #fff;
  border: 1px solid #CCC;
  border-bottom: 0px;
}
/* line 1076, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .tabs .tab-title.active a {
  color: #3a3169;
}
/* line 1083, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .tab-content {
  padding: 0px;
}
/* line 1088, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .notes .date {
  font-size: 12px;
  font-weight: bold;
  background: #EFEFEF;
  padding: 7px 10px;
}
/* line 1094, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .notes .date .note-count {
  font-size: 11px;
  line-height: 2em;
}
/* line 1099, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .notes > div {
  border-bottom: 1px solid #AFAEAE;
}
/* line 1102, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .notes .note {
  padding: 5px 15px;
  background: #FFF;
  cursor: pointer;
  color: #A2A2A2;
}
/* line 1108, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .notes .note .note-heading {
  font-weight: 400;
  font-size: 17px;
}
/* line 1113, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .notes .note .note-meta {
  font-size: 13px;
}
/* line 1116, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .notes .note .note-meta > span:not(:first-child) {
  font-size: 11px;
  font-weight: 600;
  color: #717171;
}
/* line 1123, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .notes .note .note-footer {
  color: #888888;
}
/* line 1126, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .notes .note .note-footer span {
  margin-right: 10px;
}
/* line 1131, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .notes .note.active {
  border-left: 5px solid #6153AE;
  background: #F4E7FF;
  font-weight: 800;
  color: #6153AE;
}
/* line 1137, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .notes .note.active .note-heading {
  font-weight: 500;
  font-size: 17px;
}
/* line 1141, ../../../scss/_clix2017.scss */
.notebook .notebook-body .notebook-index .notes .note.active .note-meta > span:not(:first-child) {
  color: #6153AE;
}
/* line 1149, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page {
  background-color: #fff;
  padding-bottom: 30px;
}
/* line 1154, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page > div {
  background-color: #fff;
}
/* line 1158, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .note-toolbar {
  padding: 1.8em 1.2em 0em;
  margin: 0em;
  background-color: #FFF;
}
/* line 1163, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .note-toolbar .note-creator {
  font-weight: bold;
}
/* line 1166, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .note-toolbar .creator-title {
  text-align: left;
  color: #C3C3C3;
  font-size: 12px;
  letter-spacing: 0.3px;
  margin-top: 5px;
}
/* line 1173, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .note-toolbar .creator-rating {
  text-align: right;
}
/* line 1175, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .note-toolbar .creator-rating > div {
  display: inline-block;
}
/* line 1180, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .note-title {
  font-size: 2.3em;
  font-weight: 500;
  margin-right: 1em;
}
/* line 1185, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .note-content {
  padding: 2em 2em 1em;
  background: #fff;
  margin: 0em;
}
/* line 1192, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .note-content .note-header > div {
  display: inline-block;
}
/* line 1197, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .note-content .note-text {
  font-size: 19px;
  letter-spacing: 0.7px;
}
/* line 1200, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .note-content .note-text p {
  padding: 0px;
}
/* line 1206, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .comment-sections {
  padding: 0em 1em 0em;
}
/* line 1210, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .comment-sections .comments-header span {
  font-weight: bold;
}
/* line 1213, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .comment-sections .comments-header i:not(:first-child) {
  margin-left: 15px;
}
/* line 1218, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .comment-sections .new-comment {
  border-top: 1px solid grey;
  padding: 15px 10px;
  margin-top: 5px;
}
/* line 1223, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .comment-sections .new-comment .trumbowyg-box,
.notebook .notebook-body .note-page .comment-sections .new-comment .trumbowyg-editor {
  min-height: 200px;
  margin-top: 0px;
}
/* line 1229, ../../../scss/_clix2017.scss */
.notebook .notebook-body .note-page .comment-sections .new-comment .user-prof-image {
  font-size: 90px;
  line-height: 0em;
}

/* Explore badges */
/* line 1241, ../../../scss/_clix2017.scss */
.badge_ex {
  display: inline-block;
  line-height: 22px;
  height: 22px;
  font-weight: bolder;
  padding: 0px 7px;
  /*font-family: Arial, sans-serif;*/
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-radius: 18px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  font-size: 1.8em;
}

/* line 1257, ../../../scss/_clix2017.scss */
.badge_ex {
  background: #67c1ef;
  border-color: #30aae9;
  background-image: -webkit-linear-gradient(top, #acddf6, #67c1ef);
  background-image: -moz-linear-gradient(top, #acddf6, #67c1ef);
  background-image: -o-linear-gradient(top, #acddf6, #67c1ef);
  background-image: linear-gradient(to bottom, #acddf6, #67c1ef);
}

/* line 4120, ../../../scss/_app_styles.scss */
/* line 1267, ../../../scss/_clix2017.scss */
.badge_ex.green {
  background: #77cc51;
  border-color: #59ad33;
  background-image: -webkit-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -moz-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -o-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: linear-gradient(to bottom, #a5dd8c, #77cc51);
}

/* line 4129, ../../../scss/_app_styles.scss */
/* line 1277, ../../../scss/_clix2017.scss */
.badge_ex.yellow {
  background: #faba3e;
  border-color: #f4a306;
  background-image: -webkit-linear-gradient(top, #fcd589, #faba3e);
  background-image: -moz-linear-gradient(top, #fcd589, #faba3e);
  background-image: -o-linear-gradient(top, #fcd589, #faba3e);
  background-image: linear-gradient(to bottom, #fcd589, #faba3e);
}

/* line 4139, ../../../scss/_app_styles.scss */
/* line 1287, ../../../scss/_clix2017.scss */
.badge_ex.red {
  background: #fa623f;
  border-color: #fa5a35;
  background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -moz-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -o-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: linear-gradient(to bottom, #fc9f8a, #fa623f);
}
