/*
*   The Foundation Stylesheet
*   You can paste sass snippets from compass or foundation here
*   Consider submitting these snippets upstream
*   http://compass-style.org/reference/compass/css3/
*   http://foundation.zurb.com/docs/components/global.html
*/


/*
*   Foundation fixes and hacks. Please document issues on https://github.com/zurb/foundation/issues
*/

/* Too many apps cause breakage */

//Import any custom css
//@import url("../../custom.css");

/*
/* Protects reflowing elements on error */
[data-abide] span.error, [data-abide] small.error{
    position: absolute;
}

/*active color for side-nav links*/
.side-nav li.active a:not(.button){
    color:$side-nav-link-color-active;
}


/*
*   Foundation extensions
*/

pre{
    width:92%;
    overflow: auto;
    border: 1px solid #eee;
    border-left: 1rem solid #eee;
    font: lighter 1.2rem/2rem Monaco;
    background: url('/static/ndf/pre.png');
    background-size:1px 4rem;
    padding-left:0.5rem;
    font-family: monospace;
}


.fixme{
    // Use this class for any placeholder text to be replaced by variables by the developer
    opacity: 0.5;
    &:hover{
        opacity:1;
        color:inherit;
        &:after{
            content:" fixme";
            color:orange;
        }
    }
}

/* Utility class to display the child spans of this element on hover */
.show-span-on-hover{
    span{
        display:none;
    }
    &:hover span{
        display:inline;
    }
}
.show-on-hover{

    .show{
        display:none;
        z-index: 1000;
    }
    &:hover .show{
        display:block;
    }
}
/* Utility class to display the next siblings on hoverr */
.extra.app {
  display: none;

}

/* Effects */
.drop-shadow{
	-webkit-box-shadow: 0px 0px 5px 1px black;
	box-shadow: 0px 0px 5px 1px black;
}
.rounded{
	border-radius: 2px;
	-webkit-border-radius:2px;
}
.transition-opacity{
	transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
}

/*Ratings bar based on http://codepen.io/lsirivong/pen/ekBxI */

.rating-bar {

  &>span {
      /* remove inline-block whitespace */
      font-size: 0;
      /* flip the order so we can use the + and ~ combinators */
      unicode-bidi: bidi-override;
      direction: rtl;
  }

  &.unrated{
    /* If the user has not rated yet */
    &:checked ~ label:before{
      color: $secondary-color;
    }
}


[type*="radio"] {
    display: none;
    & + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      height: 1.4em;
      white-space: nowrap;
      font-size: 1.5rem;
      margin:0;
      &:before {
        display: inline-block;
        text-indent: -9999px;
        content: '\2606'; /* WHITE STAR */
        color: #888;
        }
    }
    &:checked ~ label:before,
    & + label:hover ~ label:before,
    & + label:hover:before {
      content: '\2605'; /* BLACK STAR */
      color: $highlight-color;
      text-shadow: 0 0 1px #333;
    }
}

/* the hidden clearer */

.last[type*="radio"] + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
}


.last[type*="radio"] + label:before {
    width: .5em;
    height: 1.4em;
}

  /* this is gross, I threw this in to override the starred
  buttons when hovering. */
  &:hover{
   [type*="radio"] + label:before {
        content: '\2606'; /* WHITE STAR */
        color: #888;
        text-shadow: none;
    }
    [type*="radio"] + label:hover ~ label:before,
    [type*="radio"] + label:hover:before {
        content: '\2605'; /* BLACK STAR */
        color: $highlight-color;
        text-shadow: 0 0 1px #333;
    }
}
}

body a{
  &:visited{
    color: #1d484a;
}
}


// ------| following style lines were there in _metastudio_styles.scss |------

body{ 
    background-color: #fafafa;
}

#top-headers{
    background-color: black;
    margin-bottom: 1.5rem;

    div.two-nav-container{
        padding: 0;
    }

    ul.dropdown{
        box-shadow: 0px 2px 5px black;
    }

    a.logo{
        height: $topbar-height * 2;
        margin: 0;

        img{
          margin: 10% auto;
          display: block;
          // padding: 5px;
        }

        &:hover{
            background-color: scale-color($topbar-bg-color, $lightness: 10%);
            transition: 0.8s all;
        }
    }

    #group-level-header{

        border-top: solid thin black;

        .top-bar{
            background-color: scale-color($topbar-bg-color, $lightness: 10%);

            ul.title-area h1{
                &:hover{
                background-color: scale-color($topbar-bg-color, $lightness: 20%);
                    
                }
            }
        }

        .top-bar-section li.active:not(.has-form) > a:not(.button){
            background-color: scale-color($theme-color-invert, $lightness: 15%) !important;
        }

        .top-bar-section li a:not(.button), .top-bar-section li {
            background-color: scale-color($topbar-bg-color, $lightness: 10%);
        }
        
        .top-bar-section li a:not(.button):hover, .top-bar-section li:hover {
            background-color: scale-color($theme-color-invert, $lightness: 10%) !important;
        }

    }
}


.top-bar{

    a.language.button{
        padding: 5px 10px;
        margin-top: 2px;
        background-color: #888;
        color: black;
        &:hover{
          background-color: white;
          color:black;
        }
    }

    ul.language-selector{
        height: $topbar-height;
        float: right;
        margin: 0;
    }

    .active{
        // background-color: $theme-text-color !important;
        background-color: scale-color($theme-color-invert, $lightness: 20%) !important;
    }
    
    //     h1{
    //         .flag{
    //                 height: 20px;
    //             margin-bottom: 4px;
    //             margin-right: 2px;
    //             }
    //         img{
    //             /* Logo */
    //       height: $topbar-height * 0.8;
    //     }
    //         a{
    //       color:white!important;
    //     }
    //     }
    //     .group:hover{
    //         background-color: #111;
    //     }

    // user logout option of RHS dropdown
    .logout{
        background-color: $alert-color !important;
    }

    .logout:hover {
        background-color: darken($alert-color, 10%) !important;
        transition: background-color 400ms ease-out;
    }
}



                        body>footer{
                            //Site footer
                            padding:20px 0;
                            position: relative;
                            color:#888;
                            min-height: 170px;
                            background-color: rgba(0,0,0,0.8);

                            section:first-child{
                             border-bottom: 1px solid #222;
                             margin-bottom: 1rem;
                         }
                         a{
                          color: #bbbbbb !important;
                          &:hover{
                            color:#eee !important;
                        }
                    }
                    strong a{
                     border-bottom: 1px dotted #555;
                 }
             }


             .coll-arrows{
              cursor:pointer;
              display: block;
              padding: 0.5rem;

              &:hover{
                background-color: #D3D3D3;
            }
        }


        /* Sections */
        main>nav{
            border-top:3px solid black;
            position: relative;
            z-index: 10;
            &>.button-bar{
                background-color: $active-color;
                .button-group{
                    margin: 0;
                    &.tools{
                     padding: 5px;
                 }
             }
             li{

                .button{
                    border: none;
                    font-size: 0.8rem;
                    padding: 0.8rem 1rem;
                    &.home{
                        font-weight: bold;
                    }
                    &.settings,&#toggle-help{
                        padding: 6px 10px;
                        color: #333;
                        // font-size: 110%;
                        background-color: rgba(255,255,255,0.3);
                        &:hover{
                            background-color: rgba(0,0,0,0.2);
                            color:white;
                        }
                    }
                    &#toggle-help{
                        background-color: inherit;
                    }
                    &.settings{
                        &:after{
                            border: none;
                        }
                    }

                    background-color: transparent;
                    color: black;
                    margin: 0;
                    &:hover{
                        color:white;
                    }
                }

                &.active{
                    .button{
                        background-color: $primary-color;
                        color:white;
                    }
                }
            }

            /* Hide icons till we can retreive custom icons from the system */
            .app i{
                display: none!important; 
            }
        }
    }


    main>aside{
        &>div{



            h2{
                color:#111;
            }
            h3{
                font-size: 1.2rem;
                font-weight: normal;
                color: #222;
            }
            h4{
                font-size: 1rem;
                color: #222;
                span{
                    display: none;
                }
                &:hover span{
                    display: inline;
                }
            }
            h5,h6{
                margin: 0;
            }
            
            .f-dropdown.content{
                width: auto;
                padding: 0;
                border: 1px solid #222;
                .item{
                    width: 70px;
                }
            }
            header{
             padding: 10px;
         }
         footer{
            background-color: #222;
            min-height: 1rem;
            label{
                font-size: 0.7rem;
            }
        }
        
        
        // Aside link styles
        a,p{
            // color: white;
            &:hover{
                // color:white;
            }
        }
        .side-nav.collection{
            background-color: #444;
            padding: 0;
            border-bottom: 2px solid $active-color;
            margin: 0;
            li{
                border-bottom: 1px solid #555;
                a{
                    border-left: 2px solid black;
                }
                &.active a,a:hover{
                    color:white!important;
                    border-left: 2px solid $active-color;
                    background-color: $active-color;
                }
            }
        }
        
    }
}


// Article styles
article{
    position: relative;
    z-index: 1;
    min-height: 400px;
    overflow-x: visible;
    &>header,form>header{
        padding: 15px;
        //  margin-bottom: 0.5rem;
        background-color: #f0f0f0;
    }

    &>footer{
    }
    
    h1:not(.subheader){
      //  font-family: $serif-font;
      //    font-style: italic;
      //    
      .tabs{
        display: inline-block;
        position: relative;
        bottom: -0.5rem;
    }
    
    div{
        display:inline-block;
        position: relative;
        input{
            height:200%;
            font-style: italic;
            @extend h1;
            padding-left:5px; 
            box-shadow: none;
            border-width: 0 0 2px 0;
            border-bottom: 2px dotted #222;
            background-color: inherit;
            
            &:hover{
                background-color: white;
            }
        }
    }
}
}


/* Card block */
.card>*{
  position: relative;
  background-color: white;
  padding:7px;
  // border: 1px dashed darken($bg-color,10%);
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  display: block;
  //color:$bg-color;
  opacity:0.9;
  overflow: hidden;

  >a{
    color:inherit;
    display: block;
    position: relative;
    z-index: 200;

    b{
      font-family:  Georgia, Serif;
    }
  }

  &.published{
      opacity: 1;
      // background-color: darken($bg-color,5%);
      background-color: lighten(#2ecc71, 45%);

      hr{
        border-color: lighten(#2ecc71, 20%);
      }
  }
  &.unapproved{
      opacity: 1;
      border-style: solid;
      border-color: $alert-color;
  }

  &:hover{
    border-style:solid;
    opacity:1;
    >a{

    }
    i{
      opacity:0.3;
    }
    footer .age{
        display: block;
    }
  }

  &>i{
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 3rem;
    color: $theme-color;
    opacity: 0.3;
  }

  .preview{
      float: left;
      padding-right: 5px;
      padding-top: 4px;
  }
  header{
      overflow: hidden;
  }
  h5{
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 0;
  }
  .label{
      opacity:0.5;
  }
  p{
      color: #555;
      height: 80px;
      background-repeat: no-repeat;
      font-size: 80%;
  }
  .th{
      margin:20px auto;
      width:80px;
      height: 80px;
      overflow: hidden;
      display: none;
      &:hover{
          width: 150px;
          height: 150px;
      }
      img{
          width: 100%;
      }
  }
  footer{
      margin-top: 1rem;
      font-size: 70%;
      clear: both;
      color: $meta-color;
      .age{
          display: none;
          position: absolute;
          background-color: white;
          z-index: 100;
          bottom: 0;
          width: 100%;
      }
  }
}

.edit-card{
  position: relative;
  background-color: $bg-color;
  padding:10px;
  //  border: 1px dashed darken($bg-color,10%);
  display: block;
}


/* Content Tabs */
article{


    .tabs {
        display: inline-block;
        dd a{
            border-radius: 4px;
            border: 1px transparent;
        }
        dd.active a{
            color:$active-color;
            border: 1px solid;
        }
        dd:hover a{
            color:$active-color;
        }

        i{
          margin-right: 5px;
          font-size: 1.3rem;
      }
  }

  section.content{
    background-color:white;
    border: 1px solid #eee;
}


}
.card > div:hover{
  box-shadow: 0 0 10px lightgray;
  transition: 0.9s;
  border-color: lightgray;
  border-radius: 6px;
}

/* Default card */
.card>:hover .label{
  opacity:1;
}


.gallery .card .th{
  display: block;
}



/* Inline label list */

.label-list{
  display: inline-block;
  text-align: left;
  margin-bottom: 0.1rem;
  &:empty:before{
    content:"UNTAGGED";
    @extend .label;
    opacity:0.2!important;
    padding: 2px;
    background-color: transparent;
}

.label{
    text-transform: uppercase;
    background-color: transparent;
    padding: 2px;
}  
}

/*************************** 2. Custom CSS overrides ***********************/
/* Content area */
article{

  padding-bottom: 4rem; 
  
  &>header{
      border-bottom: 1px solid #ddd;
      //  margin-bottom: 1rem!important;
  }
  &>footer{
      border-top: 1px dotted #ddd;
  }
  .breadcrumbs{
      // display: none;
      // background-color: #eee;
  }
}




textarea{
  min-height: 6rem;
}
/*
.orgitdown textarea{
  min-height: 15rem!important;
}
#content{
  min-height: 10rem;

}
*/
/*#content>p{
  font-size: inherit;
  line-height: 1.4;
  color: #222;
  }*/
  /*************************** 3. Custom CSS Below ***********************/

  /*CSS fix for tables generated via orgitdown*/
  #content table td, #content colgroup col{
      float: none !important;
  }


  .user{
      color: inherit;
  }
  .user{
      color: inherit;
  }
  .user i{
    margin-right: 3px;
}
.user:hover i{
  opacity:1;
}

a.node{
  display:block;
}

.button.edit{
  margin-bottom: 0;
}


/************ Forms **************/

/* Node edit */
input.node-title{
  font-size: 3rem;
  height:  4rem;
  display: inline-block;
}

/* view-graph in node_details_base.html */
.graph-height{
  height:70%;
}

/*for graph and location*/
.graph-div {
  height: 90%;
  width: -webkit-calc(100% - 10px); width:-o-calc(100% - 10px); width: -moz-calc(100% - 10px); width: calc(100% - 10px) !important;
  top: 5% !important;
  left: 5px !important;
  padding: 0px !important;
  margin-left: 0 !important;
}

/*for graph and location*/
.graph-div h3{
  border-bottom: 2px inset #154534;
  padding: 0.25em 0;
}

#view-map-widget .close-reveal-modal, #view-map-edit-widget .close-reveal-modal{

  z-index:1;
  background-color: captiontext;
  padding: 5px 15px 10px;
  color:white !important;
  opacity:0.8;
  font-size: 2rem;
  box-shadow: 0 1px 10px 2px #A9A9A9;
}

#view-map-widget .close-reveal-modal:hover, #view-map-edit-widget .close-reveal-modal:hover{

  background-color: white;
  border-radius: 30px;
  padding: 5px 15px 10px;
  transition:2s;
  opacity:1;
  color:black !important;
  font-size: 2rem;
}


/****************** CUSTOM *********************/

/* UI Button */
.ui.button{
    margin-right: 0.5rem;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.5);
    color: #ddd;
    padding: 0.8rem;
    padding: 0.5vw 0.75vw;
    z-index: 500;
    &.language{

    }
    label{
        color:#666;
    }
    small{
        margin-left: 2px;
        display: inline;
    }
    &:hover,&:active{
        border-color: rgba(255,255,255,0.2);
        background-color: rgba(0,0,0,0.9);
        label{
            color:#ddd;
        }
        small{
            display: inline;
        }
        &:focus{
            font-weight: bold;
        }
    }
}


// Off Canvas Areas
aside#help{
    h4{
        color:black;
    }
    p,h5,h6{
        color:#ddd;
        padding: 0.3rem 0.9375rem;
    }
}


.align-center {
    margin: 0 auto;
    display: block;
}


#profile-img {
    height: 40px;
    margin-right: 5px;
    // width: 40px;
}


// discussion

#replies-area .disc-replies {

    padding:10px;
    background-color: lighten($primary-color, 55%);
    width:27em;
    max-width: 40em;
    margin-left: 48px; 
    margin-top: 10px;

    .reply-btn{
        cursor: pointer;
    }

    .reply-btn:hover {
        font-weight: bold;
    }
}
