/*
*   The Foundation Stylesheet
*   You can paste sass snippets from compass or foundation here
*   Consider submitting these snippets upstream
*   http://compass-style.org/reference/compass/css3/
*   http://foundation.zurb.com/docs/components/global.html
*/


/*
*   Foundation fixes and hacks. Please document issues on https://github.com/zurb/foundation/issues
*/

/* Too many apps cause breakage */

//Import any custom css
//@import url("../../custom.css");

/*
/* Protects reflowing elements on error */
[data-abide] span.error, [data-abide] small.error{
    position: absolute;
}

/*active color for side-nav links*/
.side-nav li.active a:not(.button){
    color:$side-nav-link-color-active;
}


/*
*   Foundation extensions
*/

pre{
    width:92%;
    overflow: auto;
    border: 1px solid #eee;
    border-left: 1rem solid #eee;
    font: lighter 1.2rem/2rem Monaco;
    background: url('/static/ndf/pre.png');
    background-size:1px 4rem;
    padding-left:0.5rem;
    font-family: monospace;
}


.fixme{
    // Use this class for any placeholder text to be replaced by variables by the developer
    opacity: 0.5;
    &:hover{
        opacity:1;
        color:inherit;
        &:after{
            content:" fixme";
            color:orange;
        }
    }
}

/* Utility class to display the child spans of this element on hover */
.show-span-on-hover{
    span{
        display:none;
    }
    &:hover span{
        display:inline;
    }
}
.show-on-hover{

    .show{
        display:none;
        z-index: 1000;
    }
    &:hover .show{
        display:block;
    }
}
/* Utility class to display the next siblings on hoverr */
.extra.app {
  display: none;

}

/* Effects */
.drop-shadow{
	-webkit-box-shadow: 0px 0px 5px 1px black;
	box-shadow: 0px 0px 5px 1px black;
}
.rounded{
	border-radius: 2px;
	-webkit-border-radius:2px;
}
.transition-opacity{
	transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
}

/*Ratings bar based on http://codepen.io/lsirivong/pen/ekBxI */

.rating-bar {

  &>span {
      /* remove inline-block whitespace */
      font-size: 0;
      /* flip the order so we can use the + and ~ combinators */
      unicode-bidi: bidi-override;
      direction: rtl;
  }

  &.unrated{
    /* If the user has not rated yet */
    &:checked ~ label:before{
      color: $secondary-color;
    }
}


[type*="radio"] {
    display: none;
    & + label {
      /* only enough room for the star */
      display: inline-block;
      overflow: hidden;
      text-indent: 9999px;
      width: 1em;
      height: 1.4em;
      white-space: nowrap;
      font-size: 1.5rem;
      margin:0;
      &:before {
        display: inline-block;
        text-indent: -9999px;
        content: '\2606'; /* WHITE STAR */
        color: #888;
        }
    }
    &:checked ~ label:before,
    & + label:hover ~ label:before,
    & + label:hover:before {
      content: '\2605'; /* BLACK STAR */
      color: $highlight-color;
      text-shadow: 0 0 1px #333;
    }
}

/* the hidden clearer */

.last[type*="radio"] + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
}


.last[type*="radio"] + label:before {
    width: .5em;
    height: 1.4em;
}

  /* this is gross, I threw this in to override the starred
  buttons when hovering. */
  &:hover{
   [type*="radio"] + label:before {
        content: '\2606'; /* WHITE STAR */
        color: #888;
        text-shadow: none;
    }
    [type*="radio"] + label:hover ~ label:before,
    [type*="radio"] + label:hover:before {
        content: '\2605'; /* BLACK STAR */
        color: $highlight-color;
        text-shadow: 0 0 1px #333;
    }
}
}

// body a{
//   &:visited{
//     color: #1d484a;
// }
// }


// ------| following style lines were there in _metastudio_styles.scss |------

body{ 
    background-color: #fafafa;
}

#top-headers {

  margin-bottom: 0.5rem;

  #first-header.top-bar {

    background-color: #3e3e3e;

    .title-area a{

      &:hover{
          // background-color: scale-color($topbar-bg-color, $lightness: 5%);
          //box-shadow: inset 0px 100px 50px #fff;
          // box-shadow: inset 0px 100px 50px scale-color($theme-color-invert, $lightness: 10%);
          // transition: 0.8s all;
      }
    }

      .top-bar-section li a.active:not(.button){ color: #ececec; }

      .top-bar-section li a:not(.button), .top-bar-section li {
          // background-color: scale-color($topbar-bg-color, $lightness: 10%);
          background-color: #3e3e3e;
          color: #ececec;
      }


      .top-bar-section li a:not(.button):hover, .top-bar-section li:not(.has-form):hover {
          background-color: scale-color($theme-color-invert, $lightness: 10%) !important;
          color: #ececec;
          // background-color: #E1E1E1;
      }
  }


  #group-level-header{

    opacity: 0.9;
    background-color: #E1E1E1;

    &:hover{
      opacity: 1;
      transition: 0.1s all;
      box-shadow: 0px 2px 3px #E1E1E1;
    }

    #group-apps{

      .back-btn.fi-play:before{
        transform: rotate( 180deg );
      }
    }

    #second-header.top-bar {
      background-color: #fafafa;
      border-top: solid thin gray;
      height: 52px;

      // &:hover{
      //     box-shadow: inset 0px 101px 50px #E1E1E1;
      //     transition: 0.8s all;
      // }

      .top-bar-section li.active a:not(.button), .top-bar-section li.active{
        background-color: #fafafa !important;
        color: #000;
        border-bottom: solid 1px gray !important;        
      }

      .top-bar-section li.active a:not(.button):hover, .top-bar-section li.active:hover{
        background-color: scale-color($theme-color-invert, $lightness: 10%) !important;
      }

      .top-bar-section li.active:not(.has-form) > a:not(.button){
          background-color: scale-color($theme-color-invert, $lightness: 15%);
          // background-color: #fafafa
      }

      .top-bar-section li a:not(.button), .top-bar-section li {
          // background-color: scale-color($topbar-bg-color, $lightness: 10%);
          background-color: #fafafa;
          color: gray;
          // line-height: 49px;
      }
      
      .top-bar-section li a:not(.button):hover, .top-bar-section li:not(.has-form):hover {
          background-color: scale-color($theme-color-invert, $lightness: 10%);
          color: #fff;
          // background-color: #E1E1E1;
      }
    }    
  }

  ul.dropdown{
    box-shadow: 0px 2px 5px black;
    opacity: 1;
  }

  #search_text {
    border-bottom: solid thin #E1E1E1;
    background-color: #fafafa;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: none !important;
    /*color: #fff !important;*/
    height: inherit;
    box-shadow: none;
    top: 10px;

    &:focus{
      border-bottom-color: #2b2c2d;
      transition: 1s ease-out;
    }
  }

  #search-submit{
    background-color: #fafafa;
    // color: gray;
    top: 10px;
    position: absolute;
    left: -30px;
    opacity: 0.3;
    color: black;
  }

  #search-submit:hover {
    opacity: 1;
    color: white;
    background-color: gray;
    transition: 0.8s ease-out;
  }

  ul.title-area a{
    width: 150px;
    color: gray;

        &:hover{
        // background-color: scale-color($topbar-bg-color, $lightness: 5%);
        box-shadow: inset 0px 75px 50px #2b2c2d;
        color: #fafafa;
        transition: 0.8s all;
    }

  }

//     div.two-nav-container{
//         padding: 0;
//     }

//     ul.dropdown{
//         box-shadow: 0px 2px 5px black;
//     }

//     a.logo{
//         height: 101px;

//         img{
//           margin: 10% auto;
//           // height: 100px;
//           display: block;
//           // width: 100%;
//           // padding: 3px;
//         }

//         &:hover{
//             // background-color: scale-color($topbar-bg-color, $lightness: 5%);
//             box-shadow: inset 0px 101px 50px #222;
//             transition: 0.8s all;
//         }
//     }

}


.top-bar{

    .active{
        // background-color: $theme-text-color !important;
        background-color: scale-color($theme-color-invert, $lightness: 20%) !important;
    }

    // user logout option of RHS dropdown
    .logout{
        background-color: $alert-color !important;
    }

    .logout:hover {
        background-color: darken($alert-color, 10%) !important;
        transition: background-color 400ms ease-out;
    }

    // a.language.button{
    //     padding: 5px 10px;
    //     margin-top: 2px;
    //     background-color: #888;
    //     color: black;
    //     &:hover{
    //       background-color: white;
    //       color:black;
    //     }
    // }

    // ul.language-selector{
    //     height: $topbar-height;
    //     float: right;
    //     margin: 0;
    // }
    //     h1{
    //         .flag{
    //                 height: 20px;
    //             margin-bottom: 4px;
    //             margin-right: 2px;
    //             }
    //         img{
    //             /* Logo */
    //       height: $topbar-height * 0.8;
    //     }
    //         a{
    //       color:white!important;
    //     }
    //     }
    //     .group:hover{
    //         background-color: #111;
    //     }
}



body>footer{
  //Site footer
  padding:10px 10px;
  position: relative;
  color:#888;
  min-height: 170px;
  background-color: rgba(0,0,0,0.8);


  section:first-child{
     //border-bottom: 1px solid #222;
     margin-bottom: 2rem;
      
   }
  
   a{

    color: #bbbbbb !important;
    //margin-left:10px;
    &:hover{
      color:#03a9f4 !important;
    
    }
  }
  
  strong a{
    border-bottom: 1px dotted #555;
    //margin-bottom:rem;
  }
}


             .coll-arrows{
              cursor:pointer;
              display: block;
              padding: 0.5rem;

              &:hover{
                background-color: #D3D3D3;
            }
        }


        /* Sections */
        main>nav{
            border-top:3px solid black;
            position: relative;
            z-index: 10;
            &>.button-bar{
                background-color: $active-color;
                .button-group{
                    margin: 0;
                    &.tools{
                     padding: 5px;
                 }
             }
             li{

                .button{
                    border: none;
                    font-size: 0.8rem;
                    padding: 0.8rem 1rem;
                    &.home{
                        font-weight: bold;
                    }
                    &.settings,&#toggle-help{
                        padding: 6px 10px;
                        color: #333;
                        // font-size: 110%;
                        background-color: rgba(255,255,255,0.3);
                        &:hover{
                            background-color: rgba(0,0,0,0.2);
                            color:white;
                        }
                    }
                    &#toggle-help{
                        background-color: inherit;
                    }
                    &.settings{
                        &:after{
                            border: none;
                        }
                    }

                    background-color: transparent;
                    color: black;
                    margin: 0;
                    &:hover{
                        color:white;
                    }
                }

                &.active{
                    .button{
                        background-color: $primary-color;
                        color:white;
                    }
                }
            }

            /* Hide icons till we can retreive custom icons from the system */
            .app i{
                display: none!important; 
            }
        }
    }


    main>aside{
        &>div{



            h2{
                color:#111;
            }
            h3{
                font-size: 1.2rem;
                font-weight: normal;
                color: #222;
            }
            h4{
                font-size: 1rem;
                color: #222;
                span{
                    display: none;
                }
                &:hover span{
                    display: inline;
                }
            }
            h5,h6{
                margin: 0;
            }
            
            .f-dropdown.content{
                width: auto;
                padding: 0;
                border: 1px solid #222;
                .item{
                    width: 70px;
                }
            }
            header{
             //padding: 0 0px;
         }
         footer{
            background-color: #222;
            min-height: 1rem;
            label{
                font-size: 0.7rem;
            }
        }
        
        
        // Aside link styles
        a,p{
            // color: white;
            &:hover{
                // color:white;
            }
        }
        .side-nav.collection{
            background-color: #444;
            padding: 0;
            border-bottom: 2px solid $active-color;
            margin: 0;
            li{
                border-bottom: 1px solid #555;
                a{
                    border-left: 2px solid black;
                }
                &.active a,a:hover{
                    color:white!important;
                    border-left: 2px solid $active-color;
                    background-color: $active-color;
                }
            }
        }
        
    }
}


// Article styles
article{
    position: relative;
    z-index: 1;
    min-height: 400px;
    overflow-x: visible;
    &>header,form>header{
        padding: 15px;
        //  margin-bottom: 0.5rem;
        background-color: #f0f0f0;
    }

    &>footer{
    }
    
    h1:not(.subheader){
      //  font-family: $serif-font;
      //    font-style: italic;
      //    
      .tabs{
        display: inline-block;
        position: relative;
        bottom: -0.5rem;
    }
    
    div{
        display:inline-block;
        position: relative;
        input{
            height:200%;
            font-style: italic;
            @extend h1;
            padding-left:5px; 
            box-shadow: none;
            border-width: 0 0 2px 0;
            border-bottom: 2px dotted #222;
            background-color: inherit;
            
            &:hover{
                background-color: white;
            }
        }
    }
}
}


/* Card block */
.card>*{
  position: relative;
  background-color: white;
  padding:7px;
  // border: 1px dashed darken($bg-color,10%);
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  display: block;
  //color:$bg-color;
  opacity:0.9;
  overflow: hidden;

  >a{
    color:inherit;
    display: block;
    position: relative;
    z-index: 200;

    b{
      font-family:  Georgia, Serif;
    }
  }

  &.published{
      opacity: 1;
      // background-color: darken($bg-color,5%);
      background-color: lighten(#2ecc71, 45%);

      hr{
        border-color: lighten(#2ecc71, 20%);
      }
  }

  &.moderation{
      opacity: 1;
      // background-color: darken($bg-color,5%);
      background-color: #efefef;

      hr{
        border-color: darken(#efefef, 20%);
      }
  }

  &.unapproved{
      opacity: 1;
      border-style: solid;
      border-color: $alert-color;
  }

  &:hover{
    border-style:solid;
    opacity:1;
    >a{

    }
    i{
      opacity:0.3;
    }
    footer .age{
        display: block;
    }
  }

  &>i{
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 3rem;
    color: $theme-color;
    opacity: 0.3;
  }

  .preview{
      float: left;
      padding-right: 5px;
      padding-top: 4px;
  }
  header{
      overflow: hidden;
  }
  h5{
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 0;
  }
  .label{
      opacity:0.5;
  }
  p{
      color: #555;
      height: 80px;
      background-repeat: no-repeat;
      font-size: 80%;
  }
  .th{
      margin:20px auto;
      width:80px;
      height: 80px;
      overflow: hidden;
      display: none;
      &:hover{
          width: 150px;
          height: 150px;
      }
      img{
          width: 100%;
      }
  }
  footer{
      margin-top: 1rem;
      font-size: 70%;
      clear: both;
      color: $meta-color;
      .age{
          display: none;
          position: absolute;
          background-color: white;
          z-index: 100;
          bottom: 0;
          width: 100%;
      }
  }
}

.edit-card{
  position: relative;
  background-color: $bg-color;
  padding:10px;
  //  border: 1px dashed darken($bg-color,10%);
  display: block;
}


/* Content Tabs */
article{


    .tabs {
        display: inline-block;
        dd a{
            border-radius: 4px;
            border: 1px transparent;
        }
        dd.active a{
            color:$active-color;
            border: 1px solid;
        }
        dd:hover a{
            color:$active-color;
        }

        i{
          margin-right: 5px;
          font-size: 1.3rem;
      }
  }

  section.content{
    background-color:white;
    border: 1px solid #eee;
}


}
.card > div:hover{
  box-shadow: 0 0 10px lightgray;
  transition: 0.9s;
  border-color: lightgray;
  border-radius: 6px;
}

/* Default card */
.card>:hover .label{
  opacity:1;
}


.gallery .card .th{
  display: block;
}



/* Inline label list */

.label-list{
  display: inline-block;
  text-align: left;
  margin-bottom: 0.1rem;
  &:empty:before{
    content:"UNTAGGED";
    @extend .label;
    opacity:0.2!important;
    padding: 2px;
    background-color: transparent;
}

.label{
    // text-transform: uppercase;
    background-color: transparent;
    padding: 2px;
}  
}

/*************************** 2. Custom CSS overrides ***********************/
/* Content area */
article{

  padding-bottom: 4rem; 
  
  &>header{
      border-bottom: 1px solid #ddd;
      //  margin-bottom: 1rem!important;
  }
  &>footer{
      border-top: 1px dotted #ddd;
  }
  .breadcrumbs{
      // display: none;
      // background-color: #eee;
  }
}




textarea{
  min-height: 6rem;
}
/*
.orgitdown textarea{
  min-height: 15rem!important;
}
#content{
  min-height: 10rem;

}
*/
/*#content>p{
  font-size: inherit;
  line-height: 1.4;
  color: #222;
  }*/
  /*************************** 3. Custom CSS Below ***********************/

  /*CSS fix for tables generated via orgitdown*/
  #content table td, #content colgroup col{
      float: none !important;
  }


  .user{
      color: inherit;
  }
  .user{
      color: inherit;
  }
  .user i{
    margin-right: 3px;
}
.user:hover i{
  opacity:1;
}

a.node{
  display:block;
}

.button.edit{
  margin-bottom: 0;
}


/************ Forms **************/

/* Node edit */
input.node-title{
  font-size: 3rem;
  height:  4rem;
  display: inline-block;
}

/* view-graph in node_details_base.html */
.graph-height{
  height:70%;
}

/*for graph and location*/
.graph-div {
  height: 90%;
  width: -webkit-calc(100% - 10px); width:-o-calc(100% - 10px); width: -moz-calc(100% - 10px); width: calc(100% - 10px) !important;
  top: 5% !important;
  left: 5px !important;
  padding: 0px !important;
  margin-left: 0 !important;
}

/*for graph and location*/
.graph-div h3{
  border-bottom: 2px inset #154534;
  padding: 0.25em 0;
}

#view-map-widget .close-reveal-modal, #view-map-edit-widget .close-reveal-modal{

  z-index:1;
  background-color: captiontext;
  padding: 5px 15px 10px;
  color:white !important;
  opacity:0.8;
  font-size: 2rem;
  box-shadow: 0 1px 10px 2px #A9A9A9;
}

#view-map-widget .close-reveal-modal:hover, #view-map-edit-widget .close-reveal-modal:hover{

  background-color: white;
  border-radius: 30px;
  padding: 5px 15px 10px;
  transition:2s;
  opacity:1;
  color:black !important;
  font-size: 2rem;
}


/****************** CUSTOM *********************/

/* UI Button */
.ui.button{
    margin-right: 0.5rem;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.5);
    color: #ddd;
    padding: 0.8rem;
    padding: 0.5vw 0.75vw;
    z-index: 500;
    &.language{

    }
    label{
        color:#666;
    }
    small{
        margin-left: 2px;
        display: inline;
    }
    &:hover,&:active{
        border-color: rgba(255,255,255,0.2);
        background-color: rgba(0,0,0,0.9);
        label{
            color:#ddd;
        }
        small{
            display: inline;
        }
        &:focus{
            font-weight: bold;
        }
    }
}


// Off Canvas Areas
aside#help{
    h4{
        color:black;
    }
    p,h5,h6{
        color:#ddd;
        padding: 0.3rem 0.9375rem;
    }
}


.align-center {
    margin: 0 auto;
    display: block;
}


#profile-img {
    height: 40px;
    margin-right: 5px;
    // width: 40px;
}


// discussion

#replies-area .disc-replies {

    padding:10px;
    background-color:#ddd;
    width:27em;
    max-width: 40em;
    margin-left: 48px; 
    margin-top: 10px;
    padding-bottom:0em;
    .reply-btn{
        cursor: pointer;
        color:black !important;
    }

    .reply-btn:hover {
        color:#ececec !important;
    }
}
/* Simple  Card CSS*/
.scard {
    background:#FFF;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:0px;
    margin:5px;
    overflow:hidden;
    width:11rem;
    height:9rem;
     &:hover{
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.16), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.5s ease;
  }
    /*float:left;*/

.scard_header {
    text-align:center;
    position:fixed;
    height:20rem;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:0px;
    margin:5px;
    left:0px;
    right:0px;
    background:#FFF;
    padding:25px 0px 5px 0px;
    border-bottom:5px solid #CCC;
    font-size:20px;
    font-weight:bold;
  }
}
.scard-content {  
    height: 2.7em;
    padding: 0.5rem;
    margin:5px;
    padding-top: 0.5cm;
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    width:11rem;
    margin-top: -0.3em;
    /*height: 8.25rem;*/
      background-color:#3e3e3e;
  .scard-title{
      font-size: 0.8em;
      margin-top: -1em;
      float: left;
      color:#ececec;
      //width:50%;
      display:inline-block;
      text-align: center;
    }


  }

.scard-action {
    //color:#ececec;
    height: height;
    font-size:0.6em;
    padding: 0.5rem;
    margin:5px;
    padding-top: 0.1cm;
    margin-top:-0.25em;
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    width:11rem;
    background-color:#CCCCCC;
  
}

.scard-desc{
    font-size:0.7em;
    color:#333333;
    height: 40px;
    padding: 0.5rem;
    margin:5px;
    padding-top: 0.1cm;
    margin-top:-0.25em;
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    width:11rem;
    background-color:#E6E6E6;
    display-inline:block;
}

 p {
    margin:0px;
    padding:10px;
  }

.scard-image {
    padding:0px;
    margin:0px;
    height:100%;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    overflow:hidden;
    
    img  {
    border-radius: 2px 2px 0 0;
    display: block;
    margin: 0 auto;
    opacity: 0.9;
    //width:100%;
    height:100%;
  }
  
  i {
  font-size: 7rem;
  opacity: 0.75;
  display: block;
  margin: -15px auto;
  text-align: center;
  color: gray;
  font-family: "foundation-icons";
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  }
  
  i.common-icon:before{
  content: "\f1fb";
  }
  i.file:before {
  content: "\f18e";
  }
  i.page:before {
  content: "\f18e";
  }
  i.collection:before {
  content: "\f18a";
  }
  i.documents:before {
  content: "\f18b";
  }
  i.pdf:before {
  content: "\f18b";
  }
  i.text:before {
  content: "\f18e";
  }
  i.interactives:before {
  content: "\f1b2";
  }
  i.ebooks:before {
  content: "\f11e";
  }
  i.images:before {
  content: "\f125";
  }
  i.audios:before, i.audio:before {
  content: "\f17b";
  }
  i.videos:before, i.video:before {
  content: "\f20e";
  }


}
 .published.scard-action {
      background: #A6D9CB;
    }

 .draft.scard-action {
      content: "Draft";
      background: #DCDCDC;
      
    }

  .deleted.scard-action {
      border-color: transparent $alert-color transparent transparent;
      border-color: rgba(255,255,255,0) $alert-color rgba(255,255,255,0) rgba(255,255,255,0);
    }
  
  .moderation.scard-action {
      border-color: transparent $primary-color transparent transparent;
      border-color: rgba(255,255,255,0) $primary-color rgba(255,255,255,0) rgba(255,255,255,0);

      .label-text:before{ content: "Mod"; }
    }


.scard_footer {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 0.25rem 0.5rem;
  color: gray;
  font-size: small;
  height: 2rem;
  }





/* End Simple Card CSS*/

/* Customized Off-Canvas */
#help-canvas-menu {
    position:fixed;
    top:52px;
    left:-250px;
    z-index:99;
    -webkit-transition:left 150ms linear 0ms;
    -moz-transition:left 150ms linear 0ms;
    -ms-transition:left 150ms linear 0ms;
    transition:left 150ms linear 0ms;
    height:100%;
}
#help-canvas-menu.expanded {
    left:0!important;
    z-index:100000000;
    left:150px;
}
#help-canvas-menu.expanded .help-button {
    right:80px;
    z-index:-1;
}

#help-canvas-menu.animating .help-button {
    -webkit-animation:shake 400ms;
    animation:shake 400ms;
}
#help-canvas-menu .help-button {
    position:absolute;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    transform:rotate(-90deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0)";
    left:200px;
    top:300px;
    background:$primary-color;
    color:#fff;
    text-decoration:none;
    height:28px;
    line-height:28px;
    width:124px;
    text-transform:none;
    padding:0;
    text-align:center;
    font-size:14px;
    border-radius:0;
    overflow:none;
    border-top-left-radius:5px;
    border-top-right-radius:5px;

}
#help-canvas-menu .help-button-text{
    font-size:18px;
}
#help-canvas-menu .help-button .text {
    color:#f9f9f9;
    letter-spacing:.1em;
    float:left;
    margin-left:5px;
    text-shadow:0 0 1px rgba(0,0,0,0.35);

}

#help-canvas-menu .mainContainer {
    background:#fff;
    /*-webkit-box-shadow:3px 3px 17px -1px #7b7b7b;
    -moz-box-shadow:3px 3px 17px -1px #7b7b7b;*/
     box-shadow:1px 1px 10px 1px #7b7b7b;
    /*overflow-y:scroll;*/
    text-align:center;
    height:100%;
    width:250px;
    overflow: none;


}



/* End of Customized Off-Canvas */

.rcard {
  overflow: hidden;
  color: #272727;
  // height: 17rem;
  // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);
  // border-radius: 2px;
  // border: solid 0.5px #E1E1E1;
  background-color: #f5f5f5;
  margin: 5px;

  &:hover{
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.16), 0 2px 10px 1px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.5s ease;
  }

  .title {
    // line-height: 3rem;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .content {
    padding: 0.5rem 2rem;
    // font-weight: 300;
    border-radius: 0 0 2px 2px;
    overflow: hidden;
    height: 7.25rem;

    .slick-slider{
      margin-bottom: 0;
    }

    .slick-prev{
      left: 0.25rem;

      &:before{
        // content: "<";
        color: #ccc;
      }
    }

    .slick-next{
      right: 0.25rem;

      &:before{
        // content: ">";
        color: #ccc;
      }
    }

    .card-content-title{
      width: 100%; 
      border-bottom: 1px solid #808080;
      line-height: 0.25em;
      margin: 10px 0 20px;

      small{
        padding: 0 10px;
        background-color: #f5f5f5
      }
    }
  }

  .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 0.25rem 0.5rem;
    color: gray;
    font-size: small;
    height: 2rem;

    .add-to-collection{
      opacity: 0.5;

      &:hover{
        opacity: 1;
      }
    }
  }

  a {
    // color: #ffab40;
    // margin-right: 1.3rem;
    // transition: color 0.3s ease;
    // text-transform: uppercase;
    // text-decoration: none;
  }

  .image {
    position: relative;
    // background-color: #E1E1E1;
    background-color: #ccc;
    box-shadow: 0px -35px 35px -20px rgb(128, 128, 128) inset;
    height: 8em;
    overflow: hidden;

    &:hover{}

    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0.25rem 1rem;
      color: #fff;
      width: 100%;
      box-shadow: 0px -25px 25px -20px rgb(128, 128, 128) inset;
      text-transform: uppercase;
      text-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.5);
      font-family: Open Sans Bold;
    }

    img {
      border-radius: 2px 2px 0 0;
      display: block;
      margin: 0 auto;
      opacity: 0.9;
      height: 8em;
      // filter: blur(0.25px);
      // filter: contrast(4);
      // filter: grayscale(0.1);
      filter: brightness(0.75);
      -webkit-filter: brightness(0.75);

      &:hover{
        // filter: blur(0px);
        filter: brightness(1);
        -webkit-filter: brightness(1);
        transform: translate3d(0, 0, 0);
        transition: all 1.5s ease;
      }
    }

    i{
      font-size: 7rem;
      opacity: 0.75;
      display: block;
      margin: -15px auto;
      text-align: center;
      color: gray;
      font-family: "foundation-icons";
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      text-decoration: inherit;      
      // line-height: 1;
      // display: inline-block;
      // font-weight: normal;
    }

    i.file:before{ content: "\f18e"; }
    i.page:before{ content: "\f18e"; }
    i.collection:before{ content: "\f18a"; }
    // i.application:before{ content: "\f189"; }
    i.documents:before{ content: "\f18b"; }
    i.pdf:before{ content: "\f18b"; }
    i.text:before{ content: "\f18e"; }
    i.interactives:before{ content: "\f1b2"; }
    i.ebooks:before{ content: "\f11e"; }
    i.images:before{ content: "\f125"; }
    i.audios:before, i.audio:before{ content: "\f17b"; }
    i.videos:before, i.video:before{ content: "\f20e"; }
  }

  .card-label { 
    border-style: solid; 
    border-width: 0 70px 40px 0;  
    float:right; 
    height: 0px; 
    width: 0px;
    transform:rotate(360deg);
    position: absolute;
    right: 0px;
    z-index: 1;
    opacity: 0.75;
  }

  .card-label {
      border-color: transparent #333 transparent transparent;
      border-color: rgba(255,255,255,0) #333 rgba(255,255,255,0) rgba(255,255,255,0);
    }

  .published.card-label {
      border-color: transparent $success-color transparent transparent;
      border-color: rgba(255,255,255,0) $success-color rgba(255,255,255,0) rgba(255,255,255,0);

      .label-text:before{
        // content: url('/static/ndf/bower_components/foundation-icon-fonts/svgs/fi-annotate.svg');
        content: "\221A";
        margin-left: 5px;
        font-size: larger;
      }
    }

  .draft.card-label {
      border-color: transparent $secondary-color transparent transparent;
      border-color: rgba(255,255,255,0) $secondary-color rgba(255,255,255,0) rgba(255,255,255,0);

      .label-text:before{
        content: "Draft";
      }
    }

  .deleted.card-label {
      border-color: transparent $alert-color transparent transparent;
      border-color: rgba(255,255,255,0) $alert-color rgba(255,255,255,0) rgba(255,255,255,0);

      .label-text:before{
        content: "Deleted";
      }
    }
  
  .moderation.card-label {
      border-color: transparent $primary-color transparent transparent;
      border-color: rgba(255,255,255,0) $primary-color rgba(255,255,255,0) rgba(255,255,255,0);

      .label-text:before{ content: "Mod"; }
    }
  
  .hidden.card-label {
      border-color: transparent #000 transparent transparent;
      border-color: rgba(255,255,255,0) #000 rgba(255,255,255,0) rgba(255,255,255,0);

      .label-text:before{ content: "hidden"; }
    }
  
  .label-text {
    color: #fff; 
    font-size: 0.75rem; 
    font-weight: bold; 
    position: relative; 
    right: -35px; 
    // top: 2px; 
    white-space: nowrap;
    transform: rotate(30deg);
  } 
}

.compulsory{

  &:after{
    content: '*';
    color: red;
    font-size: smaller;
  }
}

/* Watermark background for node_ajax_content  */
.allow.draft{
    background-size: 10%;
    background-repeat:repeat;
    background-image:url("/static/ndf/images/draft-watermark.png");
}



.text-gray{
  color: gray;
}


  .repository-title{  
    color:#D7D7D7;
    font-size: 1.1em;
    width:auto;
    background-color: rgba(0, 0, 0, 0.8);
    text-align:left;
    display:inline-block;
    margin-left:2px;
    position:relative;
    text-align:center;
  }
  .repository-desc{
    font-size: 1.1em;
    width:auto;
    background-color:#E5E5E5;
    text-align:left;
    display:inline-block;
    color:#878787;
    position:relative;
    margin-left:4px;
  }
.card-holder{
    padding-left: 2%;
  }

  .app-card{
    width: 19rem;
    min-height: 10rem;
    margin: 15px 20px;
    float: left;
    padding: 1em; 
    margin-left:-10%; 
    height:18rem;
    background-color:#fafafa;
    border: thin solid #D3D3D3;
  }

  .app-card:hover{
    box-shadow: 0px 0px 15px #808080;
    border: thin solid #D3D3D3;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
  }

  .app-card-icon{
    color:#4c4c4c;
    position: relative;
    font-size: 6em;


  }
  .app-card-title{
    padding-bottom:-1em;
  }
  
  .app-card-content{
    color:#4c4c4c;
    text-align:center;
    margin-top:0.5cm;
  }
  
  .discussion-title-username{
      background-color:#3e3e3e;
      color:#ececec !important;
      //width:auto;
      margin-top:-0.6em;
      margin-left:-0.7em; 
      height:2em;
      top: 0px;
      left: 0px;
      width: 105%;
      right:0;
      padding-right:10px;
      padding-left:10px;
  }
.discussion-footer{
      background-color:#CCCCCC;
      color:gray !important;
      //width:auto;
      //margin-top:-1em;
      margin-left:-0.7em; 
      height:2em;
      top: 0px;
      left: 0px;
      width: 105%;
      right:0;
      padding-right:10px;
      padding-left:10px;
      //margin-top:0.2em;
}

.discussion-content{
      color: #262626;  
      word-wrap: break-word;
}

.fullscreen-icon{
  
  display:none;
}
/*
div.show-image:hover div.fullscreen-icon{
    display: block;
    position:absolute;
    top:3px;
    left:7em;
    
        
    font-size:2em;
    
}*/