/*
*  CLIx Platform Stylesheet
*/


.workspace{

    // group level menu bar
    .app.button-bar {
        height: 45px;
    }

    //This is the main content container between the header and footer
    /*background: url("watermark.png") no-repeat 0 80%;*/
  min-height: 100%;
  /*margin-bottom: -130px!important;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

    /*&:after{
        //Hack for setting div height to the height of the browser window
    content:"";
    display:block;
    height:130px;    // allows the content of the footer to be visible at the bottom. This should match the margin-bottom of the div
  }*/
}

body>footer {
    background-color: #A0148E;
    color: #fff;
    min-height: auto;

    a {
      color: #fff;
    }

    li {
      margin-right: 1.375rem;
      margin-left: 0 !important;
    }
}

#top-headers {

  margin-bottom: 0em;

  #first-header.top-bar {

    background-color: #fff !important;
    margin: 0px auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0 , 0.4);

    &.expanded {
      .title-area {
        background: $ghost;
      }
    }

    .title-area {
      height: auto;

      img {
        height: 45px;
      }

      a{
        &:hover{
          // background-color: scale-color($topbar-bg-color, $lightness: 5%);
          //box-shadow: inset 0px 100px 50px #fff;
          // box-shadow: inset 0px 100px 50px scale-color($theme-color-invert, $lightness: 10%);
          // transition: 0.8s all;
        }
      }
    }


    .top-bar-section {
      #login-button-medium {
        text-decoration: underline;
        color: blue !important;
      }

      .app-menus li a{
        font-weight: 600;
      }

      .has-dropdown > a:after {
        border-color: #000000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
      }

      ul.dropdown {
        background: #fff !important;
        li input[type=submit] {
          height: 3em;
        }
      }

      @media only screen and (max-width: 40em){
        #login-button-medium {
          display: none;

          &:hover {
            background: inherit;
          }
        }
      }

      @media only screen and (min-width: 40.063em) {
        ul {
          li:hover {
            background: inherit;
          }
        }

        #login-button-small {
          display: none;
        }
      }
    }

    .top-bar-section li a.active:not(.button){ color: #ececec !important; }

    .top-bar-section li a:not(.button), .top-bar-section li {
        // background-color: scale-color($topbar-bg-color, $lightness: 10%);
        background-color: #fff !important;
        color: #333 !important;
        font-weight: 600;

        &:hover {
            background: $theme-color;
            color: white !important;
        }
    }


    /*.top-bar-section li a:not(.button):hover, .top-bar-section li:not(.has-form):hover {
        background-color: scale-color($theme-color-invert, $lightness: 10%) !important;
        color: #ececec;
        // background-color: #E1E1E1;
    }*/
  }


  #group-level-header{

    opacity: 0.9;
    background-color: #E1E1E1 !important;

    &:hover{
      opacity: 1;
      transition: 0.1s all;
      box-shadow: 0px 2px 3px #E1E1E1 !important;
    }

    #group-apps{

      .back-btn.fi-play:before{
        transform: rotate( 180deg );
      }
    }

    #second-header.top-bar {
      background-color: #fafafa;
      //border-top: solid thin gray;
      height: 52px;
      span{
        font-size: 1em!important;
      }


      img{

        height:45px;
        width:50px;
        //margin-left: -20px!important;
      }
      // &:hover{
      //     box-shadow: inset 0px 101px 50px #E1E1E1;
      //     transition: 0.8s all;
      // }

      .top-bar-section li.active a:not(.button), .top-bar-section li.active{
        background-color: #fafafa !important;
        color: #000;
        border-bottom: solid 1px gray !important;
      }

      .top-bar-section li.active a:not(.button):hover, .top-bar-section li.active:hover{
        background-color: scale-color($theme-color-invert, $lightness: 10%) !important;
      }

      .top-bar-section li.active:not(.has-form) > a:not(.button){
          background-color: scale-color($theme-color-invert, $lightness: 15%);
          // background-color: #fafafa
      }

      .top-bar-section li a:not(.button), .top-bar-section li {
          // background-color: scale-color($topbar-bg-color, $lightness: 10%);
          background-color: #fafafa;
          color: gray;
          // line-height: 49px;
      }

      .top-bar-section li a:not(.button):hover, .top-bar-section li:not(.has-form):hover {
          background-color: scale-color($theme-color-invert, $lightness: 10%);
          color: #fff;
          // background-color: #E1E1E1;
      }
    }
  }

  ul.dropdown{
    box-shadow: 0px 2px 5px black;
    opacity: 1;
  }

  #search_text {
    border-bottom: solid thin #E1E1E1;
    background-color: #fafafa;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: none !important;
    /*color: #fff !important;*/
    height: inherit;
    box-shadow: none;
    top: 10px;

    &:focus{
      border-bottom-color: #2b2c2d;
      transition: 1s ease-out;
    }
  }

  #search-submit{
    background-color: #fafafa;
    // color: gray;
    top: 10px;
    position: absolute;
    left: -30px;
    opacity: 0.3;
    color: black;
  }

  #search-submit:hover {
    opacity: 1;
    color: white;
    background-color: gray;
    transition: 0.8s ease-out;
  }

  ul.title-area a{
    color: $oil !important;
        .user-heading {
            font-weight: bolder;
            font-size: 23px;
            color: #BFBFBF !important;
            line-height: 1.8em;
        }

        &:hover{
        // background-color: scale-color($topbar-bg-color, $lightness: 5%);
        //box-shadow: inset 0px 75px 50px #cccccc;
        //color: #black;
        //transition: 0.8s all;
    }

  }

//     div.two-nav-container{
//         padding: 0;
//     }

//     ul.dropdown{
//         box-shadow: 0px 2px 5px black;
//     }

//     a.logo{
//         height: 101px;

//         img{
//           margin: 10% auto;
//           // height: 100px;
//           display: block;
//           // width: 100%;
//           // padding: 3px;
//         }

//         &:hover{
//             // background-color: scale-color($topbar-bg-color, $lightness: 5%);
//             box-shadow: inset 0px 101px 50px #222;
//             transition: 0.8s all;
//         }
//     }

}

.login-page {
    position: relative;
    /*background: url(/static/ndf/images/login-background.png);*/
    background-size: 100% 100%;
    height: 100%;

    .login-page-opacity {
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0.6;
        background: -webkit-gradient(linear, left top, right top, from(#E9A900), to(#B0108D));
        background: -webkit-linear-gradient(left, #E9A900, #B0108D);
        background: -moz-linear-gradient(left, #E9A900, #B0108D);
        background: -ms-linear-gradient(left, #E9A900, #B0108D);
        background: -o-linear-gradient(left, #E9A900, #B0108D);
    }

    .login-page-form {
        background-color: #fff;
        margin-top: 100px;
        margin-bottom: 100px;
        border-radius: 10px;
        padding: 10px 40px;
        opacity: 0.95;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

        .login-page-header {
            img {
                height: 80px;
                width: 280px;
            }
            span {
                display: block;
                text-transform: uppercase;
                color: #d5d5d5;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
        .login-captcha {
          margin: 10px 0;

          >div {
            display: inline-block;
            vertical-align: top;
          }
          .fi-refresh {
            color: #A0148E;
            font-size: 25px;
          }
          #captcha-content {
              th{
                display: none;
              }
              td>input {
                display: inline-block;

                &#id_captcha_1 {
                  width: 130px;
                }
              }
          }
        }
        .login-button {
            .button {
              font-size: 15px;
              background-color: #B1B1B1;
              font-weight: 600;
              border-bottom: 3.5px solid #DADADA;
              border-radius: 5px;
              padding: 9px;

              &:hover {
                background-color: #CC1AB5;
                border-color: #881378;
              }
            }
        }
        .forgot-password {
          label {
            font-size: 10px;
            text-align: center;
            text-decoration: underline;
          }
        }
        .register-user {
          label {
            font-size: 10px;
            margin: 10px 0px 0px;
          }
          span {
            color: #A0148E;
          }
        }
    }
}
