/*
*  CLIx Platform Stylesheet
*/


.workspace{

    min-height:100%;
    background: linear-gradient(to right, $theme-orange, $theme-pink);
    // group level menu bar
    .app.button-bar {
        height: 45px;
    }

    /*&:after{
        //Hack for setting div height to the height of the browser window
    content:"";
    display:block;
    height:130px;    // allows the content of the footer to be visible at the bottom. This should match the margin-bottom of the div
  }*/
}

body>footer {
    background-color: rgb(93, 5, 95);
}

#top-headers {

  margin-bottom: 0em;

  #first-header.top-bar {

    background-color: $primary-blue !important;
    margin: 0px auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0 , 0.4);

    &.expanded {
      .title-area {
        background: $primary-blue;
      }
    }

    .title-area {
      height: 50px;

      a{
        &:hover{

           background-color: $primary-blue;
           color: $secondary-orange;
          //box-shadow: inset 0px 100px 50px #fff;
          // box-shadow: inset 0px 100px 50px scale-color($theme-color-invert, $lightness: 10%);
          // transition: 0.8s all;
        }
      }
    }


    .top-bar-section {
      #login-button-medium {
        text-decoration: underline;
        color: $secondary-blue !important;
      }

      .app-menus li a{
        font-weight: 600;
      }

      .has-dropdown > a:after {
        border-color: #000000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) !important;
      }

      ul.dropdown {
        background: $primary-blue !important;
        li input[type=submit] {
          height: 3em;
        }
      }

      @media only screen and (max-width: 40em){
        #login-button-medium {
          display: none;

          &:hover {
            background: inherit;
          }
        }
      }

      @media only screen and (min-width: 40.063em) {
        ul {
          li:hover {
            background: inherit;
          }
        }

        #login-button-small {
          display: none;
        }
      }
    }

    .top-bar-section li a.active:not(.button){ color: #ececec !important; }

    .top-bar-section li a:not(.button), .top-bar-section li {
        // background-color: scale-color($topbar-bg-color, $lightness: 10%);
        background-color: $primary-blue !important;
        color: $secondary-blue !important;
        font-weight: normal;;

        &:hover {
            background: $primary-blue;
            color: $secondary-orange !important;
        }
    }


    /*.top-bar-section li a:not(.button):hover, .top-bar-section li:not(.has-form):hover {
        background-color: scale-color($theme-color-invert, $lightness: 10%) !important;
        color: #ececec;
        // background-color: #E1E1E1;
    }*/
  }










  #group-level-header{

    opacity: 0.9;
    background-color: #E1E1E1 !important;

    &:hover{
      opacity: 1;
      transition: 0.1s all;
      box-shadow: 0px 2px 3px #E1E1E1 !important;
    }

    #group-apps{

      .back-btn.fi-play:before{
        transform: rotate( 180deg );
      }
    }

    #second-header.top-bar {
      background-color: #fafafa;
      //border-top: solid thin gray;
      height: 52px;
      span{
        font-size: 1em!important;
      }


      img{

        height:45px;
        width:50px;
        //margin-left: -20px!important;
      }
      // &:hover{
      //     box-shadow: inset 0px 101px 50px #E1E1E1;
      //     transition: 0.8s all;
      // }

      .top-bar-section li.active a:not(.button), .top-bar-section li.active{
        background-color: #fafafa !important;
        color: #000;
        border-bottom: solid 1px gray !important;
      }

      .top-bar-section li.active a:not(.button):hover, .top-bar-section li.active:hover{
        background-color: $primary-blue!important;
        color: $secondary-orange;
      }

      .top-bar-section li.active:not(.has-form) > a:not(.button){
        background-color: $primary-blue!important;
        color: $secondary-blue;
      }

      .top-bar-section li a:not(.button), .top-bar-section li {
          // background-color: scale-color($topbar-bg-color, $lightness: 10%);
          background-color: #fafafa;
          color: gray;
          // line-height: 49px;
      }

      .top-bar-section li a:not(.button):hover, .top-bar-section li:not(.has-form):hover {
        background-color: $primary-blue!important;
        color: $secondary-orange;
          // background-color: #E1E1E1;
      }
    }
  }

  ul.dropdown{
    box-shadow: 0px 2px 5px black;
    opacity: 1;
  }

  #search_text {
    border-bottom: solid thin #E1E1E1;
    background-color: #fafafa;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: none !important;
    /*color: #fff !important;*/
    height: inherit;
    box-shadow: none;
    top: 10px;

    &:focus{
      border-bottom-color: #2b2c2d;
      transition: 1s ease-out;
    }
  }

  #search-submit{
    background-color: #fafafa;
    // color: gray;
    top: 10px;
    position: absolute;
    left: -30px;
    opacity: 0.3;
    color: black;
  }

  #search-submit:hover {
    opacity: 1;
    color: white;
    background-color: gray;
    transition: 0.8s ease-out;
  }

  ul.title-area a{
    color: $oil !important;
        .user-heading {
            font-weight: bolder;
            font-size: 23px;
            color: #BFBFBF !important;
            line-height: 1.8em;
        }

        &:hover{
        // background-color: scale-color($topbar-bg-color, $lightness: 5%);
        //box-shadow: inset 0px 75px 50px #cccccc;
        //color: #black;
        //transition: 0.8s all;
    }

  }

//     div.two-nav-container{
//         padding: 0;
//     }

//     ul.dropdown{
//         box-shadow: 0px 2px 5px black;
//     }

//     a.logo{
//         height: 101px;

//         img{
//           margin: 10% auto;
//           // height: 100px;
//           display: block;
//           // width: 100%;
//           // padding: 3px;
//         }

//         &:hover{
//             // background-color: scale-color($topbar-bg-color, $lightness: 5%);
//             box-shadow: inset 0px 101px 50px #222;
//             transition: 0.8s all;
//         }
//     }

}

.login-page {
    position: relative;
    /*background: url(/static/ndf/images/login-background.png);*/
    background-size: 100% 100%;
    min-height: 100vh;

    .login-page-opacity {
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0.6;
        background: -webkit-gradient(linear, left top, right top, from(#E9A900), to(#B0108D));
        background: -webkit-linear-gradient(left, #E9A900, #B0108D);
        background: -moz-linear-gradient(left, #E9A900, #B0108D);
        background: -ms-linear-gradient(left, #E9A900, #B0108D);
        background: -o-linear-gradient(left, #E9A900, #B0108D);
    }

    .login-page-form {
        background-color: #fff;
        border-radius: 10px;
        padding: 10px 40px;
        opacity: 0.95;
        max-width: 90%;
        width: 350px;
        margin: 100px auto;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

        .login-page-header {
            img {
                height: 80px;
                width: 280px;
            }
            span {
                display: block;
                text-transform: uppercase;
                color: #d5d5d5;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
        .login-captcha {
          margin: 10px 0;

          >div {
            display: inline-block;
            vertical-align: top;
          }
          .fi-refresh {
            color: #A0148E;
            font-size: 25px;
          }
          #captcha-content {
              th{
                display: none;
              }
              td>input {
                display: inline-block;

                &#id_captcha_1 {
                  width: 130px;
                }
              }
          }
        }
        .login-button {
            .button {
              font-size: 15px;
              background-color: #B1B1B1;
              font-weight: 600;
              border-bottom: 3.5px solid #DADADA;
              border-radius: 5px;
              padding: 9px;

              &:hover {
                background-color: #CC1AB5;
                border-color: #881378;
              }
            }
        }
        .forgot-password {
          label {
            font-size: 10px;
            text-align: center;
            text-decoration: underline;
          }
        }
        .register-user {
          label {
            font-size: 10px;
            margin: 10px 0px 0px;
          }
          span {
            color: #A0148E;
          }
        }
    }
}


@media only screen and (min-width: 40.063em) {
  .top-bar {
    background: $primary-blue;
    overflow: visible;
    font-family: Rubik-Medium;
    font-size: 14px;}

    .top-bar:before, .top-bar:after {
      content: " ";
      display: table; }
    .top-bar:after {
      clear: both; }
    .top-bar .toggle-topbar {
      display: none; }
    .top-bar .title-area {
      float: left; }
    .top-bar .name h1 a {
      width: auto; }
    .top-bar input,
    .top-bar .button,
    .top-bar button {
      font-size: 0.875rem;
      position: relative;
      top: 7px; }
    .top-bar.expanded {
      background: $primary-blue; }

  .contain-to-grid .top-bar {
    max-width: 62.5rem;
    margin: 0 auto;
    margin-bottom: 0; }

  .top-bar-section {
    transition: none 0 0;
    left: 0 !important; }
    .top-bar-section ul {
      width: auto;
      height: auto !important;
      display: inline; }
      .top-bar-section ul li {
        float: left; }
        .top-bar-section ul li .js-generated {
          display: none; }
    .top-bar-section li.hover > a:not(.button) {
      background-color: $primary-blue;
      background: $primary-blue;
      color: $primary-blue;
      border-bottom: 3px solid $secondary-orange;}
    .top-bar-section li:not(.has-form) a:not(.button) {
      padding: 0 15px;
      line-height: 48px;
      background: $primary-blue;
      color: $secondary-blue;

      }
      .top-bar-section li:not(.has-form) a:not(.button):hover {
        background-color: $primary-blue;
        background: $primary-blue;
        color: $secondary-orange;
        line-height: 48px;
        border-bottom: 3px solid $secondary-orange;
         }
    .top-bar-section li.active:not(.has-form) a:not(.button) {
      padding: 0 15px;
      line-height: 45px;
      color: $secondary-blue;
      background:$primary-blue; }
      .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        background: $primary-blue;
        color: $secondary-orange; }
    .top-bar-section .has-dropdown > a {
      padding-right: 35px !important; }
      .top-bar-section .has-dropdown > a:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: inset 5px;
        border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
        border-top-style: solid;
        margin-top: -2.5px;
        top: 22.5px;
        background: $primary-blue;
        color: $secondary-blue;}
    .top-bar-section .has-dropdown.moved {
      position: relative; }
      .top-bar-section .has-dropdown.moved > .dropdown {
        display: block;
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px); }
    .top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {
      display: block;
      position: static !important;
      height: auto;
      width: auto;
      overflow: visible;
      clip: auto;
      position: absolute !important;
     background: $primary-blue;
     color: $secondary-orange;}
    .top-bar-section .has-dropdown > a:focus + .dropdown {
      display: block;
      position: static !important;
      height: auto;
      width: auto;
      overflow: visible;
      clip: auto;
      position: absolute !important; }
    .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
      border: none;
      content: "\00bb";
      top: 1rem;
      margin-top: -1px;
      right: 5px;
      line-height: 1.2; }
    .top-bar-section .dropdown {
      left: 0;
      top: auto;
      background: transparent;
      min-width: 100%; }
      .top-bar-section .dropdown li a {
        color: $secondary-blue;
        line-height: 45px;
        white-space: nowrap;
        padding: 12px 15px;
        background: $primary-blue; }
      .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        color: $secondary-blue;
        background: $primary-blue; }
      .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
        color: $secondary-blue;
        background-color: $primary-blue;
        background: $primary-blue; }
      .top-bar-section .dropdown li label {
        white-space: nowrap;
        background: $primary-blue; }
      .top-bar-section .dropdown li .dropdown {
        left: 100%;
        top: 0; }
    .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
      border-bottom: none;
      border-top: none;
      border-right: solid 1px #4e4e4e;
      clear: none;
      height: 45px;
      width: 0; }
    .top-bar-section .has-form {
      background:$primary-blue;
      padding: 0 15px;
      height: 45px; }
    .top-bar-section .right li .dropdown {
      left: auto;
      right: 0; }
      .top-bar-section .right li .dropdown li .dropdown {
        right: 100%; }
    .top-bar-section .left li .dropdown {
      right: auto;
      left: 0; }
      .top-bar-section .left li .dropdown li .dropdown {
        left: 100%; }
      }


.banner-image{
  padding-top:-50px;
    padding-left: 10px;
    margin:0px;
    height:100%;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    overflow:hidden;
    background-color:#f2f2f2;
    img  {
    border-radius: 2px 2px 0 0;
    display: block;
    margin: 0 auto;
    opacity: 0.9;
    //width:100%;
    //height:50%;
    width: 50%;
  }
}