/*Blue color variables*/
$primary-blue : #2e3f51;
$secondry-blue : #acd4fa;
$tertiary-blue : #719dc7;

/*Orange color variables*/
$primary-orange : #ce7869;
$secondary-orange : #ffc14e;

@mixin transition-prop($prop) {
    transition: $prop 1s ease;
    -webkit-transition: $prop 1s ease;
}

@mixin transition-two-prop($prop1, $prop2) {
    transition: $prop1 1s ease, $prop2 1s ease;
    -webkit-transition: $prop1 1s ease, $prop2 1s ease;
}


html {
    height: 100%;
}
body {
    background: linear-gradient(135deg, #e5a426, #ae208c);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Landing page */
.landing_page {
  position: relative;
  text-align: center;

  .panel {
    background-color: inherit;
    border: none;
  }

  .landing_page_background {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;

  }


  .clix_brief {
    text-align: left;
    padding: 20px 5%;

    img {
      margin: 30px 20px;
      height: 70px;
      @media screen and (max-width: 450px) {
        margin: 25px 10px;
        height: 55px;
      }
    }
    p {
      color: #fff;
      font-size: 26px;
      @media screen and (max-width: 450px) {
        font-size: 18px;
      }
      font-weight: 300;
      font-family: 'ubuntu-light';
    }
  }

  .invitation_to_clix {
    background-color: rgba(255,255,255, 0.92);
    border-radius: 10px;
    width: 100%;
    margin: 20px auto;
    @media screen and (min-width: 1025px) {
      margin: 30px;
    }
    text-align: left;
    padding: 30px 40px 21px;
   // box-shadow: 0px 0px 30px rgba(0, 0,0, 0.5);

    >span {
      font-family: 'ubuntu-bold';
      color: #6658af;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: middle;
    }
    p {
      color: #b0108d;
      font-size: 21px;
      padding: 25px 0px 30px;
      font-weight: 300;
      font-family: 'ubuntu-light';
    }

    img {
      height: 30px;
    }
    form {
      margin-top: 30px;

      input  {
        font-size: 24px;
        height: 45px;
        margin: 5px 0px 24px;
      }
    }
  .flowers {
    left: 50px;
    height: 200px;
    width:100%;
    @media screen and (max-width: 450px) {
      //height: 50px;
      width: 100%;
    }
    @media screen and (min-width: 451px) and (max-width: 1025px) {
     //height:50px;
     width:100%;
    }
    bottom: 0px;
    opacity: 0.6;
  }
  .bees {
    position: absolute;
    top: 5px;
    right: 50px;
    height: 100px;
    float: left;
    
    @media screen and (max-width: 450px) {
      right: 15px;
      height: 50px;
    }
  }

  
  .landing-page-text {
    color: #6153ae;

    p {
      font-size: 18px;
    }
  }
}
    input.button {
      font-size: 25px;
      border-radius: 10px;
      font-family: 'Rubik';
      text-transform: uppercase;
      background-color: $primary-blue;
      margin-top: 80px;
    }
    a.grey {
      color: #999;
      /*display: inline-block;
      padding: 6px 12px;
      background: #B0108D;
      color: #fff;
      font-weight: 600;
      font-family: 'ubuntu-bold';
      text-transform: uppercase;*/
    }
  }


/* Login Page */


.login-page {
    position: relative;
    /*background: url(/static/ndf/images/login-background.png);*/
    background-size: 100% 100%;
    min-height: 100vh;

    .login-page-opacity {
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0.6;
        //background: -webkit-gradient(linear, left top, right top, from(#E9A900), to(#B0108D));
        //background: -webkit-linear-gradient(left, #E9A900, #B0108D);
        //background: -moz-linear-gradient(left, #E9A900, #B0108D);
        //background: -ms-linear-gradient(left, #E9A900, #B0108D);
        //background: -o-linear-gradient(left, #E9A900, #B0108D);
    }

    .login-page-form {
        background-color: #fff;
        border-radius: 10px;
        padding: 10px 40px;
        opacity: 0.95;
        max-width: 90%;
        width: 350px;
        margin: 100px auto;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

        .login-page-header {
            img {
                height: 80px;
                width: 280px;
            }
            span {
                display: block;
                text-transform: uppercase;
                color: #d5d5d5;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
        .login-captcha {
          margin: 10px 0;

          >div {
            display: inline-block;
            vertical-align: top;
          }
          .fi-refresh {
            color: #A0148E;
            font-size: 25px;
          }
          #captcha-content {
              th{
                display: none;
              }
              td>input {
                display: inline-block;

                &#id_captcha_1 {
                  width: 130px;
                }
              }
          }
        }
        .login-button {
            .button {
              font-size: 15px;
              background-color: #B1B1B1;
              font-weight: 600;
              border-bottom: 3.5px solid #DADADA;
              border-radius: 5px;
              padding: 9px;

              &:hover {
                background-color: #CC1AB5;
                border-color: #881378;
              }
            }
        }

        .explore-button {
            .button {
              font-size: 15px;
              background-color: #B1B1B1;
              font-weight: 600;
              border-bottom: 3.5px solid #DADADA;
              border-radius: 5px;
              padding: 9px;
              margin-top: 160px;

              &:hover {
                background-color: #CC1AB5;
                border-color: #881378;
              }
            }
        }
        .forgot-password {
          label {
            font-size: 10px;
            text-align: center;
            text-decoration: underline;
          }
        }
        .register-user {
          label {
            font-size: 10px;
            margin: 10px 0px 0px;
          }
          span {
            color: #A0148E;
          }
        }
    }
}


.explore-button {
      font-size: 25px;
      border-radius: 10px;
      font-family: 'Rubik';
      text-transform: uppercase;
      background-color: $primary-blue;
      margin-top: 80px;
      color: $secondry-blue;
      
}


/*Overridding foundation css*/

.top-bar, .top-bar .name {
    height: 55px;
    background: $primary-blue;
}

.top-bar {
    .title-area {
        box-shadow: 0px 0.6px 3px #000;
        z-index: 20;
    }
    .name {
        text-align: center;

        .close-menu-dropdown, .side-bar-button {
            position: absolute;
            left: 15px;
            color: #fff;
            font-size: 35px;
            font-weight: 100;
        }

    }
    li.toggle-topbar {
        i {
            color: #fff;
            display: inline-block;
            vertical-align: bottom;
        }
    }
    .top-bar-section {
        ul {
            li {
                background: $primary-blue;
                &>a {
                    border-left: 3px solid transparent;
                    border-bottom: 1px solid #4b5b6b;
                    color: $secondry-blue;
                    line-height: 40px;
                    font-weight: bold;
                    font-size: 14px;
                    letter-spacing: 0.5px;

                }
                &:hover, &.active {
                    &>a {
                        border-left-color: $secondary-orange;
                        color: $primary-orange;
                    }
                }
            }
        }

        .dropdown li.parent-link a {
            display: none;
        }

        .side-bar-menu {
            .add_buddy {
                i {
                    color: #2e3f51;
                    background: #acd4fa;
                }
            }
        }
    }
}

@media screen and (min-width: 40.063em) {
    .top-bar {
        .title-area {
            box-shadow: none;
            .name {
                text-align: right;
            }
        }
        .top-bar-section {
            li {
                &:not(.has-form) {
                    a:not(.button) {
                        cursor: pointer;
                        background: transparent;
                        border-bottom: 0px;
                        line-height: 52px;
                        border-left-width: 0px;

                        &:hover {
                            color: $primary-orange;
                            border-bottom: 3px solid $secondary-orange;
                        }
                    }
                    &.active {
                        a:not(.button) {
                            color: $primary-orange;
                            border-bottom: 3px solid $secondary-orange;
                        }
                    }

                    &.has-dropdown {
                        a:not(.button) {
                            &:hover {
                                color: $secondry-blue;
                                border-bottom: 0px;
                            }
                        }
                    }
                }

                &.active:not(.has-form) {
                    a:not(.button):hover {
                        background: transparent;
                    }
                }
            }

            .dropdown {
                li:not(.has-form) {
                    &> a:not(.button) {
                        border-left-width: 2px;
                        color: $secondry-blue;
                        background: $primary-blue;
                    }

                    &:hover, &.active{
                        a:not(.button){
                            background: $primary-blue;
                            color: $secondry-blue;
                            border-bottom: 0px;
                            border-left-width: 2px;
                            /*&:hover {
                                color: $secondry-blue;
                                border-bottom: 0px;
                            }*/
                        }
                    }

                }
            }
        }
    }
}

/*Custom css*/
[class*="column"] + [class*="column"]:last-child {
    float: left;
}

.icons-medium {
    font-size: 23px;
    line-height: 23px;
    vertical-align: sub;
}
.icons-large {
    font-size: 45px;
    // vertical-align: sub;
    line-height: 45px;
}
.round-icon {
    border-radius: 100%;
    height: 20px;
    font-size: 15px;
    padding: 2px 5px;
}
.hide {
    display: none !important;
}
.badge {
    display: inline-block;
    height: 21px;
    width: 21px;
    border-radius: 100%;
    line-height: 21px;
    text-align: center;
    font-size: 15px;

    &.badge-blue {
        background-color: $secondry-blue;
        color: #fff;
    }
}
#menu_bar_gstudio {
    .user-profile-pic-small {
        height: 46px;
        width: 46px;
        margin: 0px 10px;
    }

    .loggedin-user {
        background: #505e6c;
        border-radius: 100%;
        height: 45px;
        width: 45px;
        display: inline-block;
        margin: 5px 5px 0px 5px;
        overflow: hidden;


    img {
            height: 100%;
            width: 100%;
        }
    }
}
/*  group_list */
.group_breadcumbs {
    color: #fff;
    a {
        display: inline-block;
        margin: 15px auto;
        color: #fff;
        letter-spacing: 1px;
    }
}

.group_tile {
    height: 300px;
    background: url('/static/ndf/images/course_backbround-2.png') no-repeat;
    background-size: 100% 100%;
    padding: 20px 22px;
    color: #fff;
    margin-bottom: 30px;
    cursor: pointer;

    .group-name {
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 1.1px;
        margin-bottom: 15px;
        display: block;
    }

    .group_desc {
        letter-spacing: 0.5px;
        font-size: 17px;
    }
}

/* curriculum */
ul.horizontal_tabs_gstudio {
    margin: 0px;
    height: 60px;
    >li {
        display: inline-block;
        height: 100%;
        >a {
            color: $primary-orange;
            padding: 17px 12px 13px;
            display: block;
            border-bottom: 3px solid transparent;
            font-size: 17px;
            letter-spacing: 0.3px;

            &.selected, &:hover {
                border-bottom: 3px solid $secondary-orange;
            }
        }
        &.sub_group_action {
            position: relative;
            &>ul {
                position: absolute;
                top: 50px;
                display: none;
                z-index: 10;
                position: cursor;
                margin: 0px;
                background: #fff;
                box-shadow: 0px 1px 6px 1px #ccc;

                li {
                    list-style: none;
                    white-space: nowrap;
                    padding: 15px 15px;

                    &:hover {
                        background: #d6f2fe;
                    }
                }
            }
            &:hover {
                ul {
                    display: block;
                }
            }
        }
    }
}

.group_content {
    .group_banner {
        height: 300px;
        background: url('/static/ndf/images/course_backbround-2.png') no-repeat;
        background-size: 100% 100%;
    }
    .group_header {
        height: 80px;
        padding: 20px;
        background-color: #482667;
        color: #fff;
        .group_title {
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 0.4px;
        }
        .group_actions>button {
            display: inline-block;
            margin: 7px 10px;
        }
    }
    .group_sections {
        text-align: center;
        border-bottom: 1px solid #ccc;
        background: #fff;
    }
    .group_sections_content {
        min-height: 400px;
        background-color: #fff;
        padding-top: 20px;
    }
}

.asset_tile {
    margin-top: 10px;
    padding-bottom: 10px;
    border: 2px solid #eee;
    cursor: pointer;

    .asset_preview {
        min-height: 200px;
        background-color: #eee;
    }

    .asset_text {
        padding: 2px 10px;
        .asset_title {
            font-size: 15px;
            letter-spacing: 0.5px;
            font-weight: 600;
            overflow: hidden;
        }
        .asset_desc {
            font-size: 13px;
            letter-spacing: 0.3px;
            overflow: hidden;
        }
    }
}


.preview_asset {
    background: #ccc;
    border: 2px solid #999;
    width: 100%;
    min-height: 350px;
}

/*Custom css*/

.add_more_files {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.6px;
}

input[type="text"], input[type="file"] {
    margin: 0px;
}
label {
    margin-top: 1rem;
}


input[type="file"]::-webkit-file-upload-button{
    visibility: hidden;
}
input[type="file"]:before {
    content: 'Select files';
    display: inline-block;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 10pt;
    color: #cc7769;
    border-color: #cc7769;
    float: right;
}
input[type="file"] {
    padding: 5px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


/*  Buttons custom css */
.button-hollow-white {
    background: inherit;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.9px;
    padding: 3px 10px;
    font-size: 13px;
    cursor: pointer;
    @include transition-two-prop(color, border-color);
}

.orange-button {
    color: $primary-orange;
    padding: 8px 15px;
    background: #fff;
    border: 2px solid #aaa;
    font-size: 14px;
}

.asset-save-button {
    color: $primary-orange;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 10pt;
    color: #cc7769;
    border-color: #cc7769;
    float: right;
    background: #fff;
    margin-right: 5px;
    margin-top: 5px;
}

.blue-white-button {
    color: #fff;
    background: #a2d0e0;
    border-radius: 4px;
    padding: 5px;
}

.button-small {
    padding: 1px 5px;
}

/* Create Curriculum */
ul.jqtree_common  {
    position: relative;
      &:before {
        border-width: 0px 0px 1px 1px;
        position: absolute;
        left: 9px;
        border-style: dashed;
        border-color: #ccc;
        top: 12px;
        height: calc(100% - 27px);
        width: 16px;
    }
}
/*li.jqtree-folder {
    position: relative;
    &:before {
        border-width: 1px 0px 0px 0px;
        position: absolute;
        height: 0px;
        left: 7px;
        border-style: dashed;
        border-color: #ccc;
        top: 12px;
        width: 15px;
    }
}*/

ul:not(:only-child) li:first-child {
    position: relative;
    &:before {
        border-width: 1px 0px 0px 0px;
        position: absolute;
        height: 0px;
        left: -22px;
        border-style: dashed;
        border-color: #ccc;
        top: 12px;
        width: 30px;
    }
}
.jqtree_common .jqtree-element:not(.leaf_node):not(:only-child), .jqtree_common .jqtree-element.leaf_node {
    position: relative;
    &:before {

        border-width: 1px 0px 0px 0px;
        position: absolute;
        height: 0px;
        left: 12px;
        border-style: dashed;
        border-color: #ccc;
        top: 12px;
        width: 10px;
    }
}

ul.jqtree-tree .jqtree-element {
    margin-top: 15px;
}

ul.jqtree-tree ul.jqtree_common {
    margin-left: 35px;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element, ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background: transparent;
}

ul.jqtree-tree .jqtree-toggler {
    color: #aaa;
    &:hover {
        color: #aaa;
    }
}

.curriculum_creator {
    background: #fff;
    box-shadow: 0px 2px 6px #000;
    margin: 20px auto;
    padding: 0px 0px;
    min-height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 15px;
}
.curriculum_creator_header {
    width: 100%;
    height: 60px;
    background: #fff;
    padding: 5px 15px;
    box-shadow: 1px 0px 13px #000;

    .course_heading span{
        letter-spacing: 0.9px;
        font-weight: 600;
        line-height: 50px;
        font-size: 25px;
    }

    .course_actions {
        ul li {
            list-style-type: none;
            display: inline-block;
            padding: 12px;
            color: #999999;
            cursor: pointer;
            font-size: 18px;
            letter-spacing: 0.8px;

            &.active, &:hover {
                border-bottom: 3px solid $secondary-orange;
            }
        }

    }
}


.explore-header {
  line-height: 4em;
  >div {
    vertical-align: middle;
    display: inline-block;
  }
  .heading {
    font-size: 2em;
    a {
       color: #fff;
    }
  }

  .expore-type {

  }

  .explore-search {

  }
}









/*Common css*/
.toggleButtons {
  a{
    padding: 0.5em 1em;
    margin: 0px;
    background: #dddddd;
    color: #000;
    border: 1px solid #B7B7B7;
    display: inline;

    &:first-child{
      margin-right: -3px;
      border-right: 0px solid #000;
    }
    &:first-child {
      border-radius: 10px 0px 0px 10px;
    }
    &:last-child {
      border-radius: 0px 10px 10px 0px;
    }
    &.active {
      background-color: #908F8F;
      color: #fff;
    }
  }
}


/* about_course style */

/* abput and modules */
.about-course {
  border: 1px solid rgba(102,102,102,0.43);
  padding: 10px 23px ;
  >h5 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 14px;
    display: block;
    margin: 2px 0px 0px;
    color: #888;
  }
  .course-desc {
    font-size: 19px;
    letter-spacing: 0.7px;
  }
  .course-highlight {
    color: #aaa;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
  }
}

/* group analytics and notifications */


.course-overview-container {
  .course-overview >.columns {
    padding: 0px 10px;
  }
  h5 {
    text-transform: uppercase;
  }
  .correct-count {
    color: #367714;
  }
  .incorrect-count {
    color: #9b0000;
  }
  .course-metric-heading {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.9px;
    font-weight: 600;
    color: #8E8E8E;
    display: block;
  }
  .course-metric-count {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.5px;
    display: block;
  }
  .ongoing-session {
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
    padding-bottom: 15px;

    h5,h3 {
      color: #2b78e4;
    }
    button {
      font-size: 14px;
      padding: 7px;
      margin: 0px;
      background-color: #2B78E4;
    }
  }
  .course-status {
    >h5 {
      color: #888;
    }
    >.row {
      margin: 10px 0px;
    }
    .tabs {
      width: 100%;
      margin: 0em 0em 0.5em;
      border-bottom: 1px solid #CCC;

      .tab-title {
        width: 40%;
        background-color: #DEDEDE;
        margin-left: 1em;
        position: relative;
        top: 1px;
        text-transform: uppercase;

        &.active {
          background-color: #fff;
          border: 1px solid #CCC;
          border-bottom: 0px;
        }
      }
    }
  }


  .course-notif-logs {
    ul {
      list-style: none;
    }
  }
  .course-section {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0,0.5);
    margin: 40px 0px;
    position: relative;

    >.row {
      margin: 20px 0px;
    }

    .course-section-heading {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1.5px;
      font-size: 14px;
      display: block;
      margin: 2px 0px 15px;
      color: #888;
    }

    .course-section-icon {
      position: absolute;
      font-size: 40px;
      top: -35px;
      right: 5px;
      color: #aaa;
      background: #fff;
    }
  }
  .course-points-breakup {

  }
  .course-interactions {

  }
  .course-gallery-uploads {

  }
  .course-quiz-perf {

  }
  .course-notes{

  }
  .course-warning{
    background-color: #fffdd7;
    >h5 {
      color: #c09100;
    }
    i {
      padding: 10px;
      margin-right: 5px;
      color: #c09100;
    }
    a {
      text-decoration: underline;
    }
  }
  .course-students-data {
    margin: 20px 0px;

    .students-table-legends {
      >span:nth-child(odd) {
        margin: 0px 10px;
      }
      >span:nth-child(even) {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
      }
    }
  }
  .student-overview-table {
    width: 100%;
    margin: 15px 0px;

    tr {
      border: none;
    }
    .progress {
      .merter-val {
        margin-left: 5px;
      }
    }
  }
}

.notifications-analytics-tabs{
    .tabs {
      width: 100%;
      margin: 0em 0em 0.5em;
      border-bottom: 1px solid #CCC;

      .tab-title {
        width: 40%;
        background-color: #DEDEDE;
        margin-left: 1em;
        position: relative;
        top: 1px;
        text-transform: uppercase;

        &.active {
          background-color: $secondary-orange;
          border: 1px solid #CCC;
          border-bottom: 0px;
        }
      }

  }
}

/* The notification Dashboard */

.course-dashboard {

  .course-status, .course-notifications,
  .course-performance {
    >ul {
      list-style: none;
    }

    >.row {
      padding: 0px;
      min-height: 22rem;
      position: relative;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      background-color: #F9F9F9;
      min-height: 20em;
      margin: 0em 0em;
      border-radius: 10px;
    }
  }

  .dash-tile-heading {
    padding: 0.2em 0.7em;
    border-bottom: 1px solid #DADADA;
    font-weight: 500;
    font-size: 1.3em;
  }
  .dash-tile-row {
    padding: 1em;
  }
  .dash-tile-row:nth-child(n+3) {
    border-top: 1px solid #DCDCDC;
  }

  .course-status {
    .course-update {
      .course-current-state {
        color: #000;
        font-weight: bold;
        font-size: 1.2em;
        padding: 0.5em 0.8em 0.6em;
      }
    }
    .course-progress {
    }
  }
  .course-notifications {
    position: relative;

    .notification-row {

      .notification-text{
        font-size: 0.85em;
        letter-spacing: 0em;
        word-spacing: 0.2em;
      }
      .time-elapsed {
        font-size: 0.6em;
        color: #424242;
        cursor: pointer;
      }
    }

    .notification-count {
      font-size: 1em;
      position: absolute;
      right: 0.5em;
      top: 0.3em;
    }
  }
}


.notebook {
  .notebook-header {
    border-color: black;
    border-style: solid;
    border-width: 1px 0px;
    padding-top: 1em;

    a, input {
      margin: 0px;
    }
    .notes-count {
      text-align: center;

      span
        {
          &:first-child {
            font-size: 21px;
            font-weight: 600;
            padding: 15px;
          }
          &:last-child {
            background: lightgrey;
            padding: 2px 5px;
            vertical-align: text-bottom;
          }

        }
    }

  }
  .notebook-body {
    padding: 0px 0px;

    .note-cards {
      .row {
        margin: 30px 0px;
      }
      .note-card, .note-details {
        border: 1px solid #ccc;
        padding: 10px 15px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        line-height: 23px;
        cursor: pointer;
        position: relative;

        .note-heading{
          font-weight: 800;
          font-size: 20px;
        }
        .note-close {
            position: absolute;
            right: 7px;
            top: 3px;
            font-size: 25px;
            font-weight: 700;
            color: #929292;
        }
        .note-summary{
          margin: 15px 0px;
        }
        .note-info,.note-extra-data{
          color: #989898;
          font-size: 13px;
          letter-spacing: 0.9px;
          font-weight: 500;

          >span{
            margin-right: 5px;
          }
        }
        .note-tags {
            >span {
              display: inline-block;
              margin: 10px;
              background: #ffebb2;
              color: #cba552;
              padding: 2px 5px;
            }
        }
        .note-actions {
          color: #989898;
          cursor: pointer;

          span {
            margin-right: 10px 5px;
          }
        }
      }
      .note-details {
          .note-info, .note-extra-data, .note-tags, .note-actions {
              display: inline-block;
              margin-right: 10px;
          }
          .note-extra-data {

          }
          .note-tags {
              float: right;
              >span {
                margin: 0px;
              }
          }
          .note-actions {
          }
      }
    }

    >div {
      padding: 0px;
      //height: 50em;
      //overflow: scroll;
    }

    .notebook-index {
      border-right: 1px solid #AFAEAE;
      padding: 4px 0px;
      background-color: #F1F1F1;

      .tabs-content {
        padding: 0px;

        .active {
          padding: 0px;
        }
      }
      .tabs {
        width: 100%;
        margin:0em 0em 0.5em;
        border-bottom: 1px solid #CCC;

        .tab-title {
          width: 50%;
          /*background-color: #DEDEDE;*/
          border-radius: 5px 5px 0px 0px ;
          position: relative;
          top: 1px;

          a {
            border-radius: inherit;
            font-size: 0.9rem;
            text-align: center;
            color: #989898;
          }

          &.active {
            background-color: #fff;
            border: 1px solid #CCC;
            border-bottom: 0px;
            a {
              color: rgb(58, 49, 105);
            }
          }
        }
      }

      .tab-content {
        padding: 0px;
      }

      .notes {
        .date {
          font-size: 12px;
          font-weight: bold;
          background: #EFEFEF;
          padding: 7px 10px;

          .note-count {
            font-size: 11px;
            line-height: 2em;
          }
        }
        >div {
          border-bottom: 1px solid #AFAEAE;
        }
        .note {
          padding: 5px 15px;
          background: #FFF;
          cursor: pointer;
          color: #A2A2A2;

          .note-heading {
            font-weight: 400;
            font-size: 17px;
          }

          .note-meta {
            font-size: 13px;

            >span:not(:first-child) {
              font-size: 11px;
              font-weight: 600;
              color: #717171;
            }
          }

          .note-footer {
            color: #888888;

            span {
              margin-right:10px;
            }
          }

          &.active {
            border-left: 5px solid #6153AE;
            background: #F4E7FF;
            font-weight: 800;
            color: #6153AE;

            .note-heading {
              font-weight: 500;
              font-size: 17px;
            }
            .note-meta>span:not(:first-child) {
              color: #6153AE;
            }
          }
        }
      }
    }

    .note-page {
      // display: none;
      background-color: #fff;
      padding-bottom: 30px;

      >div{
        background-color: #fff;
      }

      .note-toolbar {
        padding: 1.8em 1.2em 0em;
        margin: 0em;
        background-color: #FFF;

        .note-creator {
          font-weight:bold;
        }
        .creator-title {
          text-align: left;
          color: #C3C3C3;
          font-size: 12px;
          letter-spacing: 0.3px;
          margin-top: 5px;
        }
        .creator-rating {
          text-align: right;
          >div {
            display: inline-block;
          }
        }
      }
      .note-title {
        font-size: 2.3em;
        font-weight: 500;
        margin-right: 1em;
      }
      .note-content {
        padding: 2em 2em 1em;
        background: #fff;
        margin: 0em;

        .note-header {

          >div {
            display: inline-block;
          }

        }
        .note-text {
          font-size: 19px;
          letter-spacing: 0.7px;
          p{
            padding: 0px;
          }
        }
      }

      .comment-sections {
        padding: 0em 1em 0em;

        .comments-header {
          span {
            font-weight: bold;
          }
          i:not(:first-child) {
            margin-left: 15px;
          }
        }

        .new-comment {
          border-top: 1px solid grey;
          padding: 15px 10px;
          margin-top: 5px;

          .trumbowyg-box,
          .trumbowyg-editor {
            min-height: 200px;
            margin-top: 0px;
          }

          .user-prof-image {
            font-size: 90px;
            line-height: 0em;
          }
        }
      }
    }
  }
}

/* Explore badges */

.badge_ex {
  display: inline-block;
  line-height: 22px;
  height: 22px;
  font-weight: bolder;
  padding: 0px 7px;
  /*font-family: Arial, sans-serif;*/
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-radius: 18px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
  font-size: 1.8em;
}

.badge_ex {
  background: #67c1ef;
  border-color: #30aae9;
  background-image: -webkit-linear-gradient(top, #acddf6, #67c1ef);
  background-image: -moz-linear-gradient(top, #acddf6, #67c1ef);
  background-image: -o-linear-gradient(top, #acddf6, #67c1ef);
  background-image: linear-gradient(to bottom, #acddf6, #67c1ef);
}

/* line 4120, ../../../scss/_app_styles.scss */
.badge_ex.green {
  background: #77cc51;
  border-color: #59ad33;
  background-image: -webkit-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -moz-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: -o-linear-gradient(top, #a5dd8c, #77cc51);
  background-image: linear-gradient(to bottom, #a5dd8c, #77cc51);
}

/* line 4129, ../../../scss/_app_styles.scss */
.badge_ex.yellow {
  background: #faba3e;
  border-color: #f4a306;
  background-image: -webkit-linear-gradient(top, #fcd589, #faba3e);
  background-image: -moz-linear-gradient(top, #fcd589, #faba3e);
  background-image: -o-linear-gradient(top, #fcd589, #faba3e);
  background-image: linear-gradient(to bottom, #fcd589, #faba3e);
}

/* line 4139, ../../../scss/_app_styles.scss */
.badge_ex.red {
  background: #fa623f;
  border-color: #fa5a35;
  background-image: -webkit-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -moz-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: -o-linear-gradient(top, #fc9f8a, #fa623f);
  background-image: linear-gradient(to bottom, #fc9f8a, #fa623f);
}

/* Create_Unit styles */

.course_creator_header {
    width: 100%;
    height: 60px;
    background: #fff;
    padding: 5px 15px;
    box-shadow: 1px 0px 13px #000;

    .back_to_group {
        padding: 0px 15px 0px 10px;
        border-right: 1px solid #ccc;
        margin-right: 15px;
    }

    .course_heading {
        input {
            width: 500px;
            height: 50px;
            border: 0px solid $secondry-blue;
            box-shadow: none;

            &:focus {
                border: 1px solid $secondry-blue;
            }

            &::-webkit-input-placeholder
            /*&::-moz-placeholder,
            &:-ms-input-placeholder,
            &:-moz-placeholder*/ {
                color: #d9dfe4;
                font-size: 20px;
                letter-spacing: 0.8px;
            }
        }
    }

    .course_heading span{
        letter-spacing: 0.9px;
        font-weight: 600;
        line-height: 50px;
        font-size: 25px;
    }

    .course_actions {
        ul{
            margin: 0px;
        }
        ul li {
            list-style-type: none;
            display: inline-block;
            padding: 12px;
            color: #7ca0d0;
            cursor: pointer;
            font-size: 18px;
            letter-spacing: 0.8px;

            &.active, &:hover {
                border-bottom: 3px solid $secondary-orange;
            }
        }

    }
}

.create_unit {
    background: #fff;
    box-shadow: 0px 2px 6px #000;
    margin: 20px auto;
    padding: 10px;
    height: calc(100vh - 100px);
}

.button-hollow-black{
    background: #fff;
    border: 2px solid $primary-blue;
    border-radius: 5px;
    color: $primary-blue;
    font-weight: 600;
    letter-spacing: 0.9px;
    padding: 2px 10px;
}

.vertically-center {
    top: 50%;
    transform: translateY(-50%);
}

/* Unit_Structure styles */


.course_creator {
    background: #fff;
    box-shadow: 0px 2px 6px #000;
    margin: 0px auto;
    padding: 0px 0px;
    max-width: 100vw;
    // min-height: calc(100vh - 100px);

    &>.columns {
        padding: 0px;
        height: 100%;
    }
    .course_editor {
        height: 80vh;
        position: relative;

        /*Overriding default*/
        .accordion .accordion-navigation > .content, .accordion dd > .content {
            padding: 0px;
        }

        /*Custom css*/
        >div {
            display: inline-block;
            vertical-align: top;
            // height: calc(100vh - 120px);
        }
        .course_tree {
            @include transition-prop(all);
            width: 100%;
            background-color: #fff;
            max-height: 100%;
            overflow-y: auto;
            height: inherit;

            .course-lessons {
                dd {
                    border-bottom: 2px solid #9abfd9;
                    @include transition-prop(border-color);

                    &.accordion-navigation {
                        position: relative;

                        &>a {
                            padding-left: 50px;
                            &:before {
                                // content: '&#8250';
                                position: absolute;
                                left: 23px;
                                font-size: 45px;
                                line-height: 20px;
                                color: $secondry-blue;
                            }
                        }
                        a.entity-title {
                            background: inherit;
                            cursor: pointer;
                            font-weight: 600;
                            color: #3c5267;
                            @include transition-prop(color);

                            .edit_entity {
                                color: #c9d1d8;
                                font-weight: 400;
                                letter-spacing: 0.5px;
                                font-size: 14px;
                                display: block;
                                position: relative;
                                display: none;

                                i {
                                    display: none;
                                    font-size: 20px;
                                }

                                >.entity_actions {
                                    margin-bottom: 0px;

                                    li {
                                        white-space: nowrap;
                                        list-style: none;
                                        display: inline-block;
                                        margin: 0px 10px;
                                        cursor: pointer;
                                    }
                                }
                            }
                            &:hover {
                                .edit_entity {
                                    display: block;
                                }
                            }
                        }

                        &.active >a:before {
                            content: ''; //arrow facing down
                            font-size: 45px;
                            line-height: 55px;
                            color: #d7d7d7;
                        }

                        .course-activities {
                            margin: 0px;
                            &>li {
                                list-style: none;
                                border-top: 1px solid #e9e9e9;
                                padding: 10px 0px 10px 90px;
                                background: inherit;
                                @include transition-prop(border-color);

                                &>a {
                                    color: #7ca0d0;
                                    width: 100%;
                                    display: block;
                                    @include transition-prop(color);
                                }
                            }
                        }

                        .content {
                            background: inherit;
                        }

                    }
                }
            }
        }

        .course-editor-section {
            width: 0%;
            display: inline-block;
            opacity: 0;
            @include transition-prop(width);
            height: inherit;
            max-height: 100%;
            overflow-y: auto;

            .editor-header{
                height: 100px;
                background-color: #e5f1f6;
                border-bottom: 1px solid #e6e6e7;

                .header-left {
                    padding: 29px 0px;

                    >span {
                        color: #3c5264;
                        font-weight: 600;
                        font-size: 20px;
                        font-size: 28px;
                        margin-right: 10px;
                    }
                }

                .custom_dropdown {
                    margin: 40px 35px 0px;
                }
            }
            .editor-tool {
                .editor_actions {
                    background-color: #fff;
                    border-bottom: 1px solid #ccc;
                    height: 55px;
                    ul {
                        margin: 0px;
                        li {
                            list-style: none;
                            display: inline-block;
                            &:not(:first-child) {
                                padding: 1px 30px;
                                border-left: 1px solid #ccc;
                                text-align: center;
                            }

                            span {
                                display: inline-block;
                                font-size: 14px;
                                letter-spacing: 0.5px;
                                color: #999;
                                padding: 15px 5px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }


        .add-lesson {
            margin: 10px 50px;
        }

/* Course edit in the edit mode. */
        &.edit_mode {
            button {
                color: #5097b5;
                border-color: #5097b5;
                @include transition-two-prop(color, border-color);
            }
            .course_tree {
                @include transition-prop(all);
                width: 20%;
                background-color: #2a6882;

                .course-lessons {
                    dd {
                        border-color: #295566;
                        @include transition-prop(border-color);

                        &.accordion-navigation {
                            a {
                                background: inherit;
                                color: #8fbbd8;
                                @include transition-prop(color);

                                .edit_entity {
                                    width: 20px;
                                    i {
                                        display: block;
                                    }

                                    >.entity_actions {
                                        display: none;
                                        position: absolute;
                                        top: 22px;
                                        right: -20px;
                                        margin: 0px 10px;
                                        z-index: 100;
                                        background: #fff;
                                        color: #999999;
                                        border-radius: 3px;

                                        li {
                                            display: block;
                                            margin: 0px;
                                            padding: 5px 25px;

                                            &:hover {
                                                background-color: #d5f2ff;
                                            }
                                        }
                                    }

                                    &:hover>.entity_actions {
                                        display: block;
                                    }
                                }
                            }
                            .course-activities {
                                &>li {
                                    @include transition-prop(border-color);
                                    padding-right: 20px;
                                    border-color: #295566;
                                    border-bottom: 1px solid transparent;

                                    &:not(:last-child) {
                                        &:hover,&.active {
                                            border-width: 1px 0px 1px 0px;
                                            border-style: solid;
                                            border-color:  #50c0f8;
                                        }
                                    }

                                    &>a {
                                        color: #edf6ff;
                                        @include transition-prop(color);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .course-editor-section {
                width: 79.5%;
                opacity: 1;
                overflow-x: auto;
                //display: inline-block;
                transition: width 1.9s ease, opacity 4s ease;
                -webkit-transition: width 1.9s ease, opacity 4s ease;
            }
        }
    }

}

.tile_modal {
    .editor_modal_content {
        .modal_tile {
            .th {
                width: 100%;
                height: 210px;
                box-shadow: none;

                &>img {
                    height: 180px;
                    width: 100%;
                }

                &>span {
                    display: block;
                    width: 100%;
                    text-align: center;
                    line-height: 22px;
                }
            }
        }
    }
}


#appModal {
    .editor_modal_content {
        &>div {
            width: 100%;
            &>div {
                display: inline-block;
                vertical-align: top;
            }
        }
        .app_row {
            margin-bottom: 39px;

            .app_image {
                padding: 10px;

                &>div {
                    border: 1px solid #999;
                    height: 222px;
                }
            }

            .app_desc {
                padding-left: 10px;
            }
        }
    }
}


.editor_modal {
    .editor_modal_title {
        font-size: 20px;
        color: #3c5264;
    }
    .editor_modal_actions {
        &>a {
            display: inline-block;

            &.close-reveal-modal {
                font-size: small;
                line-height: inherit;
                position: inherit;
                color: #c601bc;
            }
        }
    }
}


.custom_dropdown {
    font-size: 15px;
    position: relative;
    z-index: 10;
    display: inline-block;

    &>a {
        height: 30px;
        display: block;
    }

    &:hover {
        .dropdown_content {
            display: block;
        }
    }

    .dropdown_content {
        background-color: #fff;
        border-radius: 3px;
        display: none;
        position: absolute;
        top: 30px;
        border: 1px solid #ccc;

        &.left_align {
            left: -10px;
        }

        &.right_align {
            right: -10px;
        }

        li {
            padding: 5px 25px;
            list-style: none;
            white-space: nowrap;

            a {
                margin: 0px;
            }

            &:hover {
                background-color: #d5f2ff;
            }
        }

    }

    a {
        color: #999999;
        margin-left: 25px;
    }
}

.button-hollow-purple {
    background: inherit;
    border: 2px solid #c601bc;
    border-radius: 5px;
    color: #c601bc;
    font-weight: 600;
    letter-spacing: 0.9px;
    padding: 3px 10px;
    font-size: 13px;
    cursor: pointer;
    @include transition-two-prop(color, border-color);
}

.button-hollow-grey {
    background: inherit;
    border: 2px solid #c9d1d8;
    border-radius: 5px;
    color: #c9d1d8;
    font-weight: 600;
    letter-spacing: 0.9px;
    padding: 3px 10px;
    font-size: 13px;
    cursor: pointer;
    @include transition-two-prop(color, border-color);
}

.button-hollow-blue{
    background: inherit;
    border: 2px solid #5097b5;
    border-radius: 5px;
    color: #5097b5;
    font-weight: 600;
    letter-spacing: 0.9px;
    padding: 2px 10px;
    @include transition-two-prop(color, border-color);
}
