/*
*   application.scss - Metstudio app layout stylsheet
*
*   Use this stylesheet for placements, positioning and sizing of elements
*/

@import url("css.css");


		nav h1 img{
            /* Logo */
			height: 1.8rem;
			margin-right: 5px;
		}
		nav h1 a{
			color:white!important;
		}

		body>header{
            //Site header
			position: relative;
            padding-bottom: 10px;
		}

		.workspace{
            //This is the main content container between the header and footer
			min-height: 100%;
			margin-bottom: -130px!important;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
            background: url($theme-path+$page-background) no-repeat 0 bottom;
            
            &:after{
            //Hack for setting div height to the height of the browser window
			content:"";
			display:block;
			height:130px;    // allows the content of the footer to be visible at the bottom. This should match the margin-bottom of the div
		}
		}

		body>footer{
            //Site footer
            border-top: 2px dotted #ccc;
			padding:20px 0;
			position: relative;
            margin: 0 2rem;
            color:#888;
            min-height: 100px;
            background-color: rgba(255,255,255,0.5);
            
            a{
			color: #777;
		}
		}


		.coll-arrows{
			cursor:pointer;
			display: block;
			padding: 0.5rem;
            
            &:hover{
			background-color: #D3D3D3;
		}
		}


/*************************** 1. Foundation CSS overrides ***********************/

/* Foundation hacks */

input[type="checkbox"] + label, input[type="radio"] + label{
	margin: inherit!important;
}

/* Sections */


main>aside{
	margin-bottom: 0.5rem;
}
main>aside header{
	margin-top: 1rem;
}
main>aside a{
	color: #008759;
}
main>aside a:hover{
	color: inherit;
}

h2:not(.subheader){
	font-family: "Georgia Serif", Serif;
}
h3{
	font-size: 1.4rem;
}

p{
	font-size: 0.9rem;
	line-height: 1.5;
}
/* Off canvas navigation */
aside.left-off-canvas-menu{
	background-color: #222;
	color:white;
}
a#toggle-shelf{
	position: absolute;
	top:1rem;
	right: 1rem;
	color: black;
	z-index: 10;
}
a#toggle-shelf:hover{
	color: black;
}
a#toggle-shelf i{
	font-size: 30px;
}

.inner-wrap>aside h4{
	color: white;
	padding:10px;
}



/* Should be in Foundation */

/* Effects */
.drop-shadow{
	-webkit-box-shadow: 0px 0px 5px 1px #333;
	box-shadow: 0px 0px 5px 1px #333;
}
.rounded{
	border-radius: 2px;
	-webkit-border-radius:2px;
}
.transition-opacity{
	transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
}

/* Card block */

.medium-block-grid-2 > .card:first-child{
    // First card
    //width: 100%;
}
.card>*{
	position: relative;
	background-color: white;
	padding:7px;
	border: 1px dashed $secondary-color;
	display: block;
	color:inherit!important;
	opacity:0.9;
    background-position: center center;
    
    >a{
        color:inherit;
        display: block;
        position: relative;
        z-index: 200;
    }
    
     &.published{
        opacity: 1;
        border-style: solid;
        border-color: $primary-color;
    }
    &.unapproved{
        opacity: 1;
        border-style: solid;
        border-color: $alert-color;
    }

    &:hover{
	border-style:solid;
	opacity:1;
        >a{
            background-color: rgba(255,255,255,0.5);
        }
        i{
            opacity:1;
        }
        footer .age{
            display: block;
        }
}
    &>i{
	position: absolute;
	top: -10px;
	right: 10px;
	font-size: 3rem;
	color:#ddd;
	opacity: 0.4;
}
    
    header{
        margin-top: 0.5rem;
    }
        .label{
        opacity:0.5;
    }
    p{
        color: #555;
        height: 50px;
    }
    .th{
        margin:20px auto;
        width:80px;
        height: 80px;
        overflow: hidden;
        display: none;
        &:hover{
        width: 150px;
        height: 150px;
    }
        img{
        width: 100%;
    }
}
    section{
	background-color: #ddd;
}
    .button{
	opacity:0.1;
}
    
    footer{
        font-size: 70%;
        opacity:0.5;
        margin-bottom: 5px;
            .age{
                display: none;
                position: relative;
                background: white;
                z-index: 100;
                bottom: 0;
                width: 100%;
            }
        }
}

/* Create card */
.create.card>*{
	background-color: #999;
	opacity:1;
    
    &:hover{
	background-color: #008759;
    }
}

.create.card{
    h4{
	color:white;
}
    .button{
	border:1px solid #00ba7b;
        opacity:0.5;
}
    label{
	color:white;
}
    .switch label{
	color:inherit;
}
   
}

/* Content Tabs */
article .tabs{
    i{
	margin-right: 5px;
	font-size: 1.3rem;
}
    dd.active a{
	color:#222;
	background-color: inherit;
}
dd a{
	color:#aaa;
	background-color: inherit;
	padding: 0.5rem;
	padding-left: 1rem;
    &:hover{
	background-color: inherit;
	color:#999;
}
}
}

.tabs-content>.content{
	padding-top: 0;
}

/* Default card */
.card>:hover .label{
	opacity:1;
}


.gallery .card .th{
	display: block;
}

.card>*:hover .button{
	opacity:1;
	transition: opacity .5s ease-in ease-in;
	-moz-transition: opacity .5s ease-in;
	-webkit-transition: opacity .5s ease-in;
	-o-transition: opacity .5s ease-in;
}

/* Inline label list */

.label-list{
	display: inline-block;
	text-align: left;
    &:empty:before{
        content:"UNTAGGED";
        @extend .label;
        opacity:0.2!important;
    padding: 2px;
    }
    
    .label{
    text-transform: uppercase;
    //background-color: $info-color;
    padding: 2px;

}
    
}




/*************************** 2. Custom CSS overrides ***********************/

main aside{
	padding-top: 1rem;
    &.fade{
	opacity:0.8;
}
}


aside>section{
	margin:inherit!important;
	margin-bottom:5px;
	padding-bottom: 3rem;
    &>div{
	padding: 15px;
}
}


aside .meta i{color: #ccc;}
aside:hover .meta i{color: black;}




/* Content area */
article{
	margin-top: 0.5rem;
	padding-bottom: 4rem; 
	background-color: white;
    &>header{
	border-bottom: 1px solid #ddd;
	margin-bottom: 1rem!important;
}
    &>footer{
	border-top: 1px dotted #ddd;
}
    .breadcrumbs{
	display: none;
	background-color: #eee;
}
}




textarea{
	min-height: 6rem;
}
/*
.orgitdown textarea{
	min-height: 15rem!important;
}
#content{
	min-height: 10rem;

}
*/
/*#content>p{
	font-size: inherit;
	line-height: 1.4;
	color: #222;
}*/
/*************************** 3. Custom CSS Below ***********************/

/*CSS fix for tables generated via orgitdown*/
#content table td, #content colgroup col{
	float: none !important;
}


.user{
	color: inherit;
}
.user{
	color: inherit;
}
.user i{
	padding: 0.2em 0.5em;
	margin-right:0.4em;
	color:white;
	background-color:#ddd;
	opacity:0.8;
}
.user:hover i{
	opacity:1;
}

a.node{
	display:block;
}

a.app{
	overflow: hidden;
}
a.app i{
	font-size:15px;
	color:white;
	margin-right:8px;
}
.button.edit{
	margin-bottom: 0;
}

/* Sidebar Search Results */
main .search{
	margin:0;
}
main .search div>*{
	margin: 0;
}
#search-results{
	list-style: none;
	margin:0;
}
#search-results li{

}
#search-results a{
	background-color: black;
	padding: 0.5rem;
	display: block;
}
#search-results a:hover{
	background-color: #444;
}

/************ Forms **************/

/* Node edit */
input.node-title{
	font-size: 3rem;
	height:  4rem;
	display: inline-block;
}

/* view-graph in node_details_base.html */
.graph-height{
	height:70%;
}

/*for graph and location*/
.graph-div {
  height: 90%;
  width: -webkit-calc(100% - 10px); width:-o-calc(100% - 10px); width: -moz-calc(100% - 10px); width: calc(100% - 10px) !important;
  top: 5% !important;
  left: 5px !important;
  padding: 0px !important;
  margin-left: 0 !important;
}

/*for graph and location*/
.graph-div h3{
  border-bottom: 2px inset #154534;
  padding: 0.25em 0;
}

#view-map-widget .close-reveal-modal, #view-map-edit-widget .close-reveal-modal{
	
	z-index:1;
	background-color: captiontext;
	padding: 5px 15px 10px;
	color:white !important;
	opacity:0.8;
	font-size: 2rem;
	box-shadow: 0 1px 10px 2px #A9A9A9;
}

#view-map-widget .close-reveal-modal:hover, #view-map-edit-widget .close-reveal-modal:hover{
	
	background-color: white;
	border-radius: 30px;
	padding: 5px 15px 10px;
	transition:2s;
	opacity:1;
	color:black !important;
	font-size: 2rem;
}

/* Splash Page */
#splash{
	background-image: url('http://farm3.staticflickr.com/2517/3677733159_2e2c7bec4b_b.jpg');
}
#splash>img{
	position: absolute;
}

/****************** CUSTOM *********************/

