/*
Error: Invalid CSS after " }": expected "}", was ""
        on line 7154 of /home/docker/code/gstudio/gnowsys-ndf/gnowsys_ndf/ndf/static/ndf/scss/_app_styles.scss
        from line 18 of /home/docker/code/gstudio/gnowsys-ndf/gnowsys_ndf/ndf/static/ndf/scss/themes/tiss/styles.scss

7149:    height: 320px;
7150:    background: #fff;
7151:    padding: 5px 15px;
7152:    box-shadow: 1px 0px 0px #000;
7153:  
7154:  }

Backtrace:
/home/docker/code/gstudio/gnowsys-ndf/gnowsys_ndf/ndf/static/ndf/scss/_app_styles.scss:7154
/home/docker/code/gstudio/gnowsys-ndf/gnowsys_ndf/ndf/static/ndf/scss/themes/tiss/styles.scss:18
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/scss/parser.rb:1209:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/scss/parser.rb:1132:in `tok!'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/scss/parser.rb:667:in `block'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/scss/parser.rb:660:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/scss/parser.rb:684:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/scss/parser.rb:125:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/scss/parser.rb:41:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/engine.rb:406:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/engine.rb:312:in `to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/engine.rb:281:in `render'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/var/lib/gems/1.9.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:331:in `block in watch'
/var/lib/gems/1.9.1/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `call'
/var/lib/gems/1.9.1/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/var/lib/gems/1.9.1/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/var/lib/gems/1.9.1/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:254:in `call'
/var/lib/gems/1.9.1/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/var/lib/gems/1.9.1/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/var/lib/gems/1.9.1/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \" }\": expected \"}\", was \"\"\A         on line 7154 of /home/docker/code/gstudio/gnowsys-ndf/gnowsys_ndf/ndf/static/ndf/scss/_app_styles.scss\A         from line 18 of /home/docker/code/gstudio/gnowsys-ndf/gnowsys_ndf/ndf/static/ndf/scss/themes/tiss/styles.scss\A \A 7149:    height: 320px;\A 7150:    background: #fff;\A 7151:    padding: 5px 15px;\A 7152:    box-shadow: 1px 0px 0px #000;\A 7153:  \A 7154:  }"; }
