{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Reset password" %}
{% endblock %}


{% block style %}

	table td {	padding:0.5em;	}
	table label { font-size:18px;	}

{% endblock %}


{% block body_content %}
	{% blocktrans %}
		
		<br/>
		<h3>Forgot your password ? Don't worry ... </h3>
		
		<h4>Just enter your email below and we'll send you
		instructions for creating a new one. </h4>
		<br/>
	
	{% endblocktrans %}

<form method='post' action=''>{% csrf_token %}
	<table>
	
		{{ form }}
		
		<tr>
			<td colspan="2">
				<input type='submit' class="btn btn-primary btn-large btn-block" value="{% trans "Reset password"  %}" />
			</td>
		</tr>
		
	</table>
</form>

{% endblock %}
