{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block body_content %}
    <div class="row" style="margin: 1.2rem 0;">
        <div class="small-12 medium-10 large-10 small-centered medium-centered large-centered columns">
            <div class="row">
                <div class="small-12 medium-10 large-10 columns end text-center">
                <h2>{% trans "Please check your email." %}</h2>
                <h4>{% trans "An email has been sent to email-ID associated with your account." %}</h4>
                <h5>{% trans "Please be patient; the delivery of email may be delayed. Remember to confirm that the email that you entered is correct and to check your junk or spam folder or filter if you do not receive this email." %}</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
