{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block document_ready %}
          
    	 setTimeout(function(){ $('#id_old_password').val(''); }, 200);
    	 setTimeout(function(){ $('#id_old_password').val(''); }, 2000);

{% endblock %}


{% block title %}{% trans "Change Password" %}{% endblock %}
 

{% block meta_content %}
	<h3>{% trans "Change Password" %}</h3>
{% endblock %}


{% block body_content %}
	<div class="row">
		<div class="small-12 large-4 small-centered columns">
			<form method="post" action=".">
				{% csrf_token %} 
				{{ form.as_p }}
				<input type="submit" class="button expand" value="{% trans 'Submit' %}" />
			</form>
		</div>
	</div>
{% endblock %}
