{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block meta_content %}
	<h3>Password Change</h3>
	<h4 class="subheader">{% trans "Please enter your old password and new password twice." %}</h4>
{% endblock %}


{% block body_content %}
	<div class="row">
		<div class="small-12 large-4 small-centered columns">
			<form method="post" action=".">
				{% csrf_token %} 
				{{ form.as_p }}
				<input type="submit" class="button expand" value="{% trans 'Submit' %}" />
			</form>
		</div>
	</div>
{% endblock %}