{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Reset password" %}
{% endblock %}


{% block style %}

	table td {	padding:0.5em;	}
	table label { font-size:18px;	}

{% endblock %}



{% block body_content %}
{% if form.errors %}
<p>Your username and password didn't match.
Please try again.</p>
{% endif %}

	{% blocktrans %}
		
		<br/>
		<h4>Invalid email, Try another. </h4>
		<br/>
	
	{% endblocktrans %}

<form method='post' action=''>{% csrf_token %}
	<table>
	
		{{ form }}
		
		<tr>
			<td colspan="2">
				<input type='submit' class="button small" value="{% trans "Reset password"  %}" />
			</td>
		</tr>
		
	</table>
</form>

{% endblock %}
