{% extends "registration/registration_base.html" %}

{% load i18n %}
{% load ndf_tags %}
{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block style %}
	th {	text-align:left;	}
	table td {	padding:0.5em;	}
	table ul   {	color:#ff3232;	}
{% endblock %}

{% block body_content %}
{% get_author_agency_types as agency_types %}
<table class="medium-6 columns">
  <form method='post' action=''>
      
       <h2>Register a new account</h2>
      
    {% csrf_token %}
    {{ form }}
      <tr>
         <td></td>
       <td><small>Password must contain atleast 8 characters, one uppercase letter and one numeral</small></td>
     </tr>
     <tr><th><label for="">{% trans "Occupation" %}</label></th>
      <td>
        <select name="agency_type">
         {% for each in agency_types %}
           <option id="{{each}}" name="group_agency_type">{{each}}</option>
         {% endfor %}
        </select>
      </td>
     </tr>
     <tr><th><label for="affiliation">{% trans "Affiliation" %}</label></th> 
       <td><input type="text" id="affiliation" name="group_affiliation"></td>
     </tr>
    <tr>
        <td></td>
       <td><input type="submit" class="button expand" value="{% trans 'Send activation email' %}"></td>
    </tr>
  </form>
</table>

{% endblock %}

